<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title></title>
<script language="javascript">
	var bData1 = new Array();
		bData1 = [['序号','角色ID','角色名','标记']
		#set($i=1)
		#foreach($!m in $selRolename)
		,['$i','$m.ROLEID','$m.ROLENAME','N']
		#set($i=$i+1)
		#end
		]
	var s = new Array();
		s =[['序号','角色ID']
		#set($i=0)
		#foreach($!m in $PurCon)
		,['$i','$m.ROLEID']
		#set($i=$i+1)
		#end
		]
	function kk(){
		for(var i=1;i<=s.length;i++){
			try{
				for(var j=1;j<=bData1.length;j++){
					if(bData1[j][1]==s[i][1])
						bData1[j][3]='Y'
				}
			}catch(e){}
		}
	}

var pageSize=20;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
function toPage(page){
try{
  savepage(pageno);
  pageno=page;
  for(var i=tb.rows.length;i>1;i--) tb.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=tb.insertRow()
	   if(rdata[(page-1)*pageSize+i][3]=='Y')  row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'>";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

var abc = new Array();
abc = [['序号','模块ID']
#set($i=0)
#foreach($!m in $selMPur)
,['$i','$m.MODULEID']
#set($i=$i+1)
#end
]

function save()
{
  savepage(pageno);
  var datahtml="";
  for(var i=1;i<bData1.length;i++){
    if(bData1[i][3]=='Y'){
       datahtml+="<input type=hidden name=roleid value='"+bData1[i][1]+"'>";
       for(var j=1;j<abc.length;j++) datahtml+="<input type=hidden name=moduleid value='"+abc[j][1]+"'>";
    }
 }
 if(datahtml==''){
   alert("没有增加数据！");
   return false;
 }
 subdata.innerHTML=datahtml;
 form_submit.submit();
}
function savepage(page){
  if(page>0){
    for(var i=1;i<tb.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][3]='Y';
      else  rdata[(page-1)*pageSize+i][3]='N';
      for(var j=0;j<3;j++) rdata[(page-1)*pageSize+i][j]=tb.rows[i].cells[j].innerText;
      bData1[rdata[(page-1)*pageSize+i][0]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function seldata(obj){
  for(var i=1;i<tb.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}
</script>
</head>

<body>
<table class="datatable">
#set($i=0)
#foreach($!m in $selMPur)
	<tr>
		<td>系统:<input type='text' name='modulename' value='$m.SYSMODULE' readonly>
		</td>
		<td>模块名字:<input type='text' name='modulename' value='$m.MODULENAME' readonly></td>
	</tr>
#set($i=$i+1)
#end
	<tr>
		<td><input type='button' name='reback' value='返回' onclick="window.location.href='PurCon.aspx'"></td>
		<td><input type='submit' name='submit' value='确定' onclick="save()"><td>
	</tr>
</table>
<br>
<br>
<table class="datatable" id='tb'>
  <tr class="trcolor">
    <td>角色</td>
    <td>角色ID</td>
    <td>选择<input type="checkbox" name="checkbox" value="checkbox"/></td>
  </tr>
</table>
	<div>
	<span id="pg"></span>
	</div>
<script>
	 kk();
	 toPage(1);
</script>
<form name='form_submit' method='post' action='PurConaddRole.aspx'>
<span id="subdata"></span>
</form>
</body>
</html>
