<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title></title>
<script language = "javascript">
	function a(){				//修改用户
			if(document.all.areapk.value!=""&&document.all.update_roleid.value!=""){
			var c = document.all.areapk.value;
			var d = document.all.update_roleid.value;
			var y = c + d;                                                 
			document.all.up_dept_user.value = y;   
			document.all.newroleid.value = d;
			}else if(document.all.update_roleid.value!=""&&document.all.areapk.value==""){
			var e = document.all.update_roleid.value;
			document.all.newroleid.value = e;
			document.all.up_dept_user.value =e;
			}else if(document.all.update_roleid.value==""&&document.all.areapk.value!=""){
			var c = document.all.areapk.value;
			var d = document.all.update_roleid.value;
			var y = c + d;                                                 
			document.all.up_dept_user.value = y;   
			}
			if(document.all.update_roleid.value==document.all.newroleid.value){
				document.all.ddd.value=""
			}else{document.all.ddd.value="1"}
			updateuser.submit();
	}
</script>
<script language="javascript">
	var dept=new Array(); 
		dept=[
		   ['区域主键','区域名称','大区主键']
		   #set($i=0)
		   #foreach($!m in $getDeptname)
		   ,['$m.NC_PK','$m.DEPTNAME','$m.NC_FATHER_PK']
		   #set($i=$i+1)
		   #end
		   ]
		   function setF(departid,objid){
		    if(departid==""){
			  var obj = document.getElementById(objid);
			  var length = obj.length;
			  for (var j=length-1; j>0; j--)
			  {
			    obj.options.remove(j);
			  }
			  for(var i=1;i<dept.length;i++){   
			      var oOption = document.createElement("OPTION");
			      obj.options.add(oOption);
			      oOption.innerText = dept[i][1];
			      oOption.value = dept[i][0];
			  }	  
		    }else{
		      var obj = document.getElementById(objid);
		      var length = obj.length;
		      for (var j=length-1; j>0; j--)
		      {
			obj.options.remove(j);
		      }
		      for(var i=1;i<dept.length;i++){
			if(dept[i][2]==departid){
			  var oOption = document.createElement("OPTION");
			  obj.options.add(oOption);
			  oOption.innerText = dept[i][1];
			  oOption.value = dept[i][0];
			}
		      }
		    }
		}
</script>
<script>
	function init(){
		for(var i=0;i<document.all.updateuser.update_roleid.options.length;i++){   
		if(document.all.updateuser.sroleid.value.indexOf(document.all.updateuser.update_roleid.options[i].value)>-1){
			     document.all.updateuser.update_roleid.options[i].selected=true;
			}
		}
		for(var i=0;i<document.all.updateuser.dq_pk.options.length;i++){   
		if(document.all.updateuser.ww.value.indexOf(document.all.updateuser.dq_pk.options[i].value)>-1){
			     document.all.updateuser.dq_pk.options[i].selected=true;
			}
		}
		for(var i=0;i<document.all.updateuser.areapk.options.length;i++){   
		if(document.all.updateuser.qq.value.indexOf(document.all.updateuser.areapk.options[i].value)>-1){
			     document.all.updateuser.areapk.options[i].selected=true;
			}
		}
	}
</script>
 </head>
	 <body onload='init()'>
		 <form name='updateuser' action ='updateUserSub.aspx' method='post'>
			<table class="datatable" id='tab'>
			#set($i=0)
			#foreach($!m in $selRole)
			  <tr class="trcolor">
			    <td>用户名:
			      <input type="text" name="username" value='$m.USERNAME'/>
			      <input type="hidden" name="userid" value='$m.USERID'/>
				</td>
			    <td>姓名:
				<input type="text" name="name" value='$m.NAME'/>
				<input type='hidden' name='up_dept_user' value='$m.USER_DEPT'>
				<input type="hidden" name="newroleid" value='$m.ROLEID'/>
				<input type="hidden" name="ddd" value=''/>
				</td>
			  </tr>
			  <tr class="trcolor">
			    	<td colspan='2' align='left'><input type="hidden" name="newroleid" value='$m.ROLEID'/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角色:
				<select name='update_roleid'>
				<option value="">请选择角色</option>
				#set($i=0)
				#foreach($!m in $selRolename)
					<option value='$m.ROLEID'>$m.ROLENAME</option>
				#set($i=$i+1)
				#end
				</select>
				#set($i=0)
				#foreach($!m in $getBDual)
				<input type="hidden" name="sroleid" value='$m.ROLEID' >
				#set($i=$i+1)
				#end
			    </td>
			   <tr class="trcolor">
			    <td>大区:
				  <select name='dq_pk' onchange="javascript:setF(this.value,'areapk');">
				  <option value=''>请选择大区</option>
				  #set($i=0)
				  #foreach($!m in $getBigdept)
				  <option value="$m.NC_PK">$m.BIGAREA</option>
				  #set($i=$i+1)
				  #end
				  </select>
			#set($i=0)
			#foreach($!m in $getBDual)
			  <input type="hidden" name="ww" value='$m.DQ_PK'>
			#set($i=$i+1)
			#end
				  </td>
			    <td>区域:
				  <select name='areapk'>
				  <option value=''>请选择区域</option>
				   #set($i=0)
				   #foreach($!m in $getDeptname)
				   <option value="$m.NC_PK">$m.DEPTNAME</option>
				   #set($i=$i+1)
				   #end
				   </select>
				#set($i=0)
				#foreach($!m in $getBDual)
				  <input type="hidden" name="qq" value='$m.DEPTNAME'>
				#set($i=$i+1)
				#end
				   <script>
				    setF('$form_dq_pk','areapk');
					    document.getElementById('areapk').value='$form_areapk';
					</script>
				  </td>
			  </tr>
			  <tr class="trcolor">
			    <td>
			      <input name="button" type="button" id="button" value="返回" onclick="window.location.href='roleuser.aspx'"/>
				</td>
			    <td>
				<input name="button" type="button" id="button" value="修改" onclick='a()'/>
				</td>
			  </tr>
			    #set($i=$i+1)
				#end
			</table>
		</form>
	</body>
</html>
