<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<script src="../../inc/js/alai_win_xp.js" language="javascript"></script>
<title>权限管理</title>
<style>
  .FixedTitleRow
{
    position: relative; 
    top: expression(this.offsetParent.scrollTop); 
    z-index: 10;
    background-color: #DDF9F9;
    border:1px #80B3B0 solid;
    border-bottom-style:none;
    border-right-style:none;
    font:12px;
    padding: 0; 
    margin: 0;
}
.trcolor1 
{
background-color:expression((this.sectionRowIndex%2==0)?"#F3F8F8":"#ffffff");
text-align:center;
font:12px;

}
  </style>

<script>
	function dd(){
	var cal='';
	for(var i=0;i<document.all.thisform.roleid.options.length;i++){   
		if(document.all.thisform.roleid.options[i].selected){
		     if(document.all.thisform.roleid.options[i].value!='')
		     cal=cal+document.all.thisform.roleid.options[i].value+',';
		}
	}	
	document.all.thisform.sroleid.value=cal;
	var cal2='';
	for(var i=0;i<document.all.thisform.sysmodule.options.length;i++){   
		if(document.all.thisform.sysmodule.options[i].selected){
		     if(document.all.thisform.sysmodule.options[i].value!='')
		     cal2=cal2+document.all.thisform.sysmodule.options[i].value+',';
		}
	}
	 document.all.thisform.ww.value=cal2;
	var cal3='';
	for(var i=0;i<document.all.thisform.moduleid.options.length;i++){   
		if(document.all.thisform.moduleid.options[i].selected){
		     if(document.all.thisform.moduleid.options[i].value!='')
		     cal3=cal3+document.all.thisform.moduleid.options[i].value+',';
		}
	}
	 document.all.thisform.qq.value=cal3;
	}
</script>

<script language="javascript">
	var dept=new Array(); 
		dept=[
		   ['模块ID','模块名字','系统名字']
		   #set($i=0)
		   #foreach($!m in $selmod)
		   ,['$m.MODULEID','$m.MODULENAME','$m.SYSMODULEID']
		   #set($i=$i+1)
		   #end
		   ]
		   function setF(departid,objid){
		    if(departid==""){
			  var obj = document.getElementById(objid);
			  var length = obj.length;
			  for (var j=length-1; j>0; j--)
			  {
			    obj.options.remove(j);
			  }
			  for(var i=1;i<dept.length;i++){   
			      var oOption = document.createElement("OPTION");
			      obj.options.add(oOption);
			      oOption.innerText = dept[i][1];
			      oOption.value = dept[i][0];
			  }	  
		    }else{
		      var obj = document.getElementById(objid);
		      var length = obj.length;
		      for (var j=length-1; j>0; j--)
		      {
			obj.options.remove(j);
		      }
			 
		      for(var i=1;i<dept.length;i++){
			if(dept[i][2]==departid){
			  var oOption = document.createElement("OPTION");
			  obj.options.add(oOption);
			  oOption.innerText = dept[i][1];
			  oOption.value = dept[i][0];
			}
		      }
		    }
		}
</script>


<script language='javascript'>
		var undefined;		
		function uniteTable(thistab,colLength){

		  var rn=thistab.rows.length;//取得行数   
		  var rowspann=0;   
		  for(j=colLength-1;j>=0;j--){//从第0列开始，合并多少列   
		    for(i=rn-1;i>0;i--){//从倒数第一行开始往上检查   
		      if(thistab.rows[i].cells[j].innerText==thistab.rows[i-1].cells[j].innerText&&thistab.rows[i].cells[j].colSpan==thistab.rows[i-1].cells[j].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
			rowspann+=thistab.rows[i].cells[j].rowSpan;;
			thistab.rows[i].deleteCell(j);   
		      }else{   
			thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
			rowspann=0;   
		      }   
		    }   
		    //检测无表头的表   
		    if(i==0&&rowspann>0){   
		      thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
		      rowspann=0;   
		    }   
		  }   
		}  
		function setvalue(step,status){
		  thisform.step.value=step;
		  thisform.status.value=status;
		  thisform.submit();
		}
		function setVals(dm,mc,code) {
	      setVal(dm,mc);
	      thisform.ptype.value=code;
	      thisform.ptypename.value=mc;
		}	
	</script>
	<script>
	var sellist = new Array();
		sellist = [['序号','系统名','模块名','标记','模块ID']
		#set($i=1)
		#foreach($!m in $getPur)
		,['$i','$m.M1','$m.M2','N','$m.MODULEID']
		#set($i=$i+1)
		#end
		]
	var pageSize=20;
	var pageno=0;
	var rdata=new Array();
	rdata=sellist;
function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
function toPage(page){
try{
  savepage(pageno);
  pageno=page;
  for(var i=tab.rows.length;i>1;i--) tab.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=tab.insertRow()
	  if(rdata[(page-1)*pageSize+i][3]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'><input type=hidden name=roleid value='"+rdata[(page-1)*pageSize+i][4]+"'>";
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页<br>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function save()
{
  savepage(pageno);
  var datahtml="";
  for(var i=1;i<sellist.length;i++){
    if(sellist[i][3]=='Y'){
       datahtml+="<input type=hidden name=moduleid value='"+sellist[i][4]+"'>";
    }
 }
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 subdata.innerHTML=datahtml;
 //form_submit.submit();
}
function savepage(page){
  if(page>0){
    for(var i=1;i<tab.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][3]='Y';
      else  rdata[(page-1)*pageSize+i][3]='N';
      for(var j=0;j<2;j++) rdata[(page-1)*pageSize+i][j]=tab.rows[i].cells[j+1].innerText;
      sellist[rdata[(page-1)*pageSize+i][0]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function seldata(obj){
  for(var i=1;i<tab.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}
</script>

  <script language="javascript">
	var duallist = new Array();
		duallist = [['模块名','序号']
		#set($i=0)
		#foreach($!m in $getBDual)
		,['$m.MODULENAME','$i']
		#set($i=$i+1)
		#end
		]
	function getdual(){
		try{
			for(var i=1;i<=duallist.length;i++){
				if(duallist[i][0]!="")	document.thisform.modulename.value=duallist[i][0].replace(/\s+/g,"");
				else document.thisform.modulename.value=""
			}
		}catch(e){}
	}
  </script>
<script>
	function init(){
		//getdual();
		uniteTable(tb,2);
		for(var i=0;i<document.all.thisform.roleid.options.length;i++){   
		if(document.all.thisform.sroleid.value.indexOf(document.all.thisform.roleid.options[i].value)>-1){
			     document.all.thisform.roleid.options[i].selected=true;
			}
		}
		for(var i=0;i<document.all.thisform.sysmodule.options.length;i++){   
		if(document.all.thisform.ww.value.indexOf(document.all.thisform.sysmodule.options[i].value)>-1){
			     document.all.thisform.sysmodule.options[i].selected=true;
			}
		}
		for(var i=0;i<document.all.thisform.moduleid.options.length;i++){   
		if(document.all.thisform.qq.value.indexOf(document.all.thisform.moduleid.options[i].value)>-1){
			     document.all.thisform.moduleid.options[i].selected=true;
			}
		}
	}
</script>
</head>
<body onload='init()'>
<form name='thisform' action='PurCon.aspx' method='post'>
<table class="datatable">
  <tr class="trcolor">
	<td>请选择系统:<select name='sysmodule' onchange="javascript:setF(this.value,'moduleid');">
			<option value=''>请选择系统</option>
			#set($i=0)
			#foreach($!m in $getmaxPur)
			<option value='$m.MODULEID'>$m.MODULENAME</option>
			#set($i=$i+1)
			#end
			</select>
	#set($i=0)
	#foreach($!m in $getBDual)
	  <input type="hidden" name="ww" value='$m.SYSMODULE'>
	#set($i=$i+1)
	#end
	</td>
	<td>
	请选择模块:<select name='moduleid'>
			<option value=''>请选择模块</option>
			#set($i=0)
			#foreach($!m in $getminPur)
			<option value='$m.MODULEID'>$m.MODULENAME</option>
			#set($i=$i+1)
			#end
			</select>
	#set($i=0)
	#foreach($!m in $getBDual)
	  <input type="hidden" name="qq" value='$m.MODULEID'>
	#set($i=$i+1)
	#end
		<script>
                    setF('$form_sysmodule','moduleid');
		    document.getElementById('moduleid').value='$form_moduleid';
	   </script>
	    </td>
  </tr>
  <tr class="trcolor">
	<td>角色:&nbsp;&nbsp;
	<select name='roleid'>
	<option value=''>请选择角色</option>
	#set($i=0)
	#foreach($!m in $selRolename)
		<option value='$m.ROLEID'>$m.ROLENAME</option>
	#set($i=$i+1)
	#end
	</select>
	#set($i=0)
	#foreach($!m in $getBDual)
	<input type="hidden" name="sroleid" value='$m.ROLEID' >
	#set($i=$i+1)
	#end
	</td>
	<td>
	<input type="submit" name="Submit2" value="查询" onclick="dd()"/>
	<input type="button" name="button" value="导出EXCEL" onclick="javascript:method1('tb');"/></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id='tb'>
 <tr bgcolor="#33CCFF" class="FixedTitleRow" align="center" id="tr1" style="display: block" name="tr1">
    <td>系统</td>
    <td>模块名</td>
    <td>角色</td>
    <td>操作</td>
  </tr>
  #set($i=0)
  #foreach($!m in $PurCon)
  <tr class="trcolor">
    <td>$m.M2</td>
    <td>$m.M1</td>
    <td>$m.ROLENAME</td>
    <td><a href='delPurCon.aspx?roleid=$m.ROLEID&moduleid=$m.MODULEID'>删除</a>&nbsp;&nbsp;<a href='addRolePur.aspx?moduleid=$m.MODULEID'>增加角色</a></td>
  </tr>
  #set($i=$i+1)
  #end
</table>

<form name='addrole' method='post' action='PurConSub.aspx'>
	<table style="display:none" width="400" height="100" id='tab' class="datatable">
		<tr class="trcolor">
			<td><input type=checkbox name=checkbox value='checkbox' onclick='seldata(this)'>选择</td>
			<td>模块</td>
			<td>系统</td>
		</tr>
	<div style="width:100%;txt-align:center;border:3 double gray;">
	<span id="pg"></span>
	</div>
	角色名<input type='text' name='rolename' value=''>
	</table>
<script>
	 toPage(1);
</script>
<span id="subdata"></span>
</form>

</body>
</html>
<script language='javascript'>
	function h(){
	save();
	winMove.hide();
	addrole.submit();
	}
function show(){
	winMove.show()
}
	var b = document.getElementsByName("addrole")[0];
	var btnMove = b.id;
	document.getElementById("tab").style.display="block"
	var winMove=new alai_win_xp(tab,"增加新角色",400,450)
	var btn = winMove.addButton("确定","js","h()")
</script>
<script>
	function method1(tableid) {//整个表格拷贝到EXCEL中 
		    var curTbl = document.getElementById(tableid); 
		    var oXL = new ActiveXObject("Excel.Application"); 
		    //创建AX对象excel 
		    var oWB = oXL.Workbooks.Add(); 
		    //获取workbook对象 
			var oSheet = oWB.ActiveSheet; 
		    //激活当前sheet 
		    var sel = document.body.createTextRange(); 
		    sel.moveToElementText(curTbl); 
		    //把表格中的内容移到TextRange中 
		    sel.select(); 
		    //全选TextRange中内容 
		    sel.execCommand("Copy"); 
		    //复制TextRange中内容  
		    oSheet.Paste(); 
		    //粘贴到活动的EXCEL中       
		    oXL.Visible = true; 
		    //设置excel可见属性 
	} 
</script>