<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title>权限管理</title>
</head>
<script> 
var bData1=new Array(); 
	bData1=[['模块ID','模块','序号','标记','PID']
		#set($i=1)
		#foreach($!m in $getminPur)
		,['$m.MODULEID','$m.MODULENAME','$i','N','$m.PID']
		#set($i=$i+1)
		#end
		]
	var Purlist = new Array();
		Purlist = [["模块ID","模块"]
		#set($i=0)
		#foreach($!m in $selRolePur)
		,["$m.MODULEID","$m.MODULENAME"]
		#set($i=$i+1)
		#end
		]
	function ss(){
		for(var i =0;i<=Purlist.length;i++){
			try{
				for(var j=0;j<=bData1.length;j++){
					if(Purlist[i][0]==bData1[j][0])
						bData1[j][3]='Y'
				}
			}catch(e){}
		}
	}
var pageSize=20;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page){
ss();
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][3]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'>";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;<br>";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function search(){
	document.getElementById("aaa").value='1'
		  savepage(pageno);
		  pageno=0;
		  var m=1;
		  var bstatus=true;
		  rdata=new Array();
		  rdata[0]=bData1[0];
		  for(var i=1;i<bData1.length;i++){
			bstatus=form2.elements[1].value=="all"?true:(bData1[i][3]==form2.elements[1].value);
		    if(bstatus){
		       rdata[m]=bData1[i];
			   m++
			}
		 }
		 toPage(1);
}
function Pursearch(){
  savepage(pageno);
  pageno=0;
  var m=1;
  var bpid=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
	bpid=form2.elements[2].value=="all"?true:(bData1[i][4]==form2.elements[2].value);
	bstatus=form2.elements[1].value=="all"?true:(bData1[i][3]==form2.elements[1].value);
    if(bpid && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 } 
 toPage(1);
}

var Plist = new Array();
Plist = [['角色Id','序号']
	#set($i=0)
	#foreach($!m in $selRolePur2)
	,['$m.ROLEID','$i']
	#set($i=$i+1)
	#end
	]

function save()
{
  savepage(pageno);
  var datahtml="";
  for(var i=1;i<bData1.length;i++){
    if(bData1[i][3]=='Y'){
       datahtml+="<input type=hidden name=moduleid value='"+bData1[i][0]+"'>";
       datahtml+="<input type=hidden name=sys_add value='1'>";
       for(var j=1;j<Plist.length;j++) datahtml+="<input type=hidden name=roleid value='"+Plist[j][0]+"'>";
    }
 }
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 subdata.innerHTML=datahtml;
 form_submit.submit();
}

function savepage(page){
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][3]='Y';
      else  rdata[(page-1)*pageSize+i][3]='N';
      for(var j=0;j<3;j++) rdata[(page-1)*pageSize+i][j]=table6.rows[i].cells[j+1].innerText;
      bData1[rdata[(page-1)*pageSize+i][0]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function presearch(){
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj){
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}

</script>

<body>


<form id="form2" method="post" action="newselPur.aspx">
<table class="datatable">

	<tr class="trcolor">
		#set($i=1)
	#foreach($!m in $selRolePur2)
		<td>
		角色名：<input type="text" name='rolename' id='rolename' size="16"  value='$m.ROLENAME' readonly><br>
		</td>
	#set($i=$i+1)
	#end
	<td>
	状态：<select onchange="search()"  name="select1">
		<option value='all' selected>全部</option>
		<option value='N'>未开通权限</option>
		<option value='Y'>已开通权限</option></select>
	</td>
	<td>
	系统：<select  onchange="Pursearch()" name="select2">
		<option value='all' selected>全部</option>
		#set($i=0)
		#foreach($!m in $getmaxPur)
			<option value='$m.MODULEID'>$m.MODULENAME</potion>
		#set($i=$i+1)
		#end
	</td>
		</select>
	</tr>
</table>
		<br>
<input type='hidden' name='aaa' id='aaa' value=''>
<input name="button" type="button" id="button" value="返回" onclick="window.location.href='rolePur.aspx'"/>
</form>
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="trcolor">
      <td height="19" bgcolor="#EFEFEF" width="7%" Name="st"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">模块ID</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">模块名字</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">序号</td>
    </tr>
</table>
<div style="width:100%;txt-align:center;border:3 double gray;">
<input type="button" value="保存" name="btnSave" onclick="save()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>

<script>
	 toPage(1);
</script>
<form name="form_submit" method="post" action="selRolePurSub.aspx">
<span id="subdata"></span>
</form>
</body>
</html>