<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title></title>
<script language="javascript">
	var sellist = new Array();
		sellist = [['序号','大区','区域','用户名','用户姓名','用户ID','标记']
		#set($i=1)
		#foreach($!m in $selRole2)
		,['$i','$m.BIGAREA','$m.DEPTNAME','$m.USERNAME','$m.NAME','$m.USERID','N']
		#set($i=$i+1)
		#end
		]
	var mlist = new Array();
		mlist = [['序号','用户ID']
		#set($i=0)
		#foreach($!m in $matuser)
		,['$i','$m.USERID']
		#set($i=$i+1)
		#end
		]
	function ss(){
		for(var i=1;i<mlist.length;i++){
			try{
				for(var j=1;j<sellist.length;j++){
					if(mlist[i][1]==sellist[j][5])
					sellist[j][6]='Y'
				}
			}catch(e){}
		}
	}
	var pageSize=15;
	var pageno=0;
	var rdata=new Array();
	rdata=sellist;
function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
function toPage(page){
try{
  savepage(pageno);
  pageno=page;
  for(var i=tab.rows.length;i>1;i--) tab.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=tab.insertRow()
	  if(rdata[(page-1)*pageSize+i][6]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'>";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][4]
	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function search(){
  savepage(pageno);
  pageno=0;
  var m=1;
  var bpid=true;
  rdata=new Array();
  rdata[0]=sellist[0];
	  for(var i=1;i<sellist.length;i++){
		bpid=document.all.sel.value=="all"?true:(sellist[i][6]==document.all.sel.value);
	    if(bpid){
	       rdata[m]=sellist[i];
		   m++
		}
	 }
	 toPage(1);
}
var alist = new Array();
alist = [['序号','角色ID']
#set($i=0)
#foreach($!m in $selRolename3)
,['$i','$m.ROLEID']
#set($i=$i+1)
#end
]
function save()
{ 
  savepage(pageno);
  var datahtml="";
  for(var i=1;i<sellist.length;i++){
    if(sellist[i][6]=='Y'){
       datahtml+="<input type=hidden name=userid value='"+sellist[i][5]+"'>";
	for(var j=1;j<alist.length;j++) datahtml+="<input type=hidden name=roleid value='"+alist[j][1]+"'>";
	if(mlist.length>1){
		  for(var k=1;k<mlist.length;k++) datahtml+="<input type=hidden name=suserid value='"+mlist[k][1]+"'>";
	}else{datahtml+="<input type=hidden name=suserid value='"+sellist[i][5]+"'>";}
    }
 }
 if(datahtml==''){
   alert("没有可更新的数据!");
   return false;
 }
 subdata.innerHTML=datahtml;
 form_submit.submit();
}

function savepage(page){
  if(page>0){
    for(var i=1;i<tab.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][6]='Y';
      else  rdata[(page-1)*pageSize+i][6]='N';
      for(var j=0;j<3;j++) rdata[(page-1)*pageSize+i][j]=tab.rows[i].cells[j].innerText;
      sellist[rdata[(page-1)*pageSize+i][0]]=rdata[(page-1)*pageSize+i];
    }
  }
}
</script>
<script language="javascript">
	var duallist = new Array();
		duallist = [['用户名','用户姓名','序号']
		#set($i=0)
		#foreach($!m in $getBDual)
		,['$m.USERNAME','$m.NAME','$i']
		#set($i=$i+1)
		#end
		]
	function getdual(){
		try{
			for(var i=1;i<=duallist.length;i++){
				if(duallist[i][0]!="")	document.form1.username.value=duallist[i][0].replace(/\s+/g,"");
				else document.form1.username.value=""
				if(duallist[i][1]!="")	document.form1.name.value=duallist[i][1].replace(/\s+/g,"");
				else document.form1.name.value=""
			}
		}catch(e){}
	}
</script>
</head>
<body onload="getdual()">
<form name="form1" method="post">
<table class="datatable">
	<tr class="trcolor">
	#set($i=0)
	#foreach($!m in $selRolename3)
		<td colspan='2' align='left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 角色名:
			<input type='text' name='rolename' value='$m.ROLENAME' readonly>
		</td>
	#set($i=$i+1)
	#end
	</tr>
	<tr class="trcolor">
		<td>用户名:
			<input type='text' name='username' value=''>
		</td>
		<td>用户姓名:
			<input type='text' name='name' value=''>
		</td>
	</tr>
	<tr class="trcolor">
		<td>
			<input type='button' name='back' value='返回' onclick="window.location.href='rolePur.aspx'">
		</td>
		<td>
			<input type='submit' name='submit' value='查询' >
		</td>
	</tr>
</table>
</form>
<br>
<form name="thisform" method="post">
<table class="datatable" id="tab">
  <tr class="trcolor">
    <td><input type="checkbox" name="checkbox" value="checkbox"/>选择<select name="sel" id="sel" onchange="search()">
	<option value='all'>全部</option>
	<option value='Y'>已有</option>
	<option value='N'>没有</option>
	</select>
    </td>
    <td>大区</td>
    <td>区域</td>
    <td>用户名</td>
    <td>用户姓名</td>
  </tr>
</table>
<span id="pg"></span>
<input type='button' name='savedate' value='确定' onclick="save()">
<script>
	ss();
	toPage(1);
</script>
</form>
<form name='form_submit' method='post' action='roletousersub.aspx'>
<span id="subdata"></span>
</form>
</body>
</html>