
<HTML>
<HEAD>		
<title></title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">


<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<SCRIPT LANGUAGE="JavaScript">
<!--

//查看
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       document.form1.PID.value = paras[0];
       document.form1.submit();
}

//删除
function DelRow()
{      
alert("功能暂不开放");
return;
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.PID.value = paras[0];
	   //document.form1.submit();
   }
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

function clearVals() {
      thisform.ptype.value='';
      thisform.ptypename.value='';
}

function checkinput()
{  
  //thisform.page.value=1;
  thisform.submit();
}


var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'31';
//-->
</SCRIPT>
</HEAD>
<BODY>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tr>
  <form name="thisform" method="post">
   <td colspan=2>
      <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">

		<tr class="search"> 
			<td class="tdlabel" width="10%">所属大区</td>
			<td class="tdinput" width="20%">
				<select name=dq_pk><option value=''>请选择大区</option>
                              #foreach($m in $getSysSaleBigDept)
                                     <option value="$!m.NC_PK" #if($form_dq_pk==$m.NC_PK) selected #end>$!m.DEPTNAME</option>
                              #end
                                </select>			
			</td>	
			<td class="tdlabel" width="10%">区域名称</td>
			<td class="tdinput" width="20%">
				<input type=text name="areaname" value="$!form_areaname">		  		
			</td>
                </tr>
		<tr>
		  <td>
		  </td><td align="left"><input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
				&nbsp;&nbsp;</td>
		</tr>
		<tr>
		  <td>
		  </td><td align="left"></td>
		</tr>
	  </table>
   </td></form>
</tr>
<tr><td>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center" class="trtitle">
	<td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">大区名称</td>
	<td nowrap="nowrap">区域名称</td>
	<td nowrap="nowrap">审核流程</td>
	<td nowrap="nowrap">操作</td>
</tr>

    #set($i=1) 
    #foreach($m in $getSysSaleDept)
  		<tr height="20" class="trcolor">
			<td align="center">$i</td>
		        <td align="center" nowrap="nowrap">$!m.FNAME</td>
			<td align="center" nowrap="nowrap">$!m.DEPTNAME</td>
			<td align="center" nowrap="nowrap">
	#foreach($n in $getDeptFeeFlow)
	    #if($n.DEPTCODE==$m.DEPTCODE)
	       第${n.STEP}步:${n.ROLENAME}--
	    #end
	#end
	&nbsp;&nbsp;
                        </td>
			<td align="center" nowrap="nowrap"><a href="setDeptFeeFlow.aspx?areacode=$!m.DEPTCODE&flowtype=F">设置流程</a>&nbsp;&nbsp;<a href="setCustToNcDept.aspx?areacode=$!m.DEPTCODE">关联客户</a></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</td></tr>
</table>

<br>

<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>
