<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='';
 var custuser = '';
 var ddd = '';
 #foreach($m in $getAreaEmployee)
 feenum+='客户'+'$m.ORGDESC'+'的业务员是'+'$m.NAME'+'\r\n';
   //if(feenum.indexOf('$m.NAME') == -1){
     // custuser = '$m.ORGDESC'+',';
     // feenum+=custuser+'$m.NAME'+',';
   //}else{
	//custuser += '$m.ORGDESC'+',';
  // }
 #end 
 if(feenum != ''){
	 if(confirm(feenum+"确定要提交吗？")){
	    parent.testok();
	 }
 }else{
     parent.testok();
 }
	</script>
</head>
<body>
</body>
</html>
