<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title></title>
</head>

<body>
	<form name='modrolepur' action='modRolePursub.aspx' method='post'>
		<table class="datatable">
		 #set($i=1)
		 #foreach($!m in $tendRolename1)
		  <tr class="trcolor">
		    <td>角色名:
			<input type="text" name="rolename" value="$m.ROLENAME" />
		    </td>
		    <td>角色ID:
			<input type="text" name="roleid" value="$m.ROLEID" readonly/>
		    </td>
		  </tr>
		  #set($i=$i+1)
		  #end
		  <tr class="trcolor">
		    <td>
		      <input type="submit" name="Submit" value="提交修改" />
		    </td>
		    <td>
			<input type="button" name="button" value="返回" onclick="window.location.href='rolePur.aspx'"/>
		    </form>
		    </td>
		  </tr>
		</table>
	</form>
</body>
</html>
