<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>招标项目单位修改</title>
</head>

<body>
<form name="form1" method="post" action="modtendtypesubunit.aspx" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td align="left">项目类型修改</td>
  </tr>
  <tr class="trcolor">
    <td>项目名称:
    #foreach($!m in $selecttendtypeunit)
    <input type="text" name="protype" value="$!m.TYPENAME" >
    #end
    </td>
  </tr>
  <tr class="trcolor">
	<td>
	   新名称:&nbsp;&nbsp;&nbsp;<input type="text" name="typename" value=""/>
		<input type="hidden" name="id" value="$!form_id">
	</td>
  </tr>
  <tr class="trcolor">
    <td>      
      <input type="submit" name="b1" value="提&nbsp;&nbsp;交" class="bt1"/>
      <input type="button" name="b2" value="返&nbsp;&nbsp;回" class="bt1" onclick="document.location='tenderTypeUnit.aspx'"/></td>
  </tr>
</table>
    </div>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
