<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
<script language='javascript'>
	function s(){
		alert("密码恢复成功!")
		sub_form.submit();
	}
	//function ok(){
	//	alert(<input type="button" value="确定修改" name="ok" onclick="s()">)
	//}
</script>
</head>
<body onload="s()">
	<form name='sub_form' action='PassSub.aspx'>
	<a>
	<input type="hidden" name="userid" value='$form_userid' readonly/>
	</a>
	</form>
</body>
</html>
