<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title></title>
</head>
<body>
<div id="tabid">
   <table cellpadding=0 celspacing=0 border=0>
	<tr>
	        <td width="20%" nowrap>指导价格</td>
		<td><input type="text" name="quanty"></td>
	</tr>
	<tr>
                <td colspan="2" align="center"><input type="button" value="确定"></td>
	</tr>
   </table>
</div>
</body>
</html>
