<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script language="javascript" src="text/css" href="../../../inc/js/time.js"></script>
<title>投标信息</title>
<script language="javascript">
	function v(){
	        var aaa = new Array();
		aaa = [['序号','值1','值2']
		 #set($i=0)
		#foreach ($!n in $selmaxnum)
		,['$i','$!n.PID','$!n.TENDNUM']
		#set($i=$i+1)
		#end
		]
		if(aaa.length==1){
		}else{
		        document.all.pids.value=aaa[1][1];
			document.all.tendnum2.value=aaa[1][2];
		}
		var b= new Date();
		document.all.pid.value=b.getTime();
		var datahtml="";
		var bbb = new Array();
		bbb = [['序号','值1']
		#set($j=0)
		#foreach ($!n in $selectareaprice)
		,['$j','$!n.AREAID']
		#set($j=$j+1)
		#end
		]
		var ccc = new Array();
		ccc = [['序号','值1']
		#set($j=0)
		#foreach ($!n in $selectnextareaprice)
		,['$j','$!n.AREAID']
		#set($j=$j+1)
		#end
		]
		var cou = 0;
		if(ccc.length != 1){
		    bbb.length = ccc.length;
		}
		for(var i = 0 ; i < bbb.length-1; i ++){
		    if(document.form2.pic.value == "h"){
			  if(document.getElementById('toubiaoprice'+i).value.replace(/(^\s*)|(\s*$)/g,"") == ""){
			   }else{
				 var re = /^[0-9]+.?[0-9]*$/;
				 if (!re.test(document.getElementById('toubiaoprice'+i).value))
				 {
				  alert("招标价不是数字");
				  document.getElementById('toubiaoprice'+i).select();
				  return false;
				 }
				 if(document.form2.islimitprice.value == 'Y'){
				     if('$form_znum' == '1'){
				     
				     }else{
				        if(parseFloat(document.getElementById('toubiaoprice'+i).value) > parseFloat(document.getElementById('tbprice'+i).value)){
					   alert("投标价大于"+document.getElementById('tbprice'+i).value+"！！！");
					   document.getElementById('toubiaoprice'+i).select();
					   return false;
					}
				     }
				 }else{
					if(parseFloat(document.getElementById('toubiaoprice'+i).value) > parseFloat(document.getElementById('tbprice'+i).value)){
					   alert("投标价大于"+document.getElementById('tbprice'+i).value+"！！！");
					   document.getElementById('toubiaoprice'+i).select();
					   return false;
					}
				 }
			   }
			   if(document.getElementById('toubiaoquantity'+i).value.replace(/(^\s*)|(\s*$)/g,"") == ""){
			   }else{
				 var re = /^[0-9]*$/;
				 if (!re.test(document.getElementById('toubiaoquantity'+i).value))
				 {
				  alert("投标量不是整数");
				  document.getElementById('toubiaoquantity'+i).select();
				  return false;
				 }
				if(parseInt(document.getElementById('toubiaoquantity'+i).value) > parseInt(document.getElementById('tbquantity'+i).value)){
				   alert("投标量大于招标量！！！");
				   document.getElementById('toubiaoquantity'+i).select();
				   return false;
				}
			   }
			   
		    }
		    if(document.form2.pic.value == "l"){
			  if(document.getElementById('toubiaoprice'+i).value.replace(/(^\s*)|(\s*$)/g,"") == ""){
			  }else{
				 var re = /^[0-9]+.?[0-9]*$/;
				 if (!re.test(document.getElementById('toubiaoprice'+i).value))
				 {
				  alert("招标价不是数字");
				  document.getElementById('toubiaoprice'+i).select();
				  return false;
				 }
				 if(document.form2.islimitprice.value == 'Y'){
				     if('$form_znum' == '1'){
				     
				     }else{
				        if(parseFloat(document.getElementById('toubiaoprice'+i).value) < parseFloat(document.getElementById('tbprice'+i).value)){
					   alert("投标价小于"+document.getElementById('tbprice'+i).value+"！！！");
					   document.getElementById('toubiaoprice'+i).select();
					   return false;
					}
				     }
				 }else{
					 if(parseFloat(document.getElementById('toubiaoprice'+i).value) < parseFloat(document.getElementById('tbprice'+i).value)){
					   alert("投标价小于"+document.getElementById('tbprice'+i).value+"！！！");
					   document.getElementById('toubiaoprice'+i).select();
					   return false;
					}
				}
			  }
			  if(document.getElementById('toubiaoquantity'+i).value.replace(/(^\s*)|(\s*$)/g,"") == ""){
			   }else{
				 var re = /^[0-9]*$/;
				 if (!re.test(document.getElementById('toubiaoquantity'+i).value))
				 {
				  alert("投标量不是整数");
				  document.getElementById('toubiaoquantity'+i).select();
				  return false;
				 }
				if(parseInt(document.getElementById('toubiaoquantity'+i).value) > parseInt(document.getElementById('tbquantity'+i).value)){
				   alert("投标量大于招标量！！！");
				   document.getElementById('toubiaoquantity'+i).select();
				   return false;
				}
			   }
		     }
		     if(document.getElementById('toubiaoprice'+i).value.replace(/(^\s*)|(\s*$)/g,"") != "" &&　document.getElementById('toubiaoquantity'+i).value.replace(/(^\s*)|(\s*$)/g,"") != ""){
		           // if(document.getElementById('toubiaoprice'+i).value != "0" && document.getElementById('toubiaoquantity'+i).value != "0"){
			   　　cou++;
			       datahtml+="<input type='hidden' name='toubiaoareaname' value='"+document.getElementById('toubiaoareaname'+i).value+"'><input type='hidden' name='toubiaoprice' value='"+document.getElementById('toubiaoprice'+i).value+"'><input type='hidden' name='toubiaoquantity' value='"+document.getElementById('toubiaoquantity'+i).value+"'><input type='hidden' name='toubiaopid' value='"+new Date().getTime()+i+"'>" ;
			       if($form_znum != 1){
				    datahtml+="<input type='hidden' name='pidid' value='"+document.getElementById('pidid'+i).value+"'>";
				}
			   //}
		      }
		}
	        if(cou == 0){
		    alert("至少投一个到岸地价格");
		    return false;
		}
		subdata.innerHTML=datahtml;
		if(document.form1.paper.value==""){
	            /*alert("招标附件不能为空！");
		    return false;*/
		}
		document.getElementById('tendnum').value = document.getElementById('znum').value;
		if(document.form1.tendnum2.value == $form_znum){
		        #if($form_znum == 1)
			    alert("普通模式每一轮只能投一次!");
			    return false;
			#else  
			    #foreach ($!m in $selpdesciscast) 
				#if($m.ISCAST == 'Y')
                                    alert("普通模式每一轮只能投一次!");
			            return false;
				#end
			    #end
			#end

		        document.all.pid.value = document.all.pids.value;
			document.form1.iscast.value='Y';
			document.form1.action = "updatetenderareapricesub.aspx";
		}else{
			document.form1.iscast.value='Y';
			document.form1.action = "intenderareapricesub.aspx";
		}
		form1.submit();
	}
       function show(){
		document.all.proid.value = '$!form_proid';
		document.all.znum.value = '$!form_znum';
		if($!form_znum == 1){
		     var a = '#foreach ($!n in $seltendusertpid) $!n.USERID #end';
		     var b = '#foreach ($!n in $seltendusertpidcount) $!n.USERID #end';
		     var c = '#foreach ($!n in $querytender) $!n.ISACC #end';
		     var d = '#foreach ($!n in $querytender) $!n.ZNUM #end'.replace(/(^\s*)|(\s*$)/g,"");
		     var e = '#foreach ($!n in $querytenderuserstatus1) $!n.PROID #end';
		     if(d != $!form_znum){
			     document.location.href='tenderCon.aspx';
		     }else{
		          if(c.replace(/(^\s*)|(\s*$)/g,"") == 'Y'){
				  if(b.replace(/(^\s*)|(\s*$)/g,"") == 0){
				     if(a.replace(/(^\s*)|(\s*$)/g,"") == ""){
					document.getElementById('sp1').style.display="block";
					document.getElementById('tab').style.display="none";
				     }
				  }
			     }
		     }
		}else{
			var a = '#foreach ($!n in $querytenderuserstatus1) $!n.PROID #end';
			var b = '#foreach ($!n in $seltendusertpidcount) $!n.USERID #end';
			var c = '#foreach ($!n in $querytender) $!n.ISACC #end';
			var d = '#foreach ($!n in $querytender) $!n.ZNUM #end'.replace(/(^\s*)|(\s*$)/g,"");
			if(d != $!form_znum){
			     document.location.href='tenderCon.aspx';
		        }else{
				if(c.replace(/(^\s*)|(\s*$)/g,"") == 'Y'){
					if(b.replace(/(^\s*)|(\s*$)/g,"") == 0){
					     document.getElementById('sp1').style.display="block";
					     document.getElementById('tab').style.display="none";
					}else{
					    if(a == ""){ 
						    document.getElementById('sp').style.display="block";
						    document.getElementById('tab').style.display="none";
					    }
					}
				}else{
				     if(a == ""){ 
					    document.getElementById('sp').style.display="block";
					    document.getElementById('tab').style.display="none";
				    }
				}
			}
		}
	}
</script>
</head>

<body onload="show()">
<span id='sp1' style="display:none">
<table>
	<tr>
		<td align="center">
			没有授权，不能投标！！！！
		</td>
	</tr>
	<tr>
		<td align="center">
			<input type="button" name="returnback" class="bt1" value="返回" onclick="document.location='tenderCon.aspx'">
		</td>
	</tr>
</table>
</span>
<span id='sp' style="display:none">
<table>
	<tr>
		<td align="center">
			没有进入下一轮，不能投标！！！！
		</td>
	</tr>
	<tr>
		<td align="center">
			<input type="button" name="returnback" class="bt1" value="返回" onclick="document.location='tenderCon.aspx'">
		</td>
	</tr>
</table>
</span>
<span id='tab'>
<form name="form2" action="" method="post">
<table class="datatable">
#set($i=0)
#foreach($!m in $seltender)  
  <tr class="trcolor">
    <td colspan="4" align="left">项目内容信息</td>
  </tr>
  <tr class="trcolor">
    <td colspan="4" align="left">项目名称:$!m.PRONAME
	<input type="hidden" name="oid" id="oid" value="$!m.PROID">
	<input type="hidden" name="znum" id="znum" value="$!m.ZNUM">
	<input type="hidden" name="tdnum" id="tdnum" value="$!m.TENDNUM">
	<input type="hidden" name="pic" id="pic" value="$!m.PIC">
	<input type="hidden" name="ppic" id="ppic" value="$!m.PPIC">
	<input type="hidden" name="ktine" id="ktine" value="$!m.KTINE">
	<input type="hidden" name="sysdate" id="sysdate" value="$!m.SYSDATETIME">
	<input type="hidden" name="tendtypeid" id="tendtypeid" value="$!m.TENDTYPEID">
	<input type="hidden" name="islimitprice" id="islimitprice" value="$!m.ISLIMITPRICE">
    </td>
  </tr>
  <tr class="trcolor">
    <td>项目模式:</td>
    <td>#if($!m.STATUS=='A') 普通模式
	#else 竞价模式
	#end

	#if($!m.STATUS=='B') 最新价格 
	#end
    </td>
    <td>项目状态:         
	#if($!m.PROSTATUS=='A') 正常 
    #end
    	#if($!m.PROSTATUS=='Z') 停止
    #end
	#if($!m.PROSTATUS=='S') 暂停
    #end
	#if($!m.PROSTATUS=='K') 开标
    #end</td>
  </tr>
  <tr class="trcolor">
    <td>招标开始时间:$!m.ATIME</td>
    <td><font color="red">本轮投标截止时间:$!m.KTINE</font></td>
    <td>招标结束时间:$!m.ZTIME $!m.SYSDATE</td>
  </tr>
  <tr class="trcolor">
    <td>项目说明:</td>
    <td colspan="2"><textarea name="tendbak" cols="70"  rows="6" disabled>$!m.PRODESC</textarea></td>
  </tr>
  <tr class="trcolor">
    <td>项目附件:</td>
    <td colspan="2">
    #if($m.PROTHER != "")
    <a href="/DownFileServlet?filepath=$!m.PROTHER">$m.PROTHER.substring($!m.PROTHER.lastIndexOf("/")).replace("/","")</a>
    #end&nbsp;
    </td>
  </tr>
  <tr class="trcolor">
	<td><font color="red">#if($m.PIC=='h')限高价#else限低价#end</font></td>
	<td colspan="2"><table width="100%">
	  <tr class="trcolor">
		<td>到岸地</td>
		<td>招标价</td>
		<td>招标量</td>
		<td>招标单位</td>
	  </tr>
	     #foreach($!m1 in $selectareaprice)
	     <tr>
		 <td align="center">$!m1.AREANAME</td>
		 <td>$!m1.PRICE元</td>
		 <td>$!m1.TENDQUANTITY</td>
		 <td align="center">$!m.TYPENAME</td>
	     </tr>
	     #end
	  </table></td>
  </tr>
  #set($i=$i+1)
</table>
</form>
<form name="form1" action="" method="post" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="3" align="left">投标录入(第$form_znum轮)&nbsp;&nbsp;&nbsp;&nbsp;<!--离本轮开标时间还有<span id="timeid"></span>-->  
    <input type="hidden" name="proid" value="$form_proid">
    <input type="hidden" name="pid" value="">
    <input type="hidden" name="pids" value="">
    <input type="hidden" name="tendstatus" value="F">
    <input type="hidden" name="tendnum2" value="">
    <input type="hidden" name="iscast" value="">
    </td>
  </tr>
  <tr class="trcolor">
    <td rowspan="3" width="5%">投标信息
    #foreach ($!m1 in $selmaxnum)
    <input type="hidden" name="tendnum1" value="$!m1.TENDNUM">
    #end
    <input type="hidden" name="tendnum" id="tendnum" value="">
    </td>
  </tr>
  <tr class="trcolor">
    <td colspan="2" align="left"><table width="100%">
  <tr class="trcolor">
	<td>到岸地</td>
	<td>投标价</td>
	<td>投标量</td>
	<td>招标单位</td>
  </tr>
  #if($form_znum==1)
     #set($j=0)
     #foreach($!m1 in $selectnextareaprice)
     #set($j=$j+1)
     #end 
     #if($j!=0)
         #set($i=0)
	     #foreach($!m1 in $selectnextareaprice) 
	     <tr>
		 <td><input type="hidden" name="toubiaoareaname$i" id="toubiaoareaname$i" value="$!m1.AREAID">$!m1.AREANAME</td>
		 <td><input type="text" name="toubiaoprice$i" id="toubiaoprice$i" value="" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">元</td>
		 <td><input type="text" name="toubiaoquantity$i" id="toubiaoquantity$i" value="$!m1.QUANTITY" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
		 <td align="center">$!m.TYPENAME</td>
		 <input type="hidden" name="tbprice$i" id="tbprice$i" value="#if($!m1.ISLIMITPRICE=='Y')$!m1.PRICE#else$!m1.ZBPRICE#end"><input type="hidden" name="tbquantity$i" id="tbquantity$i" value="$!m1.ZBQUANTITY"><input type="hidden" name="tbpids$i" id="tbpids$i" value="$!m1.PIDS"><input type="hidden" name="pidid$i" id="pidid$i" value="$!m1.PIDS"><input type="hidden" name="ptendbak$i" value="$!m1.TENDBAK"><input type="hidden" name="ptendoter$i" value="$!m1.TENDOTER">
	     </tr>
	     #set($i=$i+1)
	     #end
     #else
     #set($i=0)
     #foreach($!m1 in $selectareaprice)
     <tr>
         <td><input type="hidden" name="toubiaoareaname$i" id="toubiaoareaname$i" value="$!m1.AREAID">$!m1.AREANAME</td>
	 <td><input type="text" name="toubiaoprice$i" id="toubiaoprice$i" value="" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">元</td>
	 <td><input type="text" name="toubiaoquantity$i" id="toubiaoquantity$i" value="$!m1.TENDQUANTITY" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
	 <td align="center">$!m.TYPENAME</td>
	 <input type="hidden" name="tbprice$i" id="tbprice$i" value="$!m1.PRICE"><input type="hidden" name="tbquantity$i" id="tbquantity$i" value="$!m1.TENDQUANTITY"><input type="hidden" name="ptendbak$i" value=""><input type="hidden" name="ptendoter$i" value="">
     </tr>
     #set($i=$i+1)
     #end
     #end
  #else 
     #set($i=0)
     #foreach($!m1 in $selectnextareaprice)  
     <tr>
         <td><input type="hidden" name="toubiaoareaname$i" id="toubiaoareaname$i" value="$!m1.AREAID">$!m1.AREANAME</td>
	 <td><input type="text" name="toubiaoprice$i" id="toubiaoprice$i" value="" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">元</td>
	 <td><input type="text" name="toubiaoquantity$i" id="toubiaoquantity$i" value="$!m1.QUANTITY" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td>
	 <td align="center">$!m.TYPENAME</td>
	 <input type="hidden" name="tbprice$i" id="tbprice$i" value="#if($!m1.ISLIMITPRICE=='Y')$!m1.PRICE#else$!m1.ZBPRICE#end"><input type="hidden" name="tbquantity$i" id="tbquantity$i" value="$!m1.ZBQUANTITY"><input type="hidden" name="tbpids$i" id="tbpids$i" value="$!m1.PIDS"><input type="hidden" name="pidid$i" id="pidid$i" value="$!m1.PIDS"><input type="hidden" name="ptendbak$i" value="$!m1.TENDBAK"><input type="hidden" name="ptendoter$i" value="$!m1.TENDOTER">
     </tr>
     #set($i=$i+1)
     #end
  #end
  </table>
    </td>
  </tr>
  <tr class="trcolor">
    <td colspan="2" align="left"  width="20%">&nbsp;&nbsp;投标备注:<textarea name="tendbak" cols="76"  rows="6"></textarea>      </td>
  </tr>
  <tr class="trcolor">
    <td align="center">投标附件</td>
    <td align="left">
         <input name="paper" type="text" size="40" value="" contenteditable="false"/>
	<input type="button" name="Submit22" class="bt1" value="文件上传" onClick="window.open('pfile.jsp?formname=form1&picurl=paper&type=jingbiaoinfo&tendtypeid='+document.form2.tendtypeid.value,'','status=no,scrollbars=no,top=160,left=150,width=450,height=365')">
	<input type="button" class="bt1" value="文件下载" onclick="todown()">
    </td>
  </tr>
  <tr class="trcolor">
    <td colspan="3"><input type="button" class="bt1" name="button" value="提&nbsp;&nbsp;交" onclick="v()"/>
    <input type="button" name="button" class="bt1" value="返&nbsp;&nbsp;回" onclick="javascript:location.href='tenderCon.aspx'"/>
    </td>
  </tr>
</table>
<span id="subdata"></span>
</form> #end</span>

        <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
<script language="javascript">
    function show_date_time(){ 
	window.setTimeout("show_date_time()", 1); 
	BirthDay=new Date(new Date(document.form2.ktine.value.replace("-","/")));//设置日期 
	today=new Date(); 
	timeold=(BirthDay.getTime()-today.getTime()); 
	sectimeold=timeold/1000 
	secondsold=Math.floor(sectimeold); 
	msPerDay=24*60*60*1000 
	e_daysold=timeold/msPerDay 
	daysold=Math.floor(e_daysold); 
	e_hrsold=(e_daysold-daysold)*24; 
	hrsold=Math.floor(e_hrsold); 
	e_minsold=(e_hrsold-hrsold)*60;
	minsold=Math.floor((e_hrsold-hrsold)*60); 
	e_seconds = (e_minsold-minsold)*60;
	seconds=Math.floor((e_minsold-minsold)*60); 
	ms = e_seconds-seconds;
	ms = new String(ms)
	ms = ms.substr(2,3);
	timeid.innerHTML="<b><align=center><font color=00CC00>"+daysold+"天"+hrsold+"小时"+minsold+"分"+seconds+"秒"+ms+"毫秒</b><br></font>";
    } 
    function todown(){
       if(document.form1.ptendoter0.value != ""){
	  document.location.href='/DownFileServlet?filepath='+document.form1.ptendoter0.value;
       }else{
	  alert("文件为空，不能下载");
	  return false;
       }
    }
</script>
