<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>项目类型</title>
<script language="javascript">
	function s(){
		var b= new Date();
		document.all.tendtypeid.value=b.getTime();
		form1.submit();
	}
</script>
</head>

<body>
<form name="form1" method="post" action="insertentdtype.aspx" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td>新增招标类型:<input type="text" name="tendtype" value=""/>
		     <input type="hidden" name="tendtypeid" value="">
    </td>
    <td><input type="button" name="button" value="提交" onclick="s()"/>
    </td>
  </tr>
  </table>
  </form>
  <br>
  <form name="form2" post="method" action="">
  <table class="datatable">
  <tr class="trcolor">
    <td>类别ID</td>
    <td>类别名称</td>
    <td>操作</td>
  </tr>
  #set($i=0)
  #foreach($!m in $tendtype)
  <tr>
    <td align="center">$!m.TENDTYPEID</td>
    <td align="center">$!m.TENDTYPE</td>
    <td><a href='modtenderType.aspx?tendtypeid=$!m.TENDTYPEID'>修改</a>&nbsp;&nbsp;
        <a href='deltendtype.aspx?tendtypeid=$!m.TENDTYPEID' target="dataframe">删除</a>
    </td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</form>
    </div>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
