<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../../inc/js/calendarold.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar-setup.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar-en.js"></script>
<title>=======</title>
</head>

<body>
<form name="form2" method="post">
<table class="datatable">
#foreach($!m in $seltenuser)
  <tr class="trcolor">
    <td colspan="3" align="left">项目名称:$!m.PRONAME&nbsp; #if($!m.STATUS == 'B')第($!m.ZNUM)轮#end
    <input type="hidden" name="proid" id="proid" value="$!m.PROID">
    <input type="hidden" name="ztime" id="ztime" value="">
    <input type="hidden" name="znum1" id="znum1" value="$form_znum">
      </td>
  </tr>
  <tr class="trcolor">
    <td>项目模式:</td>
    <td>
	#if($!m.PROSTATUS == 'A')
	    正常
	#end
	#if($!m.PROSTATUS == 'Z')
	    停止
        #end
	#if($!m.PROSTATUS == 'S')
	    暂停
        #end
	#if($!m.PROSTATUS == 'K')
	    开标
        #end
	
    </td>
    <td>项目状态:#if($!m.STATUS == 'A')
	    普通模式
	#end
	#if($!m.STATUS == 'B')
	    竞价模式
        #end
    
    </td>
  </tr>
  <tr class="trcolor"  colspan="3">
    <td align="left">&nbsp;&nbsp;&nbsp;&nbsp;开始时间:<input type="text" name="atime" id="atime" value='$!m.ATIME' readonly></td>
    <td>开标时间:<input type="text" name="ktime" id="ktime" value='$!m.KTINE' readonly></td>
    <td>结束时间:<input type="text" name="ztime1" id="ztime1" value='$!m.ZTIME' readonly></td>
  </tr>
  <!--<tr class="trcolor">
    <td colspan="3" align="left">
       &nbsp;&nbsp;&nbsp;&nbsp;延长开标时间:<select name="hour1">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	</select>小时<select name="minute1">
	<option value="0">0</option>
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
	</select>分
    </td>
  </tr>-->
  <tr class="trcolor">
	<td align="left">
        &nbsp;&nbsp;&nbsp;&nbsp;延长结束时间:<select name="hour">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	</select>小时<select name="minute">
	<option value="0">0</option>
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
	</select>分
	</td>
	<td align="left">
       &nbsp;&nbsp;&nbsp;&nbsp;缩短结束时间:<select name="hour2">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	</select>小时<select name="minute2">
	<option value="0">0</option>
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
	</select>分
    </td>
    <td align="left">
	&nbsp;
    </td>
  </tr>
  <tr class="trcolor">
    <td colspan="3" align="center">
      <!--<input type="button" name="b3" class="bt1" value="延长开标时间" onclick="tokaibiaoedit()"/>-->
      <input type="button" name="b3" class="bt1" value="延长结束时间" onclick="toedit()"/>
      <input type="button" name="b3" class="bt1" value="缩短结束时间" onclick="tooveredit()"/>
      <input type="button" name="b3" class="bt1" value="返&nbsp;&nbsp;回" onclick="javascript:location.href='tenderinfo.aspx'"/>
      </td>
  </tr>
  #end
</table>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>
</html>
<script language="javascript">
function toedit(){
        var time =  new Date(new Date(document.form2.ztime1.value.replace("-","/").replace("-","/")).getTime()+document.form2.hour.value*60*60*1000+document.form2.minute.value*60*1000).print("%Y-%m-%d %H:%M");
	document.form2.ztime.value = time;
	document.form2.action="tendereditdate.aspx";
	document.form2.target="saveframe";
	document.form2.submit();
}
function tooveredit(){
        var time1 = new Date(document.form2.ztime1.value.replace("-","/").replace("-","/")).getTime()-document.form2.hour2.value*60*60*1000-document.form2.minute2.value*60*1000;
	var time2 = new Date(document.form2.ktime.value.replace("-","/").replace("-","/")).getTime();
	if(parseFloat(time1)-parseFloat(time2)  < 0 ){
	   alert("结束时间不能小于开标时间");
	   return false;
	}
	var time =  new Date(new Date(document.form2.ztime1.value.replace("-","/").replace("-","/")).getTime()-document.form2.hour2.value*60*60*1000-document.form2.minute2.value*60*1000).print("%Y-%m-%d %H:%M");
	document.form2.ztime.value = time;
	document.form2.action="tendereditdate.aspx";
	document.form2.target="saveframe";
	document.form2.submit();
}
function tokaibiaoedit(){
	if(document.form2.ktime.value==document.form2.ztime1.value){
	    alert("开标时间等于结束时间，不能延长开标时间！！！");
	    return false;
        }else{
            var time =  new Date(new Date(document.form2.ktime.value.replace("-","/").replace("-","/")).getTime()+document.form2.hour1.value*60*60*1000+document.form2.minute1.value*60*1000).print("%Y-%m-%d %H:%M");
	    document.form2.ktime.value = time;
	    if((new Date(time.replace(/-/g,"/"))-new Date(document.form2.ztime1.value.replace(/-/g,"/")))/(24*60*60*1000) > 0){
	         document.form2.ktime.value=document.form2.ztime1.value;
	    }
	}
	document.form2.action="tendereditktinedate.aspx";
	document.form2.target="saveframe";
	document.form2.submit();
}
</script>