<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>供应商表未注册</title>
</head>

<body>
<table class="datatable">
<form name="thisform" method="post" action="">
<input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value=""></form>
  <tr class="trcolor">
    <td colspan="4" align="left">供应商资料查询</td>
  </tr>
  <tr class="trcolor">
    <td>用户名</td>
    <td>姓名</td>
    <td>添加人</td>
  </tr>
  #set($i=0)
  #foreach($!m in $tendvendornotreg)
  <tr class="trcolor">
    <td>$!m.USERNAME</td>
    <td>$!m.NAME</td>
    <td>#if($!m.ADDUSERNAME!="")$!m.ADDUSERNAME#else &nbsp;#end</td>
  </tr>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
    <td colspan="4">      
      <input type="button" name="b2" value="刷&nbsp;&nbsp;新" class="bt1" onclick="javascript:location.reload()"/></td>
  </tr>
  <tr >
        <td class="tdlabel td" colspan="4">$pagecode</td>
   </tr>
</table>

    <div>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
