<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>投标信息</title>
<script language="javascript">
	function v(){
		document.all.proid.value=document.all.oid.value;
		if(document.all.tendnum1.value==""){
			document.all.tendnum.value=1;
		}else{
			var a = parseInt(document.all.tendnum1.value);
			document.all.tendnum.value = a+1;
		}
		var b= new Date();
		document.all.pid.value=b.getTime();
		form1.submit();
	}
</script>
</head>

<body>
<form name="form2" action="" method="post">
<table class="datatable">
#set($i=0)
#foreach($!m in $seltender)
  <tr class="trcolor">
    <td colspan="4" align="left">项目内容信息</td>
  </tr>
  <tr class="trcolor">
    <td colspan="4" align="left">项目名称:$!m.PRONAME
	<input type="hidden" name="oid" id="oid" value="$!m.PROID">
    </td>
  </tr>
  <tr class="trcolor">
    <td>项目模式:</td>
    <td>#if($!m.STATUS=='A') 普通模式
	#else 竞价模式
	#end

	#if($!m.STATUS=='B') 最新价格 100000000
	#end
    </td>
    <td>项目状态:         
	#if($!m.PROSTATUS=='A') 正常 
    #end
    	#if($!m.PROSTATUS=='Z') 停止
    #end
	#if($!m.PROSTATUS=='S') 暂停
    #end
	#if($!m.PROSTATUS=='K') 开标
    #end</td>
  </tr>
  <tr class="trcolor">
    <td>开始时间:$m.ATIME</td>
    <td>结束时间:$m.ZTIME</td>
    <td>开标时间:$m.KTINE</td>
  </tr>
  <tr class="trcolor">
  #foreach($!n in $selmaxnum)
    <td>目前第[$n.TENDNUM]轮</td>
  #end
    <td colspan="2"><textarea name="tendbak" style="width: 90%; height: 100px;" readonly>$!m.PRODESC</textarea></td>
  </tr>
  <tr class="trcolor">
    <td>项目附件:</td>
    <td colspan="2">&nbsp;</td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</form>
<br>
<hr>
<br>
<form name="form1" action="" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td>竞标人[时间]</td>
    <td>投标价格[人民币(元)]</td>
    <td>说明</td>
    <td>附件</td>
    <td>操作</td>
  </tr>
  #set($i=1)
  #foreach($!m in $seltendesc)
  <tr class="trcolor">
    <td>$!m.USERID[$!m.TENDTIME]</td>
    <td>$!m.TENDPRICE</td>
    <td>$!m.TENDBAK</td>
    <td>$!m.TENDOTER</td>
    <td><a href="#?status='F'" target="dataframe">进入下一轮</a>&nbsp;<a href="#?status='P'" target="dataframe">退回</a>&nbsp;<a href="#?status='K'" target="dataframe">中标</a></td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</form>
</div>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</div>
</body>
</html>
