<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>招标管理</title>
<SCRIPT LANGUAGE="JavaScript">
 function show(){		
		var a ='#foreach ($!m in $seltenduserstatus) $!m.MAKESTATUS #end';
		if(a.replace(/[ ]/g,"")==""||a.replace(/[ ]/g,"")!="B"){
			document.getElementById('sp').style.display="block"
			document.getElementById('tab').style.display="none"
	}	
 }
</SCRIPT>
</head>

<body onload="show()">
<span id='sp' style="display:none">
<h1>基本资料审核未通过或未注册<h1>
</span>
<table class="datatable" id='tab'>
  <tr class="trcolor">
    <td nowrap>序号</td>
    <td nowrap>名称</td>
    <td nowrap>类型</td>
    <td nowrap>本轮招标截止时间</td>
    <td nowrap>招标结束时间</td>
    <td nowrap>项目模式</td>
    <td nowrap>状态</td>
    <td nowrap>操作</td>
  </tr>
  #set($i=1)
  #foreach($m in $seltender)  
  <tr class="trcolor">
    <td nowrap>$i</td>
    <td nowrap>
     $!m.PRONAME 第[$!m.ZNUM]轮
     <input type="hidden" name="proid" value="$!m.PROID">
    </td>
    <td nowrap>$!m.TENDTYPENAME</td>
    <td nowrap>$!m.KTINE</td>
    <td nowrap>$!m.ZTIME</td>
    <td nowrap>#if($!m.STATUS=='A') 普通模式
	#end
	#if($!m.STATUS=='B') <font color="red">竞价模式</font>
	#end
    </td>
    <td align="center" nowrap>
        #if($!m.PROSTATUS=='A') 正常 
        #end
    	#if($!m.PROSTATUS=='Z') 停止--$!m.CAUSESAY
        #end
	#if($!m.PROSTATUS=='S') 暂停--$!m.CAUSESAY
        #end
	#if($!m.PROSTATUS=='K') 开标
        #end
	#if($!m.PROSTATUS=='T') 进入谈判合同
        #end
    </td>
    <td nowrap>
    #if($!m.PROSTATUS!='A')
	&nbsp;
    #else
	#if($!m.STATUS=='A') 
	    #if($!m.ISAREA=='Y')
                 <a href='Ptendescarea.aspx?proid=$!m.PROID&znum=$!m.ZNUM'>投标</a>
	    #else
                 <a href='Ptendesc.aspx?proid=$!m.PROID&znum=$!m.ZNUM'>投标</a>
	    #end
	#else 
	    #if($!m.ISAREA=='Y')
                 <a href='tendpricearea.aspx?proid=$!m.PROID&znum=$!m.ZNUM'>竞价</a>
	    #else
                 <a href='tendprice.aspx?proid=$!m.PROID&znum=$!m.ZNUM'>竞价</a>
	    #end
	#end
    #end
    </td>
  </tr>
#set($i=$i+1)
#end
#if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
   <tr class="trcolor">
    <td colspan="8">      
      <input type="button" name="b2" value="刷&nbsp;&nbsp;新" class="bt1" onclick="javascript:location.reload()"/></td>
  </tr>
</table>
</body>
</html>
