<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>项目类型修改</title>
</head>

<body>
<form name="form1" action="tenddepartsaveedit.aspx" method="post" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">部门类型修改
    </td>
  </tr>
  <tr class="trcolor">
  #foreach ($!m in $seltenddepart)  
	<td colspan="4">部门名称：<input type="text" name="tendtypename1" value="$m.DEPARTNAME" readonly></td>
  #end
  </tr>
  <tr class="trcolor">
	<td colspan="4">
	    新名称：&nbsp;&nbsp;<input type="text" name="tendtypename"><input type="hidden" name="id" value="$!form_departid">
	</td>
  </tr>
  <tr class="trcolor">
    <td colspan="4">
      <input type="submit" class="bt1" value="保存"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="返回" onclick="javascript:location.href='tenddepart.aspx'"/></td>
  </tr>
</table>
</form>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
