<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>项目类型修改</title>
</head>

<body>
<form name="form1" action="tenderstatusub.aspx" method="post" target="dataframe">
<input type="hidden" name="proid" value="$form_proid">
<input type="hidden" name="prostatus" value="$form_prostatus">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">#if($form_prostatus == 'S')暂停#else停止#end原因说明
    </td>
  </tr>
  <tr class="trcolor">
  #foreach ($!m in $seltenuser)
        <td>项目名称：</td>
	<td colspan="3"><input type="text" name="tendtypename1" value="$m.PRONAME" readonly></td>
  #end
  </tr>
  <tr class="trcolor">
        <td>#if($form_prostatus == 'S')暂停#else停止#end原因说明：</td>
	<td colspan="3">
	    <textarea name="causesay" cols="60" rows="10"></textarea>
	</td>
  </tr>
  <tr class="trcolor">
    <td colspan="4">
      <input type="submit" class="bt1" value="保存"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="返回" onclick="javascript:location.href='tenderinfo.aspx'"/></td>
  </tr>
</table>
</form>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
