<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>投标状态</title>
</head>
<script language="javascript">
   function toclose(){
	window.close();
   }
</script>
<script language="JavaScript" type="text/javascript">

function printpr(){
   document.all("dayinDiv").style.display="none"; //打印之前先隐藏不想打印输出的元素（此例中隐藏“打印”和“打印预览”两个按钮）   
	var OLECMDID = 7;   
	var PROMPT = 1;   
	var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';   
	document.body.insertAdjacentHTML('beforeEnd', WebBrowser);   
	WebBrowser1.ExecWB(OLECMDID, PROMPT);   
	WebBrowser1.outerHTML = "";   
	document.all("dayinDiv").style.display="";//打印之后将该元素显示出来（显示出“打印”和“打印预览”两个按钮，方便别人下次打印）   
}
function printTure(){
   document.all("dayinDiv").style.display="none";//同上   
   window.print();   
   document.all("dayinDiv").style.display="";   
}
</script>


<body>
<DIV align="center" id="dayinDiv" name="dayinDiv">
<OBJECT ID="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>
<input type="button" class="tab" value="打印" onclick="printTure();">&nbsp;&nbsp;<input type="button" class="tab" value="打印预览" onclick="printpr();">&nbsp;&nbsp;<input name=Button onClick=document.all.WebBrowser.ExecWB(8,1) type=button value=页面设置>     
<input type="hidden" name="qingkongyema" id="qingkongyema" class="tab" value="清空页码" onclick="pagesetup_null()">&nbsp;&nbsp;   
<input type="hidden" class="tab" value="恢复页码" onclick="pagesetup_default()">
</DIV> 
<br>
<table class="datatable" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td colspan="10" align="center">投标结果打印</td>
  </tr>
  <tr class="trcolorxx">
    <td nowrap>投标人</td>
    <td nowrap>项目名称</td>
    <td nowrap>状态</td>
    <td nowrap>第几轮</td>
    <td nowrap>到岸地</td>
    <td nowrap>投标价</td>
    <td nowrap>招标价</td>
    <td nowrap>投标量</td>
    <td nowrap>招标量</td>
    <td nowrap>单位</td>
  </tr>
  #set($i=1)
  #foreach($!m in $printtendedailall)
	  <tr>
	    <td align="left">$!m.COMPANY</td>
	    <td align="left">$!m.PRONAME</td>
	    #if($!m.STATUS == 'A')
		#if($!m.TENDSTATUS=='K') <td nowrap><font color="red">中标</font></td><td nowrap>第[$!m.TENDNUM]轮</td>
		#end
		#if($!m.TENDSTATUS=='T') <td nowrap><font color="red">进入谈判合同</td><td nowrap>第[$!m.TENDNUM]轮</td>
		#end
		#if($!m.TENDSTATUS=='F') <td nowrap>未中标</td><td nowrap>第[$!m.TENDNUM]轮</td>
		#end
	    #else
		 <td nowrap>
		    #if($!m.TENDSTATUS=='K') <font color="red">中标</font>#end
		    #if($!m.TENDSTATUS=='T') <font color="red">进入谈判合同</font>#end
		    #if($!m.TENDSTATUS=='F')未中标#end
		 </td>
		    <td nowrap>第[$!m.TENDNUM]轮</td>
	    #end
            <td align="left" nowrap>#if($!m.AREANAME == 'synear')&nbsp;#else$!m.AREANAME#end</td>
	    <td nowrap>$!m.TENDPRICE元</td>
	    <td nowrap>$!m.ZBPRICE元</td>
	    <td nowrap>$!m.QUANTITY</td>
	    <td nowrap>$!m.TENDQUANTITY</td>
	    <td align="center" nowrap>$!m.TYPENAME</td>
	  </tr>
  #set($i=$i+1)
  #end
</table>
<br>
</body>
</html>
