<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
    #set($i=0)
    #foreach($m in $querybaseuserinfobyvname)
      #set($i=$i+1)
    #end
    if(parseInt('$i') == 0) {
       alert("此供应商需要先在供应商管理里注册！");
       parent.submitok=false;
    }else if(parseInt('$i')>0){
        parent.testok();
    }else{
       alert("出现未知错误！");
       parent.submitok=false;
    }
	</script>
</head>
<body>
</body>
</html>

