<html>
<head>
<title>欢迎$session_NAME使用思念综合业务系统</title>
  		<script type="text/javascript" src="/extjs/adapter/ext/ext-base.js"></script>
		<script type="text/javascript" src="/extjs/ext-core.js"></script>
		<script type="text/javascript" src="/extjs/ext-all.js"></script>
        <script type="text/javascript" src="/extjs/source/locale/ext-lang-zh_CN.js" charset='UTF-8'></script>
        <link rel="stylesheet" type="text/css" href="/img/docs.css" />  
        <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
     <script type="text/javascript">
          var NEWAPP_RESOURCES={};
	  Ext.BLANK_IMAGE_URL='/extjs/resources/images/olive/s.gif';
	  Ext.util.CSS.swapStyleSheet('theme','/extjs/resources/css/${session_SKIN}.css');</script> 
    <style type="text/css">
	html, body {
        font:normal 12px verdana;
        margin:0;
        padding:0;
        border:0 none;
        overflow:hidden;
        height:100%;
    }
	p {
	    margin:5px;
	}
    
    .refresh {
            background-image:url(/img/refresh.gif) !important;
    }    
    .icon-expand-all {
       background-image: url(/img/expand-all.gif) !important;
    }
    .icon-collapse-all {
       background-image: url(/img/collapse-all.gif) !important;
    }
    .loginout {
            background-image:url(/img/user.gif) !important;
    }
       .modifykey {
            background-image:url(/img/key.gif) !important;
    }     
   .title{
	  color: #083772;
	  font-weight: bold;
	  font-size: 24px;
	  padding: 4px;
	  padding-left: 8px;
   }
   .loading-mask {
    width:100%;height:100%;background:#c3daf9;position:absolute;z-index:20000;left:0;top:0;
}
.loading{
    position:absolute;
    left:45%;
    top:40%;
    border:1px solid #6593cf;
    padding:2px;
    background:#c3daf9;
    width:150px;
    text-align:center;
    z-index:20001;
}
.loading .loading-indicator{
    border:1px solid #a3bad9;
    background:white url('../images/block-bg.gif') repeat-x;
    color:#003366;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
}
.loading-indicator {
    font-size:8pt;
    background-image:url('../images/grid/loading.gif');
    background-repeat: no-repeat;
    background-position:top left;
    padding-left:20px;
    height:18px;
    text-align:left;
}
    
    </style>
   
	<script type="text/javascript">
		var classData ={"id":"apidocs","iconCls":"","text":"我的权限","singleClickExpand":true,"children":
		[
		  #set($i=0) 
		  #foreach($m in $tendtypeproduct)
		      #if($i==0)
		      #else
		,
		      #end
		{"id":"$!m.FATHERID","hrefTarget":"contentPanelUpdater","text":"$!m.TENDTYPENAME","iconCls":"","children":[
			     #set($k=0) 
			     #foreach($n in $tendtypeproduct1)
				 #if($m.CHILDID==$n.FATHERID)
				       #if($k==0)
				       #else
		,
				       #end
		{"id":"$n.FATHERID","hrefTarget":"contentPanelUpdater","text":"$n.TENDTYPENAME","children":[],"iconCls":"","leaf":true,"expanded":false,"href":"baseaction.action?functionId=$n.MODULEID&type=0&navigationUrl=$n.MODULEURL"}
				       #set($k=$k+1)
				 #end
			     #end
		],"leaf":false,"expanded":false,"iconCls":""}
		      #set($i=$i+1)
		  #end
		]};
        
     // var j_id1_loading = Ext.get('loading');dataUrl:'<%=request.getContextPath()%>/menuTree.action?actions=forMenu',
     //dataUrl:'getMenuTree.aspx',     
ApiPanel = function() {
    ApiPanel.superclass.constructor.call(this, {
        id:'api-tree',
        region:'west',
        rootVisible:false,
        width: 160,
        minSize: 175,
        maxSize: 500,
        
        margins:'0 0 5 5',
        cmargins:'0 0 0 0',

        lines:false,
        split:true,
        collapsible: true,
        autoScroll:true,
        animCollapse:false,
        animate: false,
        collapseMode:'mini',
        loader: new Ext.tree.TreeLoader({
			preloadChildren: true,
			clearOnLoad: false
		}),
        root: new Ext.tree.AsyncTreeNode({
              id:"0",
              text:"功能导航",
              leaf:false,
              expanded:true,
              children:[classData]
         }),
         baseParams :{'loadAllNodes':'true'},
        collapseFirst:false
    });

    this.getSelectionModel().on('beforeselect', function(sm, node){
        return node.isLeaf();
    });
};

Ext.extend(ApiPanel, Ext.tree.TreePanel,{
    selectClass : function(cls){
        if(cls){

           this.selectPath(this.getNodeById(cls).getPath());
           //this.selectPath('/0/'+cls.join('/'));
        }
    }
});


DocPanel = Ext.extend(Ext.Panel, {
    closable: true,
    autoScroll:true,
    lines:false,
    initComponent : function(){
        var ps = this.cclass.split('.');

        DocPanel.superclass.initComponent.call(this);
    },

    scrollToMember : function(member){
        var el = Ext.fly(this.cclass + '-' + member);
        if(el){
            var top = (el.getOffsetsTo(this.body)[1]) + this.body.dom.scrollTop;
            this.body.scrollTo('top', top-25, {duration:.75, callback: this.hlMember.createDelegate(this, [member])});
        }
    },

	scrollToSection : function(id){
		var el = Ext.getDom(id);
		if(el){
			var top = (Ext.fly(el).getOffsetsTo(this.body)[1]) + this.body.dom.scrollTop;
			this.body.scrollTo('top', top-25, {duration:.5, callback: function(){
                Ext.fly(el).next('h2').pause(.2).highlight('#8DB2E3', {attr:'color'});
            }});
        }
	},

    hlMember : function(member){
        var el = Ext.fly(this.cclass + '-' + member);
        if(el){
            el.up('tr').highlight('#cadaf9');
        }
    }
});


MainPanel = function(){
    MainPanel.superclass.constructor.call(this, {
        id:'doc-body',
        region:'center',
        margins:'0 5 5 0',
        resizeTabs: true,
        minTabWidth: 135,
        tabWidth: 135,
        plugins: new Ext.ux.TabCloseMenu(),
        enableTabScroll: true,
        activeTab: 0,

        items: {
            id:'welcome-panel',
            title: '欢迎$session_NAME',
            html : '<center><H1>欢迎$session_NAME使用系统！</H1></center>',
            //autoLoad: {url: 'welcome.html', callback: this.initSearch, scope: this},
            iconCls:'icon-docs',
            autoScroll: true
			
        }
    });
};

Ext.extend(MainPanel, Ext.TabPanel, {
    initEvents : function(){
        MainPanel.superclass.initEvents.call(this);
        this.body.on('click', this.onClick, this);
    },

    onClick: function(e, target){
        if(target = e.getTarget('a:not(.exi)', 3)){
            var cls = Ext.fly(target).getAttributeNS('ext', 'cls');
            e.stopEvent();
            if(cls){
                var member = Ext.fly(target).getAttributeNS('ext', 'member');
                this.loadClass(target.href, cls, member);
            }else if(target.className == 'inner-link'){
                this.getActiveTab().scrollToSection(target.href.split('#')[1]);
            }else{
                window.open(target.href);
            }
        }else if(target = e.getTarget('.micon', 2)){
            e.stopEvent();
            var tr = Ext.fly(target.parentNode);
            if(tr.hasClass('expandable')){
                tr.toggleClass('expanded');
            }
        }
    },

    loadClass : function(href, cls ,id, member){
        var tapid = 'docs-' + id;
        var tab = this.getComponent(tapid);
        if(tab){
            this.setActiveTab(tab);
            if(member){
                tab.scrollToMember(member);
            }
        }else{
            var autoLoad = href;
            if(member){
                autoLoad.callback = function(){
                    Ext.getCmp(id).scrollToMember(member);
                }
            }
            var p = this.add(new DocPanel({
                id: tapid,
                cclass : id,
                title:cls,
                html : "<div style='height:100%;height:100%'>"
                       + "<iframe src='" + autoLoad + "' "
                       + "width='100%' height='100%' frameborder=0/>"
                       + "</div>"
            }));
            this.setActiveTab(p);
        }
    }

});


Ext.onReady(function(){

    Ext.QuickTips.init();

    var api = new ApiPanel();
    var mainPanel = new MainPanel();

    api.on('click', function(node, e){
         if(node.isLeaf()){
            e.stopEvent();
            mainPanel.loadClass(node.attributes.href, node.text,node.id);
         }
    });

    mainPanel.on('tabchange', function(tp, tab){
        api.selectClass(tab.cclass); 
    });

    var hd = new Ext.Panel({
        border: false,
        layout:'anchor',
        region:'north',
        cls: 'docs-header',
        height:60,
        items: [{
            xtype:'box',
            el:'header',
            border:false,
            anchor: 'none -25'
        },
        new Ext.Toolbar({
            cls:'top-toolbar',
            items:[ ' ',
			new Ext.form.TextField({
				width: 200,
				emptyText:'Find a Class',
				listeners:{
					render: function(f){
						f.el.on('keydown', filterTree, f, {buffer: 350});
					}
				}
			}), ' ', ' ',
			{
				  tooltip:'刷新树',
				  iconCls:'refresh',
				  handler:function(item){
				  api.root.reload();
				  }
			},'-',
			{
                iconCls: 'icon-expand-all',
				tooltip: '展开',
                handler: function(){ api.root.expand(true); }
            }, '-', {
                iconCls: 'icon-collapse-all',
                tooltip: '关闭',
                handler: function(){ api.root.collapse(true); }
            },'->',
            {
                iconCls: 'loginout',
				tooltip: '注销用户',
                handler: re_login
            },'-',
            {
                iconCls: 'modifykey',
				tooltip: '更改密码',
                handler: modifykey
            },'-',
            new Ext.form.ComboBox({
               typeAhead: true,
               triggerAction: 'all',
               transform:'Skin',// 对应的选择框的ID
               lazyRender:true,
               listeners:{select:function(){
                    location.href='userAction.action?actions=changeskin&skin='+this.value;
               },
               render:function(){
                     this.setValue('ext-all')
                    //location.href='userAction.action?action=changeskin&skin='+this.value;
               }}
               
               
             
            })
            ]
        })]
    })

    var viewport = new Ext.Viewport({
        layout:'border',
        items:[ hd, api, mainPanel ]
    });

    //api.expandPath('/root/0');





    var page = window.location.href.split('?')[1];

    if(page){
        var ps = Ext.urlDecode(page);
        var cls = ps['class'];
        mainPanel.loadClass('output/' + cls + '.html', cls, ps.member);
    }
    
    viewport.doLayout();
    
      var j_id1_loading = Ext.get('loading');
      var j_id1_mask = Ext.get('loadMask');j_id1_mask.setOpacity(.8);
		 j_id1_mask.shift({
		        xy:j_id1_loading.getXY(),
		        width:j_id1_loading.getWidth(),
		        height:j_id1_loading.getHeight(),
		        remove:true,
		        duration:1,opacity:.3,
			    callback :function(){
				j_id1_loading.fadeOut({
			     duration:.2,remove:true});
	    }});

	var filter = new Ext.tree.TreeFilter(api, {
		clearBlank: true,
		autoClear: true
	});
	var hiddenPkgs = [];
	function filterTree(e){
		var text = e.target.value;
		Ext.each(hiddenPkgs, function(n){
			n.ui.show();
		});
		if(!text){
			filter.clear();
			return;
		}
		api.expandAll();
		var re = new RegExp('^' + Ext.escapeRe(text), 'i');
		filter.filterBy(function(n){
			return !n.attributes.isClass || re.test(n.text);
		});
		// hide empty packages that weren't filtered
		hiddenPkgs = [];
		api.root.cascade(function(n){
			if(!n.attributes.isClass && n.ui.ctNode.offsetHeight < 3){
				n.ui.hide();
				hiddenPkgs.push(n);
			}
		});
	}
	
});


Ext.ux.TabCloseMenu = function(){
    var tabs, menu, ctxItem;
    this.init = function(tp){
        tabs = tp;
        tabs.on('contextmenu', onContextMenu);
    }

    function onContextMenu(ts, item, e){
        if(!menu){ // create context menu on first right click
            menu = new Ext.menu.Menu([{
                id: tabs.id + '-close',
                text: 'Close Tab',
                handler : function(){
                    tabs.remove(ctxItem);
                }
            },{
                id: tabs.id + '-close-others',
                text: 'Close Other Tabs',
                handler : function(){
                    tabs.items.each(function(item){
                        if(item.closable && item != ctxItem){
                            tabs.remove(item);
                        }
                    });
                }
            }]);
        }
        ctxItem = item;
        var items = menu.items;
        items.get(tabs.id + '-close').setDisabled(!item.closable);
        var disableOthers = true;
        tabs.items.each(function(){
            if(this != item && this.closable){
                disableOthers = false;
                return false;
            }
        });
        items.get(tabs.id + '-close-others').setDisabled(disableOthers);
        menu.showAt(e.getPoint());
    }
};  
        
   
 function  changeSkin(value){
    alert(value);
 }
 
 function re_login(){
  if(confirm('您确定要退出系统吗?'))
   window.location="loginAction.action?actions=loginOut";
}

function modifykey(){
  myleft=document.body.scrollWidth/2;
  mytop=document.body.scrollHeight/2;
   //window.showModalDialog("sys/modifyKey.jsp",self,"edge:raised;scroll:0;status:0;help:0;resizable:1;dialogWidth:350px;dialogHeight:230px;dialogTop:"+mytop+"px;dialogLeft:"+myleft+"px");
  window.open("sys/modifyKey.jsp","flow_view","status=0,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes,width=400px,height=230px,left="+myleft+",top="+mytop);
}

    

	</script>
<div id="loadMask" class="loading-mask"></div><div id="loading" class="loading"><div class="loading-indicator">Loading...</div></div>
</head>
<body>
<div id="header">

	<div class="api-title">
	思念综合业务系统 (欢迎您,$session_NAME))&nbsp;&nbsp;&nbsp;&nbsp;<a style="cursor:hand" onclick="javascript:re_login();">
	<font color=red>退出系统</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/bzsc/index.html" target="_blank">
	<font color=red>帮助</font></a>
	</div>
  </div>
<iframe name="saveframe" src="aaaa.html" width="100%" height="300" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
  <div id="classes"></div>

  <div id="main"></div>

<select name="Skin" id="Skin" style="display: none;" onchange="changeSkin(this.value)">
<option value="ext-all">默认风格</option>
<option value="xtheme-gray">银白风格</option>
<option value="xtheme-purple">紫色风格</option>
<option value="xtheme-olive">绿色风格</option>
<option value="xtheme-darkgray">灰色风格</option>
<option value="xtheme-black">黑色风格</option>
<option value="xtheme-slate">深蓝风格</option>
</selec>
<script>
 </body>
</html>



