<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<title>竞标用户注册</title>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>

<body>
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">竞标用户注册
    </td>
  </tr>
  #set($i=0)
  #foreach($!m in $seltenduser)
  <tr>
    <td align="right">供应商名字</td>
    <td align="left" colspan="3">
      <input type="text" name="username" value="$!m.USERNAME" readonly/>
      
      </td>
  </tr>
  <tr class="trcolor">
    <td align="right" width="40%">公司名称</td>
    <td align="left" colspan="3">
      <input type="text" name="company" value="$!m.COMPANY" readonly/>
      
      <input type="hidden" name="userid" value="$!m.USERID">
      <input type="hidden" name="username1" value="$!m.USERNAME">
      </td>
  </tr>
  <tr>
    <td align="right">公司简称</td>
    <td align="left" colspan="3">
      <input type="text" name="companysamp" value="$!m.COMPANYSAMP" readonly/>
      </td>
  </tr>
  <tr>
    <td align="right">公司介绍</td>
    <td align="left" colspan="3">
      <textarea name="companydesc" readonly>$!m.COMPANYDESC</textarea>
      
      </td>
  </tr>
  <tr>
    <td align="right">公司地址</td>
    <td align="left" colspan="3">
      <input type="text" name="companydress" value="$!m.COMPANYDRESS" readonly/>
      
      </td>
  </tr>
  <tr>
    <td align="right">公司网址</td>
    <td align="left" colspan="3">
      <input type="text" name="companyinternet" value="$!m.COMPANYINTERNET" readonly/>
      </td>
  </tr>
  <tr>
    <td align="right">注册资金</td>
    <td align="left" colspan="3">
      <input type="text" name="registermoney" value="$!m.REGISTERMONEY" readonly/>万元
      
      </td>
  </tr>
  <tr class="trcolor">
    <td align="right">币种</td>
    <td align="left" colspan="3">
    #foreach($!k in $querytendcurrency)
	#if($!k.CURRENCYID == $!m.CURRENCICYID)
	    <input type="text" name="currencicy" value="$!k.TYPENAME" readonly/>
	#end
    #end &nbsp;
       </td>
  </tr>
  #set($j=0) 
  #foreach($!n in $seltendtypeandnew1)
      <tr>
	<td align="right" nowrap>产品分类</td>
	<td colspan="3" nowrap>
	    <input type="text" name="ptypename" value="$!n.TENDTYPENAME" readonly>
	</td>
      </tr>
  #end
  <tr>
    <td align="right">文件上传</td>
    <td align="left" colspan="3">
      #if($m.PAPER != "")
      <a href="/DownFileServlet?filepath=$!m.PAPER"">$m.PAPER.substring($!m.PAPER.lastIndexOf("/")).replace("/","") 
    </a>
    #else
    &nbsp;
    #end
      </td>
  </tr>
 <tr>
    <td align="right">法人</td>
    <td align="left" colspan="3">
      <input type="text" name="cnamea" value="$!m.CNAMEA" readonly/>
      
      </td>
  </tr>
  <tr>
    <td align="right">联系人手机</td>
    <td align="left" colspan="3">
      <input type="text" name="cnameaphone" value="$!m.CNAMEAPHONE" readonly/>
      
      </td>
  </tr>
  <tr>
    <td align="right">联系人电话</td>
    <td align="left" colspan="3">
      <input type="text" name="cnameatel" value="$!m.CNAMEATEL" readonly/>
      
      </td>
  </tr>
  <tr>
    <td align="right">传真</td>
    <td align="left" colspan="3">
      <input type="text" name="cnameafax" value="$!m.CNAMEAFAX" readonly/>
      
      </td>
  </tr>
  <tr>
    <td align="right">EMAIL</td>
    <td align="left" colspan="3">
      <input type="text" name="aemail" value="$!m.AEMAIL" readonly/>
      </td>
  </tr>
  <span id="subdata"></span>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
    <td colspan="4">
     <input type="button" class="bt1" value="返回" onclick="javascript:history.back(-1)"/></td>
    </td>
  </tr>
</table>
        <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
