<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>投标状态</title>
</head>
<script language="javascript">
   function toreturn(){
	//document.location.href="tenderdetail.aspx?proid=$form_proid&znum=$form_znum";
	history.back(-1);
   }
</script>
<body>
<table class="datatable">
  <tr class="trcolor">
  <form name="thisform" method="post">
  <input type="hidden" name="proid" value="$form_proid">
  <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value=""></form>
    <td colspan="7" align="left">投标状态</td>
    <td colspan="3">
	<input type="button" value="返回" class='bt1' onclick="toreturn()">
    </td>
  </tr>
  <tr class="trcolor">
    <td>项目ID</td>
    <td>投标人</td>
    <td>项目名称</td>
    <td>第几轮</td>
    <td>投标价</td>
    <td>招标价</td>
    <td>投标量</td>
    <td>招标量</td>
    <td>单位</td>
    <td>本轮是否投标</td>
  </tr>
  #set($i=1)
  #foreach($!m in $querytendedailall)
	  <tr>
	    <td align="center" nowrap>$!m.PROID</td>
	    <td align="center" nowrap>$!m.XCOMPANY</td>
	    <td align="center" nowrap>$!m.PRONAME</td>
	    <td align="center" nowrap>第[$!m.TENDNUM]轮</td>
	    <td nowrap>$!m.TENDPRICE元</td>
	    <td nowrap>$!m.PPIC元</td>
	    <td nowrap>$!m.QUANTITY</td>
	    <td nowrap>$!m.TENDQUANTITY</td>
	    <td align="center" nowrap>$!m.TYPENAME</td>
	    <td align="center" nowrap>
	       #if($!m.ISCAST=='Y') 
	       <font color="red">是</font>
               #else
	          否
	       #end
            </td>
	    
	  </tr>
  #set($i=$i+1)
  #end
  <tr >
        <td class="tdlabel td" colspan="10">$pagecode</td>
   </tr>
</table>
</body>
</html>
