<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title></title>
<script language = "javascript">
	function a(){				//修改用户
			if(document.all.update_roleid.value==document.all.newroleid.value){
				document.all.ddd.value=""
			}else{document.all.ddd.value="1"}
			updateuser.submit();
	}
</script>
 </head>
	 <body>
		 <form name='updateuser' action ='updateUserSub1.aspx' method='post'>
			<table class="datatable" id='tab'>
			#set($i=0)
			#foreach($!m in $tendRole)
			  <tr class="trcolor">
			    <td>用户名:
			      <input type="text" name="username" value='$m.USERNAME'/>
			      <input type="hidden" name="usernametend" value='$m.USERNAME'/>
			      <input type="hidden" name="userid" value='$m.USERID'/>
				</td>
			    <td>姓名:
				<input type="text" name="name" value='$m.NAME'/>
				<input type='hidden' name='up_dept_user' value=''>
				<input type="hidden" name="newroleid" value='$m.ROLEID'/>
				<input type="hidden" name="ddd" value=''/>
				<input type="hidden" name="update_roleid" value='$form_roleid'/>
				</td>
			  </tr>
			  <tr class="trcolor">
			    <td>
			      <input name="button" type="button" id="button" value="返回" onclick="javascript:history.back(-1)"/>
				</td>
			    <td>
				<input name="button" type="button" id="button" value="修改" onclick='a()'/>
				</td>
			  </tr>
			    #set($i=$i+1)
				#end
			</table>
		</form>
	</body>
</html>
