<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>项目类型修改</title>
</head>

<body>
<form name="form1" method="post" action="modtendtypesub.aspx" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td align="left">项目类型修改</td>
  </tr>
  <tr class="trcolor">
    <td>项目名称:
    #foreach($!m in $tendtype)
    <input type="text" name="protype" value="$!m.TENDTYPE">
    #end
	<br>新名称:<input type="text" name="newprotype" value=""/>
		<input type="hidden" name="tendtypeid" value="$!form_tendtypeid">
    </td>
  </tr>
  <tr class="trcolor">
    <td>      
      <input type="submit" name="b1" value="提&nbsp;&nbsp;交" />
      <input type="button" name="b2" value="返&nbsp;&nbsp;回" onclick="javascript:location.href='tenderType.aspx'"/></td>
  </tr>
</table>
    </div>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
