<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title>权限管理</title>
</head>
<script> 
	var Purlist = new Array();
		Purlist = [["模块ID","模块","用户名","角色名","序号"]
		#set($i=0)
		#foreach($!m in $selByN)
		,["$m.MODULEID","$m.MODULENAME","$m.USERNAME","$m.ROLENAME","$i"]
		#set($i=$i+1)
		#end
		]
var pageSize=20;
var pageno=0;
var rdata=new Array();
rdata=Purlist;

function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page){
try{
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
	  for(var i=1;i<=pageSize;i++){
		    if(((page-1)*pageSize+i)<rdata.length){
			  var row=table6.insertRow()
			  row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
			  row.insertCell().innerText=rdata[(page-1)*pageSize+i][4]
			  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
			  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
		    }
	     }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
</script>

<body>

<form id="form2" method="post" action="newselPur.aspx">
	<table class="datatable">
		<tr class="trcolor">
			#set($i=1)
			#foreach($!m in $tendRole)
			<td>用户名：<input type="text" name='username' id='username' size="16" value='$m.USERNAME' readonly></td>
			<td>姓&nbsp;&nbsp;名：<input type="text" name='name' id='name' size="16" value='$m.NAME' readonly></td>
			<td>角色名：<input type="text" name='rolename' id='rolename' size="16"  value='$m.ROLENAME' readonly></td>
		</tr>
		<tr class="trcolor">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			#set($i=$i+1)
			#end
			<td><input type='hidden' name='aaa' id='aaa' value=''>
			<input name="button" type="button" id="button" class="bt1"  value="返回" onclick="javascript:history.back(-1)"/></td>
			</td>
		</tr>
	</table>
</form> 
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="trcolor" bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#EFEFEF" width="7%" Name="st">状态</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">序号</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">模块ID</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">模块名字</td>     
    </tr>
</table>
<div style="width:100%;txt-align:center;border:3 double gray;">
<span id="pg"></span>
</div>

<script>
	 toPage(1);
</script>
</body>
</html>

 