<HTML>
<HEAD>		
<title>备注</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<link rel="stylesheet" type="text/css" media="all" href="../../../js/calendar-win2k-1.css"/> 
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar-setup.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar-en.js"></script>
<script type="text/javascript" src="../../../inc/js/calendarnew.js"></script>
<SCRIPT LANGUAGE="JavaScript">
function checkinput()
{  
  thisform.page.value=1;
  thisform.submit();
}
function toprint(url){
   window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
}
function toprint1(url){
   window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
}
function getremark(proid,pid,tendnum){
   window.open('remark.aspx?proid='+proid+'&pid='+pid+'&tendnum='+tendnum,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
}
function getremark1(remark){
   alert(remark);
}
</SCRIPT>
</HEAD>
<BODY>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
    #set($i=1) 
    #foreach($m in $querytenderremark) 
	<tr class="trcolor">
	    <td nowrap align="left">$!m.TENDBAK</td>
	</tr>
	#set($i=$i+1)
   #end 
   <tr class="trcolor">
	    <td nowrap><input type="button" class="bt1" value="关闭" onclick="javascript:window.close();"></td>
   </tr>
</table>

<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>