<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<script src="../../inc/js/alai_win_xp.js" language="javascript"></script>
<title></title>

<script>
	function ss(){
	var cal='';
	for(var i=0;i<document.all.form1.roleid.options.length;i++){   
		if(document.all.form1.roleid.options[i].selected){
		     if(document.all.form1.roleid.options[i].value!='')
		     cal=cal+document.all.form1.roleid.options[i].value+',';
		}
	}	
	document.all.form1.sroleid.value=cal;
	}
</script>

<script language="javascript">
	var sellist = new Array();
		sellist = [['序号','角色名','角色ID']
		#set($i=1)
		#foreach($!m in $tendRolename)
		,['$i','$m.ROLENAME','$m.ROLEID']
		#set($i=$i+1)
		#end
		]
	var pageSize=15;
	var pageno=0;
	var rdata=new Array();
	rdata=sellist;
function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
function toPage(page){
try{
  pageno=page;
  for(var i=tab.rows.length;i>1;i--) tab.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=tab.insertRow()
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerHTML="<a href='delRolePur.aspx?roleid="+ rdata[(page-1)*pageSize+i][2] + "'>删除角色</a>&nbsp;&nbsp;<a href='modRolePur.aspx?roleid="+ rdata[(page-1)*pageSize+i][2] + "'>修改角色</a>&nbsp;&nbsp;<a href='selRolePur.aspx?roleid="+ rdata[(page-1)*pageSize+i][2] + "'>分配权限</a>&nbsp;&nbsp;&nbsp;<a href='roletouser.aspx?roleid="+ rdata[(page-1)*pageSize+i][2] +"'>查看用户</a>"

	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页<br>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
</script>
  <script language="javascript">
	var duallist = new Array();
		duallist = [['角色名','序号']
		#set($i=0)
		#foreach($!m in $getBDual)
		,['$m.ROLENAME','$i']
		#set($i=$i+1)
		#end
		]
	function getdual(){
		try{
			for(var i=1;i<=duallist.length;i++){
				if(duallist[i][0]!="")	document.form1.rolename.value=duallist[i][0].replace(/\s+/g,"");
				else document.form1.rolename.value=""
			}
		}catch(e){}
		for(var i=0;i<document.all.form1.roleid.options.length;i++){   
		if(document.all.form1.sroleid.value.indexOf(document.all.form1.roleid.options[i].value)>-1){
			     document.all.form1.roleid.options[i].selected=true;
			}
		}
	}
  </script>
</head>
<body onload='getdual()'>
<form name='form1' method='post' action='rolePur.aspx'>
	<table class="datatable" id='tb'>
		<tr class="trcolor">
			<td>角色:&nbsp;&nbsp;
				<select name='roleid'>
				<option value=''>请选择角色</option>
				#set($i=0)
				#foreach($!m in $tendRolename)
					<option value='$m.ROLEID'>$m.ROLENAME</option>
				#set($i=$i+1)
				#end
				</select>
	#set($i=0)
	#foreach($!m in $getBDual)
	<input type="hidden" name="sroleid" value='$m.ROLEID' >
	#set($i=$i+1)
	#end
			</td>
			<td><input type='button' name='button' value='新增加角色' onclick='show()'>
		</tr>
		<tr class="trcolor">
			<td><input type='submit' name='submit' value='查询' onclick='ss()'></td>
			</td>
			<td><input type='button' name='button' value='刷新'onclick='javascript:location.reload();'>
			</td>
		</tr>
	</table>
</form>
<form>
<table class="datatable" id='tab'>
  <tr class="trcolor">
    <td>角色</td>
    <td>角色ID</td>
    <td>操作</td>
  </tr>
</table>
<div style="width:100%;txt-align:center;border:3 double gray;">
<span id="pg"></span>
</div>
<script>
	 toPage(1);
</script>
</form>

<form name='addrole' method='post' action='addRolePurSub.aspx'>
	<table style="display:none" width="400" height="100" id='tabe' class="datatable">
		<tr class="trcolor">
			<td>
				角色名<input type='text' name='rolename' value=''>
			</td>
		</tr>
	</table>
</form>
</form>
</body>
</html>
<script language='javascript'>
	function h(){
		if(document.addrole.rolename.value==''){
		alert("角色名为空!")
		return false;
	}else{
	winMove.hide();
	addrole.submit();
		}
	}
function show(){
	winMove.show();
}
	var b = document.getElementsByName("addrole")[0];
	var btnMove = b.id;
	document.getElementById("tabe").style.display="block"
	var winMove=new alai_win_xp(tabe,"增加新角色",250,200)
	var btn = winMove.addButton("确定","js","h()")
</script>