<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<script src="../../inc/js/alai_win_xp.js" language="javascript"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<title></title>
<script>
	function dd(){
	    document.all.aaa.value='1';
	}
</script>
<script>
	function m(){
		var f = document.all.userid.value;
		document.all.del_userid.value = f;
		del_user.submit();
	}
</script>
<script>
	var sellist = new Array();
		sellist = [['序号','用户名','用户姓名','角色','用户ID','角色ID']
		#set($i=1)
		#foreach($!m in $tendRolejb)
		,['$i','$m.USERNAME','$m.NAME','$m.ROLENAME','$m.USERID','$m.ROLEID']
		#set($i=$i+1)
		#end
		]
	var pageSize=20;
	var pageno=0;
	var rdata=new Array();
	rdata=sellist;
function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
function toPage(page){
try{
  pageno=page;
  for(var i=tab.rows.length;i>1;i--) tab.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=tab.insertRow()
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerHTML="<a href='moduser1.aspx?userid="+ rdata[(page-1)*pageSize+i][4] + "&aaa=1&roleid="+rdata[(page-1)*pageSize+i][5]+"'>修改</a>&nbsp;&nbsp;<a href='newselPur.aspx?userid="+ rdata[(page-1)*pageSize+i][4] +"&roleid="+ rdata[(page-1)*pageSize+i][5] +"'>查看权限</a>"
	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function setVals(dm,mc,code) {
      setVal(dm,mc);
      user_add.ptype.value=code;
      user_add.ptypename.value=mc;
      user_add.ptypeid.value=dm;
}
function torole(){
   if(document.user_add.add_roleid.value=='R7307'){
       fenleiid.style.display="block";
   }else{
       fenleiid.style.display="none";
   }
}
</script>
</head>
<body>
<form name='form1' action='roleuser1.aspx' method='post'>
<table class="datatable">
  <tr class="trcolor">
    <td>用户名:
        <input type="text" name="username"/>
	<input type="hidden" name="aaa" value=''/>
    </td>
    <td>用户姓名:
          <input type="text" name="name"/>
          </td>
    <td>角色:&nbsp;&nbsp;
	<select name='roleid'>
	<option value=''>请选择角色</option>
	    #foreach($!m in $tendRolenamejb)
		<option value='$m.ROLEID' #if($form_roleid==$m.ROLEID)selected#end>$m.ROLENAME</option>
	    #set($i=$i+1)
	    #end
	</select>
	<input type="hidden" name="user_dept" value=''><input type="hidden" name="dept_id" value=''>
    </td>
  </tr>
  <tr class="trcolor">
    <td>
      <input type="submit" name="button" class="bt1" value="查询用户" onclick='dd()'/>
    </td>
    <td>&nbsp;
      <!--<input name="adduser" id="adduser" type="button" class="bt1"  value="增加用户" onclick='show()'/>-->
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
<br>
<form name='sel_user' action='updateUserSub.aspx' method='post'>
<table class="datatable" id='tab'>
  <tr class="trcolor">
    <td>序号</td>
    <td>用户名</td>
    <td>用户姓名</td>
    <td>角色</td>
    <td>操作</td>
  </tr>
</table>
<span id="pg"></span>
</form>
<script>
	 toPage(1);
</script>
<form name="user_add" id="user_add" action="" method="post">
<table id='tb' style="display:none" class="datatable">
  <tr class="trcolor">
    <td nowrap>用户名:</td>
    <td align="left">
      <input type="text" name="username" value=''/>
      <input type="hidden" name="id" value=''/><input type="hidden" name="add_user_dept" value=''/>
      <input type="hidden" name="password" value='E10ADC3949BA59ABBE56E057F20F883E'/><input type="hidden" name="deptname" value=''/>
    </td>
  </tr>
  <tr class="trcolor">
    <td nowrap>姓名:</td>
    <td align="left">
        <input type="text" name="name" value=''/>
    </td>
  </tr>
  <tr class="trcolor">
    <td nowrap>角色:</td>
    <td align="left">
	<select name='add_roleid' onchange="torole()">
	<option value=''>请选择角色</option>
	     #set($i=0)
	     #foreach($!m in $tendRolenamejb)
		<option value='$m.ROLEID'>$m.ROLENAME</option>
	     #set($i=$i+1)
	     #end
	</select>
    </td>
  </tr>
  <tr class="trcolor" id="fenleiid" style="display:none">
     <td>产品分类</td>
     <td align="left">
	<input type="text" name="ptypename" value="$!form_ptypename" readonly>
	<input type="hidden" name="ptype" value="$!form_ptype">
	<input type="hidden" name="ptypeid" value="$!form_ptypeid">
	<input type='button' name=bt class='bt1' value='选择' onclick="click_on_tree_selector($F('ptypename'),$F('dm_zzjg_tree_layer'))">
	<input type="button" value="清除" class="bt1" onclick="toclear()">
	<script language="javascript">
	    function toclear(){
		document.user_add.ptypename.value="";
		document.user_add.ptype.value="";
		document.user_add.ptypeid.value="";
	    }
	</script>
	<div class="dtree" id="dm_zzjg_tree_layer" style="relative:absolute;width:240px;height:208px;visibility:Hidden;z-index:1"> 
	<table width="100%" border="1" cellspacing="0" cellpadding="0" height="100%"><tr><td>
		<IFRAME style="width:100%;height:100%" name="swjgdm_tree_frame" marginWidth=0 marginHeight=0 src="class_tree.aspx" frameBorder=0 
			width="100%" height="100%" scrolling=auto BORDERCOLOR="#000000" ></IFRAME>
	</td></tr></table>
	</div>
	<script>
	   selector_layers[selector_layers.length]=document.all.dm_zzjg_tree_layer;
	</script>
      </td>
  </tr>
</table>
</form>
<form name="del_user" action="delUserSub.aspx" method="post">
	<input type = 'hidden' name='del_userid' value=''>
</form>
</body>
</html>
<script language='javascript'>
	function h(){
	        if(document.user_add.username.value==""){
		    alert("用户名不能为空");
		    document.user_add.username.focus();
		    return false;
		}
		if(document.user_add.name.value==""){
		    alert("姓名不能为空");
		    document.user_add.name.focus();
		    return false;
		}
		if(document.user_add.add_roleid.value==""){
			alert("请输入角色!");
			return false;
		}else{
		   if(document.user_add.add_roleid.value=='R7307'){
		      if(document.user_add.ptypename.value==''){
			alert("产品分类不能为空");
			click_on_tree_selector($F('ptypename'),$F('dm_zzjg_tree_layer'));
			return false;
		      }
		   }
		    winMove.hide();
		    user_add.action = "addUserSub1x.aspx";
		    user_add.submit();
		}
	}
function show(){
	winMove.show()
}
	/*var b = document.getElementsByName("adduser")[0];
	var btnMove = b.id;
	document.getElementById("tb").style.display="block"
	var winMove=new alai_win_xp(tb,"增加新用户",300,150)
	var btn = winMove.addButton("确定","js","h()") */
</script>