<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../../inc/js/calendarold.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar-setup.js"></script>
<script type="text/javascript" src="../../../inc/js/calendar-en.js"></script>
<title>=======</title>
</head>

<body onload="toPage(1)">
<form name="form2" method="post">
<table class="datatable" width="100%">
#foreach($!m in $querytendtime)
      <input type="hidden" name="ktine" id="ktine" value="$!m.KTINE">
#end
#foreach($!m in $seltenuser)
  <tr class="trcolor">
    <td colspan="3" align="left">项目名称:<a href="zbinfodetailall.aspx?proid=$!m.PROID&znum=$!m.ZNUM">$!m.PRONAME</a>&nbsp; 第($!m.ZNUM)轮
    <input type="hidden" name="proname" id="proname" value="$!m.PRONAME">
    <input type="hidden" name="proid" id="proid" value="$!m.PROID">
    <input type="hidden" name="znum" id="znum" value="$!m.ZNUM">
    <input type="hidden" name="prodesc" id="prodesc" value="$!m.PRODESC">
    <input type="hidden" name="prother" id="prother" value="$!m.PROTHER">
    <input type="hidden" name="tendtypeid" id="tendtypeid" value="$!m.TENDTYPEID">
    <input type="hidden" name="typeunitid" id="typeunitid" value="$!m.TYPEUNITID">
    <input type="hidden" name="tendstatus" id="tendstatus" value="$!m.STATUS">
    <input type="hidden" name="pic" id="pic" value="$!m.PIC">
    <input type="hidden" name="ppic" id="ppic" value="$!m.PPIC">
    <input type="hidden" name="isacc" id="isacc" value="$!m.ISACC">
    <input type="hidden" name="tendquantity" id="tendquantity" value="$!m.TENDQUANTITY">
    <input type="hidden" name="areaid" id="areaid" value="$!m.AREAID">
    <input type="hidden" name="prostatus" id="prostatus" value="$!m.PROSTATUS">
    <input type="hidden" name="ischeck" id="ischeck" value="$!m.ISCHECK">
    <input type="hidden" name="departid" id="departid" value="$!m.DEPARTID">
      </td>
  </tr>
  <tr class="trcolor">
    <td width="33%">项目模式:</td>
    <td width="33%">
	#if($!m.PROSTATUS == 'A')
	    正常
	#elseif($!m.PROSTATUS == 'Z')
	    停止
        #elseif($!m.PROSTATUS == 'S')
	    暂停
        #elseif($!m.PROSTATUS == 'K')
	    开标
	#elseif($!m.PROSTATUS == 'T')
	    进入谈判
        #end
    </td>
    <td width="33%">项目状态:#if($!m.STATUS == 'A')
	    普通模式
	#end
	#if($!m.STATUS == 'B')
	    竞价模式
        #end
    
    </td>
  </tr>
  <tr class="trcolor">
    <td>开始时间:<input type="text" name="atime" id="atime" value='$!m.ATIME' disabled></td>
    <td>开标时间:<input type="text" name="ktime" id="ktime" value='$!m.KTINE' disabled></td>
    <td>结束时间:<input type="text" name="ztime" id="ztime" value='$!m.ZTIME' disabled></td>
  </tr>
    <tr class="trcolor">
    <td>说明</td>
    <td colspan="2"><textarea name="zbtendbak" cols="60"  rows="6">$!m.PRODESC</textarea></td>
  </tr>
  <tr class="trcolor">
    <td>附件</td>
    <td colspan="2">
    #if($m.PROTHER != "")
      <a href="/DownFileServlet?filepath=$!m.PROTHER"">$m.PROTHER.substring($!m.PROTHER.lastIndexOf("/")).replace("/","") 
    </a>
    #end&nbsp;
    </td>
  </tr>
  <tr class="trcolor">
	<td  align="left" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;限#if($!m.PIC=='h')高#else低#end价:&nbsp;<input type="hidden" name="zhidaoprice1" id="zhidaoprice1" value="#if($!m.PIC=='h')#foreach($!mm in $selectmaxprice)$!mm.TENDPRICE#end#else#foreach($!mm in $selectminprice)$!mm.TENDPRICE#end#end" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"><input type="text" name="zhidaoprice" id="zhidaoprice" value="#if($!m.ISLIMITPRICE=='Y')0#else#if($!m.PIC=='h')#foreach($!mm in $selectminprice)$!mm.TENDPRICE#end#else#foreach($!mm in $selectmaxprice)$!mm.TENDPRICE#end#end#end" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">元/$!m.TYPENAME</td>
	<td colspan="2" align="left">
       &nbsp;&nbsp;&nbsp;&nbsp;下一轮开标时间:
       <select name="day1">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	</select>天
	<select name="hour1">
	<option value="0">0</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	</select>小时<select name="minute1">
	<option value="0" selected>0</option>
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="35">35</option>
	<option value="40">40</option>
	<option value="45">45</option>
	<option value="50">50</option>
	<option value="55">55</option>
	</select>分
    </td>
  </tr>
  <tr>
	<td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="islimitprice1" value="$!m.ISLIMITPRICE" #if($!m.ISLIMITPRICE == 'Y')checked#else disabled#end>是否限价</td><input type="hidden" name="islimitprice" value="$!m.ISLIMITPRICE">
  </tr>
  #if($!m.AREANAME != "")
     <tr>
	<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;到货目的地：<font color="red">$!m.AREANAME</font></td>
     </tr>
  #end
  <tr class="trcolor"><td colspan="3" align="left"><font color="red">中标或进入下一轮:#if($!m.PIC=='l')请选择高价#else请选择低价#end</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="b1" value="中&nbsp;&nbsp;标" class="bt1" onclick="save('K')"/>&nbsp;&nbsp;#if($!m.PROSTATUS!='T')<input type="button" value="进入谈判合同" class="bt1" onclick="save('T')"/>#end
      #if($!m.PROSTATUS=='A')<input type="button" name="b2" class="bt1" value="进入下一轮" onclick="save('F')"/>#end
      <!--<input type="button" name="b3" class="bt1" value="取消资格" onclick="tocancelcom()"/>-->
      <input type="button" name="b3" class="bt1" value="打&nbsp;&nbsp;印" onclick="toprint1('tenderprint.aspx?proid=$!m.PROID&num=$!m.ZNUM&pid=$!m.PID')"/>&nbsp;&nbsp;<input type="button" name="b3" class="bt1" value="返&nbsp;&nbsp;回" onclick="javascript:location.href='tenderinfo.aspx'"/></td></tr>
  #end
</table>
</form>
<table class="datatable" id='tab'>
  <tr class="trcolor">
    <td width="10%"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
    <td nowrap>投标项目ID</td>
    <td nowrap>投标人</td>
    <td nowrap>投标价</td>
    <td nowrap>招标价</td>
    <td nowrap>投标量</td>
    <td nowrap>招标量</td>
    <td nowrap>招标单位</td>
    <td nowrap>本轮是否投标</td>
    <td nowrap>投标说明</td>
  </tr>
</table>
<div align="right">
<span id="pg"></span>
</div>
<form name="form1" method="post" action=""  target="saveframe">
<span id="subdata"></span>
#foreach($!m in $seltenuser)
<input type='hidden' name='status'>
<input type='hidden' name='proid' value='$!m.PROID'>
<input type='hidden' name='atime' value='$!m.ATIME'>
<input type='hidden' name='ktime' value='$!m.KTINE'>
<input type='hidden' name='ktine'>
<input type='hidden' name='ztime' value='$!m.ZTIME'>
<input type='hidden' name='proname' value='$!m.PRONAME'>
<input type='hidden' name='prodesc' value='$!m.PRODESC'>
<input type='hidden' name='prother' value='$!m.PROTHER'>
<input type='hidden' name='tendtypeid' value='$!m.TENDTYPEID'>
<input type='hidden' name='znum' value='$!m.ZNUM'>
<input type='hidden' name='typeunitid' value='$!m.TYPEUNITID'>
<input type='hidden' name='tendstatus' value='$!m.STATUS'>
<input type='hidden' name='pic' value='$!m.PIC'>
<input type='hidden' name='ppic' value='$!m.PPIC'>
<input type='hidden' name='ppic1' value='$!m.PPIC'>
<input type='hidden' name='isacc' value='$!m.ISACC'>
<input type='hidden' name='zhidaoprice' value='#if($!m.PIC=='h')#foreach($!mm in $selectminprice)$!mm.TENDPRICE#end#else#foreach($!mm in $selectmaxprice)$!mm.TENDPRICE#end#end'>
<input type='hidden' name='tendquantity' value='$!m.TENDQUANTITY'>
<input type='hidden' name='areaid' value='$!m.AREAID'>
<input type='hidden' name='znum1' value='$!m.ZNUM'>
<input type='hidden' name='ischeck' value='$!m.ISCHECK'>
<input type='hidden' name='departid' value='$!m.DEPARTID'>
<input type='hidden' name='islimitprice' value='$!m.ISLIMITPRICE'>
<input type='hidden' name='enterprisecode' value='$!m.ENTERPRISECODE'>
#end
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>
</html>
<script language="javascript">
        String.prototype.Trim = function() 
	{ 
	return this.replace(/(^\s*)|(\s*$)/g, ""); 
	} 
	var tmpdata = new Array();
	var bData1 = new Array();
		tmpdata = [['ID0','投标商1','价格2','说明3','附件4','序号5','选中6','次数7','用户名8','投标时间9','供货能力10','单位11','投标量12','招标量13','aaa14','是否投标15','状态16','项目ID17','招标价18','tendbak19','tendoter20','结束时间21','当前时间22','是否限价23']
		#set($i=1)
		#foreach($!m in $seltendedailx)
		,['$!m.PID','$!m.COMPANY','$!m.TENDPRICE','$!m.TENDBAK&nbsp;','#if($!m.TENDOTER!="")<a href="/DownFileServlet?filepath=$!m.TENDOTER">$m.TENDOTER.substring($!m.TENDOTER.lastIndexOf("/")).replace("/","")#else&nbsp;#end','$i','N','$!m.TENDNUM','$!m.USERID','$!m.TENDTIME','$!m.SUPPLY','$!m.TYPENAME','$!m.QUANTITY','$!m.TENDQUANTITY','$!m.TENDPRICE','$!m.ISCAST','$!m.TENDSTATUS','$!m.PROID','$!m.PPIC','$!m.TENDBAK','$m.TENDOTER','$m.ZTIME','$m.SYSDATETIME','$m.ISLIMITPRICE']
		  #set($i=$i+1)
		  #end
		]
	var bData1Asc = new Array();
		bData1Asc = [['ID0','投标商1','价格2','说明3','附件4','序号5','选中6','次数7','用户名8','投标时间9','供货能力10','单位11','投标量12','招标量13','aaa14','是否投标15','状态16','项目ID17','招标价18','tendbak19','tendoter20','结束时间21','当前时间22','是否限价23']
		#set($i=1)
		#foreach($!m in $seltendedail1)
		,['$!m.PID','$!m.COMPANY','$!m.TENDPRICE','$!m.TENDBAK&nbsp;','#if($!m.TENDOTER!="")<a href="/DownFileServlet?filepath=$!m.TENDOTER">$m.TENDOTER.substring($!m.TENDOTER.lastIndexOf("/")).replace("/","")#else&nbsp;#end','$i','N','$!m.TENDNUM','$!m.USERID','$!m.TENDTIME','$!m.SUPPLY','$!m.TYPENAME','$!m.QUANTITY','$!m.TENDQUANTITY','$!m.TENDPRICE','$!m.ISCAST','$!m.TENDSTATUS','$!m.PROID','$!m.PPIC','$!m.TENDBAK','$m.TENDOTER','$m.ZTIME','$m.SYSDATETIME','$m.ISLIMITPRICE']
		  #set($i=$i+1)
		  #end
		]
var pageSize=30;
var pageno=0;
var rdata=new Array();
if(document.form2.pic.value=='l'){
   rdata=tmpdata;
   bData1=tmpdata;
}else{
   rdata=bData1Asc;
   bData1=bData1Asc;
}
function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=tab.rows.length;i>1;i--) tab.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++)
    if(((page-1)*pageSize+i)<rdata.length){{
  	  var row=tab.insertRow();
	  var nowrow = (page-1)*pageSize+i;
	  if(rdata[(page-1)*pageSize+i][6]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' onclick='togetprice()'>";
          row.insertCell().innerHTML='<a href=zbinfodetailall.aspx?proid='+rdata[(page-1)*pageSize+i][17]+'&pid='+rdata[(page-1)*pageSize+i][0]+'>'+rdata[(page-1)*pageSize+i][17]+'</a>';
	  if(new Date(new Date(rdata[(page-1)*pageSize+i][22].replace(/-/g,"/"))-new Date(rdata[(page-1)*pageSize+i][21].replace(/-/g,"/")))/(24*60*60*1000) > 0){
		  if(rdata[(page-1)*pageSize+i][10] == 'A'){
		      row.insertCell().innerHTML="<font color='red'>"+rdata[(page-1)*pageSize+i][1]+"</font>";
		  }else{
		      row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][1];
		  }
          }else{
	       if(rdata[(page-1)*pageSize+i][10] == 'A'){
		      row.insertCell().innerHTML="<font color='red'>******</font>";
	       }else{
		      row.insertCell().innerHTML="******";
	       }
	  }
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][2]+"元";
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][18];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][12];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][13];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][11];
	  if(rdata[(page-1)*pageSize+i][15]=='N'){
	     row.insertCell().innerHTML='否';
	  }else{
	    row.insertCell().innerHTML='<font color="red">是</font>';
	  }
	  if(new Date(new Date(rdata[(page-1)*pageSize+i][22].replace(/-/g,"/"))-new Date(rdata[(page-1)*pageSize+i][21].replace(/-/g,"/")))/(24*60*60*1000) > 0){
	       row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][3].replace("&amp;nbsp;","")+"&nbsp;";
          }else{
	       if(rdata[(page-1)*pageSize+i][19] != ""){
	           row.insertCell().innerHTML="******";
	       }else{
	           row.insertCell().innerHTML="&nbsp;";
	       }
	  }
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function togetprice(){
   try{ 
	 savepage(pageno);
	 var count = 0;
	 for(var i=1;i<bData1.length;i++){
	     if(bData1[i][6]=='Y'){
	        count ++;
		if(count == 1){
		   if(document.form2.islimitprice1.checked){
		   
		   }else{
			if(document.form1.pic.value == 'h'){
		            document.getElementById('zhidaoprice').value=bData1[i][14];
			}else if(document.form1.pic.value == 'l'){
			    document.getElementById('zhidaoprice').value=bData1[i][14];
			}
		   }
		}
	    }
        }
  }catch(e){
       alert(e.description)
  }
}
function save(bst){
	try{ 
		savepage(pageno);
		var datahtml="";
		var count = 0;
		var xx = 0;
		for(var i=1;i<bData1.length;i++){
		    if(bData1[i][6]=='Y'){
		        count++;
			datahtml+="<input type=hidden name=pid value='"+bData1[i][0]+"'>";
			datahtml+="<input type=hidden name=company value='"+bData1[i][1]+"'>";
		        datahtml+="<input type=hidden name=tendprice value='"+bData1[i][14]+"'>";
		        datahtml+="<input type=hidden name=tendbak value='"+bData1[i][19]+"'>";
		        datahtml+="<input type=hidden name=tendoter value='"+bData1[i][20]+"'>";
		        datahtml+="<input type=hidden name=tendnum2 value='"+parseInt(bData1[i][7])+"'>";
		        datahtml+="<input type=hidden name=tenduserid value='"+bData1[i][8]+"'>";
		        datahtml+="<input type=hidden name=tendtime value='"+bData1[i][9]+"'>";
			datahtml+="<input type=hidden name=quantity value='"+bData1[i][12]+"'>";
			if(bData1[i][15] == 'Y'){
			   xx++;
			}
		    }
	      }
	}catch(e){}
	if(count > 0){
		 subdata.innerHTML=datahtml;
		 document.form1.status.value=bst;
		 if(bst == 'F'){
			 if(document.form2.zhidaoprice.value==""){
			  alert("价格不能为空！");
			  document.form2.zhidaoprice.focus();
			  return false;
			 }else{
			   var re = /^[0-9]+.?[0-9]*$/;
			   if(!re.test(document.form2.zhidaoprice.value)){
			       alert("价格不是数字");
			       document.form2.zhidaoprice.select();
			       return false;
			   }else{
                               if(document.form2.islimitprice1.checked){
		                 document.form1.islimitprice.value="Y";
				 if(document.form2.zhidaoprice.value!='0'){
					alert("不限价模式，价格必须为0");
					document.form2.zhidaoprice.value='0'
					return false;
				 }
		               }else{
			           if(document.form2.zhidaoprice.value=='0'){
					alert("限价模式，价格不能为0");
					return false;
				   }
		                   document.form1.islimitprice.value="N";
				     if(document.form2.pic.value=='h'){
					if(parseInt(document.form2.zhidaoprice1.value) < parseInt(document.form2.zhidaoprice.value)){
					    alert("价格不能高于"+document.form2.zhidaoprice1.value);
					    document.form2.zhidaoprice.select();
					    return false;
					}
				     }else{
					if(parseInt(document.form2.zhidaoprice1.value) > parseInt(document.form2.zhidaoprice.value)){
					    alert("价格不能低于"+document.form2.zhidaoprice1.value);
					    document.form2.zhidaoprice.select();
					    return false;
					}
				     }
				 }
			    }
			 }
		 }
		 if(bst == 'F'){
		      if(xx == 0){
			   alert("没有人投标，不能进入下一轮");
			   return false;
		      }
		      document.form1.ppic1.value=document.form2.zhidaoprice.value;
		      document.form1.tendquantity.value=document.form2.tendquantity.value;
                      document.form1.areaid.value=document.form2.areaid.value;
		      document.form1.ischeck.value=document.form2.ischeck.value;
		      document.form1.prodesc.value=document.form2.zbtendbak.value;
		      if(document.form2.ktime.value==document.form2.ztime.value){
		            alert("开标时间等于结束时间，不能进入下一轮！！！");
			    return false;
		      }else{
			      var time =  new Date(new Date(document.form2.ktime.value.replace("-","/").replace("-","/")).getTime()+document.form2.day1.value*24*60*60*1000+document.form2.hour1.value*60*60*1000+document.form2.minute1.value*60*1000).print("%Y-%m-%d %H:%M");
			      document.form1.ktime.value = time;
			      if(time == document.form2.ktime.value){
				  /*alert("请选择下一轮开标时间");
				  return false;*/
			      }else{
				  if((new Date(time.replace(/-/g,"/"))-new Date(document.form2.ztime.value.replace(/-/g,"/")))/(24*60*60*1000) > 0){
				      document.form1.ktime.value = document.form2.ztime.value;
				  }
			      }
			      if((new Date(time.replace(/-/g,"/"))-new Date(document.form2.ztime.value.replace(/-/g,"/")))/(24*60*60*1000) > 0){
				    document.form1.ktime.value = document.form2.ztime.value;
			      }
		        }
		 }
		 if(bst=='F'){
		 document.form1.znum.value = parseInt(document.form1.znum.value)+parseInt(1);
		 document.all.form1.action="upstatusub.aspx";
		 }else{
		 document.all.form1.action="upstatusub3.aspx";
		 }
		 document.all.form1.target="saveframe";
		 document.all.form1.submit();
        }else{
	     alert("至少选择一条记录");
	     return false;
	}
 }

 function tocancelcom(){
      try{ 
	   savepage(pageno);
	   var datahtml="";
	   var count = 0;
	   for(var i=1;i<bData1.length;i++){
	      if(bData1[i][6]=='Y'){
		count++;
		datahtml+="<input type=hidden name=pid value='"+bData1[i][0]+"'>";
	      }
           }
       }catch(e){}
       if(count > 0){
             subdata.innerHTML=datahtml;
             document.all.form1.action="uptendcancelcom.aspx";
             document.all.form1.target="saveframe";
             document.all.form1.submit();
       }else{
	     alert("至少选择一条记录");
	     return false;
       }
 }

function savepage(page)
{
  if(page>0){
    for(var i=1;i<tab.rows.length;i++){
      if(document.all.checkbox[i].checked){
	      rdata[(page-1)*pageSize+i][6]='Y';
	      rdata[(page-1)*pageSize+i][7] = parseInt(bData1[i][7])+1;
      } else {rdata[(page-1)*pageSize+i][6]='N';}
      for(var j=1;j<3;j++){
        if(tab.rows[i].cells[j+1].innerText==""){
	  rdata[(page-1)*pageSize+i][j]=document.all.editbox.value;
	}
	else{
          rdata[(page-1)*pageSize+i][j]=tab.rows[i].cells[j].innerText;
        }
      }
      bData1[rdata[(page-1)*pageSize+i][5]]=rdata[(page-1)*pageSize+i];
    }
  }
}

function seldata(obj)
{
   if(document.form2.islimitprice1.checked){
        if(obj.checked == true){
	       for(var i=1;i<tab.rows.length;i++){
		    document.all.checkbox[i].checked=true;
	       }
	   }else{
	       for(var i=1;i<tab.rows.length;i++){
		    document.all.checkbox[i].checked=false;
	       }
	   }
	   document.getElementById('zhidaoprice').value='0';
   }else{
	   if(obj.checked == true){
	       for(var i=1;i<tab.rows.length;i++){
		    document.all.checkbox[i].checked=true;
		    document.getElementById('zhidaoprice').value=rdata[1][14];
	       }
	   }else{
	       for(var i=1;i<tab.rows.length;i++){
		    document.all.checkbox[i].checked=false;
	       }
	   }
     }
}
function toprint1(url){
   window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
}
function imp(){
	var ReturnAllQualityValue=showModalDialog('nextpage.aspx',"a",'dialogWidth:250px;dialogHeight:200px;dialogLeft:370px;dialogTop:320px;center:yes; help:yes;resizable:yes;status:yes');
	  
  }
</script>