<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>竞价模式</title>
<script language="javascript">
	function v(){
		var aaa = new Array();
		aaa = [['序号','值1','值2']
		 #set($i=0)
		#foreach ($!n in $selmaxnum)
		,['$i','$!n.PID','$!n.TENDNUM']
		#set($i=$i+1)
		#end
		]
		if(aaa.length==1){
		}else{
			document.all.pids.value=aaa[1][1];
			document.all.tendnum1.value=aaa[1][2];
		}
		var c = document.all.pic.value;
		if(document.all.tendnum1.value==""){
			document.all.tendnum.value=1;
		}else{
			var a = parseInt(document.all.tendnum1.value);
			document.all.tendnum.value = a+1;
		}
		var b= new Date();
		document.all.pid.value=b.getTime();
		var datahtml="";
		var bbb = new Array();
		bbb = [['序号','值1']
		#set($j=0)
		#foreach ($!n in $selectareaprice)
	       ,['$j','$!n.AREAID']
		#set($j=$j+1)
	       #end
	       ]
	       var ccc = new Array();
		ccc = [['序号','值1']
		#set($j=0)
		#foreach ($!n in $queryuserjjareaprice)
		,['$j','$!n.AREAID']
		#set($j=$j+1)
		#end
		]
		var length = 0;
		var length1 = 0;
		var cou = 0;
		if(ccc.length == 1){
		    if(bbb.length > ccc.length){
		           length = bbb.length;
			   length1 = bbb.length;
		    }
		}else{
		    if(bbb.length >= ccc.length){
		           length = ccc.length;
			   length1 = bbb.length;
		    }
		}
		for(var i = 0 ; i < length-1; i ++){
		    for(var j = 1 ; j < length1; j++){
		       if(document.getElementById('zbareaid'+i).value == document.getElementById('tbareaid'+j).value){
			   if(c == "h"){
			      if(document.getElementById('toubiaoprice'+i).value != ""){
				if(parseFloat(document.getElementById('toubiaoprice'+i).value) > parseFloat(document.getElementById('tbpriceid'+j).value)){
				   alert("投标价大于招标价！！！");
				   document.getElementById('toubiaoprice'+i).select();
				   return false;
				}
			      }
			      if(document.getElementById('toubiaoquantity'+i).value != ""){
				if(parseInt(document.getElementById('toubiaoquantity'+i).value) > parseInt(document.getElementById('tbquantity'+i).value)){
				   alert("投标量大于招标量！！！");
				   document.getElementById('toubiaoquantity'+i).select();
				   return false;
				}
			      }
			      if(document.getElementById('toubiaoprice'+i).value != "" && document.getElementById('toubiaoquantity'+i).value != ""){
				    if(document.getElementById('toubiaoprice'+i).value != "0" && document.getElementById('toubiaoquantity'+i).value != "0"){
					  cou++;
					  datahtml+="<input type='hidden' name='toubiaoareaname' value='"+document.getElementById('toubiaoareaname'+i).value+"'><input type='hidden' name='toubiaoprice' value='"+document.getElementById('toubiaoprice'+i).value+"'><input type='hidden' name='toubiaoquantity' value='"+document.getElementById('toubiaoquantity'+i).value+"'><input type='hidden' name='toubiaopid' value='"+new Date().getTime()+i+"'>" ;
					  datahtml+="<input type='hidden' name='pidid' value='"+document.getElementById('pidid'+i).value+"'>";
			             }
			      }
			    }
			    if(c == "l"){
				if(document.getElementById('toubiaoprice'+i).value != ""){
				   if(parseFloat(document.getElementById('toubiaoprice'+i).value) < parseFloat(document.getElementById('tbpriceid'+j).value)){
				       alert("投标价小于招标价！！！");
				       document.getElementById('toubiaoprice'+i).select();
				       return false;
				   }
				}
				if(document.getElementById('toubiaoquantity'+i).value != ""){
				    if(parseInt(document.getElementById('toubiaoquantity'+i).value) > parseInt(document.getElementById('tbquantity'+i).value)){
					alert("投标量大于招标量！！！");
					document.getElementById('toubiaoquantity'+i).select();
					return false;
				    }
				}
				if(document.getElementById('toubiaoprice'+i).value != "" && document.getElementById('toubiaoquantity'+i).value != ""){
				    if(document.getElementById('toubiaoprice'+i).value != "0" && document.getElementById('toubiaoquantity'+i).value != "0"){
					  cou++;
					  datahtml+="<input type='hidden' name='toubiaoareaname' value='"+document.getElementById('toubiaoareaname'+i).value+"'><input type='hidden' name='toubiaoprice' value='"+document.getElementById('toubiaoprice'+i).value+"'><input type='hidden' name='toubiaoquantity' value='"+document.getElementById('toubiaoquantity'+i).value+"'><input type='hidden' name='toubiaopid' value='"+new Date().getTime()+i+"'>" ;
					  datahtml+="<input type='hidden' name='pidid' value='"+document.getElementById('pidid'+i).value+"'>";
				     }
			        }
			    }
		       }
		    }
		    
		} 
		if(cou == 0){
		    alert("至少投一个到岸地价格");
		    return false;
		}
		subdata.innerHTML=datahtml;
		if(document.all.tendnum1.value== $form_znum){ 
		    document.form1.iscast.value='Y';
		    document.form1.pid.value=document.all.pids.value;
		    document.form1.action = "updatetenderareapricesub.aspx";
		}else{
		    document.form1.iscast.value='Y';
		    document.form1.action = "intenderareapricesub.aspx";
		}
                form1.submit();
	}
	function show(){
		document.form1.proid.value = '$form_proid';
		document.form1.znum.value = '$form_znum';
		if($form_znum == 1){ 
		     var a = '#foreach ($!n in $seltendusertpid)$!n.USERID#end';
		     var b = '#foreach ($!n in $seltendusertpidcount)$!n.USERID#end';
		     var c = '#foreach ($!n in $querytender)$!n.ISACC#end';
		     var d = '#foreach ($!n in $querytender)$!n.ZNUM #end'.replace(/(^\s*)|(\s*$)/g,"");
		     if(d != $!form_znum){
			     document.location.href='tenderCon.aspx';
		     }else{
			     if(c.replace(/(^\s*)|(\s*$)/g,"") == 'Y'){
				     if(b.replace(/(^\s*)|(\s*$)/g,"") == 0){ 
					     if(a.replace(/(^\s*)|(\s*$)/g,"") == ""){
						document.getElementById('sp1').style.display="block";
						document.getElementById('tab').style.display="none";
					     }
				      }else{
					if(a == ""){
					      document.getElementById('sp1').style.display="block";
					      document.getElementById('tab').style.display="none";
					}
				      }
			     }
		      }
		}else{
			var a = '#foreach ($!n in $querytenderuserstatus1) $!n.PROID #end';
			var c = '#foreach ($!n in $querytender) $!n.ISACC #end';
			var b = '#foreach ($!n in $seltendusertpidcount) $!n.USERID #end';
			var d = '#foreach ($!n in $querytender) $!n.ZNUM #end'.replace(/(^\s*)|(\s*$)/g,"");
			if(d != $!form_znum){
			     document.location.href='tenderCon.aspx';
		        }else{
				if(c.replace(/(^\s*)|(\s*$)/g,"") == 'Y'){
					if(b.replace(/(^\s*)|(\s*$)/g,"") == 0){
					     document.getElementById('sp1').style.display="block";
					     document.getElementById('tab').style.display="none";
					}else{
					    if(a == ""){ 
						    document.getElementById('sp').style.display="block";
						    document.getElementById('tab').style.display="none";
					    }
					}
				}else{
				     if(a == ""){ 
					    document.getElementById('sp').style.display="block";
					    document.getElementById('tab').style.display="none";
				    }
				}
			}
		}
	}
</script>
</head>

<body onload="show()">
<span id='sp1' style="display:none">
<table>
	<tr>
		<td align="center">
			没有授权，不能投标！！！！
		</td>
	</tr>
	<tr>
		<td align="center">
			<input type="button" class="bt1" name="returnback" value="返回" onclick="document.location.href='tenderCon.aspx'">
		</td>
	</tr>
</table>
</span>
<span id='sp' style="display:none">
<table>
	<tr>
		<td align="center">
			没有进入下一轮，不能竞标！！！！
		</td>
	</tr>
	<tr>
		<td align="center">
			<input type="button" class="bt1" name="returnback" value="返回" onclick="document.location.href='tenderCon.aspx'">
		</td>
	</tr>
</table>
</span>
<form name="form1" action="" method="post" target="dataframe">
<table class="datatable" id='tab'>
#set($i=1)
#foreach($!m in $selminprice2) 
  <tr class="trcolor">
    <td colspan="4" align="left">项目名称(竞价模式):$!m.PRONAME(第$form_znum轮)</td>
  </tr>
  <tr class="trcolor">
	<td align="center" colspan="4"><font color="red">限最#if($!m.PIC == 'h')高#else低#end招标价</font>
	</td>
  </tr>
  <tr class="trcolor">
                 <td nowrap width="25%" align="center">&nbsp;&nbsp;&nbsp;到岸地&nbsp;&nbsp;&nbsp;</td>
		 <td nowrap width="25%" align="center">&nbsp;&nbsp;&nbsp;招标价&nbsp;&nbsp;&nbsp;</td>
		 <td nowrap width="25%" align="center">&nbsp;&nbsp;&nbsp;招标量&nbsp;&nbsp;&nbsp;</td>
		 <td nowrap width="25%" align="center">&nbsp;&nbsp;&nbsp;单位&nbsp;&nbsp;&nbsp;</td>
	     </tr>
	     #if($!m.PIC == 'h')  
                   #set($j=1) 
		     #foreach ($!m2 in $queryminareaprice)
		     #set($j=$j+1)
		     #end  
		     #if($j==1)  
                         #set($i=1)
			     #foreach ($!m2 in $selectareaprice)
			     <tr>
				<td align="center">
				   $!m2.AREANAME 
				</td>
				<td>
				   $!m2.PRICE元
				   <input type="hidden" id="tbareaid$i" value="$!m2.AREAID">
				   <input type="hidden" id="tbpriceid$i" value="$!m2.PRICE">
				</td>
				<td>
				   $!m2.TENDQUANTITY 
				</td>
				<td align="center">
				   $!m.TYPENAME 
				</td>
			     </tr>
			     #set($i=$i+1)
			     #end
		     #else 
		           #set($i=1)
                            #foreach ($!m2 in $queryminareaprice)
			     <tr>
				<td align="center">
				   $!m2.AREANAME
				</td>
				<td>
				   <input type="text" name="tbpriceid$i" id="tbpriceid$i" disabled>元
				   <input type="hidden" id="tbareaid$i" value="$!m2.AREAID">
				   <script language="javascript">
					if(parseFloat($!m2.PRICE) > parseFloat($!m2.ZBPRICE)){
					     document.getElementById('tbpriceid'+$i).value=$!m2.ZBPRICE;
					}else{
					     document.getElementById('tbpriceid'+$i).value=$!m2.PRICE;
					}
				   </script>
				</td>
				<td>
				   $!m2.TENDQUANTITY
				</td>
				<td align="center">
				   $!m.TYPENAME 
				</td>
			     </tr>
			     #set($i=$i+1)
			     #end
		     #end
		 
	     #else  
		#set($j=1)
		#foreach ($!m2 in $querymaxareaprice)
		#set($j=$j+1)
		#end
	        #if($j==1)
		   #set($i=1)
		     #foreach ($!m2 in $selectareaprice)
		     <tr>
			<td align="center">
			   $!m2.AREANAME 
			</td>
			<td>
			   $!m2.PRICE元
			   <input type="hidden" id="tbareaid$i" value="$!m2.AREAID">
			   <input type="hidden" id="tbpriceid$i" value="$!m2.PRICE">
			</td>
			<td>
			   $!m2.TENDQUANTITY
			</td>
			<td align="center">
			   $!m.TYPENAME 
			</td>
		     </tr>
		     #set($i=$i+1)
		     #end
	       #else
		    #set($i=1)
			#foreach ($!m2 in $querymaxareaprice)
	                   <tr>
				<td align="center">
				  $!m2.AREANAME
				</td>
				<td>
				   <input type="text" name="tbpriceid$i" id="tbpriceid$i" disabled>元
				   <input type="hidden" id="tbareaid$i" value="$!m2.AREAID">
				   <script language="javascript">
					if(parseFloat($!m2.PRICE) < parseFloat($!m2.ZBPRICE)){
					     document.getElementById('tbpriceid'+$i).value=$!m2.ZBPRICE;
					}else{
					     document.getElementById('tbpriceid'+$i).value=$!m2.PRICE;
					}
				   </script>
				</td>
				<td>
				   $!m2.TENDQUANTITY
				</td>
				<td align="center">
				   $!m.TYPENAME 
				</td>
			     </tr>
		    #set($i=$i+1)
		    #end
		#end
          #end
	     
  <tr class="trcolor">
	<td align="right">招标开始时间:$!m.ATIME </td>
	<td align="left" colspan="3"><font color="red">本轮投标截止时间:$!m.KTINE</font>  招标结束时间:$m.ZTIME</td>
  </tr>
  <tr class="trcolor">
    <td align="left" colspan="4">&nbsp;<!--离本轮开标时间还有<span id="timeid">--></span>
    <input type="hidden" name="proid" value="$form_proid">
    <input type="hidden" name="pid" value="">
    <input type="hidden" name="tendstatus" value="F">
    <input type="hidden" name="maprice" value="$!m.MAPRICE">
    <input type="hidden" name="miprice" value="$!m.MIPRICE">
    <input type="hidden" name="pic" value="$!m.PIC">
    <input type="hidden" name="ppic" value="$!m.PPIC">
    <input type="hidden" name="tendnum2" value="$!m.TENDNUM">
    <input type="hidden" name="pids" value="">
    <input type="hidden" name="tendnum1" value="">
    <input type="hidden" name="tendnum" value="">
    <input type="hidden" name="iscast" value="">
    <input type="hidden" name="znum" value="">
    <input type="hidden" name="tendtypeid" value="$!m.TENDTYPEID">
    <input type="hidden" name="ktine" value="$!m.KTINE">
    </td>
  </tr>
  <tr class="trcolor">
    <td>&nbsp;</td>
    <td colspan="3" align="left"><table width="100%">
  <tr class="trcolor">
	<td>到岸地</td>
	<td>投标价</td>
	<td>投标量</td>
	<td>单位</td>
  </tr>
      #set($j=0) 
		     #foreach ($!m1 in $queryuserjjareaprice)
		     #set($j=$j+1) 
		     #end  
		     #if($j==0)
                         #set($i=0)
			     #foreach ($!m1 in $selectareaprice) 
			      <tr>
				 <td><input type="hidden" name="toubiaoareaname$i" id="toubiaoareaname$i" value="$!m1.AREAID">$!m1.AREANAME</td>
				 <td><input type="text" name="toubiaoprice$i" id="toubiaoprice$i" value="" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">元
				 </td>
				 <td><input type="text" name="toubiaoquantity$i" id="toubiaoquantity$i" value="$!m1.TENDQUANTITY" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"></td><input type="hidden" name="tbprice$i" id="tbprice$i" value="$!m1.PRICE"><input type="hidden" name="tbquantity$i" id="tbquantity$i" value="$!m1.TENDQUANTITY"><input type="hidden" name="pidid$i" id="pidid$i" value=""><input type="hidden" name="zbareaid$i" id="zbareaid$i" value="$!m1.AREAID"><input type="hidden" name="ptendbak$i" value=""><input type="hidden" name="ptendoter$i" value="">
				 <td>$!m.TYPENAME</td>
			     </tr>
			     #set($i=$i+1)
			     #end
		         #else  
			  #set($i=0)
                            #foreach ($!m1 in $queryuserjjareaprice)  
			      <tr>
				 <td><input type="hidden" name="toubiaoareaname$i" id="toubiaoareaname$i" value="$!m1.AREAID">$!m1.AREANAME</td>
				 <td>
	<input type="text" name="toubiaoprice$i" id="toubiaoprice$i" value="" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">元</td>
				 <td>
        <input type="text" name="toubiaoquantity$i" id="toubiaoquantity$i" value="$!m1.QUANTITY" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')">
</td>
	<input type="hidden" name="tbprice$i" id="tbprice$i" value="$!m1.PRICE">
	<input type="hidden" name="tbquantity$i" id="tbquantity$i" value="$!m1.TENDQUANTITY">
	<input type="hidden" name="pidid$i" id="pidid$i" value="$!m1.PIDS"><input type="hidden" name="zbareaid$i" id="zbareaid$i" value="$!m1.AREAID"><input type="hidden" name="ptendbak$i" value="$!m1.TENDBAK"><input type="hidden" name="ptendoter$i" value="$!m1.TENDOTER">
	<td>$!m.TYPENAME</td>
			     </tr>
			     #set($i=$i+1)
			     #end
		     #end
  </table>
    </td>
  </tr>
  <tr class="trcolor">
    <td align="right">说明:</td>
    <td align="left"  colspan="3"><textarea name="tendbak" cols="80"  rows="6"></textarea>    </td>
  </tr>
  <tr class="trcolor">
    <td align="right">投标附件</td>
    <td align="left" colspan="3">
         <input name="paper" type="text" size="40" value="" contenteditable="false"/>
	<input type="button" name="Submit22" class="bt1" value="文件上传" onClick="window.open('pfile.jsp?formname=form1&picurl=paper&type=jingbiaoinfo&tendtypeid='+document.form1.tendtypeid.value,'','status=no,scrollbars=no,top=160,left=150,width=450,height=365')">
    </td>
  </tr>
  <script language="javascript">
	document.form1.tendbak.value = document.form1.ptendbak0.value;
	document.form1.paper.value = document.form1.ptendoter0.value;
  </script>
  <span id="subdata"></span>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
    <td colspan="4" align="center">
    <input type="button" name="button" class="bt1" value="提&nbsp;&nbsp;交" onclick="v()"/>
    <input type="button" name="button" class="bt1" value="返&nbsp;&nbsp;回" onclick="javascript:location.href='tenderCon.aspx'"/>
    <input type="button" name="button" class="bt1" value="刷&nbsp;&nbsp;新" onclick="javascript:location.reload()"/></td>
  </tr>
</table>
</form>
        </div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
<script language="javascript">
    function show_date_time(){ 
	window.setTimeout("show_date_time()", 1); 
	BirthDay=new Date(new Date(document.form1.ktine.value.replace("-","/")));//设置日期 
	today=new Date(); 
	timeold=(BirthDay.getTime()-today.getTime()); 
	if(timeold < 0){
	   document.location.href="tenderCon.aspx";
	}
	sectimeold=timeold/1000 
	secondsold=Math.floor(sectimeold); 
	msPerDay=24*60*60*1000 
	e_daysold=timeold/msPerDay 
	daysold=Math.floor(e_daysold); 
	e_hrsold=(e_daysold-daysold)*24; 
	hrsold=Math.floor(e_hrsold); 
	e_minsold=(e_hrsold-hrsold)*60;
	minsold=Math.floor((e_hrsold-hrsold)*60); 
	e_seconds = (e_minsold-minsold)*60;
	seconds=Math.floor((e_minsold-minsold)*60); 
	timeid.innerHTML="<b><align=center><font color=00CC00>"+daysold+"天"+hrsold+"小时"+minsold+"分"+seconds+"秒</b><br></font>";
    } 
</script>
