<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>项目信息管理</title>
</head>
<body>
<form name="thisform" method="post">
<table class="datatable">
<input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <tr>
	<td><input type="text" name="vendorcode" id="vendorcode" value=""></td>
	<td><input type="text" name="vendorname" id="vendorname" value=""></td>
   </tr>
  <tr class="trcolor">
    <td colspan="6" align="left">项目信息管理</td>
  </tr>
  <tr class="trcolor">
    <td nowrap>项目名称</td>
    <td nowrap>开始时间</td>
    <td nowrap>开标时间</td>
     <td nowrap>结束时间</td>
    <td nowrap>项目状态</td>
  </tr>
  #set($i=1)
  #foreach($!m in $selcountnum1)  
  <tr>
    <td nowrap>#if($!m.ISAREA == 'Y')<a href="zbinfodetailarea.aspx?proid=$!m.PROID">$!m.PRONAME</a>#else<a href="zbinfodetail.aspx?proid=$!m.PROID">$!m.PRONAME</a>#end &nbsp;[目前投标人数:($!m.USID)人。第($!m.ZNUM)轮]</td>
    <td nowrap>
	$!m.ATIME
    </td>
    <td nowrap>
	$!m.KTINE
    </td>
    <td nowrap>
	$!m.ZTIME
    </td>
    <td align="center" nowrap>
	#if($!m.PROSTATUS=='A') 正常 
    #end
    	#if($!m.PROSTATUS=='Z') 停止
    #end
	#if($!m.PROSTATUS=='S') 暂停
    #end
	#if($!m.PROSTATUS=='K') 开标
    #end
        #if($!m.PROSTATUS=='T') 进入谈判合同
    #end
    </td>
  </tr>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
    <td colspan="6">      
      <input type="button" name="b2" value="刷&nbsp;&nbsp;新" class="bt1" onclick="javascript:location.reload()"/>
      <input type="button" name="b2" value="新建" class="bt1" onclick="window.showModalDialog('/sys/role.jsp','','width=350,height=255')"/>
      <input type="button" name="b2" value="新建供应商" class="bt1" onclick="getVendor()"/>
      <input type="button" name="b2" value="新建产品" class="bt1" onclick="getProduct()"/>
      </td>
  </tr>
  <tr>
      <td class="tdlabel" colspan="6">$pagecode</td>
   </tr>
</table>
</form>

    <div>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
<script language="javascript">
	function getVendor(){
	//alert((screen.height - 600) / 2);
	//alert((screen.width - 650) / 2 );
	     window.open('testvendor.aspx','','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
	}
	function getProduct(){
	    window.open('testproduct.aspx','','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
	}
</script>
