<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
	var price = "0";
	var prcstatus ;
    #set($i=0)
    #foreach($m in $selminprice2)
      #set($i=$i+1)
      if('$m.PIC' == 'l'){
         price =  '$!m.MAPRICE';
      }else if('$m.PIC' == 'h'){
         price =  '$!m.MIPRICE';
      }
      prcstatus = '$m.PIC';
    #end
    if(prcstatus == 'l'){
	 if(parseFloat($form_tendprice) <= parseFloat(price)){
	      alert("价格不能低于"+price+"！");
              parent.submitok=false;
	 }else{
	   parent.testok();
	 }
    }else if(prcstatus == 'h'){
	 if(parseFloat($form_tendprice) >= parseFloat(price)){
	      alert("价格不能高于"+price+"！");
              parent.submitok=false;
	 }else{
	   parent.testok();
	 }
    }else{
       alert("出现未知错误！");
       parent.submitok=false;
    }
	</script>
</head>
<body>
</body>
</html>

