<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>投标状态</title>
</head>
<script language="javascript">
   function toreturn(){
	history.back(-1);
   }
</script>
<body>
<table class="datatable">
  <tr class="trcolor">
  <form name="thisform" method="post">
  <input type="hidden" name="proid" value="$form_proid">
  <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value=""></form>
    <td colspan="9" align="left">投标状态</td>
    <td colspan="3">
	<input type="button" value="返回" class='bt1' onclick="toreturn()">
    </td>
  </tr>
  <tr class="trcolor">
    <td nowrap>项目ID</td>
    <td nowrap>投标人</td>
    <td nowrap>项目名称</td>
    <td nowrap>第几轮</td>
    <td nowrap>地区</td>
    <td nowrap>投标价</td>
    <td nowrap>招标价</td>
    <td nowrap>投标量</td>
    <td nowrap>招标量</td>
    <td nowrap>单位</td>
    <td nowrap>本轮是否投标</td>
    <td nowrap>附件</td>
  </tr>
  #set($i=1)
  #foreach($!m in $querytendareapricededail)
	  <tr>
	    <td align="center" nowrap>$!m.PROID</td>
	    <td align="center" nowrap>******</td>
	    <td align="center" nowrap>$!m.PRONAME</td>
	    <td align="center" nowrap>第[$!m.TENDNUM]轮</td>
	    <td nowrap>$!m.AREANAME</td>
	    <td nowrap>$!m.TBPRICE元</td>
	    <td nowrap>$!m.ZBPRICE元</td>
	    <td nowrap>$!m.TBQUANTITY</td>
	    <td nowrap>$!m.ZBQUANTITY</td>
	    <td align="center" nowrap>$!m.TYPENAME</td>
	    <td align="center" nowrap>
	       #if($!m.ISCAST=='Y') 
	       <font color="red">是</font>
               #else
	          否
	       #end
            </td>
	    <td align="center" nowrap>#if($!m.TENDOTER!="")<a href="/DownFileServlet?filepath=$!m.TENDOTER">$m.TENDOTER.substring($!m.TENDOTER.lastIndexOf("/")).replace("/","")#else&nbsp;#end</td>
	  </tr>
  #set($i=$i+1)
  #end
  <tr >
        <td class="tdlabel td" colspan="12">$pagecode</td>
   </tr>
</table>
</body>
</html>
