<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../js/style.css">
	<style>
	table,body{font-size:12px;background-color:#EBE9EE; margin:0px; padding:0px;}
</style>
</head>
<body>
<script language="JavaScript" src='../../../inc/js/codedtree.js'></script>
<link rel='StyleSheet' href='../../../js/dtree.css' type='text/css' />
<div id='Layer1' class='dtree'></div>
<script>
function Choose(dm,mc,code){
   //parent.setVals(dm,mc,code);
    top.result1.document.location='Qualitytype.aspx?code=' + code;
}
var d = new dTree('d');
d.add('ffff',-1,'«Î—°‘Ò','','');
d.add('0','ffff','¿‡–Õ','','00');
#set($i=0)
#foreach($!m in $selQuality)
d.add('$!m.INVCLASSCODE','0','$!m.INVCLASSNAME','','$!m.TYPE');
#set($i=$i+1)
#end
	var str = '';
if (document.getElementById) {
   str += d.addNode(d.root);
}else{
   str += 'Browser not supported.';
}
   d.completed = true;
   document.getElementById('Layer1').innerHTML=str;
   curindex=0;
</script>

</body>
</html>