<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=====</title>
<script language="javascript">
	function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
        document.getElementById('backdate1').value=Today;
	document.getElementById('backdate2').value=Today;
    }
	function showindow(){
	var ReturnAllQualityValue=showModalDialog('Quality.aspx',"a",'dialogWidth:650px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
		if(ReturnAllQualityValue!=null){
			document.getElementById("vemo").value=ReturnAllQualityValue;
		}
	}
</script>
</head>

<body onload="GetDateString()">
<form name="thisform" method="post" action="Backvarrorderdetail.aspx">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">退货查询</td>
  </tr>
  <tr class="trcolor">
    <td>退货日期</td>
    <td align="left"><input type="text" name="backdate1" onclick="ShowDate(backdate1)"/>-<input type="text" name="backdate2" onclick="ShowDate(backdate2)" /></td>
    <td>到货单号</td>
    <td align="left"><input type="text" name="vordercode"/></td>
  </tr>
    <tr class="trcolor">
    <td>供应商名称:</td>
    <td align="left"><input type="text" name="custname" value=""></td>
    <td>产品名称:</td>
    <td align="left"><input type="text" name="invname" value=""/></td>
  </tr>
  <tr class="trcolor">
    <td>退货原因</td>
    <td align="left"><input type="text" name="vemo" id="vemo" value=""><input type="button" class="bt1" name="selres" value="..." onclick="showindow()"></td>
    <td>&nbsp;</td>
    <td><input type="submit"  class="bt1" name="b1" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
</body>
</html>
