<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
<script language="javascript">
function ButtonSelectOk(){
    var TableList=document.getElementById("TableList");
    var ReturnStr="";
    for(var i=1;i<TableList.rows.length-1;i++){
        var Checkbox=document.getElementById("Checkbox"+(i-1));
        var TextListId=document.getElementById("TextListId"+(i-1));
        var TextListTxt=document.getElementById("TextListTxt"+(i-1));
        if(Checkbox.checked==true){
           ReturnStr+=TextListId.value+"^"+TextListTxt.value+"|";
        }
    }
    window.returnValue=ReturnStr;
    window.close();
}
</script>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable" id="TableList">
  <tr class="trcolor">
    <td colspan="2" align="left">考核类型</td>
    <input type="hidden" name="showid" value="$!form_showid">
  </tr>
  #set($i=0)
  #foreach($!m in $seltst)
  <tr class="trcolor">
    <td><input type="checkbox" id='Checkbox$i' value="$!m.INVCODE"/>
	<input type="hidden" name="TextListId" id='TextListId$i' value="$!m.INVCODE">
    </td>
    <script>
		var b='$!form_showid';
	        if(isNaN(b)||b!=""){
		b = b.split(',')
		for(var i=0;i<b.length;i++){
		if(b[i]==document.getElementById('checkbox'+$i).value){
				document.getElementById('checkbox'+$i).checked=true;
			}
		}
	}
    </script>
    <td align="left"><input type="text" name="TextListTxt" id='TextListTxt$i' value="$!m.INVNAME" style="overflow-x:visible;width:60;"/>
	<input type="text" name="invsepc" value="$!m.INVSPEC"></td>
  </tr>
#set($i=$i+1)
#end
  <tr class="trcolor">
    <td colspan="2"><input type="button" name="button"  class="bt1" value="确定提交" onclick="ButtonSelectOk()"/></td>
  </tr>
</table>
</form>
</body>
</html>
