<html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<script language="javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
var undefined;		
function uniteTable(thistab,colLength){
  var rn=thistab.rows.length;//取得行数   
  var rowspann=0;   
  for(j=colLength-1;j>=0;j--){//从第0列开始，合并多少列   
    for(i=rn-1;i>0;i--){//从倒数第一行开始往上检查   
      if(thistab.rows[i].cells[j].innerText==thistab.rows[i-1].cells[j].innerText&&thistab.rows[i].cells[j].colSpan==thistab.rows[i-1].cells[j].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
	rowspann+=thistab.rows[i].cells[j].rowSpan;;
	thistab.rows[i].deleteCell(j);   
      }else{   
	thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
	rowspann=0;   
      }   
    }   
    //检测无表头的表   
    if(i==0&&rowspann>0){   
      thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
      rowspann=0;   
    }   
  }   
}  
function init(){
    uniteTable(tb,2);
    }
</script>
<title>季度供方评价表</title>
</head>

<body onload="init()">
<form name="thisform" action="Monreportdetail.aspx" method="post">
  <table class="datatable">
     <tr class="trcolor">
	<td>时间:</td>
	<td align="left"><input type="text" name="monthdate1" id="monthdate1" value="$!form_monthdate1" onclick="ShowDate(this)">-<input type="text" name="monthdate2" id="monthdate2" value="$!form_monthdate2" onclick="ShowDate(this)"></td>
	<td>供应商:</td>
	<td align="left"><input type="text" name="custname" value="$!form_custname"></td>
     </tr>
	<tr class="trcolor">
	<td>供货产品:</td>
	<td align="left"><input type="text" name="invname" value="$!form_invname"></td>
	<td colspan="2"><input type="button" name="btn" class="bt1" value="导出excel表" onclick="javascript:method1('tb');">&nbsp;&nbsp;<input type="submit" name="btn" class="bt1" value="查&nbsp;&nbsp;询"></td>
    </tr>
</table>
</form>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"  class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
    <td>序号</td>
    <td>供应商名称</td>
    <td>结算方式</td>
    <td>供货产品</td>
    <td>型号</td>
    <td>产品品牌</td>
    <td>月订单下达量</td>
    <td>实际月供货量</td>
    <td>实际月入库数量</td>
    <td>同物料实际供货占比</td>
    <td>月供货次数</td>
    <td>到货不合格次数</td>
    <td>初验不合格量</td>
    <td>使用不合格量</td>
    <td>初验不合格量供货占比</td>
    <td>使用不合格量供货占比</td>
    <td>到货不及时次数</td>
    <td>到货不及时率</td>
    <td>累计不合格量</td>
    <td>累计不合格量供货占比</td>
    <td>评价结论</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selcustdate)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.CUSTNAME</td>
    <td>*</td>
    <td>$!m.INVNAME</td>
    <td>*</td>
    <td>*</td>
    <td>$!m.MSORDER</td>
    <td>$!m.MSARRIVEORDER</td>
    <td>$!m.ALLNINNUM</td>
    <td id="A$i"><script language="javascript">
    var a =(parseFloat($!m.MSARRIVEORDER)/parseFloat($!m.TSARRIVEORDER))*100; 
    if(parseFloat($!m.TSARRIVEORDER)=='0'){
	document.getElementById('A$i').innerHTML=0
    }else{
	document.getElementById('A$i').innerHTML=(a.toFixed(2)+"%")
    }
    </script>
    </td>
    <td>$!m.COUNTALLVORRCODE</td>
    <td><a href='varrordercishu.aspx?custname=$!m.CUSTNAME&monthdate1=$!form_monthdate1&monthdate2=$!form_monthdate2&invname=$!m.INVNAME'>$!m.COUNTINTYPE</a></td>
    <td id="x$i"><script>
    document.getElementById('x$i').innerHTML=parseFloat($!m.KFSL);
    </script>
    </td>
    <td id="N$i">
    <script>
	  document.getElementById('N$i').innerHTML='<a href=varrordershuliang.aspx?custname=$!m.CUSTNAME&monthdate1=$!form_monthdate1&monthdate2=$!form_monthdate2&invname=$!m.INVNAME>'+(-parseFloat($!m.NINNUM)+parseFloat($!m.BVNUM))+'</a>';
    </script></td>
    <td id="B$i"><script language="javascript">
    var b = (parseFloat($!m.KFSL)/parseFloat($!m.MSARRIVEORDER))*100;
    if(parseFloat($!m.MSARRIVEORDER)=='0'){
	document.getElementById('B$i').innerHTML=0
    }else{
	document.getElementById('B$i').innerHTML=(b.toFixed(2)+"%");
    }
    </script>
    </td>
    <td id="C$i"><script language="javascript">
	if(parseFloat($!m.NINNUM)<0){
		var ninnum = -parseFloat($!m.NINNUM);
	}else{
		var ninnum = parseFloat($!m.NINNUM);
	}	
	
    var c = ((ninnum+parseFloat($!m.BVNUM))/parseFloat($!m.MSARRIVEORDER))*100;
    if(parseFloat($!m.MSARRIVEORDER)=='0'){
	document.getElementById('C$i').innerHTML=0
    }else{
    document.getElementById('C$i').innerHTML=(c.toFixed(2)+"%");
    }</script></td>
    <td><a href='varrorderlower.aspx?custname=$!m.CUSTNAME&invname=$!m.INVNAME&monthdate1=$!form_monthdate1&monthdate2=$!form_monthdate2'>$!m.COUNTORDARR</a></td>
    <td id="D$i"><script language="javascript">
	if(parseFloat($!m.COUNTORDARR)==0 || parseFloat($!m.COUNTALLVORRCODE)==0){
		var d=0
	}else{
    var d = (parseFloat($!m.COUNTORDARR)/parseFloat($!m.COUNTALLVORRCODE))*100;
    }
    document.getElementById('D$i').innerHTML=(d.toFixed(2)+"%");</script></td>
    <td id="E$i"><script language="javascript">
	if(parseFloat($!m.NINNUM)<0){
		var mm = -parseFloat($!m.NINNUM);
	}else{
		var mm = parseFloat($!m.NINNUM);
	}
    document.getElementById('E$i').innerHTML=mm + parseFloat($!m.BVNUM) + parseFloat($!m.KFSL);
    </script></td>
    <td id="F$i"><script language="javascript">
    if(parseFloat($!m.NINNUM)<0){
		var yy = -parseFloat($!m.NINNUM);
	}else{
		var yy = parseFloat($!m.NINNUM);
	}
    if(parseFloat($!m.BVNUM)<0){
		var mm = -parseFloat($!m.BVNUM);
	}else{
		var mm = parseFloat($!m.BVNUM);
	}
    var f = ((yy+mm+parseFloat($!m.KFSL))/parseFloat($!m.MSARRIVEORDER))*100;
     if(parseFloat($!m.MSARRIVEORDER)=='0'){
	document.getElementById('F$i').innerHTML=0
    }else{
    document.getElementById('F$i').innerHTML=(f.toFixed(2)+"%");
    }</script></td>
    <td>&nbsp;</td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>