<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
<script language="javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
</head>

<body>
<form name="form1" method="post" action="PurchaseExamineDetail.aspx" >
<table class="datatable">
  <tr class="trcolor">
    <td colspan="5" align="left">供应商考核</td>
  </tr>
  <tr class="trcolor">
    <td>考核日期:</td>
    <td><input type="text" name="TextZhiDanRiQi1y1" onclick="ShowDate(TextZhiDanRiQi1y1)" style="width:80px" value="$!form_TextZhiDanRiQi1y1"/>-<input type="text" name="TextZhiDanRiQi1y2" onclick="ShowDate(TextZhiDanRiQi1y2)" style="width:80px"  value="$!form_TextZhiDanRiQi1y2"/></td>
    <td>供应商:</td>
    <td><input type="text" name="textfield3" /></td>
    <td><input type="submit" class="bt1" name="Submit" value="查询" /></td>
  </tr>
</table>
</form>
<table class="datatable">
  <tr class="trcolor">
    <td>供应商编码</td>
    <td>供应商名字</td>
    <td>不及时次数</td>
  </tr>
  <tr class="trcolor">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
