<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>==========</title>
<script language="javascript">
	 function sub(){
	   document.thisform.page.value =1;
	   document.thisform.submit();
	}
 function ButtonSelectOk(){
    var TableList=document.getElementById("TableList");
    var ReturnStr="";
    for(var i=1;i<TableList.rows.length-1;i++){
        var Checkbox=document.getElementById("Checkbox"+i);
	var storename=document.getElementById("storename"+i);
	if(Checkbox.checked==true){
           ReturnStr=storename.value;
        }
    }
    window.returnValue=ReturnStr;
    window.close();
}
</script>
</head>

<body>
<form name="thisform" action="seloermstore.aspx" method="post">
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <input type="hidden" name="oermstore" value="$!form_oermstore">
</form>
<table class="datatable" id="TableList">
  <tr class="trcolor">
    <td>选择</td>
    <td>门店号</td>
    <td>门店名</td>
  </tr>
  #set($i=1)
  #foreach($!m in $seloermstore)
    <tr class="trcolor">
    <td><input type="radio" name="Checkbox" id="Checkbox$i" value="$i"></td>
    <td>$!m.STOREID<input type="hidden" name="storeid" id="storeid$i" value="$m.STOREID"></td>
    <td>$m.STORENAME<input type="hidden" name="storename" id="storename$i" value="$m.STORENAME"></td>
  </tr>
  #set($i=$i+1)
  #end
     <tr>
        <td class="tdlabel" colspan="3">$pagecode</td>
   </tr>
</table>
<input type="button" name="btn" value="确&nbsp;&nbsp;认" onclick="ButtonSelectOk()">
</body>
</html>
