<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>==========</title>
<script language="javascript">
	function checkcode(){
		if(document.getElementById("vopcode").value=="" && document.getElementById("invcodename").value=="" ){
			alert("请输入到货单或者批次号!");
			return false;
		}else{
			thisform.submit();
		}
	}
	function svopcode(){
	var ReturnsvopcodeValue=showModalDialog('vropmain.aspx',"a",'dialogWidth:650px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
		if(ReturnsvopcodeValue!=null){
			document.getElementById("vopcode").value=ReturnsvopcodeValue;
		}
	}
	function svarordercode(){
	var ReturnsvarordercodeValue=showModalDialog('varrordercodemain.aspx',"a",'dialogWidth:650px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
		if(ReturnsvarordercodeValue!=null){
			document.getElementById("varrordercode").value=ReturnsvarordercodeValue;
		}
	}
</script>
</head>

<body>
<form name="thisform" action="userback.aspx"  method="post">
<table class="datatable">
  <tr class="trcolor">
    <td>参照单据</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td>批次号</td>
    <td><input type="text" name="vopcode" id="vopcode" value=""><input type="button" class="bt1" value="..." onclick="svopcode()"></td>
  </tr>
  <tr class="trcolor">
    <td>产品名称</td> 
    <td><input type="text" name="invcodename" id="invcodename" value=""/></td>
  </tr>
  <tr class="trcolor">
    <td><input type="button" name="b1" class="bt1" value="查询" onclick="checkcode()"/></td>
    <td><input type="reset" name="b2" class="bt1" value="刷新" /></td>
  </tr>
</table>
</form>
</body>
</html>