<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>============</title>
<script language="javascript">
	function showindow(){
	var ReturnAllQualityValue=showModalDialog('Quality.aspx',"a",'dialogWidth:650px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
		if(ReturnAllQualityValue!=null){
			document.getElementById("res1").value=ReturnAllQualityValue;
		}
	}
</script>
</head>

<body>
<form name="thisform" action="userbacksub.aspx" method="post" target="dataframe">
<table class="datatable">
      <tr class="trcolor">
    <td>供应商</td>
    <td><input type="text" name="custname" value="" readonly/><input type="button" class="bt1" name="selcust" value="...">
	<input type="hidden" name="custcode" value="">
	<input type="hidden" name="hid" id="hid" value="">
		<script language="javascript">
		var a = "1002";
		var b = "820201007";
		var c = "TH";
		var d = "0";
		var MyDate=new Date();
		var e = MyDate.getMilliseconds();
		var f = a+c+b+e+d;
		document.getElementById("hid").value=f;
	</script>
    </td>
   </tr>
  <tr class="trcolor">
    <td>制单人</td>
    <td><input type="text" name="makeuser" value="$!session_USERNAME" readonly/></td>
    <td>退货类型</td>
    <td><select name="backtype">
	<option value="0">到货退货</option>
	<option value="1">换货</option>
	<option value="2">让步接收</option>
    </select></td>
  </tr>
      <tr class="trcolor">
    <td>&nbsp;</td>
    <td><input type="submit" name="Submit" class="bt1" value="确认提交" /></td>
    <td>&nbsp;</td>
    <td><input type="button" name="button" class="bt1" value="添加行" /></td>
  </tr>
</table>
<br>
<table class="datatable">
  <tr class="trcolor">
    <td>序号</td>
    <td>存货编码</td>
    <td>存货名称</td>
    <td>规格</td>
    <td>到货数量</td>
    <td>退货数量</td>
    <td>退货原因</td>
  </tr>
      <tr class="trcolor">
    <td>0</td>
    <td><input type="text" name="invcode" id="" value="" style="width: 100px" readonly><input type="button" class="bt1" name="selinv" value="...">
	<input type="hidden" name="bid" id="bid" value="">
	<script language="javascript">
		var a = "100";
		var b = "03040202012";
		var c = "TH";
		var d = "0";
		var MyDate=new Date();
		var e = MyDate.getMilliseconds();
		var f = a+c+b+e+d;
		document.getElementById("bid").value=f;
	</script>
    </td>
    <td><input type="text" name="invname" value="" readonly></td>
    <td><input type="text" name="invspec" style="width: 50px" value="" readonly></td>
    <td><input type="text" name="vnumber" style="width: 40px" value="" readonly></td>
    <td><input type="text" name="backnum" style="width: 40px" value="0" onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"/></td>
    <td><input type="text" name="res" id="res1" style="width: 300px"/><input type="button" class="bt1" name="selres" value="..." onclick="showindow()"></td>
  </tr>
</table>
</form>
<div>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</div>
</body>
</html>