<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=========</title>
</head>

<body>
<table class="datatable" id="tab">
  <tr class="trcolor">
    <td>供应商</td>
    <td align="left">$!form_custname</td>
    <td align="left">&nbsp;</td>
    <td>考核时间</td>
     <td>$form_monthdate1 - $form_monthdate2 </td>
    <td align="left">&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td colspan="6" align="left">使用中退货</td>
  </tr> 
  <tr class="trcolor">
    <td>序号</td>
    <td>产品名称</td>
    <td>批次号</td>
    <td>数量</td>
    <td>时间</td>
    <td>质检结果</td>
  </tr>
  #set($i=1)
  #foreach($!m in $selninnum)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.INVNAME</td>
    <td>$!m.VBATCHCODE</td>
    <td>$!m.NINNUM</td>
    <td>$!m.DBILLDATE</td>
    <td>$!m.VMEMO</td>
  </tr>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
    <td colspan="6" align="left">使用中让步接收</td>
  </tr> 
  #set($i=1)
  #foreach($!m in $selninback)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.INVNAME</td>
    <td>$!m.VPRODUCENUM</td>
    <td>$!m.BVNUM</td>
    <td>$!m.TS</td>
    <td>$!m.VMEMO</td>
  </tr>
  #set($i=$i+1)
  #end
</table>
<input type="button" class="bt1" name="b1" value="返&nbsp;&nbsp;回" onclick="javacript:history.go(-1)" />
<input type="button" class="bt1" name="b2" value="导出EXCEL表"  onclick="javascript:method1('tab');"/>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>