<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
<script language="javascript">
function ButtonSelectOk(){
    var TableList=document.getElementById("TableList");
    var ReturnStr="";
    for(var i=1;i<TableList.rows.length-1;i++){
        var Checkbox=document.getElementById("Checkbox"+(i-1));
        var varrordercode=document.getElementById("varrordercode"+(i-1));
        if(Checkbox.checked){
           ReturnStr=varrordercode.value;
        }
    }
    window.returnValue=ReturnStr;
    window.close();
}
</script>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable" id="TableList">
  <tr class="trcolor">
    <td colspan="9" align="left">详细信息</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selvorod)
  <tr class="trcolor">
    <td><input type="checkbox" id='Checkbox$i' value="$!m.INVCODE"/></td>
    <td><input type="text" name="vdef10" value="$!m.VDEF10" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="custname" value="$!m.CUSTNAME" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="invcode" value="$!m.INVCODE" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="invname" value="$!m.INVNAME" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="vproducenum" id="vproducenum$i" value="$!m.VPRODUCENUM" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="narrvnum" value="$!m.NARRVNUM" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="varrordercode" id="varrordercode$i" value="$!m.VARRORDERCODE" style="overflow-x:visible;width:60;" readonly></td>
  </tr>
#set($i=$i+1)
#end
  <tr class="trcolor">
    <td colspan="9"><input type="button" name="button"  class="bt1" value="确定提交" onclick="ButtonSelectOk()"/></td>
  </tr>
</table>
</form>
</body>
</html>
