<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../js/style.css">
	<style>
	table,body{font-size:12px;background-color:#EBE9EE; margin:0px; padding:0px;}
</style>
<script language="javascript">
function Choose(){
    var code=document.getElementById("vprocode").value;
    var a1 = document.getElementById("billdate1").value;
    var a2 = document.getElementById("billdate2").value;
    var b = document.getElementById("invname").value;
    var c = document.getElementById("invcode").value;
    var d = document.getElementById("custcode").value;
    var e = document.getElementById("custname").value;
    top.result1.document.location='vropright.aspx?vprocode='+code+'&billdate1='+a1+'&billdate2='+a2+'&invname='+b+'&invcode='+c+'&custcode='+d+'&custname='+e+'&sys=1';
}
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
到货时间:<br><input type="text" name="billdate" id="billdate1" value="" style="width: 80px" onclick="ShowDate(billdate1)">-<input type="text" name="billdate" id="billdate2" value="" style="width: 80px" onclick="ShowDate(billdate2)"><br>
存货名称:<input type="text" name="invname" id="invname" value=""><br>
存货编码:<input type="text" name="invcode" id="invcode" value=""><br>
供应商名称:<input type="text" name="custname" id="custname" value=""><br>
供应商编码:<input type="text" name="custcode" id="custcode" value=""><br>
批次号:<input type="text" name="vprocode" id="vprocode" value=""><br>
<input type="button" value="查询" onclick="Choose()">
</body>
</html>