<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=====</title>
<script language="javascript">
	function GetDateString(){
		var MyDate=new Date();
		var Year=MyDate.getFullYear();
		var MonthNum=MyDate.getMonth();
		var Month;
		if(MonthNum<9){
		    Month="0"+(MonthNum+1);
		}else{
		    Month=MonthNum+1;
		}
		var Day=MyDate.getDate();
		if(Day<=9){
		    Day="0"+Day;
		}
		var Today=Year+"-"+Month+"-"+Day;
		document.getElementById('TextZhiDanRiQi1y1').value=Today;
		document.getElementById('TextZhiDanRiQi1y2').value=Today;
		var a = document.all.roles.value;
		if(a=="R8905"){
		document.getElementById("t1").style.display="none";
	}
	    }
	function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
</head>

<body onload="GetDateString()">
<form name="form1" action="ZZBPurchaseQualityTopdetail.aspx" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="43" align="left">到货单查询</td>
  </tr>
  <tr class="trcolor">
    <td align="right">到货单日期:</td>
    <td align="left"><input type="text" name="TextZhiDanRiQi1y1" onclick="ShowDate(TextZhiDanRiQi1y1)"/>-<input type="text" name="TextZhiDanRiQi1y2" onclick="ShowDate(TextZhiDanRiQi1y2)"/></td>
    <td>供应商名称:<input type="text" name="custname" value=""></td>
  </tr>
 <input type="hidden" name="roles" value="$!session_ROLES">
  <tr class="trcolor" id='t1'>
    <td>厂区:</td>
    <td align="left"><select name="SelectBuMen">
    <option value="">所有厂区</option>
    #set($i=0)
    #foreach($!m in $selFactory)
    <option value="$!m.PK_DEPTDOC">$!m.DEPTNAME</option>
    #set($i=$i+1)
    #end
    </select></td>
    <td>供应商编码:<input type="text" name="custcode" value=""></td>
  </tr>
  <tr class="trcolor">
	<td>仓库:</td>
	<td align="left"><select name="SelectCangKu">
    <option value="">所有仓库</option>
    #set($i=0)
    #foreach($!m in $selcangku)
    <option value="$!m.PK_STORDOC">$!m.STORNAME</option>
    #set($i=$i+1)
    #end
      </select></td>
	<td>到货单号:&nbsp;&nbsp;<input type="text" name="varrordercode" value=""></td>
  </tr>
  <tr class="trcolor">
    <td>&nbsp;</td>
    <td align="left">&nbsp;</td>
    <td><input type="submit" class="bt1" name="Submit" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
</body>
</html>