<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../inc/js/alai_win_xp.js" language="javascript"></script>
<title>======</title>
</head>

<body>
<form name="thisform" method="post" action='AddCust.aspx'>
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td colspan='2' align="left">供应商用户信息</td>
  </tr>
  <tr class="trcolor">
    <td>供应商编码:</td>
    <td align="left"><input type="text" name="custcode" value=""/></td>
  </tr>
  <tr class="trcolor">
    <td>供应商名称:</td>
    <td align="left"><input type="text" name="custname" value=""/></td>
  </tr>
  <tr class="trcolor">
    <td><input class="bt1" type="submit" name="b1" value="查询" /></td>
    <td><input name="adduser" class="bt1" id="adduser" type="button" value="添加新供应商" onclick='show()'/>
  </td>
  </tr>
</table>
</form>
<br>
<table class="datatable">
  <tr class="trcolor">
    <td>序号</td>
    <td>供应商编码</td>
    <td>供应商名称</td>
    <td>操作</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selcust)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.USERNAME</td>
    <td>$!m.NAME</td>
    <td><a href='ModCust.aspx?custname=$!m.NAME&custcode=$!m.USERNAME'>修改用户</a>&nbsp;<a href='updateCustpass.aspx?custname=$!m.NAME&custcode=$!m.USERNAME' target="dataframe">恢复密码</a></td>
  </tr>
  #set($i=$i+1)
  #end
    #if($i==0)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="16"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
  #else
   <tr><td colspan=16 align="right">$pagecode
   </td></tr>
  #end
</table>
<form name="user_add" id="user_add" action="InsertCust.aspx" method="post" target="dataframe">
<table id='tb' style="display:none" width="350" height="150">
  <tr class="trcolor">
    <td>供应商编码:</td>
    <td>
      <input type="text" name="custcode" value=''/>
      <input type="hidden" name="password" value='E10ADC3949BA59ABBE56E057F20F883E'/>
    </td>
  </tr>
  <tr class="trcolor">
    <td>供应商名称:</td>
    <td><input type="text" name="custname" value=''/>
    </td>
  </tr>
</table>
</form>
    <div>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
<script language='javascript'>
	function h(){
		winMove.hide();
		user_add.submit();
	}
function show(){
	winMove.show()
}
	var b = document.getElementsByName("adduser")[0];
	var btnMove = b.id;
	document.getElementById("tb").style.display="block"
	var winMove=new alai_win_xp(tb,"增加新供应商",400,250)
	var btn = winMove.addButton("确定","js","h()")
</script>