<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>差旅费明细</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../../js/sunnyfunc.js"></script>
<script src="../../../js/string.js"></script>
<script language="javascript">
   var num1 = 0;
   var num2 = 0;
   function toback(url){
      document.form1.target="dataframe";
      document.form1.action=url;
      document.form1.submit();
   }
</script>
</head>
<body>
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f">&nbsp;&nbsp; <div align="center" class="style1">差旅费明细</div></td>
  </tr>
</table>
<form name="form1" method="post">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%" align="center" id="tb" class="datatable">
  #foreach($mm in $selsnclfheadbyid)
    <tr height="20"  align="center" class="trtitle">
        <td  nowrap align="right">出差人姓名</td>
        <td>$!mm.NAME</td>
	<td  nowrap align="right">工商银行卡号</td>
	<td colspan="4">$!mm.BANKNUM</td>
	<td nowrap align="right">任职级别</td>
	<td>$!mm.LEVELNAME</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td nowrap align="right">所属区域</td>
        <td>$!mm.DAQU</td>
	<td align="right">#if($!mm.AREA!="")$!mm.AREA#else&nbsp;#end</td>
	<td nowrap align="right">家庭住址</td>
	<td>$!mm.ADDRESS</td>
	<td nowrap align="right">常驻地</td>
	<td>$!mm.ADDRESSNAME</td>
	<td nowrap align="right">驻地天数</td>
	<td>$!mm.ADDRESSDAY</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td nowrap align="right">出差月份</td>
        <td colspan="8">$mm.MONTH</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td nowrap align="right">申报时间</td>
        <td colspan="8">$mm.TS</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td height="24" nowrap align="right">签批附件</td>
        <td colspan="8">
	   #if($!mm.UPFILE !="")
              <a href="/DownFileServlet?filepath=$!mm.UPFILE">$mm.UPFILE.substring($!mm.UPFILE.lastIndexOf("/")).replace("/","")
	   #else
              &nbsp;
	   #end
	</td>
     </tr>
  #end
  <tr height="20"  align="center" class="trtitle">
       <td nowrap align="right">审核意见</td>
       <td colspan="8"><textarea name="remark" cols="90" rows="4"></textarea></td>
  </tr>
  <tr height="20"  align="center" class="trtitle">
      <td colspan="9" align="center">
      <input type="button" class="bt1" value=" 通  过 " name="B21" onClick="toback('clfallaudisubmit.aspx?applymonth=$!form_applymonth&areacode=$!form_areacode&status=F&step=1&oldstep=$!form_oldstep&fid=$!form_clfid&levelid=$!form_levelid&dq_pk=$!form_dq_pk&areapk=$!form_areapk&clftype=$!form_clftype')">&nbsp;<input type="button" class="bt1" value=" 退  回 " name="B22" onClick="toback('clfallaudisubmit.aspx?applymonth=$!form_applymonth&areacode=$!form_areacode&status=R&step=-1&oldstep=$!form_oldstep&fid=$!form_clfid&levelid=$!form_levelid&dq_pk=$!form_dq_pk&areapk=$!form_areapk&clftype=$!form_clftype')">&nbsp;<input type="button" class="bt1" value=" 返  回 " name="B222" onClick="history.go(-1);">
      </td>
  </tr>
</table>
</form>

<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%" align="center" id="tb" class="datatable">
  <tr height="20"  align="center" class="trtitle">
    <td height="25" nowrap>出差起止日期</td>
    <td height="25" nowrap>起止地点</td>
    <td  height="25" nowrap>出差天数</td>
    <td  height="25" nowrap>交通工具</td>
    <td height="25" nowrap>申报交通费（油费）金额</td>
    <td height="25" nowrap>申报补助金额</td>
  </tr>
  #set($i = 0 )
  #foreach($mm in $selsnclfdetailbyid)
  <tr class="trcolor">
     <td>
         #if($mm.CBDATE !="" && $mm.CEDATE != "")
          $mm.CBDATE - $mm.CEDATE
	 #else 
            常驻地
	 #end
     </td>
     <td>
         #if($mm.CBADDRESS !="" && $mm.CEADDRESS != "")
           $mm.CBADDRESS - $mm.CEADDRESS
	 #else
           $mm.CBADDRESS
	 #end
     </td>
     <td>
       #if($mm.CBDATE !="" && $mm.CEDATE != "")
       $mm.DAYCOUNT天
       #else
       &nbsp;
       #end
     </td>
     <td>
     #if($mm.CBDATE !="" && $mm.CEDATE != "")
     #if($mm.VEHICLENAME!="")$mm.VEHICLENAME#else&nbsp;#end
     #else
          &nbsp;
     #end
     </td>
     <td>$mm.YTICKETMONEY</td>
     <td>$mm.YSUBMONEY</td>
  </tr>
  #set($i = $i+1 )
  <script language="javascript">
     num1 += $mm.YTICKETMONEY;
     num2 += $mm.YSUBMONEY;
  </script>
  #end
  <tr class="trcolor">
    <td>合计</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><script language="javascript">document.write(num1);</script></td>
    <td><script language="javascript">document.write(num2);</script></td>
  </tr>
  </table>
  <p align="center">审核记录</p>
  <table width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff"  class="datatable">
  <tr class="trtitle" bgcolor="abcdef">
    <th width="8%" height="25" nowrap>审核时间</th>
    <th width="8%" height="25" nowrap>审核人</th>
    <th width="8%" height="25" nowrap>审核结果</th>
    <th width="58%" height="25" nowrap>审核意见</th>
  </tr>
 #foreach($m in $getsnclfRemark) 
  <tr class="trcolor">
      <td align="center" nowrap>$!m.AUDIDATE</td>
      <td align="center" nowrap>$!m.NAME</td>
      <td align="center" nowrap>
            #if($!m.AUDISTATUS=='F')同意
	    #elseif($!m.AUDISTATUS=='R')不同意
	    #elseif($!m.AUDISTATUS=='S')作废
	    #end
      </td>
      <td align="center" nowrap>$!m.REMARK &nbsp;</td>
 </tr>
 #end
  </table> 
<iframe name="dataframe" src="" width="0" height="0"></iframe>

</body> 
</html>      
