<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>区域经理差旅费修改</title>
<script src="../../../js/sunnyfunc.js"></script>
<script>
var accountdata=new Array();
accountdata = [['ID','开始地点']
#foreach($!m in $selsnclfdetailbyid)
,['$m.CLFID','$m.CBADDRESS']
#end
];
var submitok=false;
var ChosedList=new Array();
var header=18;		//定单头的个数
var thisCol=9;	//表单体的列数
var others=0;		//表单中非表单体的控件数
var thisRow=accountdata.length-1;     //初始行数
var submitok=false; //是否已提交
var testRow=-1;     //验证数据行号
var row=thisRow;
var submitfirst=true;
var undefined;
var seleRow=0;
   var datatb;
var data=new Array();//单个记录元素数据数组
//一维数组赋值     
function data1()
{
	var data=new Array()
	args=data1.arguments;
	for(i=0;i<args.length;i++)
	{
	  data[i]=args[i];
	}
	return data;
}
     
//二维数组赋值     
function data2(data)
{
	this.data=data;
}

var bData1=new Array(); 
   data=new data1('产品主键','产品类别','类别代码');
   bData1[0]=new data2(data);
 #set($i=1)
 #foreach($m in $getProductClass)
   data=new data1('$m.PK_INVCL','$m.INVCLASSNAME','$m.INVCLASSCODE');
   bData1[$i]=new data2(data);
   #set($i=$i+1)
 #end


function addRow() 
{  
     var tempR=document.all.tb.insertRow();
	 tempR.bgcolor="#FFFFFF";
	 var temp1=tempR.insertCell();	
	 var temp2=tempR.insertCell();
	 var temp8=tempR.insertCell();
	 var temp3=tempR.insertCell();	
	 var temp4=tempR.insertCell();	
	 var temp5=tempR.insertCell();
	 var temp6=tempR.insertCell();
	 var temp7=tempR.insertCell();

         temp1.innerHTML="<input name=\"F_fileno\" id='F_fileno"+row+"' onclick='ShowDate(F_fileno"+row+")' type=\"text\" class=\"login3\" style=\"width:100\" onKeyUp=\"toNext("+row+")\" onblur=\"checkdate(F_fileno"+row+",F_difftime"+row+","+row+")\" >";
         temp2.innerHTML="<input name=\"F_difftime\" type=\"text\"  id='F_difftime"+row+"' onclick='ShowDate(F_difftime"+row+")' class=\"login3\" style=\"width:100\" onKeyUp=\"toNext("+row+")\" onblur=\"checkedate(F_fileno"+row+",F_difftime"+row+","+row+")\">";
	 temp8.innerHTML="<span id='daycount"+row+"'></span>";
         temp3.innerHTML="<span id='daycountmoney"+row+"'></span><input name=\"F_policy\"  id='F_policy"+row+"' type=\"text\" class=\"login3\" style=\"width:100\" onKeyUp=\"toNext("+row+")\" readonly><input type='button' value='...' onclick=\"togetmont('bareaquery.aspx?F_policy=F_policy"+row+"')\" class='bt1'>";
	 temp4.innerHTML="<input name='F_prodName'  id='F_prodName"+row+"' type='text' style='width:100' class='login3' onKeyUp=\"toNext("+row+")\" readonly><input type='button' value='...' onclick=\"togetmont('areaquery.aspx?daycountmoney=daycountmoney"+row+"&F_prodName=F_prodName"+row+"&F_ssubmoney=F_ssubmoney"+row+"&daycount='+document.getElementById('daycount"+row+"').innerHTML,document.getElementById('daycount"+row+"').innerHTML)\" class='bt1'>";  
	 temp5.innerHTML="<p align=\"center\"><select name='F_pfee' style='width:60' onKeyUp=\"toNext("+row+")\">#foreach($m1 in $selsnvehicle)<option value=\"$m1.VEHICLEID\">$m1.VEHICLENAME</option>#end</select>";
	 temp6.innerHTML="<p align=\"center\"><input name='F_pmemo'  id='F_pmemo"+row+"' class='login3' style='width:120' type='text' onKeyUp=\"toNext("+row+")\">";
	 temp7.innerHTML="<p align=\"center\"><input name='F_ssubmoney'  id='F_ssubmoney"+row+"' class='login3' style='width:120' type='text' onKeyUp=\"toNext("+row+")\">";
         document.form1.elements[row*thisCol+header].focus();
	 row=row+1;
     tempR=document.all.tb.insertRow();
     temp1=tempR.insertCell(); 
     temp1.innerHTML="<table id=\"dtb\"></table>";
     temp1.colSpan=8; 
}

function toNext(i)
{
   var elms=event.srcElement;
   key=event.keyCode;
   if(key==13)   //回车
   {
      if(elms.name=="F_fileno")
        document.form1.F_difftime[i].focus(); 
      else if(elms.name=="F_difftime")
        document.form1.F_policy[i].focus(); 
      else if(elms.name=="F_policy")
        document.form1.F_prodName[i].focus(); 
      else  if(elms.name=="F_prodName")
        document.form1.F_pfee[i].focus(); 
      else if(elms.name=="F_pfee")
        document.form1.F_pmemo[i].focus(); 
      else if(elms.name=="F_pmemo")
      {
	  document.form1.F_ssubmoney[i].focus(); 
      }
      else if(elms.name=="F_pmemo")
      {
        if(i<(row-1))
          document.form1.elements[(i+1)*thisCol+header].focus();
        else
          addRow();
      }
   }else{
      if(elms.name=="F_pfee"){
	   if(isNaN(elms.value))
           { 
              alert("费用必须为数字");
              return;
           } 
      }
   }
}

function spellStr(step,fstatus) 
{
    if(this.form1.banknum.value == "" || this.form1.banknum.value == "0" || this.form1.banknum.value == "1"){
        alert("工行卡号不能为空或者不正确");
	return false;
    }
    if(this.form1.daqu.value == ""){
        alert("大区不能为空");
	return false;
    }
    if(this.form1.address.value == ""){
        alert("家庭住址不能为空");
	return false;
    }
    if(this.form1.addressname.value == ""){
        alert("常驻地不能为空");
	return false;
    }
    if(this.form1.addressday.value == ""){
        alert("驻地天数不能为空");
	return false;
    }
    if(this.form1.billdate1.value==""){
       alert("出差月份不能为空！！！");
       this.form1.billdate1.focus();
       return false;
    }
   var str="";
   var spell_sql="";
   //this.form1.F_id.value=f_id;

   var b_sql="";
   if(row == 1){
      //if(form1.F_fileno.value!="" && form1.F_difftime.value!=""){
      if(form1.F_policy.value!=""){
	   if(form1.F_pmemo.value!=""){
	      if(isNaN(form1.F_pmemo.value))
	      { 
		 alert("申报车票金额必须为数字");
		 form1.F_pmemo.focus();
		 return;
	      }  
	   }else{
	      form1.F_pmemo.value=0;
	   }
	   if(form1.F_ssubmoney.value!=""){
	      if(isNaN(form1.F_ssubmoney.value))
	      { 
		 alert("申报补助金额必须为数字");
		 form1.F_ssubmoney.focus();
		 return;
	      } 
	   }else{
	      form1.F_ssubmoney.value=0;
	   }
	   if(form1.F_pmemo.value!="" && form1.F_ssubmoney.value!=""){
	     b_sql="have";
	     str=str+"!"+this.form1.F_fileno.value;
	   }
	}
   }else{
      for(i=0;i<row;i++){
       //if(form1.F_fileno[i].value!="" && form1.F_difftime[i].value!=""){
       if(form1.F_policy[i].value!=""){
	   if(form1.F_pmemo[i].value!=""){
	      if(isNaN(form1.F_pmemo[i].value))
	      { 
		 alert("申报车票金额必须为数字");
		 form1.F_pmemo[i].focus();
		 return;
	      }  
	   }else{
	      form1.F_pmemo[i].value=0
	   }
	   if(form1.F_ssubmoney[i].value!=""){
	      if(isNaN(form1.F_ssubmoney[i].value))
	      { 
		 alert("申报补助金额必须为数字");
		 form1.F_ssubmoney[i].focus();
		 return;
	      } 
	   }else{
	      form1.F_ssubmoney[i].value=0
	   }
	   if(form1.F_pmemo[i].value!="" && form1.F_ssubmoney[i].value!=""){
	     b_sql="have";
	     str=str+"!"+this.form1.F_fileno[i].value;
	   }
	}
      }
   }
   
    if(b_sql==""){
	  alert("您没有录入差旅费，请录入！！！");
          return false;
  }
  
  this.form1.F_step.value=step;
  document.form1.fstatus.value = fstatus;
  if(fstatus == "N"){
     this.form1.action='clfareasavedit1.aspx';
  }else if(fstatus == "F"){
     this.form1.action='clfareasavedit.aspx';
  }
  this.form1.target='dataframe';
  if(!submitok)
  {
      submitok=true;
      this.form1.submit();
  }else{
      alert("请不要确认两次！");
	  return;
  }
}

/**
*返回时间字符串
**/
function getTimeStr()     
{  
   var str="";
   var date = new Date();
   var field="";
   str= date.getFullYear()+"";
   field=(date.getMonth()+1);
   if(date.getMonth()<9){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   field= date.getDate();
   if(date.getDate()<10){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   str= str+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
   return str;  
}
function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 }
  function ShowDate1(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue.substr(0,7);
 }
 var lllmonth=new Array(); 
  lllmonth=[
   ['最小月份']
	#foreach($!m in $queryzhywsysdatepara)
	  ,["$m.LLLMONTH"]
	#end
   ];
  function tocheckdate(){
     if(document.getElementById('billdate1').value < lllmonth[1][0]){
        alert("出差月份不能小于"+lllmonth[1][0]);
        document.getElementById('billdate1').select();
	return false;
     }
        var MyDate=new Date();
	var Year=MyDate.getFullYear();
	var MonthNum=MyDate.getMonth();
	var Month;
	if(MonthNum<9){
	    Month="0"+(MonthNum+1);
	}else{
	    Month=MonthNum+1;
	}
	var Day=MyDate.getDate();
	if(Day<=9){
	    Day="0"+Day;
	}
	var Today=Year+"-"+Month;
     if(document.getElementById('billdate1').value > Today){
        alert("出差月份不能大于"+Today);
        document.getElementById('billdate1').select();
	return false;
     }
  }
 function checkdate(bdate,edate,i){
      if(bdate.value != "" && bdate.value.substr(0,7) != document.form1.billdate1.value && document.form1.billdate1.value.length != 10){
          alert("出差开始日期不正确");
	  bdate.value = "";
          bdate.focus();
	  return false;
      }
      if(edate.value != ""){
         if(bdate.value != "" && bdate.value > edate.value){
           alert("出差开始日期不能大于出差截止日期");
	   bdate.value = "";
           bdate.focus();
	   return false;
         }else{
		 var begin1=bdate.value.substr(0,10).split("-"); 
		 var end1=edate.value.substr(0,10).split("-");
		 var date1=new Date(begin1[1] + - + begin1[2] + - + begin1[0]);
		 var date2=new Date(end1[1] + - + end1[2] + - + end1[0]);
		 var m=parseInt((date2-date1)/1000/60/60/24); 
		 document.getElementById("daycount"+i).innerHTML=m;
		 if(document.getElementById("daycountmoney"+i).value != undefined){
		     document.getElementById("F_ssubmoney"+i).value = m * document.getElementById("daycountmoney"+i).value;
		 }
	     }
      }
  }
  function checkedate(bdate,edate,i){
      if(bdate.value == ""){
         alert("请先选择出差开始日期");
         bdate.focus();
	 return false;
      }
      if(edate.value != "" && document.form1.billdate1.value.length != 10){
          if(edate.value.substr(0,7) != document.form1.billdate1.value){
	      if(edate.value.substr(8,2) != '01'){
		  alert("出差截止日期不正确");
		  edate.value = "";
		  edate.focus();
		  return false;
	       }
	  }
      }
      if(edate.value != ""){
         if(bdate.value != "" && bdate.value > edate.value){
           alert("出差截止日期不能小于出差开始日期");
	   edate.value = "";
           edate.focus();
	   return false;
         }
      }
      if(bdate.value != "" && edate.value != ""){
         var begin1=bdate.value.substr(0,10).split("-"); 
         var end1=edate.value.substr(0,10).split("-");
         var date1=new Date(begin1[1] + - + begin1[2] + - + begin1[0]);
         var date2=new Date(end1[1] + - + end1[2] + - + end1[0]);
         var m=parseInt((date2-date1)/1000/60/60/24); 
         document.getElementById("daycount"+i).innerHTML=m;
         if(document.getElementById("daycountmoney"+i).value != undefined){
	     document.getElementById("F_ssubmoney"+i).value = m * document.getElementById("daycountmoney"+i).value;
         }
      }
  }
 function init(){
     #set($i = 0 )
     #foreach($m in $selsnclfdetailbyid)
      #if($m.CBDATE != "" && $m.CEDATE != "")
        var begin1='$m.CBDATE'.substr(0,10).split("-"); 
        var end1='$m.CEDATE'.substr(0,10).split("-");
        var date1=new Date(begin1[1] + - + begin1[2] + - + begin1[0]);
        var date2=new Date(end1[1] + - + end1[2] + - + end1[0]);
        var m=parseInt((date2-date1)/1000/60/60/24); 
        document.getElementById("daycount$i").innerHTML=m;
	document.getElementById("daycountmoney$i").value=$m.DAYCOUNTMONEY;
        #else

	#end
      #set($i = $i+1 )
      #end
  }
  function togetmont(url,bb){
    if(bb == ""){
       alert("出差天数不能为空");
       return false;
    }
    window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
 }
</script>
<link href="../../../css.css" rel="stylesheet" type="text/css">
</head>
<body  onload="init()">
<br>
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f">&nbsp;&nbsp; <div align="center" class="style1">差旅费申报</div></td>
  </tr>
</table>
<form name="form1" method='post' action="">
<input name="F_id" type="hidden" value='$!form_clfid'>
<input name="F_step" type="hidden" value='0'>  
<input name="fstatus" type="hidden" value=''>  
<input name="clftype" type="hidden" value='B'>  
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#999999">
  #foreach($mm in $selsnclfheadbyidedit)
     <tr bgcolor="#E3E3E3" class="fCopy">
        <td height="24" nowrap align="right">出差人姓名</td>
        <td>$!mm.NAME</td>
	<td height="24" nowrap align="right">工商银行卡号</td>
	<td colspan="4">$!mm.BANKNUM</td>
	<td height="24" nowrap align="right">任职级别</td>
	<td>$!mm.LEVELNAME</td>
     </tr>
     <tr bgcolor="#E3E3E3" class="fCopy">
        <td height="24" nowrap align="right">所属区域</td>
        <td>$!mm.DAQU</td>
	<td align="right">$!mm.DEPTNAME</td>
	<td height="24" nowrap align="right">家庭住址</td>
	<td>$!mm.ADDRESS</td>
	<td height="24" nowrap align="right">常驻地</td>
	<td>$!mm.ADDRESSNAME</td>
	<td height="24" nowrap align="right">驻地天数</td>
	<td>$!mm.ADDRESSDAY</td>
     </tr>
     <tr bgcolor="#E3E3E3" class="fCopy">
        <td height="24" nowrap align="right">出差月份</td>
        <td colspan="8"><input type="text" name="billdate1" id="billdate1" value="$!mm.MONTH" readonly/></td>
     </tr>
     <tr bgcolor="#E3E3E3" class="fCopy">
        <td height="24" nowrap align="right">签批附件</td>
        <td colspan="8"><input name="paper" type="text" size="80" value="$!mm.UPFILE" contenteditable="false"/><input type="button" name="Submit22" class="bt1" value="文件上传" onClick="window.open('pfile.jsp?formname=form1&picurl=paper&type=clffile','','status=no,scrollbars=no,top=160,left=150,width=450,height=365')"></td>
     </tr>
     <input type="hidden" name="clrname" value="$!mm.NAME">
     <input type="hidden" name="clrusername" value="$!session_USERNAME">
     <input type="hidden" name="banknum" value="$!mm.BANKNUM">
     <input type="hidden" name="levelname" value="$!mm.LEVELNAME">
     <input type="hidden" name="daqu" value="$!mm.DAQU">
     <input type="hidden" name="deptname" value="$!mm.DEPTNAME">
     <input type="hidden" name="addressname" value="$!mm.ADDRESSNAME">
     <input type="hidden" name="addressday" value="$!mm.ADDRESSDAY">
     <input type="hidden" name="pkfatherdeptdoc" value="$!mm.PK_DEPTDOC_FATHER">
     <input type="hidden" name="pkdeptdoc" value="$!mm.PK_DEPTDOC">
     <input type="hidden" name="sssbasicid" value="$!mm.BASICID">
     <input type="hidden" name="address" value="$!mm.ADDRESS">
  #end
</table>
<br>

<table id="tb" width="100%"  border="1" align="center" cellpadding="0" cellspacing="1" bordercolor="#D4D0C8" bgcolor="#FFFFFF">
  <tr bgcolor="#E3E3E3" class="fCopy">
    <td  height="25" nowrap class="fCopy">出差开始日期</td>
    <td height="25" nowrap class="fCopy">出差截止日期</td>
    <td height="25" nowrap class="fCopy">出差天数</td>
    <td height="25" nowrap class="fCopy">开始地点</td>
    <td  height="25" nowrap class="fCopy">截止地点</td>
    <td height="25" nowrap class="fCopy">交通工具</td>
    <td height="25" nowrap class="fCopy">申报车票金额</td>
    <td  height="25" nowrap class="fCopy">申报补助金额</td>
  </tr>
  #set($i = 0 )
  #foreach($mm in $selsnclfdetailbyid)
  <tr bgcolor="#FFFFFF" class="fCopy">
     <td align="center" nowrap><input name="F_fileno" id="F_fileno$i" onclick="ShowDate(F_fileno$i)" type="text" class="login3" style="width:100" value="$mm.CBDATE" onKeyUp="toNext($i)"   onblur="checkdate(F_fileno$i,F_difftime$i,$i)"></td>
     <td align="center" nowrap><input name="F_difftime"  id="F_difftime$i"  onclick="ShowDate(F_difftime$i)" type="text" class="login3" style="width:100" value="$mm.CEDATE"  onKeyUp="toNext($i)" onblur="checkedate(F_fileno$i,F_difftime$i,$i)"></td>
     <td id="daycount$i"></td>
     <td align="center" nowrap>
         <span id="daycountmoney$i"></span>
	 <input name="F_policy" id="F_policy$i" type="text" class="login3" style="width:100" onKeyUp="toNext($i)" value="$mm.CBADDRESS" readonly><input type="button" value="..." onclick="togetmont('bareaquery.aspx?F_policy=F_policy$i')" class="bt1"></td>
     <td align="center" nowrap><input name="F_prodName" id="F_prodName$i" type="text"  style="width:100" class='login3' onKeyUp="toNext($i)" value="$mm.CEADDRESS" readonly><input type="button" value="..." onclick="togetmont('areaquery.aspx?F_prodName=F_prodName$i&F_ssubmoney=F_ssubmoney$i&daycount='+document.getElementById('daycount$i').innerHTML,document.getElementById('daycount$i').innerHTML)" class="bt1" readonly></td>
      <td align="center" nowrap>
	 <select name="F_pfee" class="login3" style="width:60" onKeyUp="toNext($i)">
	  #foreach($m1 in $selsnvehicle)
	    <option value="$m1.VEHICLEID" #if($!mm.VEHICLEID ==$m1.VEHICLEID )selected#end>$m1.VEHICLENAME</option>
	  #end
	  </select>
      </td>
	<td align="center" nowrap><input name="F_pmemo" id="F_pmemo$i" type="text" class="login3" style="width:120" onKeyUp="toNext($i)" value="$mm.YTICKETMONEY"></td>
	<td align="center" nowrap><input name="F_ssubmoney" id="F_ssubmoney$i" type="text" class="login3" style="width:120" onKeyUp="toNext($i)" value="$mm.YSUBMONEY"  readonly></td>
  </tr>
  <tr><td colspan=8 style="padding:0px" ><table id="dtb"></table></td></tr>
  #set($i = $i+1 )
  #end
  </table>
 <div align="center">
  <input type="button" class="login2" value=" 保  存 " name="B22" onClick="spellStr(0,'N');">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="login2" value=" 上  报 " name="B222" onClick="spellStr(1,'F');">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="login2" value=" 返  回 " name="B222" onClick="history.go(-1);">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="login2" value=" 添加行 " name="B222" onClick="addRow();">
  </div>
</form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>

</body> 
</html>      
