<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>差旅费明细</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../../js/sunnyfunc.js"></script>
<script src="../../../js/string.js"></script>
<script language="javascript">
   var num1 = 0;
   var num2 = 0;
   function accAdd(arg1,arg2){ 
	var r1,r2,m; 
	try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0} 
	try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0} 
	m=Math.pow(10,Math.max(r1,r2)) 
	return (arg1*m+arg2*m)/m 
 }
   var bData1=new Array(); 
   bData1=[
      ['产品代码0','产品名称1','产品规格2','库存量3','应发数量4','出库数量5','状态6','0','产品主键8','仓库主键9','批次号10','仓库11']
   #foreach($m in $selsnclfdetailbyid)
      ,['$m.CLFID','$m.ID']
   #end
   ]

   function toback(url){
      var datahtml="";
      for(var i = 1; i < bData1.length; i ++){
	 if(document.getElementById("sbjiaotongmoney"+i).value == ""){
	      datahtml +="<input type=hidden name='sbjiaotongmoney' value='0'></br>";
	 }else{
	      datahtml +="<input type=hidden name='sbjiaotongmoney' value='"+document.getElementById("sbjiaotongmoney"+i).value+"'></br>";
	 }
	 if(document.getElementById("sbotherjiaotongmoney"+i).value == ""){
	      datahtml +="<input type=hidden name='sbotherjiaotongmoney' value='0'></br>";
	 }else{
	      datahtml +="<input type=hidden name='sbotherjiaotongmoney' value='"+document.getElementById("sbotherjiaotongmoney"+i).value+"'></br>";
	 }
	 if(document.getElementById("ssubmoney"+i).value == ""){
	      datahtml +="<input type=hidden name='ssubmoney' value='0'></br>";
	 }else{
	      datahtml +="<input type=hidden name='ssubmoney' value='"+document.getElementById("ssubmoney"+i).value+"'></br>";
	 }
	 datahtml +="<input type=hidden name='causeremark' value='"+document.getElementById("causeremark"+i).value+"'></br>";
	 datahtml +="<input type=hidden name='id' value='"+document.getElementById("id"+i).value+"'></br>";
      }
      if(datahtml==''){
	   alert("没有可更新的数据！");
	   return false;
      }
      document.form_submit.remark.value = document.form1.remark.value;
      subdata.innerHTML=datahtml;
      document.form_submit.target="dataframe";
      document.form_submit.action=url;
      document.form_submit.submit();
   }
   function checksbmoney(i){
      var sbje = 0;
      var bb = 0;
      if(isNaN(document.getElementById('sbjiaotongmoney'+i).value)){ 
        alert("不是数字");
	document.getElementById('sbjiaotongmoney'+i).select();
	return false;
      }else{
         for(var i = 1; i < bData1.length; i ++){
	     bb = document.getElementById("sbjiaotongmoney"+i).value; 
	     if(bb == ""){
                bb = 0;
	     }
             sbje += parseFloat(bb);
	     //sbje = accAdd(sbje,bb);
	 }
      }
      document.getElementById('sbpid').innerHTML = sbje;
   }
   function checkosbmoney(i){
       var sbje = 0;
       var bb = 0;
      if(isNaN(document.getElementById('sbotherjiaotongmoney'+i).value)){ 
        alert("不是数字");
	document.getElementById('sbotherjiaotongmoney'+i).select();
	return false;
      }else{
         for(var i = 1; i < bData1.length; i ++){
	     bb = document.getElementById("sbotherjiaotongmoney"+i).value; 
	     if(bb == ""){
                bb = 0;
	     }
             sbje += parseFloat(bb);
	 }
      }
      document.getElementById('sbopid').innerHTML = sbje;
   }
   function checksbsmoney(i){
      var sbje = 0;
      var bb = 0;
      if(isNaN(document.getElementById('ssubmoney'+i).value)){ 
        alert("不是数字");
	document.getElementById('ssubmoney'+i).select();
	return false;
      }else{
         for(var i = 1; i < bData1.length; i ++){
	     bb = document.getElementById("ssubmoney"+i).value; 
	     if(bb == ""){
                bb = 0;
	     }
             sbje += parseFloat(bb);
	 }
      }
      document.getElementById('sbbzpid').innerHTML = sbje;
   }
</script>
</head>
<body>
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f"><div align="center" class="style1">差旅费明细</div></td>
  </tr>
</table>
<form name="form1" method="post">
<input type="hidden" name="" value="">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%" align="center" id="tb" class="datatable">
  #foreach($mm in $selsnclfheadbyid)
    <tr height="20"  align="center" class="trtitle">
        <td  nowrap align="right">出差人姓名</td>
        <td>$!mm.NAME</td>
	<td  nowrap align="right">工商银行卡号</td>
	<td colspan="4">$!mm.BANKNUM</td>
	<td nowrap align="right">任职级别</td>
	<td>$!mm.LEVELNAME</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td nowrap align="right">所属区域</td>
        <td>$!mm.DAQU</td>
	<td align="right">#if($!mm.AREA!="")$!mm.AREA#else&nbsp;#end</td>
	<td nowrap align="right">家庭住址</td>
	<td>$!mm.ADDRESS</td>
	<td nowrap align="right">常驻地</td>
	<td>$!mm.ADDRESSNAME</td>
	<td nowrap align="right">驻地天数</td>
	<td>$!mm.ADDRESSDAY</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td nowrap align="right">出差月份</td>
        <td colspan="8">$mm.MONTH</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td nowrap align="right">申报时间</td>
        <td colspan="8">$mm.TS</td>
     </tr>
     <tr height="20"  align="center" class="trtitle">
        <td height="24" nowrap align="right">签批附件</td>
        <td colspan="8">
	   #if($!mm.UPFILE !="")
              <a href="/DownFileServlet?filepath=$!mm.UPFILE">$mm.UPFILE.substring($!mm.UPFILE.lastIndexOf("/")).replace("/","")
	   #else
              &nbsp;
	   #end
	</td>
     </tr>
  #end
  <tr height="20"  align="center" class="trtitle">
       <td nowrap align="right">审核意见</td>
       <td colspan="8"><textarea name="remark" cols="90" rows="4"></textarea></td>
  </tr>
</table>
<br>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%" align="center" id="tb" class="datatable">
  <tr height="20"  align="center" class="trtitle">
    <td height="25" nowrap>出差起止日期</td>
    <td height="25" nowrap>起止地点</td>
    <td  height="25" nowrap>出差天数</td>
    <td  height="25" nowrap>交通工具</td>
    <td height="25" nowrap>申报交通费（油费）金额</td>
    <td height="25" nowrap>实报正规交通票金额</td>
    <td height="25" nowrap>实报其他交通票金额</td>
    <td height="25" nowrap>申报补助金额</td>
    <td height="25" nowrap>实报补助金额</td>
    <td height="25" nowrap>差异原因</td>
  </tr>
  #set($i = 1 )
  #foreach($mm in $selsnclfdetailbyid)
  <tr class="trcolor">
     <td>
         #if($mm.CBDATE !="" && $mm.CEDATE != "")
          $mm.CBDATE - $mm.CEDATE
	 #else 
            常驻地
	 #end
     </td>
     <td>
         #if($mm.CBADDRESS !="" && $mm.CEADDRESS != "")
           $mm.CBADDRESS - $mm.CEADDRESS
	 #else
           $mm.CBADDRESS#foreach($mm1 in $selsnclfdetailbyidsumdaycount)$mm1.DAYCOUNT#end天
	 #end
     </td>
     <td>
       #if($mm.CBDATE !="" && $mm.CEDATE != "")
       $mm.DAYCOUNT天
       #else
       &nbsp;
       #end
     </td>
     <td>
     #if($mm.CBDATE !="" && $mm.CEDATE != "")
     #if($mm.VEHICLENAME!="")$mm.VEHICLENAME#else&nbsp;#end
     #else
          &nbsp;
     #end
     </td>
     <td>$mm.YTICKETMONEY</td>
     <td><input type="text" name="sbjiaotongmoney" id="sbjiaotongmoney$i" style="width:110" value="#if($!mm.STICKETMONEY=="")$mm.YTICKETMONEY#else$!mm.STICKETMONEY#end" onblur="checksbmoney($i)"></td>
     <td><input type="text" name="sbotherjiaotongmoney" id="sbotherjiaotongmoney$i" style="width:110" value="#if($!mm.SOTHERTICKETMONEY=="")0#else$!mm.SOTHERTICKETMONEY#end" onblur="checkosbmoney($i)"></td>
     <td>$mm.YSUBMONEY</td>
     <td><input type="text" name="ssubmoney" id="ssubmoney$i" style="width:80" value="#if($!mm.SSUBMONEY=="")$mm.YSUBMONEY#else$!mm.SSUBMONEY#end" onblur="checksbsmoney($i)"></td>
     <td><textarea name="causeremark" id="causeremark$i" cols="30" rows="3">$!mm.CAUSEREMARK</textarea></td>
     <input type="hidden" name="id" id="id$i" value="$mm.ID">
  </tr>
  #set($i = $i+1 )
  <script language="javascript">
     num1=accAdd(num1,$mm.YTICKETMONEY);
     num2=accAdd(num2,#if($mm.YSUBMONEY!="")$mm.YSUBMONEY#else 0 #end);
  </script>
  #end
  <tr class="trcolor">
    <td>合计</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><script language="javascript">document.write(num1);</script></td>
    <td><span id="sbpid"></span>&nbsp;</td>
    <td><span id="sbopid">&nbsp;</td>
    <td><script language="javascript">document.write(num2);</script></td>
    <td><span id="sbbzpid">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr height="20"  align="center" class="trtitle">
      <td colspan="10" align="center">
      <input type="button" class="bt1" value=" 通  过 " name="B21" onClick="toback('cwclfaudisubmit.aspx?applymonth=$!form_applymonth&areacode=$!form_areacode&status=F&step=1&oldstep=$!form_oldstep&fid=$!form_clfid&clftype=$!form_clftype&overstatus=Z&levelid=$!form_levelid&dq_pk=$!form_dq_pk&areapk=$!form_areapk')">&nbsp;<input type="button" class="bt1" value=" 作  废 " name="B22" onClick="toback('cwclfaudisubmit.aspx?applymonth=$!form_applymonth&areacode=$!form_areacode&status=F&step=1&oldstep=$!form_oldstep&fid=$!form_clfid&clftype=$!form_clftype&overstatus=S&levelid=$!form_levelid&dq_pk=$!form_dq_pk&areapk=$!form_areapk')">&nbsp;<input type="button" class="bt1" value=" 返  回 " name="B222" onClick="history.go(-1);">
      </td>
  </tr>
  </table>
  <p align="center">审核记录</p>
  <table width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff"  class="datatable">
  <tr class="trtitle" bgcolor="abcdef">
    <th width="8%" height="25" nowrap>审核时间</th>
    <th width="8%" height="25" nowrap>审核人</th>
    <th width="8%" height="25" nowrap>审核结果</th>
    <th width="58%" height="25" nowrap>审核意见</th>
  </tr>
 #foreach($m in $getsnclfRemark) 
  <tr class="trcolor">
      <td align="center" nowrap>$!m.AUDIDATE</td>
      <td align="center" nowrap>$!m.NAME</td>
      <td align="center" nowrap>
            #if($!m.AUDISTATUS=='F')同意
	    #elseif($!m.AUDISTATUS=='R')不同意
	    #elseif($!m.AUDISTATUS=='S')作废
	    #end
      </td>
      <td align="center" nowrap>$!m.REMARK &nbsp;</td>
 </tr>
 #end
  </table> 
</form>
<form name="form_submit" method="post" target="saveframe">
<span id="subdata"></span>
<input type="hidden" name="remark">
</form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body> 
</html>      
