<html>
<head>
<title>差旅费审核完毕</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script src="../../../js/sunnyfunc.js"></script>
<script src="../../../js/string.js"></script>
<script>
var dept=new Array(); 
	dept=[
	   ['区域主键','区域名称','大区主键']
		#foreach($!m in $selsyneararea)
		  ,["$m.NC_PK","$m.DEPTNAME","$m.NC_FATHER_PK"]
		#end
	   ];
       function setF(departid,objid)
	{
	    if(departid==""){
		  var obj = document.getElementById(objid);
		  var length = obj.length;
		  for (var j=length-1; j>0; j--)
		  {
		    obj.options.remove(j);
		  }
		  for(var i=1;i<dept.length;i++){   
		      var oOption = document.createElement("OPTION");
		      obj.options.add(oOption);
		      oOption.innerText = dept[i][1];
		      oOption.value = dept[i][0];
		  }	  
	    }else{
	      var obj = document.getElementById(objid);
	      var length = obj.length;
	      for (var j=length-1; j>0; j--)
	      {
		obj.options.remove(j);
	      }
		 
	      for(var i=1;i<dept.length;i++){
		if(dept[i][2]==departid){
		  var oOption = document.createElement("OPTION");
		  obj.options.add(oOption);
		  oOption.innerText = dept[i][1];
		  oOption.value = dept[i][0];
		}
	      }
	    }
	}
function checkinput()
{  
   //document.thisform.page.value =1;
   document.thisform.submit();
}
function GetDateString(){
        var MyDate=new Date();
	var Year=MyDate.getFullYear();
	var MonthNum=MyDate.getMonth();
	var Month;
	if(MonthNum<9){
	    Month="0"+(MonthNum+1);
	}else{
	    Month=MonthNum+1;
	}
	var Day=MyDate.getDate();
	if(Day<=9){
	    Day="0"+Day;
	}
	var Today=Year+"-"+Month;
	var v1 = "$!form_billdate1";
	var v2 = "$!form_billdate2";
	if(v1=="" && v2==""){ 
	   document.getElementById('billdate1').value=Today;
	   document.getElementById('billdate2').value=Today;
	}else{
	   document.getElementById('billdate1').value=v1;
	   document.getElementById('billdate2').value=v2;
	} 
    }
    function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue.substring(0,7);
 }
</script>

</head>
<body  onload="GetDateString()">
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f"> <div align="center" class="style1">差旅费申请表</div></td>
  </tr>
</table>
<form name="thisform" method="post">
<table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
      	<tr class="search"> 
	  <td class="tdlabel" width="10%">大区</td>
		<td class="tdinput" width="20%">
		 <select name=dq_pk  onchange="javascript:setF(this.value,'areapk');">
		<option value=''>请选择大区</option>
	      #foreach($m2 in $selsyneardaqu)
		     <option value="$!m2.NC_PK" #if($form_dq_pk==$m2.NC_PK) selected #end>$!m2.DEPTNAME</option>
	      #end
		</select>	
	</td>	
	<td class="tdlabel" width="10%">区域</td>
	<td class="tdinput" width="20%">
	  <select name=areapk><option value=''>请选择区域</option>
	      #foreach($m1 in $selsyneararea)
		     <option value="$!m1.NC_PK" #if($form_areapk==$m1.NC_PK) selected #end>$!m1.DEPTNAME</option>
	      #end
	     </select>
	</td>
	<td class="tdlabel" width="10%">任职级别</td>
        <td class="tdinput" width="20%">
           <select name="levelid">
               <option></option>
	       #foreach($n in $selbasiclevel)
                 <option value="$n.LEVELNAME" #if($form_levelid==$n.LEVELNAME) selected #end>$n.LEVELNAME</option>
	       #end
	   </select>
	</td>
	</tr>
	<tr class="search"> 
	  <td class="tdlabel" width="10%" nowrap>审核开始月份</td>
	  <td class="tdinput" width="20%">
	    <input type="text" name="billdate1" style="width:100" id="billdate1" value="$!form_billdate1" onclick="ShowDate(billdate1)"/>	
	  </td>	
	  <td class="tdlabel" width="10%" nowrap>审核结束月份</td>
	  <td class="tdinput" width="20%">
	     <input type="text" name="billdate2"  style="width:100" id="billdate2" value="$!form_billdate2" onclick="ShowDate(billdate2)"/>	
	  </td>	
	  <td class="tdlabel" width="10%">申报用户姓名
	  </td>
	  <td align="left" class="tdinput"  width="20%"><input type="text" name="sbuser" value="$!form_sbuser">
	  </td>
	</tr>
	<tr> 
           <td colspan="6" align="center" >
               <input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
	   </td>
 	</tr>
  </table>
</form>
<table id="tb" width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff"  class="datatable">
  <tr class="trtitle" bgcolor="abcdef">
    <td height="25" nowrap>序号</td>
    <td height="25" nowrap>大区</td>
    <td height="25" nowrap>区域</td>
    <td height="25" nowrap>用户编码</td>
    <td height="25" nowrap>用户名称</td>
    <td height="25" nowrap>任职级别</td>
    <td height="25" nowrap>出差月份</td>
    <td height="25" nowrap>申报交通费（油费）金额</td>
    <td height="25" nowrap>实报正规交通票金额</td>
    <td height="25" nowrap>实报其他交通票金额</td>
    <td height="25" nowrap>申报补助金额</td>
    <td height="25" nowrap>实报补助金额</td>
    <td height="25" nowrap>状态</td>
    <td height="25" nowrap>操作</td>
  </tr>
 #set($i=1)
 #foreach($m in $cwoverlistsnclfapplay)
  <tr class="trcolor4">
     <td align="center" nowrap>$i</td>
     <td align="center" nowrap>$!m.DAQU</td>
     <td align="center" nowrap>#if($!m.AREA!="")$!m.AREA#else&nbsp;#end</td>
     <td align="center" nowrap>$!m.USERID</td>
     <td align="center" nowrap>$!m.NAME</td>
     <td align="center" nowrap>$!m.LEVELNAME</td>
     <td align="center" nowrap>$!m.MONTH</td>
     <td align="center" nowrap>#if($!m.YTICKETMONEY!="")$!m.YTICKETMONEY#else&nbsp;#end</td>
     <td align="center" nowrap>#if($!m.STICKETMONEY!="")$!m.STICKETMONEY#else&nbsp;#end</td>
     <td align="center" nowrap>#if($!m.SOTHERTICKETMONEY!="")$!m.SOTHERTICKETMONEY#else&nbsp;#end</td>
     <td align="center" nowrap>#if($!m.YSUBMONEY!="")$!m.YSUBMONEY#else&nbsp;#end</td>
     <td align="center" nowrap>#if($!m.SSUBMONEY!="")$!m.SSUBMONEY#else&nbsp;#end</td>
     <td align="center" nowrap><script>'$!m.FSTATUS'.toRealText('Z','审核通过','作废').write()</script></td>
	<td align="center" nowrap><a href="cwclfoverdetail.aspx?clfid=$!m.CLFID&applymonth=$!m.MONTH&areacode=$!m.DEPTCODE&oldstep=$!m.STEP&overstatus=$!m.FSTATUS&clftype=$!m.CLFTYPE&step=1&levelid=$!form_levelid&dq_pk=$!form_dq_pk&areapk=$!form_areapk&clftype=$m.CLFTYPE">明细</a></td>
  </tr>
  <tr class="trcolor4"><td colspan=9 style="padding:0px" id="dtb"></td></tr>
  #set($i=$i+1)
 #end
  #if($i==0)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="16"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
  </table>
 <div align="center"> <input type="button" class="bt1" value=" 刷  新 " name="B222" onClick="javascript:window.location.reload();"> </div>

<iframe name="dataframe" src="" width="0" height="0"></iframe>

</body> 
</html>      
