<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>城市查询</title>
<script language="javascript">
function ButtonSelectOk(i){
    if(document.getElementById('Checkbox'+i).checked == true){
       document.getElementById('Checkbox'+i).value = 'Y';
    }else{
       document.getElementById('Checkbox'+i).value = 'N';
    }
}
function checkinput()
{  
   document.thisform.page.value =1;
   document.thisform.submit();
}
</script>
</head>

<body>
<form name="thisform" method="post" action="diququery.aspx">
<input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <input type="hidden" name="F_policy" value="$!form_F_policy">
<table class="datatable" id="TableList">
  <tr class="trcolor">
    <td colspan="8" align="left">城市信息</td>
  </tr>
  <tr class="trcolor">
    <td colspan="3">地区名称<input type="text" name="deptname" value="$!form_deptname">
  城市名称<input type="text" name="invname" value="$!form_invname">&nbsp;<input type="submit" name="search1" value="查询" onclick="checkinput()">
  </td>
  </tr>
   <tr class="trcolor">
    <td nowrap>选择</td>
    <td>地区名称</td>
    <td>城市名称</td>
  </tr>
  #set($i=0)
  #foreach($!m in $seluserdiququery)
  <tr class="trcolor" id="A$i">
    <td><input type="radio" name="Checkbox" id='Checkbox$i' value="N" onclick="tosure($i)"/></td>
    <td>$!m.CITY</td>
    <td>$!m.AREA<input type="hidden" name="area" id='area$i' value="$!m.AREA"></td>
  </tr>
#set($i=$i+1)
#end
   <tr >
        <td class="tdlabel" colspan="3">$pagecode</td>
   </tr>
</table>
</form>
</body>
</html>
<script language="javascript">
    function checkallinv(){
       if(document.thisform.checkall.checked){
          for(var i = 0 ; i <　$i ; i ++){
             document.getElementById('Checkbox'+i).checked = true;
	     document.getElementById('Checkbox'+i).value = 'Y';
	  }
       }else{
          for(var i = 0 ; i <　$i ; i ++){
             document.getElementById('Checkbox'+i).checked = false;
	     document.getElementById('Checkbox'+i).value = 'N';
	  }
       }
    }
    function tosure(i){
       var htmlstr = "";
       var htmlstrname = "";
       var count = 0 ;
       htmlstrname =document.getElementById('area'+i).value;
       window.opener.document.getElementById("$!form_F_policy").value= htmlstrname;
       window.close();
    }
</script>
