
<HTML><HEAD>
<TITLE></TITLE>
<SCRIPT src="../../../js/dict_cfg/alai_win_xp.js"></SCRIPT>
<SCRIPT src="../../../js/dict_cfg/alai_tree.js"></SCRIPT>
<SCRIPT src="../../../js/dict_cfg/alai_tree_pretty.js"></SCRIPT>
<SCRIPT src="../../../js/dict_cfg/alai_tree_check.js"></SCRIPT>
<SCRIPT src="../../../js/array2.js"></SCRIPT>
<link rel="stylesheet" href="../css.css">
</HEAD>
<script>
function setMemo()
{
  for(i=0;i<Func.length;i++)
  {
    var flowrole='';
    #foreach($m in $getsnclfdeptflow)
      flowrole+="$m.ROLEID"+',';
      form_select.texist.value='T';
    #end
    if(flowrole.indexOf(Func[i].data[1])>=0)
      eval("n"+Func[i].data[1]+".checkBox.checked=true");
    
  }
}
function selectall()
{
        var purs="";
	var stepnum=0;
	for(var i=0;i<form_select.sltName.options.length;i++)
	{
	    stepnum++;
	    purs+="<input type=hidden name=step value='"+stepnum+"'><input type=hidden name=roleid value='"+form_select.sltName.options[i].value+"'>";
	}
      if(stepnum==0) {
         alert("没有设置流程！");
	 return false;
      }
      document.all.valueform.innerHTML=purs;
      form_select.submit();
}
</script>

<script>
	function initMemo(){
           setMemo();
	   //form_select.selectrole.value = "I";
	}
</script>
<BODY onload="initMemo()">
<form name="form_select" method="post" action="setDeptPlanFlowSubmit.aspx" target="saveframe">
<table width="80%" height="35"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
   #foreach($m in $getSysSaleDept)
    <td class="f" align='center'>&nbsp;&nbsp; $m.DEPTNAME 业务员差旅费上报审核流程设置</td>
    <input type="hidden" name="feename" value="${m.DEPTNAME}业务员差旅费">
   #end
  </tr>
</table>
	<table align="center" width = "80%" height="100" border = 0 cellpadding=0 cellSpacing=1 bordercolor="#CCCCCC" bgcolor="#CCCCCC">
		<input type="hidden" name="selectrole" value=''>
                <input type="hidden" name="flowtype" value="$form_flowtype">
                <input type="hidden" name="texist" value=''>
		<input type="hidden" name="areacode" value="$form_areacode">
		<tr bgcolor="#E3E3E3" class="fCopy"><td colspan='1' class='title' height=25>请选择角色:&nbsp;&nbsp;<span id="valueform"></span>
		<input type='button' class='button' name='button' value='取 消' onclick="history.go(-1)" ></td>
                <td colspan='1' class='title' height=25>审核流程:&nbsp;&nbsp;
		<input type='button' class='button' name='button' value='提 交' onclick="selectall()" ></td>
                </tr>
		<tr bgcolor="#E3E3E3" class="fCopy"><td id=divTree1 valign="top"></td><td valign="top"><SELECT id=sltName   style="WIDTH: 100%"  multiple size=84  name="sltName1" ></SELECT></td></tr>
	</table>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 


<SCRIPT>

    var Func=new Array();
    #set($i=0) 
    #foreach($m in $getSysRole)
      data=new data1("系统角色","$m.ROLEID","$m.ROLENAME");
      Func[$i]=new data2(data);
	#set($i=$i+1)
   #end  
        var mod="";
        var mm=0;
	var tree1=new alai_tree_pretty(divTree1);
	var root=tree1.root;
  for(i=0;i<Func.length;i++)
  {
     if(Func[i].data[0]!=mod)
     {
        eval("var module"+mm+"= root.add('"+Func[i].data[0]+"');");
        mod=Func[i].data[0];
        mm++;
     }
     eval("var n"+Func[i].data[1]+" = tree1.addChkNode(module"+(mm-1)+",'"+Func[i].data[2]+"','"+Func[i].data[1]+"');");
  }
		
	tree1.oncheck=function(srcNode)
	{
		if(srcNode.checkBox.checked)  //添加
		{
			var item=document.createElement("option");
                        item.value=srcNode.valueBox;
			item.text=srcNode.label.innerText;
			form_select.sltName.add(item);

                        for(i=0;i<srcNode.parent.children.length;i++)
                        {
                            if(!srcNode.parent.children[i].checkBox.checked)
                            {
                              srcNode.parent.selected=false;
                              srcNode.parent.checkBox.checked=false;  
                              return;                             
                            }
                        }
                        srcNode.parent.selected=true;
                        srcNode.parent.checkBox.checked=true;
		}else    //取消
		{
			for(var i=0;i<form_select.sltName.options.length;i++)
			{
				//if(srcNode.label.innerText==form_select.sltName.options[i].value)form_select.sltName.options[i]=null;
                                 if(srcNode.valueBox==form_select.sltName.options[i].value)form_select.sltName.options[i]=null;
			}
                        if(srcNode.selected)
                        {
                            srcNode.parent.selected=false;
                            srcNode.parent.checkBox.checked=false;
                        }
		}
	}
	tree1.expandAll(false);
</SCRIPT>
</BODY></HTML>