<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<title>用户信息修改</title>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
<script language="javascript">
        String.prototype.Trim = function() {  
	  var m = this.match(/^\s*(\S+(\s+\S+)*)\s*$/);  
	  return (m == null) ? "" : m[1];  
	}  
	String.prototype.isMobile = function() {  
	  return (/^(?:13\d|18\d|15\d)-?\d{5}(\d{3}|\*{3})$/.test(this.Trim()));  
	}  
	function ignoreSpaces(string) {
		var temp = "";
		string = '' + string;
		splitstring = string.split(" ");
		for(i = 0; i < splitstring.length; i++)
		temp += splitstring[i];
		return temp;
       }
	function checksub(){
		if(document.all.bankno.value == ""){
	             alert("工商卡号不能为空");
                     document.all.bankno.focus();
		     return false;
		}
		document.form1.action="userinfoselfsavedit.aspx";
	        document.form1.target="saveframe";
                form1.submit();
		
	}
	function openewin(url){
	     window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
	  }
</script>
</head>

<body>
<form name="form1" action="" method="post"><input type="hidden" name="baseid" value="$!form_baseid">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">人员信息注册
    </td>
  </tr>
  #foreach($m1 in $selbasicuserinfobasic)
   <tr class="trcolor">
    <td align="right">用户名</td>
    <td align="left">
      $!m1.NAME
      </td>
    <td align="right">任职级别</td>
    <td align="left">
      $!m1.LEVELNAME
     </td>
  </tr>
  <tr class="trcolor">
    
  </tr>
  <tr class="trcolor">
    <td align="right">大区</td>
    <td align="left">
      $!m1.DAQU	 
    </td>
    <td align="right">区域</td>
    <td align="left">
     $!m1.DEPTNAME
      </td>
  </tr>
  <tr class="trcolor">
    <td align="right">工商卡号</td>
    <td align="left">
      <input type="text" name="bankno" value="$!m1.BANKNUM"  onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"/><span class="STYLE1">*</span> 
    </td>
    <td align="right">常住地</td>
    <td align="left">
      $!m1.ADDRESSNAME </td>
  </tr>
  <tr class="trcolor">
    <td align="right">驻地天数</td>
    <td align="left">
      $!m1.ADDRESSDAY
    </td>
    <td align="right">&nbsp;</td>
    <td align="left">
      &nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td align="right">手机号</td>
    <td align="left">
      <input type="text" name="phone" value="$!m1.PHONE"  onkeyup="if(isNaN(value))execCommand('undo')" onafterpaste="if(isNaN(value))execCommand('undo')"/><span class="STYLE1">*</span> 
    </td>
    <td align="right">身份证号</td>
    <td align="left">
     $!m1.CARD </td>
  </tr>
  <tr class="trcolor">
    <td align="right">家庭地址</td>
    <td align="left" colspan="3">
     $!m1.ADDRESS
    </td>
  </tr>
  #end
  <tr class="trcolor">
    <td colspan="4">
      <input type="button" name="Submit2" class="bt1" value="提交" onclick="checksub()"/>
      <input type="button" name="Submit" onclick="javascript:history.back(-1)" class="bt1" value="返回" /></td>
  </tr>
  </table>
</form>
</div>
<form name="form3" method="post">
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</body>
</html>