<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>用户信息查看</title>
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
</head>

<body>
<form name="form1" action="" method="post"><input type="hidden" name="baseid" value="$!form_baseid">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">人员信息查看
    </td>
  </tr>
  #foreach($m1 in $selbasicuserinfobasic)
   <tr class="trcolor">
    <td align="right" width="15%">用户名</td>
    <td align="left" width="35%">
      $!m1.NAME
    </td>
    <td align="right" width="15%">任职级别</td>
    <td align="left" width="35%">
      $!m1.LEVELNAME
   </td>
  </tr>
  <tr class="trcolor">
    
  </tr>
  <tr class="trcolor">
    <td align="right">大区</td>
    <td align="left">
      $!m1.DAQU 
    </td>
    <td align="right">区域</td>
    <td align="left">
     $!m1.DEPTNAME </td>
  </tr>
  <tr class="trcolor">
    <td align="right">工商卡号</td>
    <td align="left">
      $!m1.BANKNUM
    </td>
    <td align="right">常住地</td>
    <td align="left">
      $!m1.ADDRESSNAME
    </td>
  </tr>
  <tr class="trcolor">
    <td align="right">驻地天数</td>
    <td align="left">
     $!m1.ADDRESSDAY
    </td>
    <td align="right">手机号</td>
    <td align="left">
      #if($!m1.PHONE!="")$!m1.PHONE#else&nbsp;#end</td>
  </tr>
  <tr class="trcolor">
    <td align="right">身份证号</td>
    <td align="left" colspan="3">
      #if($!m1.CARD != "")$!m1.CARD#else&nbsp;#end
    </td>
  </tr>
  <tr class="trcolor">
    <td align="right">家庭地址</td>
    <td align="left" colspan="3">
      $!m1.ADDRESS
    </td>
  </tr>
  #end
  <tr class="trcolor">
    <td colspan="4">
      <input type="button" name="Submit" onclick="javascript:history.back(-1)" class="bt1" value="返回" /></td>
  </tr>
  </table>
</form>
</div>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</body>
</html>