<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>分厂物料BOM明细</title>
<script language="javascript" src="../../../js/XunPlanGridEdit.js"></script>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  
var bData1=new Array(); 
bData1=[
      ['产品代码0','产品名称1','产品规格2','物料BOM版本号3','BOMid4','包装物BOM版本号5','FID6','nc主键7','0','生效日期9','失效日期10']
 #set($i=1)
 #foreach($m in $snbomhfenpeidetail)
      ,['$m.INVCODE','$m.INVNAME','$m.INVSPEC','$m.VERSION','$m.BOMID','$m.BVERSION','$m.FID','$m.PK_INVBASDOC','$i','$m.STARTDATE','$m.ENDDATE']
   #set($i=$i+1)
 #end
]
var pdata = new Array();
var pageSize=50;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][9]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][10]
	 SetRowCanEdit(row);
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][1].indexOf(form2.elements[1].value)>-1);
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 }
 toPage(1);
}


function savepage(page)
{
  if(page>0){
  }
}
function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}



function setStatus(lineno)
{
   if(document.all.checkbox[lineno].checked){
      document.all.checkbox[lineno].value = 'Y';
   }else{
      document.all.checkbox[lineno].value = 'N';
   }
}

</script>


<body>

<p align="left"><font size="4"><b>分厂BOM明细</b></font>
<br>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
产品代码：<input type="text" size="16" onkeyup="presearch()"> 
产品名称：<input type="text" size="16" onkeyup="presearch()"> 
&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">        
</form>
</div>
<div class="mainDiv" id="mdiv"> 
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr" bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#EFEFEF" width="15%" Name="pcode" >产品代码</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">产品名称</td>
      <td height="19" bgcolor="#EFEFEF" width="10%" Name="pspec">产品规格</td>
      <td height="19" bgcolor="#EFEFEF" width="10%" Name="oldnum">物料BOM版本号</td>
      <td height="19" bgcolor="#EFEFEF" width="10%" Name="oldnum">生效日期</td>
      <td height="19" bgcolor="#EFEFEF" width="10%" Name="oldnum">失效日期</td>
    </tr>
</table>
 </div>
<div style="width:100%;txt-align:center;border:0 double gray;">
<span id="pg"></span>
</div>

<script language="javascript">
var seleobj;

</script>
<script>
	 toPage(1);
</script>
<form name="form_submit" method="post" action="newSalePlanSubmit.aspx" target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

