<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>分厂BOM明细</title>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<body>

<p align="left"><font size="4"><b>#if($!form_type=='A')物料#else包装#end&nbsp;BOM明细</b></font>
<br>
<table class="datatable">
  #foreach($!m1 in $snbomhquerybybomid)
   <tr class="trcolor">
       <td>产品</td>
       <td>$m1.INVNAME</td>
       <td>备注</td>
       <td>$m1.REMARK&nbsp;</td>
   </tr>
   <tr class="trcolor">
       <td>版本号</td>
       <td>$m1.VERSION</td>
       <td>BOM名称</td>
       <td>$m1.BOMNAME</td>
   </tr>
   <tr class="trcolor">
       <td>计量单位</td>
       <td>$m1.MEASNAME</td>
       <td>基数</td>
       <td>$m1.HNUM</td>
   </tr>
   <tr class="trcolor">
       <td>物料类型</td>
       <td>#if($m1.BOMCLS=='A')物料#else包装#end</td>
       <td><div style="display:none">工艺路线</div>&nbsp;</td>
       <td>&nbsp;</td>
   </tr>
   #end
</table>
<br>
<table class="datatable" id="tb">
  <tr class="trcolor">
    <td>序号</td>
    <td>#if($!form_type=='A')原材料#else包装物#end编码</td>
    <td>#if($!form_type=='A')原材料#else包装物#end名称</td>
    <td>#if($!form_type=='A')原材料#else包装物#end规格</td>
    <td>计量单位</td>
    <td>物料类型</td>
    <td>单位用量</td>
    <td>正误差率</td>
    <td>负误差率</td>
    <td>损耗率</td>
    <td>固定损耗量</td>
    <td>参考类别</td>
    <td>客户供应标识</td>
  </tr>
  #set($i=1)
  #foreach($!m in $snbomquerybypkinvbasdoc)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.INVCODE</td>
    <td>$!m.INVNAME</td>
    <td>$!m.INVSPEC&nbsp;</td>
    <td>$!m.JILIANGNAME</td>
    <td>#if($!m.INVTYPE=='A')一般物料#elseif($!m.INVTYPE=='B')自制复合物料#elseif($!m.INVTYPE=='C')领用复合物料#end</td>
    <td>$!m.NNUM</td>
    <td>$!m.ERRU</td>
    <td>$!m.ERRD</td>
    <td>$!m.DIS</td>
    <td>$!m.DISNUM</td>
    <td>$!m.CLSNAME&nbsp;</td>
    <td>#if($!m.FLAG=='Y')不计成本#else计算成本#end&nbsp;</td>
  </tr>
  #set($i=$i+1)
  #end
  #foreach($!m in $snbomquerybypkinvbasdocsum)
  <tr class="trcolor">
     <td colspan="6">合计</td>
     <td>$!m.NNUM</td>
     <td>$!m.ERRU</td>
     <td>$!m.ERRD</td>
     <td>$!m.DIS</td>
     <td>$!m.DISNUM</td>
     <td colspan="2">&nbsp;</td>
  </tr>
  #end
</table>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

