<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>分厂查询</title>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable">
   <tr class="trcolor">
    <td align="left">分厂名称<input type="text" style="width:100" name="deptname" value="$!form_deptname">&nbsp;<input type="button" value="查询" onclick="tosearch()"></td>
    <input type="hidden" name="row" value="$!form_row">
  </tr>
</table>
</form>
<table class="datatable" id="TableList">
   <tr class="trcolor">
    <td>选择</td>
    <td>分厂编码</td>
    <td>分厂名称</td>
  </tr>
  #set($i=0)
  #foreach($!m in $bddeptdocquery)
  <tr class="trcolor" id="A$i">
    <td><input type="radio" name="Checkbox" id='Checkbox$i' value="N" onclick="ButtonSelectOk($i)"/></td>
    <td>$!m.DEPTCODE</td>
    <td>$!m.CNAME<input type="hidden" name="deptname" id='deptname$i' value="$!m.CNAME" ><input type="hidden" name="pk_deptdoc" id='pk_deptdoc$i' value="$!m.CHECKUSERNAME" ></td>
  </tr>
#set($i=$i+1)
#end
</table>
</body>
</html>
<script language="javascript">
function ButtonSelectOk(i){
    var htmlstr = "";
    var htmlstrname = "";
    var smean = "";
    if(document.getElementById('Checkbox'+i).checked == true){
       htmlstrname =document.getElementById('deptname'+i).value;
       smean =document.getElementById('pk_deptdoc'+i).value;
    }
    window.opener.document.getElementById("factoryname$form_row").value= htmlstrname;
    window.opener.document.getElementById("pk_deptdoc$form_row").value = smean;
    window.close();
}
function tosearch(){
   document.form1.action="fcquery.aspx";
   document.form1.submit();
}
</script>
