<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script  src="../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<title>=====</title>
<script language="javascript">
        var num1=0;
	function sub(){
	         history.back(-1);
		//document.location.href="invnamebaobom.aspx";
	}
	 function subadd(url){
	    document.form2.action = url;
	    document.form2.submit();
	 }
	 function todel(url){
	    if(confirm("确认要删除吗？")){
	       document.thisform.target="dataframe";
	       document.thisform.action = url;
	       document.thisform.submit();
	    }
	 }
	  function openewin(url){
	     window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
	  }
	  function touncheck(url){
	     if(confirm("确定要反审核吗？")){
	     document.thisform.target="dataframe";
	     document.thisform.action = url;
	     document.thisform.submit();
	     }
	  }
</script>
</head>

<body>
<form name="thisform" method="post" action="invnamebaobom.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
  <tr class="trcolor">
    <td  align="center"><input type="button" name="b1" class="bt1" value="返  回" onclick="sub()"/>&nbsp;</td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id="tb">
  <tr class="trcolor">
    <td>序号</td>
    <td>产品编码</td>
    <td>产品名称</td>
    <td>产品规格</td>
    <td>版本号</td>
    <td>BOM类型</td>
    <td>创建人</td>
    <td>创建日期</td>
    <td>操作</td>
  </tr>
  #set($i=1)
  #foreach($!m in $snbomheadbaoquery)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.YCLINVCODE</td>
    <td>$!m.YCLINVNAME</td>
    <td>$!m.YCLINVSPEC&nbsp;</td>
    <td>$!m.VERSION</td>
    <td>$!m.BOMCLSNAME</td>
    <td>$!m.MAKER</td>
    <td>$!m.CREATEDATE</td>
    <td>
      #if($m.FSTATUS == 'N')
         <a href="#" onclick="openewin('factorybomwdetail.aspx?bomid=$m.BOMID&type=B')">明细</a>&nbsp;<a href="invnamebaobomedit.aspx?bomid=$m.BOMID&version=$m.VERSION&ptype=$!form_ptype">修改</a>&nbsp;<a href="#" onclick="todel('invnamebaobomdel.aspx?bomid=$m.BOMID')">删除</a>
      #else
          <a href="#" onclick="openewin('factorybomwdetail.aspx?bomid=$m.BOMID&type=B')">明细</a>&nbsp;<!--<a href="#" onclick="touncheck('factorybombaouncheck.aspx?bomid=$m.BOMID&ptype=$!form_ptype')">反审核</a>-->
      #end
      <a href="invnamebaobomcopy.aspx?bomid=$m.BOMID&version=$m.VERSION&ptype=$!form_ptype">复制</a>&nbsp;#if($m.FSTATUS == 'Y')<a href="invnamebaobomremarkedit.aspx?bomid=$m.BOMID&version=$m.VERSION&ptype=$!form_ptype">修改备注</a>#end
    </td>
  </tr>
  #set($i=$i+1)
  #end
 <tr>
        <td class="tdlabel" colspan="10">$pagecode</td>
   </tr>
</table>
<form method="post" name="form2">
</form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>