<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable">
   <tr class="trcolor">
    <td align="left">产品名称<input type="text" style="width:100" name="invname">&nbsp;<input type="button" value="查询" onclick="tosearch()"></td>
    <input type="hidden" name="xtype" value="1"><input type="hidden" name="row" value="$!form_row">
  </tr>
</table>
</form>
<table class="datatable" id="TableList">
   <tr class="trcolor">
    <td>选择</td>
    <td>产品编码</td>
    <td>产品名称</td>
    <td>产品规格</td>
    <td>单位</td>
  </tr>
  #set($i=0)
  #foreach($!m in $snncinvnamebaoquery)
  <tr class="trcolor" id="A$i">
    <td><input type="radio" name="Checkbox" id='Checkbox$i' value="N" onclick="ButtonSelectOk($i)"/></td>
    <td>$!m.INVCODE</td>
    <td>$!m.INVNAME<input type="hidden" name="invcode" id='invcode$i' value="$!m.PK_INVBASDOC" ><input type="hidden" name="invname" id='invname$i' value="$!m.INVNAME" ><input type="hidden" name="mename" id='mename$i' value="$!m.PK_MEASDOC" ></td>
    <td>$!m.INVSPEC&nbsp;</td>
  </tr>
#set($i=$i+1)
#end
</table>
</body>
</html>
<script language="javascript">
function ButtonSelectOk(i){
    var htmlstr = "";
    var htmlstrname = "";
    var smean = "";
    if(document.getElementById('Checkbox'+i).checked == true){
       htmlstr=document.getElementById('invcode'+i).value;
       htmlstrname =document.getElementById('invname'+i).value;
       smean =document.getElementById('mename'+i).value;
    }
    window.top.opener.document.getElementById("invname").value= htmlstrname;
    window.top.opener.document.getElementById("invnameid").value= htmlstr;
    window.top.opener.document.getElementById("bomname").value = htmlstrname;
    window.top.opener.document.getElementById("meaname").value = smean;
    window.top.close();
}
function tosearch(){
   document.form1.action="itemright.aspx";
   document.form1.submit();
}
</script>
