<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===销售计划===</title>
<!--<script language="javascript" src="../../../js/PlanGridEdit.js"></script>-->
<script language="javascript" src="../../../js/OutStockOrderGridEdit.js"></script>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  
var now = new Date(); //获取系统日期 
var yyy ="'"+now.getYear()+"'"; //截取年		
var yy = yyy.substring(3,5);
var mon = now.getMonth()+1; //截取月
var dd = now.getDate(); //截取日
//取时间 
var hh = now.getHours(); //截取小时 
var ss = now.getTime() % 60000; //获取时间，因为系统中时间是以毫秒计算的，所以秒要通过余60000得到。 
var mil = now.getMilliseconds();//毫秒
ss= (ss - (ss % 1000)) / 1000; //然后，将得到的毫秒数再处理成秒 
var clock = yy; //将得到的各个部分连接成一个日期时间 
if (parseInt(mon) < 10) mon += '0'; //字符串 
clock += mon;  
if (parseInt(dd) < 10) dd += '0';  
clock += dd;
if (parseInt(hh) < 10) hh += '0';  
clock += hh; 
if (parseInt(ss) < 10) ss += '0';  
clock += ss;
if (parseInt(mil) < 10){mil += '00';
}else if(10 <= parseInt(mil) < 100){mil += '0';}
clock += (mil.substr(0,3));
var bid=0;
var a = 'bck';
var b = clock;
var c = bid;
var d = a+b+c
var a1 = '1002ck'+clock;
var a2 = '1002tk'+clock;

var bData1=new Array(); 
bData1=[
      ['产品代码','产品名称','产品规格','库存量','需退数量','可退数量','状态','nc主键','0','金额','出库单号','产品主键','库位','批次号','','FSTYLE','nobillno','DTVALUE','bxunitcode']
 #set($i=1)
 #foreach($m in $selstockusequantityedit)
      ,['$m.INVCODE','$m.INVNAME','$m.INVSPEC','#if($m.NNUMBER=="")0#else$m.NNUMBER#end','$m.NOUTNUM','$m.XXNNUMBER','$m.FLAG','$m.CGENERALBID','$i','0','$m.VBILLCODE','$m.NC_PROD_PK','$m.UNITCODE','$m.BATCHCODE','','#if($m.FSTYLE=='0')<font color="red">零托</font>#else整托#end','$m.NOBILLNO','$m.DTVALUE','$m.XUNITCODE']
   #set($i=$i+1)
 #end
]
var quantitydata=new Array(); 
quantitydata = [['产品代码','应发数量量','产品主键','整托件数']
#foreach($m in $queryxsckitemquantity)
      ,['$m.INVCODE','$m.NOUTNUM','$m.NC_PROD_PK','$m.DTVALUE']
   #set($i=$i+1)
 #end
];
var product = new Array();
product = [['库位代码','库位名称','产品主键']
#foreach($m in $queryncbillnobybillno)
      ,['$m.INVCODE','$m.INVNAME','$m.INVSPEC','$m.NSHOULDOUTNUM','$m.SHIFANUMBER','$m.TUIHUONUMBER','$m.NOUTNUM']
   #set($i=$i+1)
 #end
];
var pageSize=50;
var pageno=0;
var rdata=new Array();
rdata=bData1;


function toclear(i){
   document.getElementById("edittbprice"+i).value = "";
}
function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][6]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'>";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1];
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][4]
	  for(var j=5;j<6;j++){
	     with (row.insertCell())
             {
	       innerHTML=rdata[(page-1)*pageSize+i][j];
	       if(rdata[(page-1)*pageSize+i][j]!=rdata[(page-1)*pageSize+i][j+5]){
	         //width='10%'
		 //attachEvent("onclick",setEditBox); 
		 className="dirty-cell";
	       }
	     }
	 }
	 row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][12];
	 row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][15];
	 row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][13]; 
	 if(rdata[(page-1)*pageSize+i][14] != ""){
	     row.insertCell().innerHTML='<input type="text" name=edittbprice'+((page-1)*pageSize+i)+' id=edittbprice'+((page-1)*pageSize+i)+' size="7" value="'+rdata[(page-1)*pageSize+i][14]+'" readonly><input type="button"  value="..." onclick="showindow('+((page-1)*pageSize+i)+')"><input type="button" size="5" value="清除" onclick="toclear('+((page-1)*pageSize+i)+')">';
	 }else{
	     row.insertCell().innerHTML='<input type="text" name=edittbprice'+((page-1)*pageSize+i)+' id=edittbprice'+((page-1)*pageSize+i)+' size="7" value="'+rdata[(page-1)*pageSize+i][18]+'" readonly><input type="button"  value="..." onclick="showindow('+((page-1)*pageSize+i)+')"><input type="button" size="5" value="清除" onclick="toclear('+((page-1)*pageSize+i)+')">';
	 }
	 row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][17]; 
	 SetRowCanEdit(row);
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function showindow(m){
var ReturnAllQualityValue=showModalDialog('unusestock.aspx?a='+1,"a",'dialogWidth:1000px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
	if(ReturnAllQualityValue!=null){
		document.getElementById("edittbprice"+m).value=ReturnAllQualityValue;
	}
}

function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][1].indexOf(form2.elements[1].value)>-1);
    if(form2.elements[2].value=="O")
        bstatus=(bData1[i][3]>0);
    else
	bstatus=form2.elements[2].value=="all"?true:(bData1[i][6]==form2.elements[2].value);
	//alert(bstatus)
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++;
	}
 }
 toPage(1);
}

function save(step,status)
{
  savepage(pageno);
  var datahtml="";
  var num=0;
  var nextnum=0;
  var strhtml = "";
  var isreturnstock = false;
  var hdatahtml="";
  var az = 0;
  var lingusestock = "";
  hdatahtml+="<input type=hidden name=billno value='$form_billno'>";
  hdatahtml+="<input type=hidden name=cgeneralhid value='$form_cgeneralhid'>";
  hdatahtml+="<input type=hidden name=billtype value='2'>";
  hdatahtml+="<input type=hidden name=outstockstatus value='"+status+"'>";
  for(var j = 1 ; j < quantitydata.length; j ++){
     var a111 = 0;
     var exititemquantity = 0;
     for(var i = 1; i < bData1.length; i ++){
        if(bData1[i][6]=='Y' && bData1[i][5]>0){
		if(quantitydata[j][0]==bData1[i][0]){
		    a111 += parseInt(bData1[i][5]);
		    if(a111 - parseInt(bData1[i][4]) == 0){
		       exititemquantity ++;
		    }
		    if(a111 - parseInt(bData1[i][4]) > 0){
		       exititemquantity ++;
		       if(exititemquantity > 1){
			   alert(quantitydata[j][0]+"数量不正确");
			   return false;
		       }
		    }
		}
	 }
     }
    if(a111-parseInt(quantitydata[j][1]) > 0){
        var ddd = parseInt(quantitydata[j][1])-a111;
	strhtml+="<input type=hidden name=nc_prod_pk value='"+quantitydata[j][2]+"'>"; //出库单号
        strhtml+="<input type=hidden name=billno_bid value='"+(d+j+0)+"'>";
        strhtml+="<input type=hidden name=nnumber value='"+ddd+"'>"; //出库储量
	strhtml+="<input type=hidden name=billno_id value='"+(a2+0)+"'>";
	var ax = 0 ;
	for(var i = 1; i < bData1.length; i ++){
           if(bData1[i][6]=='Y' && bData1[i][5]>0){
		if(quantitydata[j][0]==bData1[i][0]){
		    //if(document.getElementById('edittbprice'+i).value != ""){
		    if(bData1[i][14] == ""){
		
		   }else{
		       if(bData1[i][14] != ""){
                           ax ++;az++;
			   lingusestock+=","+bData1[i][14];
			   strhtml+="<input type=hidden name=batchcode value='"+bData1[i][13]+"'>"; //批次
			   strhtml+="<input type=hidden name=unitcode value='"+bData1[i][14]+"'>"; //库位代码
			   if(az == '1'){
				   if(bData1[i][14] == ""){
				    alert(bData1[i][0]+"的退货库位不能为空");
				      //document.getElementById('edittbprice'+i).focus();
				      return false;
				   }
			      }else{
				      if(lingusestock.replace(bData1[i][14],'').indexOf(bData1[i][14])!=-1){
					      alert(bData1[i][0]+"的退货库位不正确");
					     // document.getElementById('edittbprice'+i).focus();
					      return false;
				      }
				      if(a111-parseInt(quantitydata[j][1])>parseInt(bData1[i][5])){
					   alert(bData1[i][0]+"退货数量不能大于当前库存量");
					   //document.getElementById('edittbprice'+i).focus();
					   return false;
				      }
			      }
		    }else{
		       if(document.getElementById('edittbprice'+i).value != ""){
			      ax ++;az++;
			      strhtml+="<input type=hidden name=batchcode value='"+bData1[i][13]+"'>"; //批次
			      strhtml+="<input type=hidden name=unitcode value='"+document.getElementById('edittbprice'+i).value+"'>"; //库位代码
			      lingusestock+=","+document.getElementById('edittbprice'+i).value;
			      if(az == '1'){
				   if(document.getElementById('edittbprice'+i).value == ""){
				    alert(bData1[i][0]+"的退货库位不能为空");
				      document.getElementById('edittbprice'+i).focus();
				      return false;
				   }
			      }else{
				      if(lingusestock.replace(document.getElementById('edittbprice'+i).value,'').indexOf(document.getElementById('edittbprice'+i).value)!=-1){
					      alert(bData1[i][0]+"的退货库位不正确");
					      document.getElementById('edittbprice'+i).focus();
					      return false;
				      }
				      if(a111-parseInt(quantitydata[j][1])>parseInt(bData1[i][5])){
					   alert(bData1[i][0]+"退货数量不能大于当前库存量");
					   document.getElementById('edittbprice'+i).focus();
					   return false;
				      }
			      }
			  }
		      }
		   }
		}
	    }
       }
       if(ax == 0){
	  alert("请选择"+quantitydata[j][0]+"的零托退货库位");
	  return false;
       }else if(ax > 1){
	  alert(quantitydata[j][0]+"只能选择一个零托退货库位");
	  return false;
       } 
       isreturnstock = true;
       if(a111-parseInt(quantitydata[j][1])>parseInt(quantitydata[j][1])){
	   alert("零托退货数量不能大于"+quantitydata[j][0]+"应发数量");
           return false;
       }
       if(a111-parseInt(quantitydata[j][1])>parseInt(quantitydata[j][3])){
	   alert("零托退货数量不能大于"+quantitydata[j][0]+"整托数量");
           return false;
       }
    }
    
  }
  var outstockitemcode = "";
  for(var i=0;i<bData1.length;i++){
    if(bData1[i][6]=='Y' &&(bData1[i][4]>0 || bData1[i][5]>0)){
      if(bData1[i][5] != '0'){
      outstockitemcode+=","+bData1[i][0];
       datahtml+="<input type=hidden name=nc_prod_pk value='"+bData1[i][11]+"'>"; //出库单号
       datahtml+="<input type=hidden name=batchcode value='"+bData1[i][13]+"'>"; //批次
       datahtml+="<input type=hidden name=unitcode value='"+bData1[i][12]+"'>"; //库位代码
       datahtml+="<input type=hidden name=billno_bid value='"+(d+i)+"'>";
       datahtml+="<input type=hidden name=nnumber value='"+bData1[i][5]+"'>"; //出库储量
      }
    }
 }

 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 var noitemcode = "";
 var nocout = 0;
 for(var i=1;i<quantitydata.length;i++){
    if(outstockitemcode.indexOf(quantitydata[i][0]) == -1){
       nocout ++;
       noitemcode += ","+quantitydata[i][0];
    }
 }
 if(nocout == 0){
	 if(isreturnstock == false){
	       subdata.innerHTML=hdatahtml+datahtml;
	       document.form_submit.action="newoutstockdetailSubmit.aspx";
	 }else{
		subdata.innerHTML=hdatahtml+datahtml+strhtml;
		document.form_submit.action="newoutstockdetailSubmit1.aspx";
	 }
	 form_submit.submit();
   }else{
        if(confirm("产品"+noitemcode.replace(",","")+"没有出库数量,确定要提交吗？")){
	 if(isreturnstock == false){
	       subdata.innerHTML=hdatahtml+datahtml;
	       document.form_submit.action="newoutstockdetailSubmit.aspx";
	 }else{
		subdata.innerHTML=hdatahtml+datahtml+strhtml;
		document.form_submit.action="newoutstockdetailSubmit1.aspx";
	 }
	 form_submit.submit();
      }
   }
}

function savepage(page)
{
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked){ 
	  rdata[(page-1)*pageSize+i][6]='Y';
	  if(document.getElementById('edittbprice'+i).value != ""){
	      rdata[(page-1)*pageSize+i][14]=document.getElementById('edittbprice'+i).value;
	  }else{
	     rdata[(page-1)*pageSize+i][14]="";
	  }
      }else{  
	  rdata[(page-1)*pageSize+i][6]='N';
      }
      for(var j=4;j<6;j++){
        if(table6.rows[i].cells[j+1].innerText==""){
	  rdata[(page-1)*pageSize+i][j]=document.all.editbox.value;
	}
	else{
          rdata[(page-1)*pageSize+i][j]=table6.rows[i].cells[j+1].innerText;
        }
      }
      bData1[rdata[(page-1)*pageSize+i][8]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}

function document.onkeydown(){
   key=event.keyCode;
   if(key==83 && event.ctrlKey){
    save();
    return;
   }
   if(key==38)   //向上箭头
   {
     if(event.srcElement.className=="EditCell_TextBox"){
        var ly=event.srcElement.parentNode.offsetTop;
	var hy=mdiv.scrollTop;
	if(ly>hy && (ly-hy<2*ftr.offsetHeight)) mdiv.scrollTop=mdiv.scrollTop-ftr.offsetHeight*2; 
  	//window.status=event.y+","+mdiv.offsetTop;
	//form2.elements[0].value=ftr.offsetHeight;
     }
     return;
   }
   if(key==34)   //page down
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }else{
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }
     return;
   }
   if(key==33)   //page up
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno>1){
	  toPage(pageno-1);
	}
     }else{
        if(pageno>1){
	  toPage(pageno-1);
	}
     }
   }
   return;
}

function toPageup(){
   for(var i=table7.rows.length;i>1;i--) table7.deleteRow(i-1);
   for(var i=1;i<=pageSize;i++){
    if(i<product.length){
  	  var row=table7.insertRow()
	  row.insertCell().innerText=product[i][0]
	  row.insertCell().innerHTML="<a style='cursor:hand' onclick=search11('"+product[i][1]+"')><font color=blue>"+product[i][1]+"</font></a>";
	  row.insertCell().innerText=product[i][2]
	  row.insertCell().innerText=product[i][3]
	  row.insertCell().innerText=product[i][4]
	 row.insertCell().innerHTML=product[i][5];
	 row.insertCell().innerHTML=product[i][6];
	 //attachEvent("onclick",setEditBox);
	 SetRowCanEdit(row);
    }
 }
}

function search11(para)
{
  var seachkey = para;
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    //bname=document.getElementById ("table7").rows [i].cells[0].innerText==""?true:(bData1[i][0].indexOf(document.getElementById ("table7").rows [i].cells[0].innerText)>-1);alert(bname);
    badd=seachkey.value==""?true:(bData1[i][1].indexOf(seachkey)>-1);
    if(bname && badd ){
       rdata[m]=bData1[i];
	   m++
	}
 }
 toPage(1);
}

function init()     
{  
   form2.elements[2].value='Y';
   search();
}

function allPlan(element,oldvalue){
    savepage(pageno);//alert(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][4]);
    var xx = 0;
    var allcount = 0;
    var g1 = 0; 
    var shifa = 0 ;
    var tuihuo = 0;
    var shengyu = 0;
    for(var i=1;i<rdata.length;i++){
         if(document.all.checkbox[i].checked && rdata[i][5]>0){
	    if(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][0] == rdata[i][0]){
		allcount += parseInt(rdata[i][5]);
		//alert(allcount+"----"+parseInt(rdata[i][5]));
		if(allcount - parseInt(rdata[i][4]) == 0){
		   g1 ++ ;
		   if(g1 > 1){
		   alert("产品"+rdata[i][0]+"大于应发数量");
		   return false;
		   }
		}
		if(allcount - parseInt(rdata[i][4]) > 0){
		   g1 ++ ;
		   if(g1 > 1){
		   alert("产品"+rdata[i][0]+"大于应发数量");
		   document.all.checkbox[element.parentNode.rowIndex].checked=false;
		   return false;
		   }
		}
		for(var j = 1; j < product.length; j ++){
			if(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][0] == product[j][0]){
			    //alert(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][0]);
			    shifa += parseInt(rdata[i][5]);
			    table7.rows[j].cells[4].innerText=shifa;
			    //alert(parseInt(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][4]));
			    if(parseInt(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][4])-shifa<0){
			       tuihuo = shifa-parseInt(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][4]);
			       if(tuihuo > parseInt(rdata[j][17])){
			          alert("产品"+rdata[j][0]+"退货数量不能大于整托数量");
				  return false;
			       }
			       table7.rows[j].cells[5].innerText=tuihuo;
			    }//alert(shifa);
			    shengyu = parseInt(rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][4])-shifa+tuihuo;
			    table7.rows[j].cells[6].innerText=shengyu;
			}
		}
	    }
	 }
     }
}

function allPlanxx()
{
  var num=0;
  var nextnum=0;
  savepage(pageno);
  //alert(num+"**"+nextnum);
  //document.all.byjh.innerHTML=num;
  //document.all.xyjh.innerHTML=nextnum;
  var xx = 0;
  var allcount = 0;//alert(quantitydata.length);
  for(var j = 1; j < quantitydata.length; j ++){
      for(var i=1;i<bData1.length;i++){
         if(bData1[i][6]=='Y'){
	    if(quantitydata[j][0] == bData1[i][0]){
		allcount += parseInt(bData1[i][5]);
		//alert(allcount);
		//alert(allcount+"----"+parseInt(bData1[i][5]));
		//if(allcount-parseInt(bData1[i][5]) > 0 || )
		if(parseInt(allcount)>parseInt(bData1[i][4])){
		   xx ++;
		   if(xx > 1){
		      //alert("数量不正确");
		      return false;
		   }
		}
	    }
            //num+=parseInt(bData1[i][4]);
           // nextnum+=parseInt(bData1[i][5]);
          }
       }
  }return false;
}

</script>


<body onload="init()">
<p align="left"><font size="4"><b>修改出库单$form_vbillcode</b></font>
<div style="width:100%;txt-align:center;border:0 double gray;">
   <form name="form9" id="table9">
<table  border="0" cellpadding="0" cellspacing="2" width="100%"  id="table7">
    <tr>
      <td height="19" width="10%">产品编码</td>
      <td height="19" width="30%">产品名称</td>
      <td height="19" width="10%">产品规格</td><td height="19" width="10%">应发数量</td>
      <td height="19" width="10%">实发数量</td> <td height="19" width="10%">退货数量</td>
      <td height="19" width="10%">剩余数量</td>
    </tr>
    </table>  
</form>
</div>
<br>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
客户名称/代码：<input type="text" size="16" onkeyup="presearch()"> 
产品名称/代码：<input type="text" size="16" onkeyup="presearch()"> 
状态：<select  onchange="search()">
            <option value='all' selected>全部</option>
	    <option value='N'>未报出库产品</option>
	    <option value='Y'>已报出库产品</option>
	    </select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">   
	    &nbsp;&nbsp;
</form>
</div>
<div class="mainDiv" id="mdiv"> 
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr" bgcolor="#EFEFEF" id="ftr">
      <td height="10" bgcolor="#abcdef" width="5%" Name="st" align="center"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="10" bgcolor="#abcdef" width="10%" Name="pcode" align="center">产品代码</td>
      <td height="10" bgcolor="#abcdef" width="20%" Name="pname" align="center">产品名称</td>
      <td height="10" bgcolor="#abcdef" width="10%" Name="pspec" align="center">产品规格</td>
      <td height="10" bgcolor="#abcdef" width="5%" Name="oldnum" align="center">库存量</td>
      <td height="10" bgcolor="#abcdef" width="5%" Name="Price" align="center">应发数量</td>
      <td height="10" bgcolor="#abcdef" width="8%" Name="Amount" EditType="TextBox" align="center" DataType="IntQuantity1">出库数量</td>
      <td height="10" bgcolor="#abcdef" width="8%" Name="Price" align="center">库位</td>
      <td height="10" bgcolor="#abcdef" width="8%" Name="Price1" align="center">库位类型</td>
      <td height="10" bgcolor="#abcdef" width="8%" Name="Price2" align="center">批次号</td>
      <td height="10" bgcolor="#abcdef" width="8%" Name="Price3" align="center">零托退货库位</td>
      <td height="10" bgcolor="#abcdef" width="8%" Name="Price4" align="center">库位容量</td>
    </tr>
</table>
 </div>
<div style="width:100%;txt-align:center;border:0 double gray;">
<input type="button" value=" 保  存 " id="btnSave">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 提  交 " id="btnSave2">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="login2" value=" 取  消 " name="B222" onClick="javascript:window.location='outstock.aspx';">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>

<script language="javascript">
var seleobj;

//单击“保存”按钮
btnSave.onclick=function()
{
   save(0,'N');	
}
//单击“提交”按钮
btnSave2.onclick=function()
{
   save(0,'Y');	
}

</script>
<script>
	 EditTables(table6);
	 toPage(1);
	 toPageup();
</script>
<form name="form_submit" method="post" action="newSalePlanSubmit.aspx" target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

