<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>出库单打印</title>
</head>
<script language="javascript">
   function toclose(){
	window.close();
   }
</script>
<script language="JavaScript" type="text/javascript">

function printpr(){
   document.all("dayinDiv").style.display="none"; //打印之前先隐藏不想打印输出的元素（此例中隐藏“打印”和“打印预览”两个按钮）   
	var OLECMDID = 7;   
	var PROMPT = 1;   
	var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';   
	document.body.insertAdjacentHTML('beforeEnd', WebBrowser);   
	WebBrowser1.ExecWB(OLECMDID, PROMPT);   
	WebBrowser1.outerHTML = "";   
	document.all("dayinDiv").style.display="";//打印之后将该元素显示出来（显示出“打印”和“打印预览”两个按钮，方便别人下次打印）   
}
function printTure(){
   document.all("dayinDiv").style.display="none";//同上   
   window.print();   
   document.all("dayinDiv").style.display="";   
}
</script>


<body>
<DIV align="center" id="dayinDiv" name="dayinDiv">
<OBJECT ID="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>
<input type="button" class="tab" value="打印" onclick="printTure();">&nbsp;&nbsp;<input type="button" class="tab" value="打印预览" onclick="printpr();">&nbsp;&nbsp;<input name=Button onClick=document.all.WebBrowser.ExecWB(8,1) type=button value=页面设置>     
<input type="hidden" name="qingkongyema" id="qingkongyema" class="tab" value="清空页码" onclick="pagesetup_null()">&nbsp;&nbsp;   
<input type="hidden" class="tab" value="恢复页码" onclick="pagesetup_default()">
</DIV> 
<br>
<table class="datatable" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td colspan="10" align="center">出库单打印</td>
  </tr>
  <tr class="trcolorxx">
    <td nowrap align="center">产品代码</td>
    <td nowrap align="center">产品名称</td>
    <td nowrap align="center">产品规格</td>
    <td nowrap align="center">出库数量</td>
    <td nowrap align="center">批次</td>
    <td nowrap align="center">所属区域</td>
    <td nowrap align="center">巷道</td>
    <td nowrap align="center">第几层</td>
  </tr>
  #set($i=1)
  #foreach($!m in $seloutstockquantitydetailprint)
	  <tr>
	    <td align="center">$!m.INVCODE</td>
	    <td align="left">$!m.INVNAME</td>
	    <td nowrap align="center">$!m.INVSPEC</td>
	    <td nowrap align="right">$!m.NNUMBER</td>
	    <td nowrap align="center">$!m.BATCHCODE</td>
	    <td nowrap align="center">$!m.AREACODE</td>
	    <td nowrap align="center">$!m.PATHCODE</td>
	    <td align="center" nowrap>$!m.LAYERCODE</td>
	  </tr>
  #set($i=$i+1)
  #end
</table>
<br>
</body>
</html>
