<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<style> 
.FixedTitleRow 
{ 
position: relative; 
top: expression(this.offsetParent.scrollTop-2); 
z-index: 10; 
background-color: #E6ECF0; 
} 
.FixedTitleColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.scrollLeft); 
} 
.FixedDataColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.parentElement.scrollLeft); 
} 
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft-20));   
}
</style> 

</head>
<script>
function save(step,status)
{
  savepage(pageno);
  var datahtml="";
  var num=0;
  var nextnum=0;
  for(var i=0;i<bData1.length;i++){
    if(bData1[i][6]=='Y' && bData1[i][4]>0){
       datahtml+="<input type=hidden name=prodpk value='"+bData1[i][0]+"'>";
       datahtml+="<input type=hidden name=plannum value='"+bData1[i][4]+"'>";
       num+=parseInt(bData1[i][4]);
       datahtml+="<input type=hidden name=nextplan value='"+bData1[i][4]+"'>";
       datahtml+="<input type=hidden name=billno value='"+bData1[i][0]+"'>";
       nextnum+=parseInt(bData1[i][5]);
     
    }
 }
 
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 if(step == '0'){
    btnSave.disabled = true;
 }else if(step == '1'){
    btnSave2.disabled = true;
 }

 datahtml+="<input type=hidden name=pk_prod value='$form_pk_prod'>";
 datahtml+="<input type=hidden name=billdate value='$form_begintime'>";
 datahtml+="<input type=hidden name=makeruser value='"+document.getElementById("makeruser").value+"'>";
 datahtml+="<input type=hidden name=custpk value='$form_custpk'>";


 datahtml+="<input type=hidden name=fstep value='"+step+"'>";
 datahtml+="<input type=hidden name=fstatus value='"+status+"'>";

 
 subdata.innerHTML=datahtml;
   form_submit.action="newTempSalePlanSubmit.aspx";
   form_submit.submit();
}

function agreess(iscust){
   document.form_submit.iscust.value = iscust;
   document.form_submit.custremark.value = document.form1.custremark.value;
   document.form_submit.target="saveframe";
   document.form_submit.action="custaccountcwsave.aspx";
   document.form_submit.submit();
}
var ye = '0';
var ys = '0';
var sk = '0';
var num1 = 0;
var num2 = 0;
var num3 = 0;
var num4 = 0;
var num5 = 0;
function Subtr(arg1,arg2){
     var r1,r2,m,n;
     try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
     try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
     m=Math.pow(10,Math.max(r1,r2));
     n=(r1>=r2)?r1:r2;
     return ((arg1*m-arg2*m)/m).toFixed(n);
 } 
 function accAdd(arg1,arg2){ 
	var r1,r2,m; 
	try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0} 
	try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0} 
	m=Math.pow(10,Math.max(r1,r2)) 
	return (arg1*m+arg2*m)/m 
 } 
 function toexpexcel(url){
    window.open(url,'','top=0,left=0,Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width="+screen.width+",height="+screen.height+"');
}
function toopen(url){
    window.open(url,'','top=0,left=0,Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width="+screen.width+",height="+screen.height+"');
}
</script>


<body>
<p align="center"><font size="4"><b>$!form_custname对账明细</b></font>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb"
class="datatable">
<tr height="20"  align="center"   class="FixedTitleRow">
	<td nowrap="nowrap">日期</td>
	<td nowrap="nowrap">摘要</td>
	<td nowrap="nowrap">交易类型</td>
	<td nowrap="nowrap">单据号</td>
	<td nowrap="nowrap">币种</td>
	<td nowrap="nowrap">本期借方</td>
	<td nowrap="nowrap">本期贷方</td>
	<td nowrap="nowrap">期末余额</td>
	<td nowrap="nowrap">发票号</td>
	<td nowrap="nowrap">订单号</td>
</tr>
#foreach($m in $syneardzqueryye)
<tr>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>#if($m.YE != "")$m.YE#else 0 #end</td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
</tr>
<script>
  ye = $m.YE;
</script>
#end

#set($i=1)  
#foreach($m1 in $syneardzquerydetail)  
<tr>
   <td nowrap>$!m1.DJRQ</td>
   <td nowrap>#if($!m1.ZY!="")$!m1.ZY#else&nbsp;#end</td>
   <td nowrap>$!m1.BILLTYPENAME</td>
   <td nowrap>$!m1.DJBH</td>
   <td nowrap>$!m1.CURRTYPENAME</td>
   <td nowrap>#if($!m1.YS!="0")$!m1.YS#else&nbsp;#end</td>
   <td nowrap>#if($!m1.SK!="0")$!m1.SK#else&nbsp;#end</td>
   <td nowrap>
       <script>
          if('$!m1.YS' != ''){
	     ys = '$!m1.YS';
	  }else{
	     ys = '0';
	  }
	  if('$!m1.SK' != ''){
	     sk = '$!m1.SK';
	  }else{
	     sk = '0';
	  }
	  if('$i' == '1'){
	    num1=accAdd(ye,ys);
	  }else{
            num1=accAdd(num3,ys);
	  }
	  num2=Subtr(num1.toFixed(2),sk);
          document.write(num2); 
       </script>
   </td>
   <td nowrap>#if($!m1.VRECEIPTCODE!="")$!m1.VRECEIPTCODE#else&nbsp;#end</td>
   <td nowrap>
      #if($!m1.DDH!="")
          #if($!m1.DDH.indexOf("5X")!=-1)
              <a href="#" onclick="toopen('dborder.aspx?vreceiptcode=$!m1.DJBH')">$!m1.DDH</a>
	  #else
              <a href="#" onclick="toopen('order.aspx?vreceiptcode=$!m1.DDH')">$!m1.DDH</a>
	  #end
      #else
          &nbsp;
      #end
   </td>
</tr>
#set($i=$i+1)
<script language="javascript">
   num3 = num2; 
   num4 = accAdd(num4.toFixed(2),ys);
   num5 = accAdd(num5.toFixed(2),sk);
</script>
#end 
<tr>
   <td colspan="5" align="center">合计</td>
   <td><script language="javascript">document.write(num4); </script></td>
   <td><script language="javascript">document.write(num5); </script></td>
   <td><script language="javascript">document.write(num3); </script></td>
   <td nowrap>&nbsp;</td>
   <td nowrap>&nbsp;</td>
</tr>
<tr">
   <td align="center"  colspan="10">
       <input type="button" value=" 返   回 " name="B222" onClick="javascript:history.go(-1);"  class="bt1">&nbsp;&nbsp;<input type="button" class="bt1" name="btn" value="导出excel表"onclick="javascript:method1('tb');">
   </td>
</tr>
<form name="form_submit" method="post" action="" target="saveframe">
  <input type="hidden" name="custcode" value="$form_custcode">
  <input type="hidden" name="ysmonth" value="$form_ysmonth">
  <input type="hidden" name="custremark" value="">
  <input type="hidden" name="iscust" value="">
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>
