<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script  src="../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<title>=====</title>
</head>

<body>
<form name="thisform" method="post" action="deliverytime.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4"><input type="button" name="b1" class="bt1" value="返  回" onclick="javascript:document.location.href='deliverytime.aspx';"/><!--&nbsp;<input type="button" class="bt1" name="btn" value="导出excel表"onclick="javascript:method1('tb');">--></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id="tb">
  <tr class="trcolor">
    <td>序号</td>
    <td>预订单号</td>
    <td>产品编码</td>
    <td>产品名称</td>
    <td>规格</td>
    <td>预订单数量</td>
    <td>订单数量</td>
    <td>是否相同</td>
  </tr>
  #set($i=1)
  #foreach($!m in $plandeptbilv) 
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.VRECEIPTCODE</td>
    <td>$!m.INVNAME</td>
    <td>$!m.INVCODE</td>
    <td>$!m.INVSPEC</td>
    <td>$!m.NNUMBER</td>
    <td>$!m.ORDERNUM</td>
    <td>#if($m.RESULT == '1')<font color='red'>不同</font>#else相同#end </td>
  </tr>
  #set($i=$i+1)
  #end
 <tr >
        <td class="tdlabel td" colspan="8">$pagecode</td>
 </tr>
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>