<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script  src="../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<title>=====</title>
<script language="javascript">
        var num1=0;
	function sub(){
		document.thisform.page.value =1;
		document.thisform.submit();
	}
	function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue.substring(0,7);
	 
	 }
</script>
</head>

<body>
<form name="thisform" method="post" action="deliverytime.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td>考核月份</td>
    <td align="left"><input name="month" type="text" class="login" id="indate" value="$!form_month" readonly><input type="button" value="↓" onClick="ShowDate(month);" class="button" name="button23" ></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td colspan="4"><input type="button" name="b1" class="bt1" value="查  询" onclick="sub()"/>&nbsp;<input type="button" class="bt1" name="btn" value="导出excel表"onclick="javascript:method1('tb');"></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id="tb">
  <tr class="trcolor">
    <td>部门</td>
    <td>交期达成率</td>
  </tr>
  #set($i=1)
  #foreach($!m in $kpideliverytimequery)
  <tr class="trcolor">
    <td>$!m.DEPTNAME</td>
    <td>
    #if($!m.DEPTNAME.trim() == "运营计划部")
        <a href="deliverytimedetail.aspx?month=$m.MONTH.trim()&deptname=$m.DEPTNAME">$!m.BAIFENBI%</a>
    #elseif($!m.DEPTNAME.trim() == "物流部")
        <a href="wuliudeliverytimedetail.aspx?month=$m.MONTH.trim()&deptname=$m.DEPTNAME">$!m.BAIFENBI%</a>
    #elseif($!m.DEPTNAME.trim() == "仓储部")
        <a href="stockdeliverytimedetail.aspx?month=$m.MONTH.trim()&deptname=$m.DEPTNAME">$!m.BAIFENBI%</a>
    #end
    </td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>