<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
<script language="javascript">
function ButtonSelectOk(i){
    if(document.getElementById('Checkbox'+i).checked == true){
       document.getElementById('Checkbox'+i).value = 'Y';
    }else{
       document.getElementById('Checkbox'+i).value = 'N';
    }
}
</script>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable" id="TableList">
  <tr class="trcolor">
    <td colspan="8" align="left">详细信息</td>
  </tr>
   <tr class="trcolor">
    <td><input type="checkbox" name="checkall" onclick="checkallinv()">选择</td>
    <td>产品编码</td>
    <td>产品名称</td>
  </tr>
  #set($i=0)
  #foreach($!m in $snncinvnamequery)
  <tr class="trcolor" id="A$i">
    <td><input type="checkbox" name="Checkbox" id='Checkbox$i' value="N" onclick="ButtonSelectOk($i)"/></td>
    <td>$!m.INVCODE</td>
    <td>$!m.INVNAME<input type="hidden" name="invcode" id='invcode$i' value="$!m.INVCODE" ><input type="hidden" name="invname" id='invname$i' value="$!m.INVNAME" ></td>
  </tr>
#set($i=$i+1)
#end
 <tr>
    <td colspan="3" align="center">
    <input type="button" class="bt1" value=" 确  定 " onclick="tosure()" id="btnSave2">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button"  class="bt1" value=" 关  闭 " name="B222" onClick="javascript:window.close();">
    </td>
 </tr>
</table>
</form>
</body>
</html>
<script language="javascript">
    function checkallinv(){
       if(document.form1.checkall.checked){
          for(var i = 0 ; i <　$i ; i ++){
             document.getElementById('Checkbox'+i).checked = true;
	     document.getElementById('Checkbox'+i).value = 'Y';
	  }
       }else{
          for(var i = 0 ; i <　$i ; i ++){
             document.getElementById('Checkbox'+i).checked = false;
	     document.getElementById('Checkbox'+i).value = 'N';
	  }
       }
    }
    function tosure(){
       var htmlstr = "";
       var htmlstrname = "";
       var count = 0 ;
       for(var i = 0 ; i <　$i ; i ++){
           if(document.getElementById('Checkbox'+i).value == 'Y'){
	      if(count == '0'){
		htmlstr+=document.getElementById('invcode'+i).value;
		htmlstrname +=document.getElementById('invname'+i).value;
	     }else{
		htmlstr+=","+document.getElementById('invcode'+i).value;
		htmlstrname +=","+document.getElementById('invname'+i).value;
	     }
	     count ++;
	   }
       }
       window.top.opener.document.getElementById("ptypename").value= htmlstrname;
       window.top.opener.document.getElementById("ptype").value= htmlstr;
       window.top.close();
    }
</script>
