<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<title>月份</title>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  

var gsh=0;
var gcount=0;
var gre=0;
var gmsg='';

var bData1=new Array(); 
bData1=[
      ['年0','月1','状态2']
 #set($i=1)
 #foreach($m in $snmonthqueryall)
      ,['$m.YEAR','$m.MONTH','N']
   #set($i=$i+1)
 #end
]

var pageSize=50;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][2]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'>";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1];
    }
 }
 }catch(e){
   alert(e.description)
 }
}

function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];

  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][1].indexOf(form2.elements[1].value)>-1);
    if(form2.elements[2].value=="O")
        bstatus=(bData1[i][2]>0);
    else
	bstatus=form2.elements[2].value=="all"?true:(bData1[i][2]==form2.elements[2].value);
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++;
	}
 }
 toPage(1);
}

function save(step,status)
{
  savepage(pageno);
  var count = 0 ;
  var htmlstr = "";
  for(var i=0;i<bData1.length;i++){
    if(bData1[i][2]=='Y'){
      if(count == '0'){
        htmlstr+=bData1[i][1];
      }else{
        htmlstr+=","+bData1[i][1];
      }
      count ++;
    }
 }
 if(count=='0'){
   alert("没有选择月份！");
   return false;
 }
 window.opener.document.getElementById("month").value= htmlstr;
 window.close();
}

function savepage(page)
{
   if(page>0){
     for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked){ 
          rdata[(page-1)*pageSize+i][2]='Y';
      }else{
        rdata[(page-1)*pageSize+i][2]='N';
      }
      bData1[rdata[(page-1)*pageSize+i][2]]=rdata[(page-1)*pageSize+i];
    }
  }
}

function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}
   

function init()     
{  
   toPage(1);
}

</script>


<body onload="init()">
<p align="left"><font size="4"><b>选择月份</b></font>
<br>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
年：<input type="text" size="16" onkeyup="presearch()"> 
月：<input type="text" size="16" onkeyup="presearch()">  
状   态 ：&nbsp;&nbsp;<select  onchange="search()">
            <option value='all' selected>全部</option>
	    <option value='N'>未选</option>
	    <option value='Y'>已选</option>
	    </select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">   
	    &nbsp;&nbsp;
</form>
</div>
<!--div class="mainDiv" id="mdiv"--> 
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr1" bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#abcdef" width="10%" Name="st"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="19" bgcolor="#abcdef" width="40%" Name="pcode" >年</td>
      <td height="19" bgcolor="#abcdef" width="50%" Name="pname">月</td>
    </tr>
</table>
 <!--/div-->
<div style="width:100%;txt-align:center;border:0 double gray;">
&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 确  定 " id="btnSave2">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="login2" value=" 关  闭 " name="B222" onClick="javascript:window.close();">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>

<script language="javascript">
var seleobj;

//单击“保存”按钮
/*btnSave.onclick=function()
{
   save(0,'N');	
}*/
//单击“提交”按钮
btnSave2.onclick=function()
{
   save(0,'Y');	
}

</script>
<script>
	 EditTables(table6);
	 
</script>
<form name="form_submit" method="post" action="newSalePlanSubmit.aspx" target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

