<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>移库出库明细</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
</head>
<script language="javascript">
var nnumber = 0;
</script>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="datatable">
#foreach($m in $stockyearmoveoutquery1)
<tr class="trcolor">
   <td>单据号:$m.SN_STOCK_OUT_PK</td>
   <td>仓库:$m.STORNAME</td>
   <td>移入仓库:$m.DEPTNAME</td>
   <td>出库日期:$m.INDATE</td>
   <td>单据日期:$m.BILLDATE</td>
</tr>
#end
</table>
<br>
<table border="0" cellspacing="0" cellpadding="0" class="datatable">
  <tr class="trcolor">
    <td height="25" nowrap>产品名称</td>
    <td height="25" nowrap>批次</td>
    <td height="25" nowrap>数量</td>
  </tr>
  #foreach($m in $stockyearmoveoutdetailquery)
  <tr class="trcolor">
     <td width="40%">$m.INVNAME</td>
     <td width="30%">$m.BATCHCODE</td>
     <td width="30%">$m.NNUMBER</td>
  </tr>
  <script>
     nnumber += $m.NNUMBER;
  </script>
  #end
  <tr class="trcolor">
     <td colspan="2">合计</td>
     <td><script>document.write(nnumber);</script></td>
  </tr>
  <tr class="trcolor">
    <td colspan="3"><input type="button" class="bt1" value="返&nbsp;回" onclick="history.back(-1)"></td>
  </tr>
</table>
</body> 
</html>      
