<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script  src="../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<link rel='StyleSheet' href='../../js/dtree.css' type='text/css' />
<title>=====</title>
<script language="javascript">
        var num1=0;
	var num2=0;
	var num3=0;
	function sub(){
		document.thisform.page.value =1;
		document.thisform.submit();
	}
function setVals(dm,mc,code) {
	      setVal(dm,mc);
	      document.thisform.ptype.value=code;
	      document.thisform.ptypename.value=mc;
	 }
	 function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
 var undefined;		
function uniteTable(thistab,colLength){
  var rn=thistab.rows.length;//取得行数   
  var rowspann=0;   
  for(j=colLength-1;j>=0;j--){//从第0列开始，合并多少列  
  if(j == 1){
    for(i=rn-1;i>0;i--){//从倒数第一行开始往上检查   
      if(thistab.rows[i].cells[j].innerText==thistab.rows[i-1].cells[j].innerText&&thistab.rows[i].cells[j].colSpan==thistab.rows[i-1].cells[j].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
	rowspann+=thistab.rows[i].cells[j].rowSpan;;
	thistab.rows[i].deleteCell(j);   
      }else{   
	thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
	rowspann=0;   
      }   
    }   
    //检测无表头的表   
    if(i==0&&rowspann>0){   
      thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
      rowspann=0;   
    }   
  }   }
}  
 function init(){
    uniteTable(tb,5);
 }
</script>
</head>

<body  onload="init()">
<form name="thisform" method="post" action="stockyearquantitycount.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td>产品类别</td>
   <td align="left"><input type="text" name="ptypename" value="$!form_ptypename"  readonly>
	<input type="hidden" name="ptype" value="">
	<input type='button' name=bt class='bt1' value='选择' onclick="click_on_tree_selector($F('ptypename'),$F('dm_zzjg_tree_layer'))">
	<div class="dtree" id="dm_zzjg_tree_layer" style="position:absolute;width:300px;height:208px;visibility:Hidden;z-index:1"> 
	<table width="100%" border="1" cellspacing="0" cellpadding="0" height="100%"><tr><td>
		<IFRAME style="width:100%;height:100%" id='stree' name="swjgdm_tree_frame" marginWidth=0 marginHeight=0 src="class_tree.aspx" frameBorder=0 
			width="100%" height="100%" scrolling=auto BORDERCOLOR="#000000" ></IFRAME>
	</td></tr></table>
	</div>
	<script>
	   selector_layers[selector_layers.length]=document.all.dm_zzjg_tree_layer;
	</script>
    </td>
    <td>生产日期:</td>
    <td align="left"><input type="text" name="indate" id="indate" value="#if($form_indate!='')$form_indate#end" onclick="ShowDate(indate)"/>
    <!--<td>产品名称</td>
    <td align="left"><input type="text" name="prodname" value="$!form_prodname" /></td>-->
  </tr>
 <!-- <tr class="trcolor">
    <td>仓库</td>
    <td  align="left">
        <select name="stockname">
	<option value=""></option>
             #foreach($!m in $stockyearstockquery)
                <option value="$m.STORNAME" #if($!form_stockname != "")#if($!form_stockname==$m.STORNAME)selected#end#end>$m.STORNAME</option>
	     #end
	</select>
    </td>
    <td>批次</td>
    <td align="left"><input type="text" name="batchcode" value="$!form_batchcode" /></td>
  </tr>-->
  <tr class="trcolor">
   <!-- <td>入库日期:</td>
    <td align="left"><input type="text" name="indate" id="indate" value="#if($form_indate!='')$form_indate#end" onclick="ShowDate(indate)"/>-->
    <td colspan="4"><input type="button" name="b1" class="bt1" value="查  询" onclick="sub()"/>&nbsp;<input type="button" class="bt1" name="btn" value="导出excel表"onclick="javascript:method1('tb');"></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id="tb">
  <tr class="trcolor">
    <td>序号</td>
    <td>产品类别</td>
    <td>预警区间</td>
    #foreach($m in $stockyeardatequery)
      <td nowrap>$m.DATENOW1</td>
    #end
  </tr>
  #set($i=1)
  #foreach($!m in $stockyearinvclquantitycount)
  <tr class="trcolor">
    <td>$i</td>
    <td>#if($!m.INVCLASSNAME == '总计')<font color='red'>$!m.INVCLASSNAME</font>#else$!m.INVCLASSNAME#end</td>
    <td>#if($!m.AGENAME == '小计')<font color='red'>$!m.AGENAME</font>#else$!m.AGENAME#end</td>
    <td>$!m.NNUM3</td>
    <td>$!m.NNUM2</td>
    <td>$!m.NNUM1</td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>