<HTML>
<HEAD>		
<title>旬计划表</title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">


<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style> 
.FixedTitleRow 
{ 
position: relative; 
top: expression(this.offsetParent.scrollTop-2); 
z-index: 10; 
background-color: #E6ECF0; 
} 
.FixedTitleColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.scrollLeft); 
} 
.FixedDataColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.parentElement.scrollLeft); 
} 
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft-20));   
}
</style> 

<SCRIPT LANGUAGE="JavaScript">
<!--
//查看
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
       document.form1.billno.value = paras[0];
       document.form1.xuntype.value = paras[4];
       document.form1.returntype.value="2";
       document.form1.target="_self";
       document.form1.action="viewXunPlan.aspx";
       document.form1.submit();
}

//报批
function okRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
   document.form1.billno.value = paras[0];
   document.all.form1.custpk.value =paras[2];
   document.all.form1.periodno.value =paras[3];
   document.form1.action="testOldPlan.aspx";
   document.form1.target="saveframe";
   document.form1.submit();
}

//修改
function editRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
       document.form1.periodno.value = paras[3];
       document.form1.target="_self";
       document.form1.action="editZXunPlan.aspx";
       document.form1.submit();
}

//删除
function DelRow()
{      
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",!");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.periodno.value = paras[3];
	   document.form1.action="delXunPlanSubmit.aspx";
	   document.form1.target="saveframe";
	   document.form1.submit();
   }
}

var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first ="" // dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'01';
last ="" // dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'31';

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }

function checkinput()
{  
   document.thisform.page.value =1;
   document.thisform.submit();
}

function checkinput2()
{  
      var pno=document.all.thisform.begintime.value.split("-");
      var mpno='M'+pno[0]+pno[1];
      document.all.form1.periodno.value =mpno;
      document.all.form1.action="testXunPlan.aspx";
      document.all.form1.target="saveframe";
      document.all.form1.submit();
}

function testok()
{  
   thisform.action="newxunplan.aspx";
   thisform.submit();
}

function testok2()
{  
   document.form1.action="salePlanOkSubmit.aspx";
   document.form1.submit();
}
function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	var v1 = "$!form_begintime";
	if(v1==""){ 
        document.getElementById('begintime').value=Today;
	}else{
        document.getElementById('begintime').value=v1;
	}
    }
//-->
</SCRIPT>
</HEAD>
<BODY  onload="GetDateString()">
<div>
  <form name="thisform" method="post" action="zxunplanadjust.aspx">
 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <input type="hidden" name="periodno" value="">
   <input type="hidden" name="plantype" value="P">
   <input type="hidden" name="plandiff" value="-1">
   <input type="hidden" name="plandate" value="">
      <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
      		      		<tr class="search"> 
			  <td class="tdlabel" width="10%">开始月份(计划期间)</td>
				<td class="tdinput" width="20%">
		         <input type=text name=begintime size=10 readonly value='$form_begintime'>
		<input type="button" value="↓" onClick="ShowDate(begintime);" class="button" name="button23" >
			
			</td>	
			
			<td class="tdlabel" width="10%">结束月份</td>
			<td class="tdinput" width="20%">
			  #if(!$form_endtime)
			<script>
				document.write("<input type=text name=endtime size=10 readonly value='"+last+"'>");
			  </script>
			    #else
		         <input type=text name=endtime size=10 readonly value='$form_endtime'>
		       #end
			<input type="button" value="↓" onClick="ShowDate(begintime);" class="button" name="button23" >
			</td>
                </tr>
		<tr>
		  <td>&nbsp;
		  </td><td align="left" colsapn="4"><input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
				&nbsp;&nbsp;</td>
		  <td>&nbsp;
		  </td><td align="left">&nbsp;</td>
		</tr>
	  </table>
</form>
</div>

<div class="mainDiv" id="mdiv"> 
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center"   class="FixedTitleRow">
	<td nowrap="nowrap" class="FixedTitleColumn">序号</td>
	<td nowrap="nowrap" class="FixedTitleColumn">计划编号</td>
	<td nowrap="nowrap" class="FixedTitleColumn">旬计划</td>
	<td nowrap="nowrap" class="FixedTitleColumn">计划期间</td>
	<td nowrap="nowrap">创建时间</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $queryZXunPlanAdjust)
  		<tr height="20" class="trcolor">
			<td align="center" class="FixedDataColumn">$i</td>
		        <td align="center" nowrap="nowrap" class="FixedDataColumn">$!m.BILLNO</td>
			<td align="center" nowrap="nowrap" class="FixedDataColumn">
			    #if($m.XUNTYPE=="A") 上旬计划/$!m.XUNTYPE #end
			    #if($m.XUNTYPE=="B") 中旬计划/$!m.XUNTYPE #end
			    #if($m.XUNTYPE=="C") 下旬计划/$!m.XUNTYPE #end
			</td>
			<td align="center" nowrap="nowrap" class="FixedDataColumn">$!m.PERIODNO</td>
			<td align="center" nowrap="nowrap">$!m.ENTRYDATETIME</td>
			<td align="center" nowrap="nowrap"><span id="qxspan" dtParams="$!m.BILLNO,!$!session_ROLES,!$!m.CUSTPK,!$!m.PERIODNO,!$!m.XUNTYPE">
			<a style='cursor:hand' onclick="javascript:ViewRow()"><font color=blue>查看</font></a>&nbsp;&nbsp;
			#if($m.MONTH == $m.SYSMONTH)
			   #if($m.DAY == 1)
			   <a style='cursor:hand' onclick="javascript:editRow()"><font color=blue>修改</font></a>&nbsp;&nbsp;	    
			   #end
		        #end
			</span></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</div>
<div>
		<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</div>
<div align="center"><input type="button" class="login2" value=" 刷  新 " name="B222" onClick="javascript:window.location.reload();"> </div>
<form name="form1" method="post" action="salePlanOkSubmit.aspx">
  <input type="hidden" name="billno">
  <input type="hidden" name="roleid" value="$!session_ROLES">
  <input type="hidden" name="periodno" value="">
  <input type=hidden name=xuntype value="" >
  <input type=hidden name=returntype value="" >
</form>

<form name="form2" method="post" action="editInbill2.aspx">
   <input type="hidden" name="vbillcode" value="">
   <input type="hidden" name="vbatchcode" value="">
   <input type="hidden" name="indate" value="">
   <input type="hidden" name="pdate" value="">
</form>
<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>
