<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>客户查询</title>
</head>

<body>
<form name="thisform" method="post" action="custquery.aspx">
 <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
   <tr class="trcolor">
    <td align="left">客户编码<input type="text" style="width:100" name="custcode" value="$!form_custcode">客户名称<input type="text" style="width:100" name="custname" value="$!form_custname">&nbsp;<input type="button" value="查询" onclick="tosearch()"></td>
  </tr>
</table>
</form>
<table class="datatable" id="TableList">
   <tr class="trcolor">
    <td>选择</td>
    <td>客户编码</td>
    <td>客户名称</td>
  </tr>
  #set($i=0)
  #foreach($!m in $seleverycorpcust)
  <tr class="trcolor" id="A$i">
    <td><input type="radio" name="Checkbox" id='Checkbox$i' value="N" onclick="ButtonSelectOk($i)"/></td>
    <td>$!m.ORGCODE</td>
    <td>$!m.ORGDESC<input type="hidden" name="orgcode" id='orgcode$i' value="$!m.ORGCODE" ><input type="hidden" name="orgdesc" id='orgdesc$i' value="$!m.ORGDESC" ><input type="hidden" name="nc_pk" id="nc_pk$i" value="$!m.NC_PK"></td>
  </tr>
#set($i=$i+1)
#end
<tr >
      <td class="tdlabel td" colspan="3">$pagecode</td>
</tr>
</table>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
<script language="javascript">
function ButtonSelectOk(i){
    var htmlstr = "";
    var htmlstrname = "";
    var pkstr = "";
    if(document.getElementById('Checkbox'+i).checked == true){
       htmlstr=document.getElementById('orgcode'+i).value;
       htmlstrname =document.getElementById('orgdesc'+i).value;
       pkstr = document.getElementById('nc_pk'+i).value;
    }
    window.opener.document.getElementById("custname").value= htmlstrname;
    window.opener.document.getElementById("custcode").value= htmlstr;
    window.opener.document.getElementById("pk_cust").value= pkstr;
    window.close();
}
function tosearch(){
    document.thisform.page.value =1;
    document.thisform.submit();
}
</script>
