<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=======</title>
</head>
<script language="JavaScript" type="text/javascript">
function printpr1()
     {
        oldhtml=window.document.body.innerHTML;
        bdhtml=window.document.body.innerHTML;
        sprnstr="<!--startprint1-->";
        eprnstr="<!--endprint1-->";
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+18);
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML=prnhtml;
        window.print();
        window.document.body.innerHTML=oldhtml;
     }
function printpr(){
   document.all("dayinDiv").style.display="none"; //打印之前先隐藏不想打印输出的元素（此例中隐藏“打印”和“打印预览”两个按钮）   
	var OLECMDID = 7;   
	var PROMPT = 1;   
	var WebBrowser = '<OBJECT ID="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>';   
	document.body.insertAdjacentHTML('beforeEnd', WebBrowser);   
	WebBrowser1.ExecWB(OLECMDID, PROMPT);   
	WebBrowser1.outerHTML = "";   
	document.all("dayinDiv").style.display="";//打印之后将该元素显示出来（显示出“打印”和“打印预览”两个按钮，方便别人下次打印）   
}
var num1 = 0;
var num2 = 0;
var num3 = 0;
var num4 = 0;
    function accAdd(arg1,arg2){ 
	var r1,r2,m; 
	try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0} 
	try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0} 
	m=Math.pow(10,Math.max(r1,r2)) 
	return (arg1*m+arg2*m)/m 
 }
</script>
<body>
<DIV align="center" id="dayinDiv" name="dayinDiv">
<OBJECT ID="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>
<input type="button" class="bt1" value="返回" onclick="javascript:history.back(-1)">&nbsp;&nbsp;<input type="button" class="bt1" value="打印单据" onclick="printpr1();">&nbsp;&nbsp;<!--<input type="button" value="打印预览" onclick="printpr();" class="bt1">&nbsp;&nbsp;--><input name=Button onClick=document.all.WebBrowser.ExecWB(8,1) type=button value=页面设置 class="bt1">     
<input type="hidden" name="qingkongyema" id="qingkongyema" class="tab" value="清空页码" onclick="pagesetup_null()">&nbsp;&nbsp;   
<input type="hidden" class="tab" value="恢复页码" onclick="pagesetup_default()">
</DIV> 
<br>
<!--startprint1-->
<table width="100%">
  <tr>
    <td colspan="3" align="center">送货单</td>
  </tr>
  #foreach($mm in $dispatchquerybypagebycsaleid)
  <tr>
    <td align="left" width="50%"><font size="1">单据号:$!mm.VRECEIPTCODE</font></td>
    <td align="left" width="25%"><font size="1">业务员:$!mm.PSNNAME</font</td>
    <td align="left" width="25%"><font size="1">送货员:</font></td>
  </tr>
  <tr>
    <td align="left"><font size="1">客户名称:$!mm.CUSTNAME</font></td>
    <td align="left"><font size="1">开票日期:$!mm.DBILLDATE</font</td>
    <td align="left"><font size="1">制单人:$!mm.ADDNAME</font></td>
  </tr>
  <tr>
    <td align="left"><font size="1">收货地址:$!mm.ADDRNAME</font></td>
    <td align="left" colspan="2"><font size="1">备注:$!mm.VNOTE</font</td>
  </tr>
  #end
</table>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="100%" align="center" id="tb" class="datatable">
  <tr height="20"  align="center" class="trtitle">
    <td height="25" nowrap>条形码</td>
    <td height="25" nowrap>产品名称</td>
    <td  height="25" nowrap>规格</td>
    <td  height="25" nowrap>计量单位</td>
    <td  height="25" nowrap>订单件数</td>
    <td height="25" nowrap>订单袋数</td>
    <td  height="25" nowrap>签收件数</td>
  </tr>
  #set($i = 0 )
  #foreach($mm in $dispatchdetailbycsaleid)
  <tr class="trcolor">
     <td>
         $mm.INVTYPE
     </td>
     <td>
         $mm.INVNAME
     </td>
     <td>
         $mm.INVSPEC
     </td>
     <td>
         $mm.MEASNAME
     </td>
     <td>
         #if($mm.CUSTNNUMBER!="")$mm.CUSTNNUMBER#else&nbsp;#end
     </td>
     <td>#if($mm.CUSTFNNUMBER!="")$mm.CUSTFNNUMBER#else&nbsp;#end</td>
     <td>&nbsp;</td>
  </tr>
  #set($i = $i+1 )
  <script language="javascript">
     num1=accAdd(num1,#if($mm.CUSTNNUMBER=="")0#else$mm.CUSTNNUMBER#end);
     num4=accAdd(num4,#if($mm.CUSTFNNUMBER=="")0#else$mm.CUSTFNNUMBER#end);
  </script>
  #end
  <tr class="trcolor">
    <td>合计</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><script language="javascript">document.write(num1);</script></td>
    <td><script language="javascript">document.write(num4);</script></td>
    <td>&nbsp;</td>
    
  </tr>
  </table>
  <table width="100%">
	  <tr>
	    <td align="left"><font size="1">仓管签名:&nbsp;</font></td>
	    <td align="left"><font size="1">配送商签名:&nbsp;</font</td>
	    <td align="left"><font size="1">客户签名:&nbsp;</font></td>
	  </tr>
  </table>
<!--endprint1-->
</body> 
</html>   