<HTML>
<HEAD>		
<title>配送单查询</title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style> 
.FixedTitleRow 
{ 
position: relative; 
top: expression(this.offsetParent.scrollTop-2); 
z-index: 10; 
background-color: #E6ECF0; 
} 
.FixedTitleColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.scrollLeft); 
} 
.FixedDataColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.parentElement.scrollLeft); 
} 
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft-20));   
}
</style> 

<SCRIPT LANGUAGE="JavaScript">
<!--
//查看
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
   document.form1.csaleid.value = paras[0];
   document.form1.target="_self";
   document.form1.action="dispatchsee.aspx";
   document.form1.submit();
}

//修改
function editRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
       document.form1.csaleid.value = paras[0];
       document.form1.action="dispatchcustedit.aspx";
       document.form1.submit();
}

function PrintRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
   document.form1.csaleid.value = paras[0];
   document.form1.target="_self";
   document.form1.action="dispatchprint.aspx";
   document.form1.submit();
}


var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first ="" // dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'01';
last ="" // dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'31';

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }

function checkinput()
{  
   document.thisform.page.value =1;
   document.thisform.submit();
}
function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 }
 function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	var v1 = "$!form_billdate1";
	var v2 = "$!form_billdate2";
	if(v1=="" && v2==""){ 
		document.getElementById('billdate1').value=Today;
		document.getElementById('billdate2').value=Today;
	}else{
		document.getElementById('billdate1').value=v1;
		document.getElementById('billdate2').value=v2;
	}
    }
    function togetmont(url){
        window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
    }
    function osetdept(dm,mc,code) {
      thisform.odeptname.value=mc;
    }
    function setdept(dm,mc,code) {
      thisform.deptname.value=mc;
    }
    function osetVals(dm,mc,code) {
      thisform.osalename.value=mc;
    }
    function setVals(dm,mc,code) {
      thisform.salename.value=mc;
    }
//-->
</SCRIPT>
</HEAD>
<BODY onload="GetDateString()">
<div>
  <form name="thisform" method="post" action="dispatchquery.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
      	<tr class="search"> 
	  <td class="tdlabel" width="10%">单据号</td>
	  <td class="tdinput" width="20%">
	    <input type="text" name="billno" value="$!form_billno"  style="width:150"/>	
	  </td>	
	  <td class="tdlabel" width="10%">单据开始日期</td>
	  <td class="tdinput" width="20%">
	    <input type="text" name="billdate1" id="billdate1" value="$!form_billdate1" onclick="ShowDate(billdate1)" style="width:80"/>	
	  </td>	
	  <td class="tdlabel" width="10%">单据结束日期</td>
	  <td class="tdinput" width="20%">
	     <input type="text" name="billdate2" id="billdate2" value="$!form_billdate2" onclick="ShowDate(billdate2)" style="width:80"/>	
	  </td>	
	</tr>
	<tr class="search"> 
           <td class="tdlabel" width="10%">原客户</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="ocustname" value="$!form_ocustname"  style="width:150"/><input type="button" class="bt1" value="..." onclick="togetmont('/synear/public/custquery.aspx?custname=ocustname')">	
	   </td>	
	   <td class="tdlabel" width="10%">原销售部门</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="odeptname" value="$!form_odeptname"  style="width:80"/><input type="button" class="bt1" value="..." onclick="togetmont('/synear/public/deptquery.aspx?deptname=odeptname')">	
	   </td>	
	   <td class="tdlabel" width="10%">原业务员</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="oemployee" value="$!form_oemployee" style="width:80"/><input type="button" value="..." class="bt1" onclick="togetmont('/synear/public/employeequery.aspx?employee=oemployee')">	
	   </td>	
	</tr>
	<tr class="search">
           <td class="tdlabel" width="10%">原销售组织</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="osalename" value="$!form_osalename" style="width:80"/><input type="button" value="..." class="bt1" onclick="togetmont('/synear/public/salestruquery.aspx?salename=osalename')">	
	   </td>
	   <td class="tdlabel" width="10%">目的客户</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="custname" value="$!form_custname" style="width:150"/><input type="button" class="bt1" value="..." onclick="togetmont('/synear/public/custquery.aspx?custname=custname')">		
	   </td>	
	   <td class="tdlabel" width="10%">目的销售部门</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="deptname" value="$!form_deptname"  style="width:80"/><input type="button" class="bt1" value="..." onclick="togetmont('/synear/public/deptquery.aspx?deptname=deptname')">
	   </td>	
	</tr>
	<tr class="search">
           <td class="tdlabel" width="10%">目的业务员</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="employee" value="$!form_employee"  style="width:80"/><input type="button" class="bt1" value="..." onclick="togetmont('/synear/public/employeequery.aspx?employee=employee')">		
	   </td>	
	   <td class="tdlabel" width="10%">目的销售组织</td>
	   <td class="tdinput" width="20%">
	    <input type="text" name="salename" value="$!form_salename"  style="width:80"/><input type="button" value="..." class="bt1"  onclick="togetmont('/synear/public/salestruquery.aspx?salename=salename')">	
	   </td>
	   <td class="tdlabel">&nbsp;</td>
	   <td class="tdinput">&nbsp;</td>
	</tr>
	<tr>
	  <td>&nbsp;
	  </td><td align="left" colsapn="4"><input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
			&nbsp;&nbsp;</td>
	  <td>&nbsp;
	  </td><td align="left">&nbsp;</td>
	  <td class="tdlabel">&nbsp;</td>
	   <td class="tdinput">&nbsp;</td>
	</tr>
    </table>
</form>
</div>

<div class="mainDiv" id="mdiv"> 
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"   class="FixedTitleRow">
	<td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">单据号</td>
	<td nowrap="nowrap">日期</td>
	<td nowrap="nowrap">原客户</td>
	<td nowrap="nowrap">原销售部门</td>
	<td nowrap="nowrap">原业务员</td>
	<td nowrap="nowrap">原销售组织</td>
	<td nowrap="nowrap">目的客户</td>
	<td nowrap="nowrap">目的销售组织</td>
	<td nowrap="nowrap">目的销售部门</td>
	<td nowrap="nowrap">目的业务员</td>
	<td nowrap="nowrap">折本汇率</td>
	<td nowrap="nowrap">状态</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $dispatchquerycustbypage)
	<tr height="20" class="trcolor">
		<td align="center">$i</td>
		<td align="center" nowrap="nowrap">
		$!m.VRECEIPTCODE</td>
		<td align="center" nowrap="nowrap">
		  $!m.DBILLDATE
		</td>
		<td align="center" nowrap="nowrap">$!m.OCUSTNAME</td>
		<td align="center" nowrap="nowrap">$!m.ODEPTNAME</td>
		<td align="center" nowrap="nowrap">$!m.OPSNNAME</td>
		<td align="center" nowrap="nowrap">
		  $!m.OVSALESTRUNAME 
		</td>
		<td align="center" nowrap>$!m.CUSTNAME</td>
		<td align="center" nowrap="nowrap">$!m.VSALESTRUNAME</td>
		<td align="center" nowrap="nowrap">$!m.DEPTNAME</td>
		<td align="center" nowrap="nowrap">#if($!m.PSNNAME!="")$!m.PSNNAME#else&nbsp;#end</td>
		<td align="center" nowrap="nowrap">$!m.NEXCHANGEOTOBRATE</td>
		<td align="center" nowrap="nowrap">
		    #if($!m.FSTATUS=="1")
		      保存
		    #elseif($!m.FSTATUS=="2")
		      提交
		    #elseif($!m.FSTATUS=="3")
		      已确认
		    #elseif($!m.FSTATUS=="4")
		      已验收
		    #elseif($!m.FSTATUS=="5")
		      未确认
		    #end
		</td>
		<td align="center" nowrap="nowrap"><span id="qxspan" dtParams="$!m.CSALEID">
		<a style='cursor:hand' onclick="javascript:ViewRow()"><font color=blue>查看</font>&nbsp;#if($!m.FSTATUS=="2")<a style='cursor:hand' onclick="javascript:editRow()"><font color=blue>修改</font></a>&nbsp;<a style='cursor:hand' onclick="javascript:PrintRow()"><font color=blue>打印</font></a>#end
		</span></td>
	 </tr>
	 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="17"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</div>
<div>
		<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</div>
<div align="center"><input type="button" class="login2" value=" 刷  新 " name="B222" onClick="javascript:window.location.reload();"> </div>
<form name="form1" method="post">
<input type="hidden" name="csaleid">
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>
