<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>客户档案</title>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable">
   <tr class="trcolor">
    <td align="left">客户名称<input type="text" style="width:100" name="invname" value="$!form_invname">&nbsp;<input type="button" value="查询" onclick="tosearch()"></td>
    <input type="hidden" name="xtype" value="1">
  </tr>
</table>
</form>
<table class="datatable" id="TableList">
   <tr class="trcolor">
    <td>选择</td>
    <td>客户编码</td>
    <td>客户名称</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selsneverycustname)
  <tr class="trcolor" id="A$i">
    <td><input type="radio" name="Checkbox" id='Checkbox$i' value="N" onclick="ButtonSelectOk($i)"/></td>
    <td>$!m.USERNAME</td>
    <td>$!m.NAME
    <input type="hidden" name="username" id='username$i' value="$!m.USERNAME" >
    <input type="hidden" name="name" id='name$i' value="$!m.NAME" >
    <input type="hidden" name="pk_cubasdoc" id='pk_cubasdoc$i' value="$!m.NC_PK" >
    <input type="hidden" name="pk_cumandoc" id='pk_cumandoc$i' value="$!m.PK_CUMANDOC" >
    <input type="hidden" name="pk_deptdoc" id='pk_deptdoc$i' value="$!m.PK_DEPTDOC" >
    <input type="hidden" name="deptname" id='deptname$i' value="$!m.DEPTNAME" >
    <input type="hidden" name="pk_psnbasdoc" id='pk_psnbasdoc$i' value="$!m.PK_PSNBASDOC" >
    <input type="hidden" name="psnname" id='psnname$i' value="$!m.PSNNAME" >
    <input type="hidden" name="csalestruid" id='csalestruid$i' value="$!m.CSALESTRUID" >
    <input type="hidden" name="vsalestruname" id='vsalestruname$i' value="$!m.VSALESTRUNAME" >
    <input type="hidden" name="currtypename" id='currtypename$i' value="$!m.CURRTYPENAME" >
    <input type="hidden" name="pk_currtype" id='pk_currtype$i' value="$!m.PK_CURRTYPE" >
    <input type="hidden" name="pk_pricegroupcorp" id='pk_pricegroupcorp$i' value="$!m.PK_PRICEGROUPCORP" >
    <input type="hidden" name="kppk_cumandoc" id='kppk_cumandoc$i' value="$!m.KPPK_CUMANDOC" >
    </td>
  </tr>
#set($i=$i+1)
#end
</table>
</body>
</html>
<script language="javascript">
function ButtonSelectOk(i){
    var htmlcode = "";
    var htmlname = "";
    var htmlpk = "";
    var htmlpkcumand = "";
    var pk_deptdoc = "";
    var deptname = "";
    var pk_psnbasdoc = "";
    var psnname = "";
    var csalestruid = "";
    var vsalestruname = "";
    var currtypename = "";
    var pk_currtype = "";
    var pk_pricegroupcorp = "";
    var kppk_cumandoc = "";
    if(document.getElementById('Checkbox'+i).checked == true){ 
       htmlcode=document.getElementById('username'+i).value;
       htmlname =document.getElementById('name'+i).value;
       htmlpk = document.getElementById('pk_cubasdoc'+i).value;
       htmlpkcumand = document.getElementById('pk_cumandoc'+i).value;
       pk_deptdoc = document.getElementById('pk_deptdoc'+i).value;
       deptname = document.getElementById('deptname'+i).value;
       pk_psnbasdoc = document.getElementById('pk_psnbasdoc'+i).value;
       psnname = document.getElementById('psnname'+i).value;
       csalestruid = document.getElementById('csalestruid'+i).value;
       vsalestruname = document.getElementById('vsalestruname'+i).value;
       currtypename = document.getElementById('currtypename'+i).value;
       pk_currtype = document.getElementById('pk_currtype'+i).value;
       pk_pricegroupcorp = document.getElementById('pk_pricegroupcorp'+i).value;
       kppk_cumandoc = document.getElementById('kppk_cumandoc'+i).value;
    }
    window.top.opener.document.getElementById("custname").value= htmlname;
    window.top.opener.document.getElementById("custcode").value= htmlcode;
    window.top.opener.document.getElementById("pkcubasdoc").value= htmlpk;
    window.top.opener.document.getElementById("pkcumandoc").value= htmlpkcumand;
    window.top.opener.document.getElementById("deptid").value= pk_deptdoc;
    window.top.opener.document.getElementById("deptname").value= deptname;
    window.top.opener.document.getElementById("salerid").value= pk_psnbasdoc;
    window.top.opener.document.getElementById("saler").value= psnname;
    window.top.opener.document.getElementById("salezuzhicode").value= csalestruid;
    window.top.opener.document.getElementById("salezuzhi").value= vsalestruname;
    window.top.opener.document.getElementById("currtypename").value= currtypename;
    window.top.opener.document.getElementById("pk_currtype").value= pk_currtype;
    window.top.opener.document.getElementById("pk_pricegroupcorp").value= pk_pricegroupcorp;
    window.top.opener.document.getElementById("kppk_cumandoc").value= kppk_cumandoc;
    window.top.close();
}
function tosearch(){
   document.form1.action="newcustquery.aspx?invname="+document.form1.invname.value;
   document.form1.submit();
}
</script>
