<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='';
#foreach($m in $testnccode)
   feenum='$m.FEENUM';
 #end
 if(feenum == '0') {
   parent.document.form1.fstatus.value='$!form_fstatus';
   parent.testok1();
 }else if(feenum!='0'){
   alert("已经导入NC");
   parent.submitok=false;
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
</script>
</head>
<body>
</body>
</html>

