<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
		 var pricegroup='0';
		 var opricegroup = '';
		 var feenum = '0'
		 #foreach($m in $dispatchinvnamecount)
		   feenum='$m.FEENUM';
		 #end
		 
		 if(feenum == '0'){
		    parent.document.getElementById("invcode$!form_iii").value = "";
		    parent.submitok=false;
		 }else if(feenum == '1'){
		     parent.submitok=false;	 
		 }else if(parseInt(feenum) > 1) {
		    window.open('nccpquery.aspx?zjmcode=$!form_zjmcode&xtype=1&row=0','','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
		    parent.submitok=false;
		 } 
	</script>
</head>
<body>
</body>
</html>

