<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<!-- 引入jquery的js包 -->
<script Language="javascript" src="../../../include/js/jquery-1.7.2.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>客户计划完成情况</title>
<script type="text/javascript">
	$(function(){
		$("#show1").hide();
		$("#show2").hide();
		$("#sel").change(function(){
			$(this).children("option").each(function(){
				if ($(this).attr("selected") == "selected"){
						//alert($(this).attr("value"));
						if($(this).attr("value")==0){
							$("#show1").hide();
							$("#show2").hide();
						}
						if($(this).attr("value")==1){
							$("#show1").show();
							$("#show2").hide();
						}
						if($(this).attr("value")==2){
							$("#show1").hide();
							$("#show2").show();
						}
				}
			});
		});
	});
</script>
</head>
<body>	
  <form name="thisform" method="post" action="prodPlanExec2.aspx">
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
      <input type="hidden" name="first" value="1">	
		<tr class="search"> 
                      <td class="tdlabel" width="10%">选择月份</td>
		  	<td class="tdinput" width="20%">
                         <input name="billdate" type="text" class="login" id="billdate" value="" readonly><input type="button" value="↓" onClick="ShowDate(billdate);" class="button" name="button23" >
			</td>
			<td class="tdlabel" width="10%">选择分厂</td>
			<td class="tdinput" width="20%">
				<select name=dq_pk id="sel">
							<option value="0">请选择分厂</option>
							<option value="1">一厂区</option>
							<option value="2">二厂区</option>
                </select>
			</td>
        </tr>
            <tr> 
			<td align="center" colspan="4">	
				<input type="button" name="search" class="bt1" value="查询">
			</td>
		</tr>	
</table>
</br>
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<!--div class="mainDiv" id="mdiv"--> 
<div id="show1">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tableExcel1" class="datatable">
		<tr height="20"  align="center" bgcolor="#abcdef" id="ftr">
			<td  rowspan="2">序号</td>
			<td  rowspan="2">费用项目</td>
			
			<td  colspan="2">本月预算</td>
			<td  colspan="2">本月实际</td>

			<td  colspan="2" name="dalei">水饺</td>

			<td  colspan="2" name="dalei">汤圆</td>
			<td  rowspan="2">本月完成比例</td>
			<td  colspan="2">往年实际费用</td>
			<td  rowspan="2">今年与往年预算吨费用比较</td>
			<td  rowspan="2">今年与往年实际吨费用比较</td>
			<td  rowspan="2">本年预算完成比例</td>
		</tr>
		<tr height="20"  align="center"  bgcolor="#abcdef" id="ftr">
			<td >预算金额</td>
			<td >预算吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
		</tr>
  		<tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap" >173650.14016774</td>
			<td align="center" nowrap="nowrap" >173650.14016774</td>

			<td align="center" nowrap="nowrap" >173650.14016774</td>
			<td align="center" nowrap="nowrap" >173650.14016774</td>

			
			<td align="center" nowrap="nowrap" width="90px;">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap" width="90px;">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		</tr>
</table>
</div>
<div id="show2">
	<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tableExcel2" class="datatable">
		<tr height="20"  align="center" bgcolor="#abcdef" id="ftr">
			<td  rowspan="2">序号</td>
			<td  rowspan="2">费用项目</td>
			
			<td  colspan="2">本月预算</td>
			<td  colspan="2">本月实际</td>

			<td  colspan="2" name="dalei">粽子</td>
			<td  colspan="2" name="dalei">油条</td>

			<td  colspan="2" name="dalei">西点</td>
			<td  rowspan="2">本月完成比例</td>
			<td  colspan="2">往年实际费用</td>
			<td  rowspan="2">今年与往年预算吨费用比较</td>
			<td  rowspan="2">今年与往年实际吨费用比较</td>
			<td  rowspan="2">本年预算完成比例</td>
		</tr>
		<tr height="20"  align="center"  bgcolor="#abcdef" id="ftr">
			<td >预算金额</td>
			<td >预算吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
			<td >实际金额</td>
			<td >实际吨费用</td>
		</tr>
  		<tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap" >173650.14016774</td>
			<td align="center" nowrap="nowrap" >173650.14016774</td>

			<td align="center" nowrap="nowrap" >173650.14016774</td>
			<td align="center" nowrap="nowrap" >173650.14016774</td>
			
			<td align="center" nowrap="nowrap" >173650.14016774</td>
			<td align="center" nowrap="nowrap" >173650.14016774</td>
			
			<td align="center" nowrap="nowrap" width="90px;">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap" width="90px;">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		 <tr height="20" class="trcolor">
		    <td align="center" nowrap="nowrap">510101</td>
			<td align="center" nowrap="nowrap">制造费用\工资福利费</td>
			<td align="center" nowrap="nowrap">235772.35</td>
			<td align="center" nowrap="nowrap">132.233510936624</td>
			<td align="center" nowrap="nowrap">220058.96</td>
			<td align="center" nowrap="nowrap">109.277858366482</td>
		
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>

			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			
			<td align="center" nowrap="nowrap">77%</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">173650.14016774</td>
			<td align="center" nowrap="nowrap">92%</td>			
		 </tr>
		</tr>
</table>
</div>
			<div>
			<input type="button" name="search" class="bt1" value="编辑">	
			<input type="button" name="search" class="bt1" value="保存">
			<input type="button" name="search" class="bt1" value="导出Excel" onclick="javascript:method1('tableExcel2');">
			</div>
<SCRIPT LANGUAGE="javascript"> 
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</SCRIPT>
</form>	
</body>
</html>
