<html>
<head>
<title>======</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script src="../../../js/sunnyfunc.js"></script>
<script src="../../../js/string.js"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script>
var undefined;

function checkinput()
{  
  thisform.page.value=1;
  thisform.submit();
}

function setvalue(thistab){   
  var   rn=thistab.rows.length;//取得行数   
  for(i=rn-2;i>0;i--){//从倒数第一行开始往上   
    thistab.rows[i].cells[14].innerText=parseInt(thistab.rows[i].cells[13].innerText)-parseInt(thistab.rows[i].cells[4].innerText);   
  }   
} 
</script>

</head>
<body onload="setvalue(document.all.tb)">
<br>
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f">&nbsp;&nbsp; <div align="center" class="style1">产品预订销售情况</div></td>
  </tr>
</table>
<table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
<tr><td height="30" class="fCopy" id="help"></td></tr>
</table>
<form name="thisform" method="post">
 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">

<table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr class="fCopy">
    <td height="24" nowrap><div align="right">开始期间：</div></td>
    <td width="294" height="25" nowrap> 
     <input name="applymonth1" type="text" class="login" id="applymonth1" value="$!form_applymonth1" readonly><input type="button" value="↓" onClick="ShowDate(applymonth1);" class="button" name="button23" ></td>
    <td width="140" height="25" nowrap><div align="right">产品名称：</div></td>
    <td width="243" height="25" nowrap> 
         <input name="prodname" type="text" class="login" id="prodname" value="$!form_prodname" ></td>
  </tr>
  <tr class="fCopy">
    <td height="24" nowrap><div align="right">截止期间：</div></td>
    <td width="294" height="25" nowrap> 
     <input name="applymonth2" type="text" class="login" id="applymonth2" value="$!form_applymonth2" readonly><input type="button" value="↓" onClick="ShowDate(applymonth2);" class="button" name="button23" ></td>
    <td width="140" height="25" nowrap><div align="right"></div></td>
    <td width="243" height="25" nowrap><input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
				&nbsp;&nbsp;</td>
  </tr>
</table></form>
<br>

<table id="tb" width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff"  class="datatable">
  <tr class="trtitle" bgcolor="abcdef">
    <th width="8%" height="25" nowrap>系列</th>
    <th width="8%" bgcolor="yellow" height="25" nowrap>产品名称</th>
    <th width="8%" bgcolor="yellow" height="25" nowrap>规格</th>
    <th width="8%" bgcolor="yellow" height="25" nowrap>日期</th>
    <th width="8%" bgcolor="yellow" height="25" nowrap>排产数量</th>
    <th width="8%" bgcolor="#FFCC99" height="25" nowrap>预订单量</th>
    <th width="8%" bgcolor="#FFCC99" height="25" nowrap>备货量</th>
    <th width="8%" bgcolor="#FFCC99" height="25" nowrap>发货量</th>
    <th width="8%" bgcolor="#FFCC99" height="25" nowrap>当月累计发货</th>
    <th width="8%" bgcolor="#CCFFCC" height="25" nowrap>当月计划</th>
    <th width="8%" bgcolor="#CCFFCC" height="25" nowrap>调拨数量</th>
    <th width="8%" bgcolor="#CCFFCC" height="25" nowrap>当月累计调拨</th>
    <th width="8%" bgcolor="#CCFFCC" height="25" nowrap>现存量</th>
    <th width="8%" height="25" nowrap>可用量</th>
    <th width="8%" height="25" nowrap>预订单可用量</th>
  </tr>
 #set($i=0)
 #foreach($m in $productPlan)
          <tr class="trcolor">
            <td align="center" nowrap>$!m.INVCLASSNAME</td>
            <td align="center" nowrap>$!m.PRODUCTNAME</td>
            <td align="center" nowrap>$!m.INVSPEC</td>
            <td align="center" nowrap>$!m.DBILLDATE</td>
            <td align="center" nowrap>$!m.PREORDERNUM</td>
	    <td align="center" nowrap>$!m.ALLPREORDERNUM</td>
            <td align="center" nowrap>$!m.ORDERNUM</td>
            <td align="center" nowrap>$!m.SALENUM</td>
            <td align="center" nowrap id="F${m.ID}A${m.MON}">0</td>
	    <td align="center" nowrap>$!m.PLANNUM</td>
	    <td align="center" nowrap>$!m.OUTNUM</td>
            <td align="center" nowrap id="D${m.ID}A${m.MON}">0</td>

    #set($k=0) 
    #foreach($h in $stockNum)
	#if($m.ID==$h.PK_INVBASDOC)
            <td align="center" nowrap>$!h.NONHANDNUM</td>
            <td align="center" nowrap>$!h.NNUMFROM</td>
        #end
	#set($k=$k+1)
   #end 
   #if($k==0)
            <td align="center" nowrap>0</td>
            <td align="center" nowrap>0</td>
   #end
	    <td align="center" nowrap>0</td>
          </tr>
  #set($i=$i+1)
 #end
  #if($i==0)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="16"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
  #else
   <tr><td colspan=16 align="right">$pagecode
   </td></tr>
  #end

  </table>

  <script>
    #foreach($n in $monTotalNum)
        try{
	  document.all.F${n.ID}A${n.DBILLDATE}.innerText="$n.SALENUM";
	  document.all.D${n.ID}A${n.DBILLDATE}.innerText="$n.OUTNUM";
	}catch(e){}
   #end 
  </script>
 <div align="center"> <input type="button" class="login2" value=" 刷  新 " name="B222" onClick="javascript:window.location.reload();"> </div>

<iframe name="dataframe" src="" width="0" height="0"></iframe>

</body> 
</html>      
