<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===销售任务===</title>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  
var rdata=new Array(); 
rdata=[
      ['规格代码','规格名称','任务7','任务8','任务9','任务10','任务11','任务12','任务1','任务2','任务3','任务4','任务5','任务6']
 #set($i=1)
 #foreach($m in $getYearTaskD)
      ,['$m.INVCLASSCODE','$m.INVCLASSNAME','$m.TASKNUM1','$m.TASKNUM2','$m.TASKNUM3','$m.TASKNUM4','$m.TASKNUM5','$m.TASKNUM6','$m.TASKNUM7','$m.TASKNUM8','$m.TASKNUM9','$m.TASKNUM10','$m.TASKNUM11','$m.TASKNUM12']
   #set($i=$i+1)
 #end
]
var pageSize=50;
var pageno=0;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
          var row=table6.insertRow()
	  for(var j=0;j<14;j++){
	     with (row.insertCell())
             {
	       innerText=rdata[(page-1)*pageSize+i][j];
	     }
	 }
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

function init()     
{  
   toPage(1);
}
</script>


<body onload="init()">

<p align="left"><font size="4"><b>年度任务</b></font>
<div style="width:100%;txt-align:center;border:0 double gray;">
#foreach($m in $getYearTaskH)
	<table  border="0" cellpadding="0" cellspacing="2" width="100%">
	    <tr>
	      <td height="19" width="7%">任务期间</td> <td height="19" width="15%">$m.PERIODNO</td>
	       <td height="19" width="7%">区域名称</td> <td height="19" width="15%">$m.DEPTNAME</td>
	    </tr>
	    <tr>
	      <td height="19" width="7%">区域代码</td> <td height="19" width="15%">$m.DEPTCODE</td>
	      <td height="19" width="7%">年度任务</td> <td height="19" width="15%"><span id="xyjh">$m.ALLNUM</span></td>
	     </tr>
	     <tr>
	      <td height="19" width="7%">备注</td> <td height="19" colspan=3>$!m.BILLDESC</td>
	    </tr>
	</table>  
#end
</div>
<br>
<div class="mainDiv" id="mdiv"> 
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr" bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#EFEFEF" width="10%" Name="pcode" >规格代码</td>
      <td height="19" bgcolor="#EFEFEF" width="17%" Name="pname">规格名称</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">7月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">8月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="6%" Name="costp" EditType="TextBox" DataType="Int">9月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="6%" Name="costp" EditType="TextBox" DataType="Int">10月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="6%" Name="costp" EditType="TextBox" DataType="Int">11月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">12月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">1月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">2月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">3月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">4月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">5月任务</td>
      <td height="19" bgcolor="#EFEFEF" width="5%" Name="costp" EditType="TextBox" DataType="Int">6月任务</td>
    </tr>
</table>
 </div>
<div style="width:100%;txt-align:center;border:0 double gray;">
<input type="button" class="login2" value=" 返  回 " name="B222" onClick="javascript:window.history.go(-1);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>
</body>

</html>

