<HTML>
<HEAD>		
<title>年销售任务</title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">


<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style> 
.FixedTitleRow 
{ 
position: relative; 
top: expression(this.offsetParent.scrollTop-2); 
z-index: 10; 
background-color: #E6ECF0; 
} 
.FixedTitleColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.scrollLeft); 
} 
.FixedDataColumn 
{ 
position: relative; 
left: expression(this.parentElement.offsetParent.parentElement.scrollLeft); 
} 
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft-20));   
}
</style> 

<SCRIPT LANGUAGE="JavaScript">
<!--
		var dept=new Array(); 
		dept=[
		   ['区域主键','区域名称','区域类别','区域代码']
			#foreach($!m in $getDeptment)
			  ,["$m.NC_PK","$m.DEPTNAME","$m.DEPTTYPE","$m.DEPTCODE"]
			#end
		   ];
//查看 
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
       document.form1.billno.value = paras[0];
       document.form1.target="_self";
       document.form1.action="viewYearTask.aspx";
       document.form1.submit();
}

//报批
function okRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
   document.form1.billno.value = paras[0];
   document.all.form1.areapk.value =paras[2];
   document.all.form1.periodno.value =paras[3];
   document.form1.action="testOldYearTask.aspx";
   document.form1.target="saveframe";
   document.form1.submit();
}

//修改
function editRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",!");
       document.form1.billno.value = paras[0];
       document.form1.areapk.value = paras[2];
       document.form1.periodno.value = paras[3];
       document.form1.deptname.value = paras[4];
       document.form1.areacode.value = paras[5];
       document.form1.target="_self";
       document.form1.action="editYearTask.aspx";
       document.form1.submit();
}

//删除
function DelRow()
{      
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",!");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.billno.value = paras[0];
	   document.form1.action="delYearTaskSubmit.aspx";
	   document.form1.target="saveframe";
	   document.form1.submit();
   }
}

var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first ="" // dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'01';
last ="" // dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'31';

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }

function checkinput()
{  
   document.thisform.page.value =1;
   document.thisform.submit();
}

function checkinput2()
{  
//alert(document.all.thisform.areapk.value)
      if(document.all.thisform.areapk.value==""){
         alert("请选择区域！");
	 return false;
      }
	  #foreach($n in $getPlanDate)
		document.all.thisform.begintime.value='$!n.TASKDATE';
	  #end

      var pno=document.all.thisform.begintime.value.split("-");
      var mpno=pno[0];
      document.all.thisform.periodno.value =mpno;
      document.all.form1.areapk.value =document.all.thisform.areapk.value;
      document.all.thisform.plandate.value =document.all.thisform.begintime.value;
      document.all.form1.periodno.value =mpno;
      document.all.form1.plandate.value =document.all.thisform.begintime.value;
    	  for(var i=1;i<dept.length;i++){   
              if(dept[i][0]==document.all.thisform.areapk.value){
		  document.all.form1.areacode.value =dept[i][3];
		  document.all.thisform.areacode.value =dept[i][3];
	      }
          }
      document.all.form1.action="testYearTask.aspx";
      document.all.form1.target="saveframe";
      document.all.form1.submit();
}

function testok()
{  
   thisform.action="newYearTask.aspx";
   thisform.submit();
}

function testok2()
{  
   form1.action="yearTaskOkSubmit.aspx";
   form1.submit();
}
//-->
</SCRIPT>
</HEAD>
<BODY>
<div>
  <form name="thisform" method="post" action="yearTask.aspx">
 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <input type="hidden" name="periodno" value="">
   <input type="hidden" name="tasktype" value="P">
   <input type="hidden" name="plandiff" value="-1">
   <input type="hidden" name="plandate" value="">
   <input type="hidden" name="plantype" value="P">
      <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
      		      		<tr class="search"> 
			  <td class="tdlabel" width="10%">开始年度(任务期间)</td>
				<td class="tdinput" width="20%">
                       #if(!$form_begintime)
			  #foreach($n in $getPlanDate)
			      <input type=text name=begintime size=10 readonly value='$!n.TASKDATE'>
			  #end
		       #else
		         <input type=text name=begintime size=10 readonly value='$form_begintime'>
		       #end
		<input type="button" value="↓" onClick="ShowDate(begintime);" class="button" name="button23" >
			
			</td>	
			
			<td class="tdlabel" width="10%">结束年度</td>
			<td class="tdinput" width="20%">
			#if(!$form_endtime)
			  <script>
				document.write("<input type=text name=endtime size=10 readonly value='"+last+"'>");
			  </script>
			#else
		         <input type=text name=endtime size=10 readonly value='$form_endtime'>
		       #end
			<input type="button" value="↓" onClick="ShowDate(begintime);" class="button" name="button23" >

			</td>
			
			</td>	
                </tr>
		<tr class="search"> 
			<td class="tdlabel" width="10%">区域名称</td>
			<td class="tdinput" width="20%"><span class="style3 style1">
			<select name="areapk"><option value=''>请选择区域</option>
			   #foreach($m in $getDeptment)
			      <option value="$m.NC_PK"  #if($form_areapk==$m.NC_PK) selected #end>$m.DEPTNAME</option>
			   #end
			</select>
              </span>		
			</td>	
			<td class="tdlabel" width="10%">区域代码</td>
			<td class="tdinput" width="20%">
			 <input type=text name=areacode value="$!form_areacode" >
			  <input type=hidden name=areacls value="">
			</td>
                </tr>
		<tr>
		  <td>
		  </td><td align="left" colsapn="4"><input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
				&nbsp;&nbsp;</td>
		  <td>
		  </td><td align="left"><input type="button" value="新建" onclick="checkinput2()"  class="bt1"></td>
		</tr>
		<tr>
		  <td>
		  </td><td align="left"></td>
		</tr>
	  </table>
</form>
</div>

<div class="mainDiv" id="mdiv"> 
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center"   class="FixedTitleRow">
	<td nowrap="nowrap" class="FixedTitleColumn">序号</td>
	<td nowrap="nowrap" class="FixedTitleColumn">任务编号</td>
	<td nowrap="nowrap" class="FixedTitleColumn">区域名称</td>
	<td nowrap="nowrap" class="FixedTitleColumn">年度期间</td>
	<td nowrap="nowrap">状态</td>
	<td nowrap="nowrap">当前位置(参考人)</td>
	<td nowrap="nowrap">创建时间</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $getSelfYearTask)
  		<tr height="20" class="trcolor">
			<td align="center" class="FixedDataColumn">$i</td>
		        <td align="center" nowrap="nowrap" class="FixedDataColumn">$!m.BILLNO</td>
			<td align="center" nowrap="nowrap" class="FixedDataColumn">$!m.DEPTNAME/$!m.DEPTCODE</td>
			<td align="center" nowrap="nowrap" class="FixedDataColumn">$!m.PERIODNO</td>
                        <td align="center" nowrap="nowrap">
			   #if($m.STATUS=="K") 已下达/$!m.STATUS #end
			   #if($m.STATUS=="B") 已报/$!m.STATUS #end
			   #if($m.STATUS=="N") 待报/$!m.STATUS #end
			   #if($m.STATUS=="F") 待批/$!m.STATUS #end
			   #if($m.STATUS=="R") 被否决/$!m.STATUS #end
			</td>
			<td align="center" nowrap="nowrap">$!m.ROLENAME（$!m.REALNAME）</td>
			<td align="center" nowrap="nowrap">$!m.ENTRYDATETIME</td>
			<td align="center" nowrap="nowrap"><span id="qxspan" dtParams="$!m.BILLNO,!$!session_ROLES,!$!m.CUSTPK,!$!m.PERIODNO,!$!m.DEPTNAME,!$!m.DEPTCODE,!$!m.ORGROLE,!$!m.PLANROLE">
			<a style='cursor:hand' onclick="javascript:ViewRow()"><font color=blue>查看</font></a>&nbsp;&nbsp;
				   #if($m.STEP==0 && ($m.STATUS=="N" || $m.STATUS=="R") && ($m.MAKEUSERNAME==$session_USERNAME))
				     <a style='cursor:hand' onclick="javascript:okRow()"><font color=blue>上报</font></a>&nbsp;&nbsp;
				     <a style='cursor:hand' onclick="javascript:editRow()"><font color=blue>修改</font></a>&nbsp;&nbsp;
				     <a style='cursor:hand' onclick="javascript:DelRow()"><font color=blue>删除</font></a>&nbsp;&nbsp;
				   #end
			</span></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</div>
<div>
		<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</div>
<div align="center"><input type="button" class="login2" value=" 刷  新 " name="B222" onClick="javascript:window.location.reload();"> </div>
<form name="form1" method="post" action="salePlanOkSubmit.aspx">
  <input type="hidden" name="billno">
  <input type="hidden" name="roleid" value="$!session_ROLES">
  <input type="hidden" name="periodno" value="">
  <input type="hidden" name="plandate" value="">
  <input type="hidden" name="areapk" value="">
  <input type="hidden" name="deptname" value="">
  <input type="hidden" name="areacode" value="">
  <input type="hidden" name="plantype" value="P">
  <input type="hidden" name="plandiff" value="-1">
  <input type="hidden" name="custcls" value="">
  <input type=hidden name=plancls value="" >
  <input type="hidden" name="act" value="">
</form>

<form name="form2" method="post" action="editInbill2.aspx">
   <input type="hidden" name="vbillcode" value="">
   <input type="hidden" name="vbatchcode" value="">
   <input type="hidden" name="indate" value="">
   <input type="hidden" name="pdate" value="">
</form>
<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>
