<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../js/common.js"></script>
<script language="javaScript" src="../../js/funbase.js"></script>
<script language="JavaScript" src="../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../js/browers.js"></script>
<script language="JavaScript" src="../../js/formCheck.js"></script>
<title>分支库存盘点明细</title>
<script language="javascript" src="../../js/GridEdit1.js"></script>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
.Info
{
	font-size:12px;
	color:#009900;
}
.Info2
{
	font-size:12px;
	color:red;
}
.InfoHui
{
	font-size:12px;
	color:#1363A2;
}
.ListNoneColor {
	border-collapse: collapse;
	font-size:12px;
	border: #FFFFFF 0px solid; 
	background-color:Transparent;
}
.ListNoneColor th 
{
	border: #FFFFFF 0px solid; 
	color:Green;
	text-align:left;
}
.ListNoneColor td 
{
	border: #FFFFFF 0px solid; 
	background-color:Transparent;
	color:Green;
}
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  
var strMsg="";
var bData1=new Array(); 
bData1=[
      ['产品代码','产品名称','产品规格','单位','账面数量','实盘数量','差异','破损成品数','60','90','120','120以上','上月月底库存','标记','序号','产品主键']
 #set($i=1)
 #foreach($m in $selentitem)
      ,['$m.ITEMCODE','$m.ITEMDESC','$m.ITEMSPEC','0','0','0','0','0','0','0','0','0','0','N','$i','$m.NC_PK']
 #set($i=$i+1)
 #end
]
/**
var ttlist = new Array();
ttlist=[['序号','产品编码','总量']
#set($i=1)
#foreach($m in $seltopinv)
,['$i','$m.ITEMCODE','$m.SPNUM']
#set($i=$i+1)
#end
]

function init(){
	try{
		for(var i=1;i<ttlist.length;i++){
			for(var j=1;j<bData1.length;j++){
				if(ttlist[i][1]==bData1[j][0]){
				bData1[j][12]=ttlist[i][2];
				}
			}
		}
	}catch(e){}
}
**/
var pageSize=10;
var pageno=0;
var rdata=new Array();
rdata=bData1;
function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}
var dDate1 = new Array();
dDate1=[
      ['产品代码','产品名称','产品规格','单位','账面数量','实盘数量','差异','破损成品数','60','90','120','120以上','上月月底库存','产品主键']
 #set($i=1)
 #foreach($m in $selinview)
      ,['$m.ITEMCODE','$m.ITEMDESC','$m.ITEMSPEC','$m.UNIT','$m.SNUM','$m.PNUM','$m.DIFF','$m.PBAD','$m.STY','$m.NTY','$m.TWTY','$m.OTH','$m.TTOP','$m.PK_INVCL']
 #set($i=$i+1)
 #end
]
function ch(){
	for(var i=1;i<bData1.length;i++){
		for(var j=1;j<dDate1.length;j++){
			if(bData1[i][0]==dDate1[j][0]){
				bData1[i][3]=dDate1[j][3];
				bData1[i][4]=dDate1[j][4];
				bData1[i][5]=dDate1[j][5];
				bData1[i][6]=dDate1[j][6];
				bData1[i][7]=dDate1[j][7];
				bData1[i][8]=dDate1[j][8];
				bData1[i][9]=dDate1[j][9];
				bData1[i][10]=dDate1[j][10];
				bData1[i][11]=dDate1[j][11];
				bData1[i][12]=dDate1[j][12];
				bData1[i][13]='Y';
				bData1[i][15]=dDate1[j][13];
				rdata[i]=bData1[i];
			}
		}
	}
    form2.elements[2].value="Y"
    search();
}
function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][13]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked>";
	  else row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox'>";
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][0];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][1];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][2];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][3];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][4];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][5];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][6];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][7];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][8];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][9];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][10];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][11];
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][12];
	 SetRowCanEdit(row);
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][1].indexOf(form2.elements[1].value)>-1);
    bstatus=form2.elements[2].value=="all"?true:(bData1[i][13]==form2.elements[2].value);
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 }
 toPage(1);
}

function save(bst){
try{
document.getElementById("state").style.display="block";
document.getElementById("stateto").style.display="block";
  savepage(pageno);
  var datahtml="";
  for(var i=0;i<bData1.length;i++){
    if(bData1[i][13]=='Y'){
      datahtml+="<input type=hidden name=itemcode value='"+bData1[i][0]+"'>";
       datahtml+="<input type=hidden name=itemdesc value='"+bData1[i][1]+"'>";
       datahtml+="<input type=hidden name=itemspec value='"+bData1[i][2]+"'>";
       datahtml+="<input type=hidden name=unit value='"+bData1[i][3]+"'>";
       datahtml+="<input type=hidden name=snum value='"+bData1[i][4]+"'>";
       datahtml+="<input type=hidden name=nnum value='"+bData1[i][5]+"'>";
       datahtml+="<input type=hidden name=dif value='"+bData1[i][6]+"'>";
       datahtml+="<input type=hidden name=bad value='"+bData1[i][7]+"'>"; 
       datahtml+="<input type=hidden name=sty value='"+bData1[i][8]+"'>";
       datahtml+="<input type=hidden name=nty value='"+bData1[i][9]+"'>";
       datahtml+="<input type=hidden name=twe value='"+bData1[i][10]+"'>";
       datahtml+="<input type=hidden name=oth value='"+bData1[i][11]+"'>";
       datahtml+="<input type=hidden name=top value='"+bData1[i][12]+"'>";
       datahtml+="<input type=hidden name=pk_invcl value='"+bData1[i][15]+"'>";
	
       datahtml+="<input type='hidden' name='fstatus' value='"+bst+"'>";//状态:1保存 2提交
       datahtml+="<input type='hidden' name='acustname' value='"+document.getElementById('custname').value+"'>"; 
       datahtml+="<input type='hidden' name='acustcode' value='"+document.getElementById('custcode').value+"'>"; 
       datahtml+="<input type='hidden' name='aBranch' value='"+document.getElementById('Branch').value+"'>";
       datahtml+="<input type='hidden' name='apeople' value='"+document.getElementById('people').value+"'>";
       datahtml+="<input type='hidden' name='atpeople' value='"+document.getElementById('tpeople').value+"'>";
       datahtml+="<input type='hidden' name='time' value='"+document.getElementById('time').value+"'>";
       datahtml+="<input type='hidden' name='custpk' value='"+document.getElementById('custpk').value+"'>";
	}
   }
}catch(e){}
 subdata.innerHTML=datahtml;
 document.all.form1.action="editInventorysub.aspx";
 document.all.form1.target="saveframe";
 document.all.form1.submit();
 document.getElementById("btn").style.display="none";
 }
function savepage(page)
{
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked){
      rdata[(page-1)*pageSize+i][13]='Y';
      } else { rdata[(page-1)*pageSize+i][13]='N';}
      for(var j=3;j<13;j++){
        if(table6.rows[i].cells[j+1].innerText==""){
	  rdata[(page-1)*pageSize+i][j]=document.all.editbox.value;
	}
	else{
          rdata[(page-1)*pageSize+i][j]=table6.rows[i].cells[j+1].innerText;
        }
      }
      bData1[rdata[(page-1)*pageSize+i][14]]=rdata[(page-1)*pageSize+i];
    }
  }
}

function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}

function document.onkeydown(){
   key=event.keyCode;
   if(key==83 && event.ctrlKey){
    save();
    return;
   }
   if(key==38)   //向上箭头
   {
     if(event.srcElement.className=="EditCell_TextBox"){
        var ly=event.srcElement.parentNode.offsetTop;
	var hy=mdiv.scrollTop;
	if(ly>hy && (ly-hy<2*ftr.offsetHeight)) mdiv.scrollTop=mdiv.scrollTop-ftr.offsetHeight*2; 
  	//window.status=event.y+","+mdiv.offsetTop;
	//form2.elements[0].value=ftr.offsetHeight;
     }
     return;
   }
   if(key==34)   //page down
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }else{
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }
     return;
   }
   if(key==33)   //page up
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno>1){
	  toPage(pageno-1);
	}
     }else{
        if(pageno>1){
	  toPage(pageno-1);
	}
     }
   }
   return;
}
</script>


<body onload='ch()'>
<div style="width:100%;txt-align:center;border:0 double gray;">
 #foreach($m in $selinv2)
<table  border="0" cellpadding="0" cellspacing="2" width="100%">
    <tr>
      <td height="19" width="7%">客户名称/代码:</td> <td height="19" width="15%">$m.CUSTNAME/$m.CUSTCODE
      <input type='hidden' name='custname' id='custname' value='$m.CUSTNAME'> 
      <input type='hidden' name='custcode' id='custcode' value='$m.CUSTCODE'> 
      <input type='hidden' name='Branch' id='Branch' value='$m.INVENT'>
      <input type='hidden' name='people' id='people' value='$m.PEOPLE'>
      <input type='hidden' name='tpeople' id='tpeople' value='$m.TPEOPLE'>
      <input type='hidden' name='time' id='time' value='$m.TIME'>
      <input type='hidden' name='custpk' id='custpk' value='$m.CUSTPK'>
      </td>
    </tr>
    <tr>
      <td height="19" width="7%">分支:</td> <td height="19" width="15%">$m.INVENT</td>
     </tr>
    <tr>
      <td height="19" width="7%">财务盘点人:</td> <td height="19" width="15%">$m.PEOPLE</td>
     </tr>
     <tr>
      <td height="19" width="7%">仓库人员:</td> <td height="19" width="15%">$m.TPEOPLE</td>
    </tr>
</table>  
#end  
</div>
<br>
<div id="state" style="display:none">
<font color=red>请等待...</font>
</div>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
产品代码：<input type="text" size="16" onkeyup="presearch()"> 
产品名称：<input type="text" size="16" onkeyup="presearch()"> 
状态：<select  onchange="search()">
            <option value='all' selected>全部</option>
	    <option value='N'>未报产品</option>
	    <option value='Y'>已报产品</option>
	    </select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">        
</form>
</div>
<div>
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
      <td height="19" bgcolor="#abcdef" width="6%"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="19" bgcolor="#abcdef">产品编码</td>
      <td height="19" bgcolor="#abcdef">产品名称</td>
      <td height="19" bgcolor="#abcdef" width="7%">产品规格</td>
      <td height="19" bgcolor="#abcdef" width="5%" EditType="TextBox" DataType="String"><font color=blue>单位</font></td>
      <td height="19" bgcolor="#abcdef" EditType="TextBox" DataType="Int"><font color=blue>账面数量</font></td>
      <td height="19" bgcolor="#abcdef">实盘数量</td>
      <td height="19" bgcolor="#abcdef">差异</td>
      <td height="19" bgcolor="#abcdef" EditType="TextBox" DataType="Int"><font color=blue>破损成品数</font></td>
      <td height="19" bgcolor="#abcdef" EditType="TextBox" DataType="Int"><font color=blue>60天(含)以内的库存量</font></td>
      <td height="19" bgcolor="#abcdef" EditType="TextBox" DataType="Int"><font color=blue>61-90天的库存量</font></td>
      <td height="19" bgcolor="#abcdef" EditType="TextBox" DataType="Int"><font color=blue>91-120天的库存量</font></td>
      <td height="19" bgcolor="#abcdef" EditType="TextBox" DataType="Int"><font color=blue>120天以上的库存量</font></td>
      <td height="19" bgcolor="#abcdef">上月月底库存</td>
    </tr>
</table>
 </div>
<div style="width:100%;txt-align:center;border:0 double gray;" style="display:block" id='btn'>
<input type="button" value=" 保  存 " onClick="javascript:save('1');">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 提  交 " onClick="javascript:save('2');">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="login2" value=" 取  消 " name="B222" onClick="javascript:window.location='inventory.aspx';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>
<script>
	 //ch();
	 EditTables(table6);
	 //toPage(1);
</script>
<div id="stateto" style="display:none">
<font color=red>请等待...</font>
</div>
<form name="form1" method="post" action=""  target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>
</html>

