<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<script  src="../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<style>
  .FixedTitleRow
{
    position: relative; 
    top: expression(this.offsetParent.scrollTop); 
    z-index: 10;
    background-color: #DDF9F9;
    border:1px #80B3B0 solid;
    border-bottom-style:none;
    border-right-style:none;
    font:12px;
    padding: 0; 
    margin: 0;
}
.trcolor1 
{
background-color:expression((this.sectionRowIndex%2==0)?"#F3F8F8":"#ffffff");
text-align:center;
font:12px;

}
  </style>
<title></title>
<script language='javascript'>
		var undefined;		
		function uniteTable(thistab,colLength){
		  var rn=thistab.rows.length;//取得行数   
		  var rowspann=0;   
		  for(j=colLength-1;j>=0;j--){//从第0列开始，合并多少列   
		    for(i=rn-1;i>0;i--){//从倒数第一行开始往上检查   
		      if(thistab.rows[i].cells[j].innerText==thistab.rows[i-1].cells[j].innerText&&thistab.rows[i].cells[j].colSpan==thistab.rows[i-1].cells[j].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
			rowspann+=thistab.rows[i].cells[j].rowSpan;;
			thistab.rows[i].deleteCell(j);   
		      }else{   
			thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
			rowspann=0;   
		      }   
		    }   
		    //检测无表头的表   
		    if(i==0&&rowspann>0){   
		      thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
		      rowspann=0;   
		    }   
		  }  
		}

	function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+"edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue; 
	 }

	 function checkinput(){
	 if(document.thisform.itime.value==""||document.thisform.itime1.value==""){
		alert("请输入时间!");
		return false;
	 }
		if(document.thisform.invent.value==""){
			alert("请输入分支！");
			return false;
		}else{
		thisform.submit();
		}
	 }
	 function setVals(dm,mc,code) {
	      setVal(dm,mc);
	      document.thisform.ptype.value=code;
	      document.thisform.ptypename.value=mc;
		}
</script>
<script>
	var duallist = new Array();
	duallist =[['时间','分支','财务盘点人','仓库人员','时间2']
	#set($i=0)
	#foreach($m in $seltabledual)
	,['$m.ITIME','$m.INVENT','$m.TPEOPLE','$m.CPEOPLE','$m.ITIME1']
	#set($i=$i+1)
	#end
	]
	function getdual(){
		try{
			for(var i=1;i<duallist.length;i++){
				if(duallist[i][0]!="")	document.thisform.itime.value=duallist[i][0].replace(/\s+/g,"");
				else document.thisform.username.value=""
				if(duallist[i][1]!="")	document.thisform.invent.value=duallist[i][1].replace(/\s+/g,"");
				else document.thisform.invent.value=""
				if(duallist[i][2]!="")	document.thisform.tpeople.value=duallist[i][2].replace(/\s+/g,"");
				else document.thisform.tpeople.value=""
				if(duallist[i][3]!="")	document.thisform.cpeople.value=duallist[i][3].replace(/\s+/g,"");
				else document.thisform.cpeople.value=""
				if(duallist[i][4]!="")	document.thisform.itime1.value=duallist[i][4].replace(/\s+/g,"");
				else document.thisform.itime1.value=""
			}
		}catch(e){}
		var tab = document.getElementById("tb");
		for(var i=0;i<tab.rows.length;i++){
			if(tab.rows[i].cells[1].innerHTML=="zongji"){
				tab.rows[i].cells[1].innerHTML='总计';
			}
			if(tab.rows[i].cells[2].innerHTML=="heji"){
				tab.rows[i].cells[2].innerHTML='合计';
			}
			if(tab.rows[i].cells[3].innerHTML=="xiaoji"){
				tab.rows[i].cells[3].innerHTML='小计';
			}
		}
	}
</script>
<script>
	function init(){
		getdual();
		uniteTable(tb,3);
		stree.location='../plan/class_tree.aspx';
	}
</script>
</head>
<body onload="init()">
<form name="thisform" method="post" action="selinvtable.aspx">
<table align="center"  class="datatable">
  <tr class="trcolor">
    <td align="right">时&nbsp;&nbsp;&nbsp;间:</td>
      <td align="left"><input type="text" name="itime" value="" onclick="ShowDate(itime)"/>
			-<input type="text" name="itime1" value="" onclick="ShowDate(itime1)"/>
      </td>
    <td align="right">分&nbsp;&nbsp;&nbsp;&nbsp;支:</td>
      <td align="left"><input type="text" name="invent" value=""/></td>
  </tr>
  <tr class="trcolor">
    <td align="right">财务盘点人:</td>      
      <td align="left"><input type="text" name="tpeople" /></td>
    <td align="right">仓库人员:</td>
      <td align="left"><input type="text" name="cpeople" /></td>
  </tr>
  <tr class="trcolor">
    <td align='right'>产品系列:</td>
    <td align='left'><input type="text" name="ptypename" value=""  readonly>
				<input type="hidden" name="ptype" value="">
				<input type='button' name=bt class='btn' value='选择' onclick="click_on_tree_selector($F('ptypename'),$F('dm_zzjg_tree_layer'))">
				<div class="dtree" id="dm_zzjg_tree_layer" style="position:absolute;width:300px;height:208px;visibility:Hidden;z-index:1"> 
				<table width="100%" border="1" cellspacing="0" cellpadding="0" height="100%"><tr><td>
					<IFRAME style="width:100%;height:100%" id='stree' name="swjgdm_tree_frame" marginWidth=0 marginHeight=0 src="" frameBorder=0 
						width="100%" height="100%" scrolling=auto BORDERCOLOR="#000000" ></IFRAME>
				</td></tr></table>
			        </div>
			        <script>
				   selector_layers[selector_layers.length]=document.all.dm_zzjg_tree_layer;
			        </script>
    </td>
    <td align="left"><input type="button" name="button" value="查  询" onclick="checkinput()"/></td>
    <td align="left"><input type="button" name="button" value="导出EXCEL" onclick="javascript:method1('tb');"/></td>
  </tr>
</table>
</form>
<br>
<div>
<h3 align="center">
#foreach($m in $selinvtablehead)
<font color=red>$m.INVENT</font>分支<font color=red>$m.YEAR</font>年<font color=red>$m.MONTH</font>月盘点记录表<br>
</h3>
分支:$m.INVENT &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
时间:$m.TIME  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
财务盘点人:$m.PEOPLE  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
仓库人员:$m.TPEOPLE  
#end
</div>
  <table align="center" class="datatable" id='tb'>
  <tr bgcolor="#33CCFF" class="trcolor">
    <td rowspan="2">序号</td>
    <td rowspan="2">大类</td>
    <td rowspan="2">系列</td>
    <td rowspan="2">品名</td>
    <td rowspan="2">规格</td>
    <td rowspan="2">单位</td>
    <td colspan="3"><div align="center">账实相符情况</div></td>
    <td rowspan="2">破损成<br>品数</td>
    <td colspan="4"><div align="center">产品日期结构</div></td>
    <td rowspan="2">上月月<br>底库存</td>
  </tr>
  <tr bgcolor="#33CCFF" class="trcolor">
    <td>账面数量</td>
    <td>实盘数量</td>
    <td>差异</td>
    <td>60天(含)<br>以内的库存量</td>
    <td>61-90天<br>的库存量</td>
    <td>91-120<br>天的库存量</td>
    <td>120天以上<br>的库存量</td>
  </tr>
	  #set($i=1)
	  #foreach($m in $selinvtable)
		#if(($m.ITEMSPEC !="-" && $m.UNIT !="-")|| ($m.ITEMDESC == 'xiaoji' && $m.ITEMCODE =="-"))
		 <tr class="trcolor">
		    <td>$i</td>
		    <td>$m.FATHER_CLASSNAME</td>
		    <td>$m.INVCLASSNAME</td>
		    <td>$m.ITEMDESC</td>
		    <td>$m.ITEMSPEC</td>
		    <td>$m.UNIT</td>
		    <td>$m.SNUM</td>
		    <td>$m.PNUM</td>
		    <td>$m.DIFF</td>
		    <td>$m.PBAD</td>
		    <td>$m.STY</td>
		    <td>$m.NTY</td>
		    <td>$m.TWTY</td>
		    <td>$m.OTH</td>
		    <td>$m.TTOP</td>
		  </tr>
	#set($i=$i+1)
	#end
#end
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>