<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='F';
 #foreach($m in $testFzPreorder)
   feenum='$m.BILLNUM';
 #end
 #foreach($m in $getPlanDate)
 if(parseInt(feenum)>0) {
   alert("该客户存在未提交的预订单！");
   parent.submitok=false;
 }else if(feenum=='0'){
   if('$m.PLANMON'!='$m.PLANMON2' && '$m.HH'<'15'){
      //alert("本日15点后才可以抢报！");
      //parent.submitok=false;
      parent.testok2();
   }else {
      if('$m.REALMON'=='$m.REALMON2'){
        if('$m.QB'=='0'){
	   alert("目前用户太多，请稍后再试！");
	}else{
	   parent.testok2();
	}
      }
      else{
         parent.testok2();
         //alert("本月抢报活动已经结束！");
         //parent.submitok=false;
      }
   }
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
 #end
	</script>
</head>
<body>
</body>
</html>

