<?xml version="1.0" encoding="gb2312"?>
<ufinterface roottag="so_preorder" billtype="38"  replace="Y" receiver="A371" sender="synear" isexchange="Y" filename="" proc="add" operation="req">
<so_preorder id="1" subdoctype="">
  #foreach($m in $getFzSoPreorder)
        <so_preorder_head>
	    <pk_preorder></pk_preorder>
            <ccurrencytypeid>$!m.CCURRENCYTYPEID</ccurrencytypeid>
            <ccustomerid>$!m.CCUSTOMERID</ccustomerid>
            <cdeptid>$!m.CDEPTID</cdeptid>
            <cemployeeid>$!m.CEMPLOYEEID</cemployeeid>
            <coperatorid>$!m.COPERATORID</coperatorid>
            <creceiptareaid>$!m.CRECEIPTAREAID</creceiptareaid>
            <creceiptcorpid>$!m.CRECEIPTCORPID</creceiptcorpid>
            <creceiptcustomerid>$!m.CRECEIPTCUSTOMERID</creceiptcustomerid>
            <csalecorpid>$!m.CSALECORPID</csalecorpid>
            <ctermprotocolid></ctermprotocolid>
            <ctransmodeid></ctransmodeid>
            <dabatedate>$!m.DABATEDATE</dabatedate>
            <dbilldate>$!m.DBILLDATE</dbilldate>
            <dmakedate>$!m.DMAKEDATE</dmakedate>
            <fstatus>$!m.FSTATUS</fstatus>
            <creceipttype>38</creceipttype>
            <nexchangeotobrate>$!m.NEXCHANGEOTOBRATE</nexchangeotobrate>
            <pk_corp>$!m.PK_CORP</pk_corp>
            <vdef1></vdef1>
            <vdef2></vdef2>
            <vdef3></vdef3>
            <vdef4></vdef4>
            <vdef5>$!m.VDEF5</vdef5>
            <vdef6>$!m.VDEF6</vdef6>
            <vdef7>add</vdef7>
            <vdef8></vdef8>
            <vdef9></vdef9>
            <vnote>$!m.VNOTE</vnote>
            <vreceiptcode>$!m.VRECEIPTCODE</vreceiptcode>
            <vreceiveaddress>$!m.VRECEIVEADDRESS</vreceiveaddress>
        </so_preorder_head>
  #end      
        <so_preorder_body>
	  #foreach($m in $getFzSoPreorderB)
            <entry>
                <blargessflag>N</blargessflag>
                <cbatchid></cbatchid>
                <cbodywarehouseid></cbodywarehouseid>
                <ccalbodyid>$!m.CCALBODYID</ccalbodyid>
                <ccurrencytypeid>$!m.CCURRENCYTYPEID</ccurrencytypeid>
                <cinvbasdocid>$!m.CINVBASDOCID</cinvbasdocid>
                <cinventoryid>$!m.CINVENTORYID</cinventoryid>
                <cpackunitid>$!m.CPACKUNITID</cpackunitid>
                <crecaddrnode></crecaddrnode>
                <creceiptareaid>$!m.CRECEIPTAREAID</creceiptareaid>
                <creceiptcorpid>$!m.CRECEIPTCORPID</creceiptcorpid>
                <crowno>$!m.CROWNO</crowno>
                <cunitid>$!m.CUNITID</cunitid>
                <dreceivedate>$!m.DRECEIVEDATE</dreceivedate>
                <dsenddate>$!m.DSENDDATE</dsenddate>
                <frownote></frownote>
                <ndiscountmny>0.000000</ndiscountmny>
                <ndiscountrate>100</ndiscountrate>
                <nexchangeotobrate>1.0</nexchangeotobrate>
                <nitemdiscountrate>100</nitemdiscountrate>
                <nmny>$!m.NMNY</nmny>
                <nnetprice>$!m.NNETPRICE</nnetprice>
                <nnumber>$!m.NNUMBER</nnumber>
                <norgnlcurdiscntmny>0</norgnlcurdiscntmny>
                <norgnlcurmny>$!m.NORGNLCURMNY</norgnlcurmny>
                <norgnlcurnetprice>$!m.NORGNLCURNETPRICE</norgnlcurnetprice>
                <norgnlcursummny>$!m.NORGNLCURSUMMNY</norgnlcursummny>
                <norgnlcurtaxmny>0</norgnlcurtaxmny>
                <norgnlcurtaxnetprc>$!m.NORGNLCURTAXNETPRC</norgnlcurtaxnetprc>
                <norgnlcurtaxprice>$!m.NORGNLCURTAXPRICE</norgnlcurtaxprice>
                <noriginalcurprice>$!m.NORIGINALCURPRICE</noriginalcurprice>
                <npacknumber>$!m.NPACKNUMBER</npacknumber>
                <nprice>$!m.NPRICE</nprice>
		<nqtorgprc>$!m.NQTORGPRC</nqtorgprc>
		<nqtorgtaxnetprc>$!m.NQTORGTAXNETPRC</nqtorgtaxnetprc>
		<nqtorgtaxprc>$!m.NQTORGTAXPRC</nqtorgtaxprc>
		<breturnprofit>N</breturnprofit>
		<bsafeprice>N</bsafeprice>
                <nsummny>$!m.NSUMMNY</nsummny>
                <ntaxmny>0</ntaxmny>
                <ntaxnetprice>$!m.NTAXNETPRICE</ntaxnetprice>
                <ntaxprice>$!m.NTAXPRICE</ntaxprice>
                <ntaxrate>0</ntaxrate>
                <pk_corp>$!m.PK_CORP</pk_corp>
                <vdef1></vdef1>
                <vdef2></vdef2>
                <vdef3></vdef3>
                <vdef4></vdef4>
                <vdef5></vdef5>
                <vdef6></vdef6>
                <vdef7></vdef7>
                <vdef8></vdef8>
                <vdef9></vdef9>
                <vdef10></vdef10>
		<vdef12>$!m.VDEF12</vdef12>
		<vdef13>$!m.VDEF13</vdef13>
                <vfree1></vfree1>
                <vfree2></vfree2>
                <vfree3></vfree3>
                <vfree4></vfree4>
                <vfree5></vfree5>
                <vreceiveaddress>$!m.VRECEIVEADDRESS</vreceiveaddress>
	        <cporjectid>$!m.CPORJECTID</cporjectid>
	        <cpriceid>$!m.CPRICEID</cpriceid>
	        <cpriceitemtable>$!m.CPRICEITEMTABLEID</cpriceitemtable>
		<cquoteunitid>$!m.CQUOTEUNITID</cquoteunitid>
            </entry>
	  #end
        </so_preorder_body>
    </so_preorder>
</ufinterface>
