<html>
<head>

	<title>系统操作结果</title>
	<link rel="stylesheet" type="text/css" href="../../js/style.css">
	<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
</head>
<body>
	<h3>历史修改记录</h3>
	<input type="button" value="返回" class="bt1" onclick="window.history.go(-1)"/>
     <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
		<tr> 
			<td align="center"><b>编号</b></td >
			<td align="center"><b>名称</b></td >
			<td align="center"><b>维护价格</b></td >
			<td align="center"><b>生效时间</b></td >
			<td align="center"><b>备注信息</b></td >
			<td align="center"><b>维护人</b></td >
			<td align="center"><b>维护时间</b></td >
			
		</tr>
		#foreach($n in $getUpdateDetailForQC)
		<tr> 
			<td align="center">$!n.INVCODE &nbsp;</td >
			<td align="center">$!n.INVNAME &nbsp;</td >			
			<td align="center">$!n.COSTPRICE &nbsp;</td >			
			<td align="center">$!n.STARTDATE &nbsp;</td >
			<td align="center">$!n.REMARK &nbsp;</td >
			<td align="center">$!n.MAKERID &nbsp;</td >
			<td align="center">$!n.TS &nbsp;</td >
		</tr>	
		 #end

	  </table>

</body>
</html>

