<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<!-- 引入jquery的js包 -->
<script Language="javascript" src="../../../include/js/jquery-1.7.2.js"></script>
<script language="javascript" src="../../../include/js/97/WdatePicker.js"></script>
<title>报表查询</title>
<script language="JavaScript">
$(function(){
	$("#hiddate").hide();

	$("#selectChanLiangReport").click(function(){
			$selectDate = $("#selectDate").val();
			if($selectDate!=""){
				//分厂信息
				var $bumen = $(":checkbox[name='bumen'][checked]");
				var $allbumen = $(":checkbox[name='bumen']");
				var fenchangxinxi = "";
				var changes = "";
				var val1 = "";
				var val2 = "";
				if($bumen.length!=0){
					//alert("选择了"+$bumen.length+"个大类");
					for(var i=0;i< $bumen.length;i++){
						fenchangxinxi = fenchangxinxi+$bumen[i].value+"','";
						changes = changes+$bumen[i].value+",";
						val1 = fenchangxinxi.substr(0,fenchangxinxi.length-3);
						val2 = changes.substr(0,changes.length-1);
						$("#fenchangxinxi").val(val1);	
						$("#changestart").val(val2);	
					}
				}else{
					//alert("选择了全部的"+$allbumen.length+"个大类");
					for(var i=0;i< $allbumen.length;i++){
						fenchangxinxi = fenchangxinxi+$allbumen[i].value+"','";
						changes = changes+$allbumen[i].value+",";
						val1 = fenchangxinxi.substr(0,fenchangxinxi.length-3);
						val2 = changes.substr(0,changes.length-1);
						$("#fenchangxinxi").val(val1);	
						$("#changestart").val(val2);	
					}
				}
				$("#queryform").submit();
			}else{
				alert("请选择月份");
			}
		});
});

</script>
</head>
<body>	
<form name="queryform" method="post" action="setChanZhiReportByDate.aspx" id="queryform" >
<input name = "deptids" type="hidden" id="fenchangxinxi" value="$!{form_deptids}" />
<input name = "changedeptids" type="hidden" id="changestart" value="$!{form_changedeptids}" />
<input  type="hidden" id="allfenchangxinxi" value="#foreach($m in $getUserFactoryBySessionUser)${m.PK_DEPTDOC}','#end" />
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
		<tr class="search"> 
            <td class="tdlabel" width="10%">选择月份：</td>
		  	<td class="tdinput" width="40%">
				<input type="text" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM',dateFmt:'yyyy-MM',minDate:'2011-05'})"  class="Wdate" name="selectDate" value="$!{form_selectDate}" id="selectDate"/>
			</td>
		</tr>
		<tr class="search"> 
            <td class="tdlabel" width="10%">选择部门：</td>
		  	<td class="tdinput" width="40%" >
				#set($i=1)
				#foreach($m in $getUserFactoryBySessionUser)
						<input type="checkbox" name="bumen" value="${m.PK_DEPTDOC}"
						#foreach($s in $getChangeDepts)
							#if($s.PK_DEPTDOC == ${m.PK_DEPTDOC})
								checked = "checked"
							#end
						#end
						>${m.DEPTNAME}
							#if(${i}%9==0)
								</br>
							#end
						#set($i=$i+1)
					#end
			</td>
        </tr>
		<tr class="search"> 
            <td class="tdlabel" width="10%"></td>
			<td class="tdinput" width="40%" >
				<input type="button" name="search" class="bt1" id="selectChanLiangReport" value="查询">
			</td>
        </tr>

</table>
</form>
<div id="danyuebaobiao">
	</br>
	<input type="button" name="search" class="bt1" id="exportbtn" value="导出Excel" onclick="javascript:exportMethod('dybb');">
	<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="dybb" class="datatable" name="chanliang">
		<tr height="20"  align="center" bgcolor="#abcdef" id="ftr" >
			<td nowrap="nowrap" rowspan="2">存货编码</td>
			<td nowrap="nowrap" rowspan="2">存货名称</td>
			<td nowrap="nowrap" rowspan="2">规格</td>
			<td nowrap="nowrap" rowspan="2">单件重</td>
			<td nowrap="nowrap" rowspan="2">出厂价</td>
			#foreach($m in $getUserFactoryBySessionUser)
				#foreach($s in $getChangeDepts)
					#if($s.PK_DEPTDOC == ${m.PK_DEPTDOC})
						<td nowrap="nowrap" colspan="2">${m.DEPTNAME} </br>$!{form_selectDate}</td>
					#end
				#end
			#end
		</tr>
		<tr height="20"  align="center"  bgcolor="#abcdef" id="ftr">
			#foreach($m in $getUserFactoryBySessionUser)
				#foreach($s in $getChangeDepts)
					#if($s.PK_DEPTDOC == ${m.PK_DEPTDOC})
						<td nowrap="nowrap" >生产量</td>
						<td nowrap="nowrap" >产值</td>
					#end
				#end
			#end
		</tr>

	#foreach($s in $getInvbasCategory)
		#foreach($m in $getNewSysProdInfosForQC)
			#if($s.ID == $m.CATEGORYID)
			<tr height="20" class="trcolor" name="yuedureport" >
				<td align="center" nowrap="nowrap" >$m.INVCODE</td>
				<td align="center" nowrap="nowrap">$m.INVNAME &nbsp;</td>
				<td align="center" nowrap="nowrap">$m.INVSPEC &nbsp;</td>
				<td align="center" nowrap="nowrap" name="danjianzhongID">$m.UNITWEIGHT &nbsp;</td>				
				<td align="center" nowrap="nowrap" name="danjianzhongID">$m.COSTPRICE &nbsp;</td>				
			#foreach($x in $getUserFactoryBySessionUser)
				#foreach($ss in $getChangeDepts)
					#if($ss.PK_DEPTDOC == ${x.PK_DEPTDOC})
						#set($count=1) 
						#foreach($n in $getMonthChanZhiResult)
							#if($n.PK_DEPTDOC == $x.PK_DEPTDOC && $n.PK_INVBASDOC == $m.PK_INVBASDOC)
								<td nowrap="nowrap" colspan="1" name=sc${x.PK_DEPTDOC} >$n.MAKENUM  </td>
								<td nowrap="nowrap" colspan="1" name=scd${x.PK_DEPTDOC} >$n.MAKENUMZONG  </td>
								
								#set($count=$count+1)
							#end
						#end
							#if($count==1)
								<td nowrap="nowrap" colspan="1" name=yc${x.PK_DEPTDOC} >0</td>
								<td nowrap="nowrap" colspan="1" name=ycd${x.PK_DEPTDOC} >0</td>
							#end
					#end
				#end
			#end
			</tr>			
		#end
	#end	
		<tr height="20" class="trcolor" name="yuedureport">
				<td align="center" nowrap="nowrap" >&nbsp;</td>
				<td align="center" nowrap="nowrap"><b style="color:red;">$s.CATEGORYNAME<b></td>
				<td align="center" nowrap="nowrap">&nbsp;</td>
				<td align="center" nowrap="nowrap">&nbsp;</td>
				<td align="center" nowrap="nowrap">&nbsp;</td>
				#foreach($m in $getUserFactoryBySessionUser)
					#foreach($s in $getChangeDepts)
						#if($s.PK_DEPTDOC == ${m.PK_DEPTDOC})
							<td nowrap="nowrap" colspan="1">0</td>
							<td nowrap="nowrap" colspan="1">0</td>
						#end
					#end	
				#end
		</tr>

#end
</table>
</div>
</div>
	<div id="hiddate">
		<table>
		<tr name="fenchang">
			#foreach($m in $getUserFactoryBySessionUser)
				<td nowrap="nowrap" colspan="8" name="fenchangIDs">${m.PK_DEPTDOC}</td>
			#end
		</tr>
		</table>
	</div>
<script> 
function exportMethod(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>
</body>
</html>
