<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='F';
 #foreach($m in $isProductPriceExsitForQC)
   feenum='$!m.RESULTNUM';
 #end
 if(parseInt(feenum)>0) {
   alert("某些物料的价格已设定做此起效时间，请重选起效时间！");
   parent.submitok=false;
 }else if(feenum=='0'){
   parent.testok();
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
	</script>
</head>
<body>
</body>
</html>

