<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<style>
.datatable111{
	width:100%;
	border:1px black solid;
	
	font:12px;
	padding: 0; 
	margin: 0; 
} 
.datatable111 td { 
	border-right: 1px solid black; 
	border-bottom: 1px solid black;  
	font-size:12px;
	line-height:200%;
	padding: 0px 4px 0px 4px; 
	margin: 0;
}
.trcolor111 {text-align:center}
</style>
</head>
<script language="javascript">
var num3 = 0;
var num4 = 0;
var num5 = 0;
function Subtr(arg1,arg2){
     var r1,r2,m,n;
     try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
     try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
     m=Math.pow(10,Math.max(r1,r2));
     n=(r1>=r2)?r1:r2;
     return ((arg1*m-arg2*m)/m).toFixed(n);
 } 
 function accAdd(arg1,arg2){ 
	var r1,r2,m; 
	try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0} 
	try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0} 
	m=Math.pow(10,Math.max(r1,r2)) 
	return (arg1*m+arg2*m)/m 
 } 
 function toexpexcel(url){
    window.open(url,'','top=0,left=0,Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width="+screen.width+",height="+screen.height+"');
}
function printpr1()
     {
        oldhtml=window.document.body.innerHTML;
        bdhtml=window.document.body.innerHTML;
        sprnstr="<!--startprint1-->";
        eprnstr="<!--endprint1-->";
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+18);
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML=prnhtml;
        window.print();
        window.document.body.innerHTML=oldhtml;
     }
</script>


<body>
<DIV align="center" id="dayinDiv" name="dayinDiv">
<OBJECT ID="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>
<input type="button" class="bt1" value="返回" onclick="javascript:history.back(-1)">&nbsp;&nbsp;<input type="button" class="bt1" value="打印单据" onclick="printpr1();">&nbsp;&nbsp;<!--<input type="button" value="打印预览" onclick="printpr();" class="bt1">&nbsp;&nbsp;--><input name=Button onClick=document.all.WebBrowser.ExecWB(8,1) type=button value=页面设置 class="bt1">     
<input type="hidden" name="qingkongyema" id="qingkongyema" class="tab" value="清空页码" onclick="pagesetup_null()">&nbsp;&nbsp;   
<input type="hidden" class="tab" value="恢复页码" onclick="pagesetup_default()">
</DIV> 
<br>
<!--startprint1-->
<div id ="tb">
<table border="0" cellspacing="0" cellpadding="0" class="datatable111">
<p align="center"><font size="1"><b>&nbsp;</b></font></p>
<p align="center"><font size="4"><b>郑州思念食品有限公司</b></font></p>
<p align="center"><font size="4" color="red"><b>#if($!form_senddate == '1')2011年01月份#elseif($!form_senddate == '2')2011年6-12月份#elseif($!form_senddate == '3')$!form_sdate#end</font></b><font size="4"><b>促销物料签收确认单</b></font></p>
<b>客户编码：</b>$session_USERNAME &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>客户名称：</b>$session_NAME
<tr class="trcolor">
   <td>发放物料时间</td>
   <td>物料名称</td>
   <td>计量单位</td>
   <td>出库数量</td>
   <td>出库单价</td>
   <td>出库金额（元）</td>
   <td>实收数量</td>
</tr>
#set($i = 1)
#foreach($m in $jxsselftcxwldzquerybypageall)
<tr class="trcolor">
   <td >$!m.SENDDATE</td>
   <td >$!m.WLNAME</td>
   <td >$!m.UNITNAME</td>
   <td >$!m.NNUM</td>
   <td >$!m.PRICE</td>
   <td >$!m.MONEY</td>
   <td >#if($m.SNNUM != "")$m.SNNUM#else 0 #end</td>
</tr>
#set($i=$i+1)
<script>
  num3 = accAdd(num3,$!m.NNUM);
  num4 = accAdd(num4,$!m.MONEY);
  num5 = accAdd(num5,#if($m.SNNUM != "")$m.SNNUM#else 0 #end);
</script>
#end
<tr class="trcolor">
   <td>合计</td>
   <td align="center">&nbsp;</td>
   <td>&nbsp;</td>
   <td><script language="javascript">document.write(num3); </script></td>
   <td >&nbsp;</td>
   <td><script language="javascript">document.write(num4); </script></td>
   <td><script language="javascript">document.write(num5); </script></td>
   
</tr>
</table>
<p>
<table cellspcing="0" cellpadding="0">
<tr><td  colspan="8" style="font:12px">
注：1、此单为总公司对经销商发促销物料实际签收数量的确认，请经销商确认实收数量后回传。
</td></tr>
<tr><td  colspan="8" style="font:12px">
2、客户在综合业务系统签收后，导出此表，打印后盖公章或签名按手印，随一月份对账单一同寄回公司。
</td></tr>
<tr><td  colspan="8" style="font:12px">
联系人：推广组  王晓丽   联系电话：63398203
</td></tr>
</table>
</div>
<!--endprint1-->
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>
