
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>销售政策修改</title>

<script type="text/javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
function m(){
   if(document.n1.styname.value==""){
		     alert("政策名不能为空");
		     document.n1.styname.focus();
		     return false;
		   }
     if(document.n1.stycode.value==""){
		     alert("政策编号不能为空");

		     document.n1.stycode.focus();
		     return false;
		   }
      if(document.n1.allowance.value==""){
		     alert("补贴额不能为空");

		     document.n1.allowance.focus();
		     return false;
		   }
     if(isNaN(document.n1.allowance.value)){ 
    
    　　 alert("补贴额必须为数字！"); 　　
         return false; 　
       
       　} 
		   var a=document.getElementById("type");
		
	        var b = a.options[a.selectedIndex].text
       if(b==""){
		     alert("类型不能为空");

		     document.n1.type.focus();
		     return false;
		   }

    if(document.n1.starttime.value==""){
		     alert("起始时间不能为空");

		     document.n1.starttime.focus();
		     return false;
		   }
     if(document.n1.endtime.value==""){
		     alert("结束时间不能为空");

		     document.n1.endtime.focus();
		     return false;
		   } 
    
      if(document.n1.starttime.value<document.n1.endtime.value){
 
       }else{
          alert("起始时间必须小于结束时间");
         document.n1.starttime.value="";
	   document.n1.endtime.value="";
          document.n1.starttime.focus();
	   
		     return false;
          
       }
   document.n1.name1.disabled = true;
   document.n1.target="dataframe";
   document.n1.action="yxzcsavedit.aspx";
   document.n1.submit();

}

</script>
  </head>
  
  <body>
  <form method="post" name="n1">
   #foreach($!m in $selyxzxsalezcbystyid)
  <input type="hidden" name="styid" value="$m.STYID">
  <table class="datatable">
  <tr class="search">
  <td>政策编号</td>
  <td align="left"><input type="text" name="stycode" value="$m.STYCODE"></td>
  <td>政策名</td>
  <td align="left"><input type="text" name="styname" value="$m.STYNAME"></td> 
  </tr>
  <tr class="search">  
   <td>件补贴额</td>
   <td align="left"><input type="text" name="allowance" value="$m.ALLOWANCE"></td>
 
   <td>类型</td>
   <td align="left"><select name="type" id="type">
    <option></option>
    <option value="A"  #if($m.TYPE == 'A')selected#end>单补</option>
    <option value="B"  #if($m.TYPE == 'B')selected#end>套餐补</option>
   
   </select></td></tr><tr class="search">
   <td>起始时间</td>
   <td align="left"><input type="text" name="starttime" onclick="ShowDate(this)" value="$m.STARTTIME"></td>
   <td>结束时间</td>
   <td align="left"><input type="text" name="endtime" onclick="ShowDate(this)" value="$m.ENDTIME"></td></tr>
   <tr class="search">  
   <td>备注</td>
   <td align="left" colspan="3"><textarea id="note" name="note" rows="3" cols="80">$m.NOTE</textarea></td></tr>
   <tr class="search">
    <td align="center" colspan="4">
   <input type="button"" name="name1" class="bt1" value="提交" onClick="m()">&nbsp; <input type="button"" name="name1" class="bt1" value="返回" onClick="javascript:history.back(-1)"></td></tr></table>
   #end
   </form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</div>
  </body>
</html>



 
 
  
  

