<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>营销中心政策查询</title>
<script language="javascript">
function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
 function a(){
	form2.submit();
 }
 function b(){
	   document.thisform.page.value =1;
		document.thisform.submit();
 }
    function todel(url){
       if(confirm("确认要删除吗？")){
           document.thisform.target="dataframe";
	   document.thisform.action=url;
	   document.thisform.submit();
       }
    }
    function exportfile(){
	   thisform.action = "exprot.exl";
	   thisform.submit();
	}
 </script>

</head>

<body>
<form name="thisform" method="post" action="yxzcquery.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td>政策开始日期:</td>
    <td align="left"><input type="text" name="starttime" id="starttime" value="$!form_starttime" onclick="ShowDate(starttime)"/></td>
    <td>政策结束日期:</td>
    <td align="left"><input type="text" name="endtime" id="endtime" value="$!form_endtime" onclick="ShowDate(endtime)"/></td>
  </tr>
  <tr class="trcolor">
    <td>政策编号:</td>
    <td align="left"><input type="text" name="stycode" value="$!form_stycode"/></td>
    <td>政策类型:</td>
    <td align="left"> <select id="type" name="type">
        <option value="">全部</option>
	<option value="A" #if($form_type == 'A')selected#end>单补</option>
	<option value="B" #if($form_type == 'B')selected#end>套餐补</option>
	</select>
  </td>
  </tr>
  <tr class="trcolor">
    <td>&nbsp;</td>
    <td><input type="button" name="b1" class="bt1" value="查&nbsp;询" onclick="b()"/></td>
    <td><input type="button" name="bt1" class="bt1" value="导出EXCEL" onClick="exportfile()"></td>
    <td><input type="button" name="b2" class="bt1" value="新&nbsp;建" onclick="a()"/></td>
  </tr>
</table>
</form>
<br>
<table class="datatable">
  <tr class="trcolor">
    <td nowrap>政策编号</td>
    <td nowrap>政策名</td>
    <td nowrap>补贴额</td>
    <td nowrap>类型</td>
    <td nowrap>开始时间</td>
    <td nowrap>结束时间</td>
    <td>备注</td>
    <td nowrap>操作</td>
  </tr>
    #set($i=0)
    #foreach($!m in $selyxzxsalezc)
	  <tr class="trcolor">
	    <td width="5%"><a href="yxzcdetail.aspx?styid=$!m.STYID">$!m.STYCODE</a></td>
	    <td width="10%">$!m.STYNAME</td>
	    <td width="5%">$!m.ALLOWANCE</td>
	    <td width="5%">#if($!m.TYPE=='A')单补#elseif($!m.TYPE=='B')套餐补#end</td>
	    <td width="10%">$!m.STARTTIME</td>
	    <td width="10%">$!m.ENDTIME</td>
	    <td align="left" width="40%">$!m.NOTE</td>
	    <td width="15%"><a href="yxzcedit.aspx?styid=$!m.STYID">修改</a>&nbsp;<a href="zcarea.aspx?styid=$!m.STYID">区域关联</a>&nbsp;<a href="zcinvname.aspx?styid=$!m.STYID&type=$!m.TYPE">产品关联</a>&nbsp;<a href="#" onclick="todel('yxzcdel.aspx?styid=$!m.STYID')">删除</a>  </td>
	  </tr>
    #set($i=$i+1)
    #end
     <tr >
        <td class="tdlabel" colspan="8">$pagecode</td>
   </tr>
</table>
<form action="yxzcadd.aspx" method="post" name="form2">
</form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
