
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>销售政策添加</title>

<script type="text/javascript">
var now = new Date(); //获取系统日期 
var yyy ="'"+now.getYear()+"'"; //截取年		
var yy = yyy.substring(3,5);
var mon = now.getMonth()+1; //截取月
var dd = now.getDate(); //截取日
//取时间 
var hh = now.getHours(); //截取小时 
var ss = now.getTime() % 60000; //获取时间，因为系统中时间是以毫秒计算的，所以秒要通过余60000得到。 
var mil = now.getMilliseconds();//毫秒
ss= (ss - (ss % 1000)) / 1000; //然后，将得到的毫秒数再处理成秒 
var clock = yy; //将得到的各个部分连接成一个日期时间 
if (parseInt(mon) < 10) mon = '0'+mon; //字符串 
clock += mon;  
if (parseInt(dd) < 10) dd = '0'+dd;  
clock += dd;
if (parseInt(hh) < 10) hh = '0'+hh;  
clock += hh; 
if (parseInt(ss) < 10) ss = '0'+ss;  
clock += ss;
if (parseInt(mil) < 10){mil = '00'+mil;
}else if(10 <= parseInt(mil) < 100){mil = '0'+mil;}
clock += (mil.substr(0,3));
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
function m(){
   if(document.n1.styname.value==""){
		     alert("政策名不能为空");
		     document.n1.styname.focus();
		     return false;
		   }
     if(document.n1.stycode.value==""){
		     alert("政策编号不能为空");
		     document.n1.stycode.focus();
		     return false;
		   }
      if(document.n1.allowance.value==""){
		     alert("补贴额不能为空");

		     document.n1.allowance.focus();
		     return false;
		   }
     if(isNaN(document.n1.allowance.value)){ 
    
    　　 alert("补贴额必须为数字！"); 　　
         return false; 　
       
       　} 
		   var a=document.getElementById("type");
		
	        var b = a.options[a.selectedIndex].text
       if(b==""){
		     alert("类型不能为空");

		     document.n1.type.focus();
		     return false;
		   }

    if(document.n1.starttime.value==""){
		     alert("起始时间不能为空");

		     document.n1.starttime.focus();
		     return false;
		   }
     if(document.n1.endtime.value==""){
		     alert("结束时间不能为空");

		     document.n1.endtime.focus();
		     return false;
		   } 
    
      if(document.n1.starttime.value<document.n1.endtime.value){
 
       }else{
          alert("起始时间必须小于结束时间");
         document.n1.starttime.value="";
	   document.n1.endtime.value="";
          document.n1.starttime.focus();
	   
		     return false;
          
       }
   document.n1.styid.value="ZC"+clock;
   document.n1.name1.disabled = true;
   document.n1.target="dataframe";
   document.n1.action="yxzcsaveadd.aspx";
   document.n1.submit();

}

</script>
  </head>
  
  <body>
  <form method="post" name="n1"><input type="hidden" name="styid">
  <table class="datatable">
  <tr class="search">
  <td>政策编号</td>
  <td align="left"><input type="text" name="stycode" value="$!form_stycode"></td>
  <td>政策名</td>
  <td align="left"><input type="text" name="styname" value="$!form_styname"></td> 
  </tr>
  <tr class="search">  
   <td>件补贴额</td>
   <td align="left"><input type="text" name="allowance" value="$!form_allowance"></td>
 
   <td>类型</td>
   <td align="left"><select name="type" id="type">
    <option></option>
    <option value="A">单补</option>
    <option value="B">套餐补</option>
   
   </select></td></tr><tr class="search">
   <td>起始时间</td>
   <td align="left"><input type="text" name="starttime" onclick="ShowDate(this)" value="$!form_starttime"></td>
   <td>结束时间</td>
   <td align="left"><input type="text" name="endtime" onclick="ShowDate(this)" value="$!form_endtime"></td></tr>
   <tr class="search">  
   <td>备注</td>
   <td align="left" colspan="3"><textarea id="note" name="note" rows="3" cols="80"></textarea></td></tr>
   <tr class="search">
    <td align="center" colspan="4">
   <input type="button"" name="name1" class="bt1" value="添加" onClick="m()">&nbsp; <input type="button"" name="name1" class="bt1" value="返回" onClick="javascript:history.back(-1)"></td></tr></table>
   </form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</div>
  </body>
</html>



 
 
  
  

