

<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../../inc/js/time.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<title>系统消息查询</title>
</head>

<body>	

  <form name="form1" method="post" action="addbzgs.aspx"  target="dataframe">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" class="datatable">
<tr>
	<td width="10%" align="center">厂别</td>
	<td><input type="text" name="ftype"  value=""></td>
	
	<td nowrap="nowrap">产品编码</td>
	<td><input type="text" name="pcode"  value=""></td>
	<td nowrap="nowrap">产品名称</td>
	<td><input type="text" name="pname"  value=""></td>
</tr>
<tr>
	<td width="10%" align="center">规格</td>
	<td nowrap="nowrap"><input type="text" name="pgk" ></td>
	<td width="10%" align="center">单位</td>
	<td nowrap="nowrap"><input type="text" name="punit" ></td>
	<td width="10%" align="center">计划排产量</td>
	<td nowrap="nowrap"><input type="text" name="jhpcl"></td>
</tr>
<tr>
<td width="10%" align="center">实际排产量</td>
<td nowrap="nowrap"><input type="text" name="sjcl" ></td>
<td width="10%" align="center">标准工时</td>
<td nowrap="nowrap"><input type="text" name="bzgs" ></td>
<td width="10%" align="center">实际工时</td>
<td nowrap="nowrap"><input type="text" name="sjgs"></td>
</tr>
<tr>
<td width="10%" align="center">差异产量</td>
<td nowrap="nowrap"><input type="text" name="cycl" ></td>
<td width="10%" align="center">差异工时</td>
<td nowrap="nowrap"><input type="text" name="cygs" ></td>

</tr>
<div id = "subdata"></div>
<tr align="center">
   <td colspan="2"><input type="submit" value="保&nbsp;存">&nbsp;<input type="reset" class="bt1" value="重&nbsp;置">&nbsp;<input type="button" class="bt1" value="返&nbsp;回" onclick="history.back(-1)"></td>
</tr>
</table>
</form>	
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
