

<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script src="../../../inc/js/time.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<title>系统消息查询</title>
</head>
<SCRIPT LANGUAGE="JavaScript">
    function toaddsave(){
       document.form1.id.value=getnowtimemli();
       document.form1.status.value="1";
       document.form1.submit();
    }
    function toaddsave1(){
       document.form1.submit();
    }
</script>
<body>	
  <form name="form1" method="post" action="savebzgs.aspx"  target="dataframe">
  <input type="hidden" name="id" value="$form_id"><input type="hidden" name="status">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" class="datatable">
#foreach($m in $getAllbzgs)
<tr align="center">
	<td width="10%">厂别</td>
	<td nowrap="nowrap"><input type="text" name="ftype"  value="$!m.FTYPE"></td>
	<td nowrap="nowrap">产品名称</td>
	<td nowrap="nowrap"><input type="text" name="pname" value="$!m.PNAME"/></td>
	<td nowrap="nowrap">产品规格</td>
	<td nowrap="nowrap"><input type="text" name="pgk" value="$!m.PGK"/></td>
</tr>
<tr align="center">
	<td nowrap="nowrap">产品单位</td>
	<td nowrap="nowrap"><input type="text" name="punit" value="$!m.PUNIT"/></td>
	<td nowrap="nowrap">计划排产量</td>
	<td nowrap="nowrap"><input type="text" name="jhpcl" value="$!m.JHPCL"/></td>
	<td nowrap="nowrap">实际产量</td>
	<td nowrap="nowrap"><input type="text" name="sjcl" value="$!m.SJCL"/></td>
</tr>
<tr align="center">
<td nowrap="nowrap">标准工时</td>
<td nowrap="nowrap"><input type="text" name="bzgs" value="$!m.BZGS"/></td>
<td nowrap="nowrap">实际工时</td>
<td nowrap="nowrap"><input type="text" name="sjgs" value="$!m.SJGS"/></td>
<td nowrap="nowrap">差异产量</td>
<td nowrap="nowrap"><input type="text" name="cycl" value="$!m.CYCL"/></td>
</tr>
<tr >
<td nowrap="nowrap" >差异工时</td>
<td nowrap="nowrap" colspan="6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="cygs" value="$!m.CYGS"/></td>
<td nowrap="nowrap">产品编码</td>
<td nowrap="nowrap"><input type="text" name="pcode" value="$!m.PCODE"/></td>
</tr>
#end
<tr align="center">
   <td colspan="7"><input type="button" class="bt1" value="保&nbsp;存" onclick="toaddsave1()">&nbsp;<input type="reset" class="bt1" value="重&nbsp;置">&nbsp;<input type="button" class="bt1" value="返&nbsp;回" onclick="history.back(-1)"></td>
</tr>
</table>
</form>	
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
