<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='F';
 #foreach($m in $isPcExsit)
   feenum='$m.PLANNUM';
 #end
 if(parseInt(feenum)==0) {
   alert("该排产已经被修改！");
   parent.btnSave2.disabled = false;
 }else if(parseInt(feenum)>0){
    parent.testok();   
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
	</script>
</head>
<body>
</body>
</html>

