<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===销售计划===</title>
<script language="javascript" src="../../../js/AdjustPlanGridEdit.js"></script>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:200;    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
//height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  getUserCust
var bData1=new Array(); 
bData1=[
      ['客户主键','客户名称','产品主键','产品名称/产品代码','本月计划','剩余计划','削减计划','状态','0','客户档案主键']
 #set($i=1)
 #foreach($m in $getCustPlanPlus)
      ,['$m.PK_CUBASDOC','$m.ORGDESC','$m.PRODPK','$m.PRODNAME/$m.PRODCODE','$m.PLANNUM','$m.PLUSPLANNUM','0','N','$i','$m.PK_CUMANDOC']
   #set($i=$i+1)
 #end
]
var customer=new Array(); 
customer=[
      ['客户主键','客户代码','客户名称','区域代码','区域名称','0','客户档案主键']
 #set($i=1)
 #foreach($m in $getUserCust)
      ,['$m.NC_PK','$m.ORGCODE','$m.ORGDESC','$m.DEPTCODE','$m.DEPTNAME','$i','$m.PK_CUMANDOC']
   #set($i=$i+1)
 #end
]
var product=new Array(); 
product=[['产品主键','产品名称/产品代码','削减计划','追加计划','0','差异']]
var pageSize=10;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][7]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked onclick=\"javascript:setStatus("+i+")\">";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' onclick=\"javascript:setStatus("+i+")\">";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][4]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][5]
	  for(var j=6;j<7;j++){
	     with (row.insertCell())
             {
	       innerHTML=rdata[(page-1)*pageSize+i][j];
	       if(rdata[(page-1)*pageSize+i][j]!='0'){
	         //width='10%'
		 //attachEvent("onclick",setEditBox); 
		 className="dirty-cell";
	       }
	     }
	 }
	 SetRowCanEdit(row);
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][1].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][3].indexOf(form2.elements[1].value)>-1);
    if(form2.elements[2].value=="O")
        bstatus=(bData1[i][3]>0);
    else
	bstatus=form2.elements[2].value=="all"?true:(bData1[i][7]==form2.elements[2].value);
	//alert(bstatus)
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 }
 toPage(1);
}

function save()
{
  savepage(pageno);
  var datahtml="";
  var num=0;
  if(product.length==1){
     alert("计划尚未调整！");
     return false;
  }
  for(var n=1;n<product.length;n++){
     if(product[n][2]!=product[n][3]){
       alert(product[n][1]+"的计划不平衡！");
      return false;
     }
  }
  //['客户主键','客户名称','产品主键','产品名称/产品代码','本月计划','剩余计划','削减计划','状态','0','客户档案主键']
  //削减计划
  for(var i=0;i<bData1.length;i++){
    if(bData1[i][7]=='Y' && bData1[i][6]>0){
       datahtml+="<input type=hidden name=custpk value='"+bData1[i][0]+"'>";
       datahtml+="<input type=hidden name=custdocpk value='"+bData1[i][9]+"'>";
       datahtml+="<input type=hidden name=prodpk value='"+bData1[i][2]+"'>";
       datahtml+="<input type=hidden name=plannum value='-"+bData1[i][6]+"'>";
    }
 }
 if(datahtml==''){
   alert("没有调整的计划！");
   return false;
 }
  //追加计划
  for(var i=0;i<document.all.prodpk.length;i++){
	if((document.all.custpk[i].value!='') && (document.all.addnum[i].value!='')){
	       datahtml+="<input type=hidden name=custpk value='"+document.all.custpk[i].value+"'>";
	       datahtml+="<input type=hidden name=custdocpk value='"+document.all.custdocpk[i].value+"'>";
	       datahtml+="<input type=hidden name=prodpk value='"+document.all.prodpk[i].value+"'>";
	       datahtml+="<input type=hidden name=plannum value='"+document.all.addnum[i].value+"'>";
	}
 }

 var f_id="SAT"+getTimeStr();
 datahtml+="<input type=hidden name=billno value='"+f_id+"'>";
 datahtml+="<input type=hidden name=periodno value='$form_periodno'>";
 datahtml+="<input type=hidden name=memo value='"+document.all.remark.value+"'>";
 datahtml+="<input type=hidden name=deptcode value='$form_deptcode'>";
 subdata.innerHTML=datahtml;
 form_submit.action="adjustSalePlanSubmit.aspx";
 form_submit.submit();
}

function testok()
{  
   form_submit.action="newSalePlanSubmit.aspx";
   form_submit.submit();
}

function savepage(page)
{
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][7]='Y';
      else  rdata[(page-1)*pageSize+i][7]='N';

        if(table6.rows[i].cells[5].innerText==""){
	  rdata[(page-1)*pageSize+i][6]=document.all.editbox.value;
	}
	else{
          rdata[(page-1)*pageSize+i][6]=table6.rows[i].cells[5].innerText;
        }
      bData1[rdata[(page-1)*pageSize+i][8]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}

function document.onkeydown(){
   key=event.keyCode;
   if(key==83 && event.ctrlKey){
    save();
    return;
   }
   if(key==38)   //向上箭头
   {
     if(event.srcElement.className=="EditCell_TextBox"){
        var ly=event.srcElement.parentNode.offsetTop;
	var hy=mdiv.scrollTop;
	if(ly>hy && (ly-hy<2*ftr.offsetHeight)) mdiv.scrollTop=mdiv.scrollTop-ftr.offsetHeight*2; 
  	//window.status=event.y+","+mdiv.offsetTop;
	//form2.elements[0].value=ftr.offsetHeight;
     }
     return;
   }
   if(key==34)   //page down
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }else{
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }
     return;
   }
   if(key==33)   //page up
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno>1){
	  toPage(pageno-1);
	}
     }else{
        if(pageno>1){
	  toPage(pageno-1);
	}
     }
   }
   return;
}
/**
*返回时间字符串
**/
function getTimeStr()     
{  
   var str="";
   var date = new Date();
   var field="";
   str= date.getFullYear()+"";
   field=(date.getMonth()+1);
   if(date.getMonth()<9){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   field= date.getDate();
   if(date.getDate()<10){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   str= str+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
   return str;  
}

function init()     
{  
   //var pno="$form_begintime".split("-");
   //document.all.jhqj.innerHTML='M'+pno[0]+pno[1];
}

//[['产品主键','产品名称/产品代码','削减计划','追加计划','0','差异']]
function allPlan(element,oldvalue)
{
  var pk=rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][2];
  var pname=rdata[(pageno-1)*pageSize+parseInt(element.parentNode.rowIndex)][3];
  var num=element.parentNode.parentNode.parentNode.rows[element.parentNode.rowIndex].cells[element.cellIndex].innerText;
  var have=false;
  if(num=='') num=document.all.editbox.value;
  //alert(num);
  //alert(oldvalue);
  if(num!=oldvalue){
	  var have=false;
	  for(var i=1;i<product.length;i++){
	    if(product[i][0]==pk){
	       product[i][2]=parseInt(product[i][2])+parseInt(num)-parseInt(oldvalue);
	       product[i][5]=parseInt(product[i][5])+parseInt(num)-parseInt(oldvalue);
	       have=true;
	       table2.rows[i].cells[1].innerText=product[i][2];
	       table2.rows[i].cells[3].innerText=product[i][5];
	       break;
	    }
	  }
	  if(!have){
	    var m=product.length;
	    eval("product["+m+"]=['"+pk+"','"+pname+"','"+num+"','0','"+m+"','"+num+"']");
  	    var row1=table2.insertRow();
	    for(var j=1;j<4;j++){
	      with (row1.insertCell())
              {
	       innerText=product[m][j];
	       attachEvent("ondblclick",addRow); 
	      }
	    }
	      with (row1.insertCell())
              {
	       innerText=product[m][5];
	       attachEvent("ondblclick",addRow); 
	      }
	  }
 }
}

function setStatus(lineno)
{
    rdata[(pageno-1)*pageSize+lineno][7]=document.all.checkbox[lineno].checked;
    if(!document.all.checkbox[lineno].checked){
          rdata[(pageno-1)*pageSize+lineno][6]=0;
	  for(var i=1;i<product.length;i++){
	    if(product[i][0]==rdata[(pageno-1)*pageSize+lineno][2]){
	       product[i][2]=parseInt(product[i][2])-parseInt(table6.rows[lineno].cells[5].innerText);
	       table2.rows[i].cells[1].innerText=product[i][2];
	       table6.rows[lineno].cells[5].innerText='0';
	       table6.rows[lineno].cells[5].className="";
	       break;
	    }
	  } 
    }
    bData1[rdata[(pageno-1)*pageSize+lineno][8]]=rdata[(pageno-1)*pageSize+lineno];
}

function showhidediv(id){
  try{
    var sbtitle=document.getElementById(id);
    if(sbtitle){
      if(sbtitle.style.display=='block'){
        sbtitle.style.display='none';
	document.all.shdiv.value='显示计划';
      }else{
        sbtitle.style.display='block';
	document.all.shdiv.value='隐藏计划';
      }
    }
  }catch(e){}
}
var rownum=1;

//增加追加计划
function addRow() 
{  
     if(parseInt(product[event.srcElement.parentNode.rowIndex][5])<=0) return false;
     var tempR=document.all.table3.insertRow();
	 tempR.bgcolor="#FFFFFF";
	 var temp1=tempR.insertCell();	
	 var temp2=tempR.insertCell();	
	 var temp3=tempR.insertCell();	
	 var temp4=tempR.insertCell();	
	 var temp5=tempR.insertCell();

	 temp1.innerHTML=product[event.srcElement.parentNode.rowIndex][1]+"<input name=\"prodpk\" type=\"hidden\" value=\""+product[event.srcElement.parentNode.rowIndex][0]+"\">";   
	 temp2.innerHTML="<p align=\"center\"><input name='custname' id='custname' style='width:200' class='login3' type='text'  onKeyUp=\"showdata(this,"+rownum+")\"><input name='custpk' type='hidden'>";
	 temp3.innerHTML="";
	 temp4.innerHTML="";
	 temp5.innerHTML="<p align=\"center\"><input name='addnum' class='login3' style='width:120' type='text' value='"+product[event.srcElement.parentNode.rowIndex][5]+"' onpaste=\"toNext("+rownum+")\" onKeyUp=\"toNext("+rownum+")\" readonly> <input name='custdocpk' type='hidden'>";
         product[event.srcElement.parentNode.rowIndex][5]='0';
	 table2.rows[event.srcElement.parentNode.rowIndex].cells[3].innerText='0';
	 //document.all.custname[rownum].focus();
	 
	 rownum=rownum+1;
     tempR=document.all.table3.insertRow();
     temp1=tempR.insertCell(); 
     temp1.innerHTML="<table id=\"dtb\"></table>";
     temp1.colSpan=8; 
}
var undefined;
var seleRow=0;
var datatb;
function showdata(obj,k)
{
   key=event.keyCode;
   if(key==40)   //向下箭头
   {
      try{
        MouseOut(datatb.rows[seleRow]);
        if(seleRow==(datatb.rows.length-1))
          seleRow=1;
        else
          seleRow++;
        MouseOver(datatb.rows[seleRow]);
      }catch(e){}
   }else if(key==38)   //向上箭头
   {
      try{
        MouseOut(datatb.rows[seleRow]);
        if(seleRow==1)
          seleRow=(datatb.rows.length-1);
        else
          seleRow--;
        MouseOver(datatb.rows[seleRow]);
      }catch(e){}
   }else if(key==13 && table3.rows[(k-1)*2+2].style.display!="none")      //回车
   {
     try{
       datatb.rows[seleRow].onclick();
     }catch(e){}
   }
   else{
      var str="";
      var zcode=obj.value;
      var slen=0
      slen=zcode.length;
      var mm=0;
      for(i=0;i<customer.length;i++)
      {
        if((customer[i][2].indexOf(zcode)>-1) && zcode!="")
        {
             str+="<tr class=\"fCopy\" onMouseOver=\"MouseOut(datatb.rows[seleRow]);seleRow=this.rowIndex;MouseOver(this);\" onMouseOut=\"MouseOut(datatb.rows[seleRow]);seleRow=1;MouseOut(this);\" onclick=\"getdata("+i+","+k+")\"><td>"+customer[i][1]+"</td><td>"+customer[i][2]+"</td><td>"+customer[i][3]+"</td><td>"+customer[i][4]+"</td></tr>";
             mm++;
        }
      }
      if(zcode=="")
      {
		//document.form1.elements[k*thisCol+header].value="";
		//document.form1.elements[k*thisCol+header+1].value="";
		//document.form1.elements[k*thisCol+header+3].value="";
		//document.form1.elements[k*thisCol+header+4].value="";
		//allfee();
      }
      if(str!="")
      {
        str="<tr class=\"fCopy\" onclick=\"hidetr("+k+")\"><td>"+customer[0][1]+"</td><td>"+customer[0][2]+"</td><td>"+customer[0][3]+"</td><td>"+customer[0][4]+"</td></tr>"+str;
        str="<table id=\"dtb\">"+str+"</table>";
        table3.rows[(k-1)*2+2].style.display="";
        table3.rows[(k-1)*2+2].cells[0].innerHTML="<span>"+str+"</span>";
        try{
          datatb=dtb[k-1];
	  if(datatb==undefined) datatb=dtb;
	}
	catch(e){
	  datatb=dtb;
	}
        try{
          MouseOver(datatb.rows[1]);
        }catch(e){}
        seleRow=1;
      }
      else
        table3.rows[(k-1)*2+2].style.display="none";
    }
}

function getdata(i,k) { //v6.0
  //document.all.custname[k].value=customer[i][2];
  document.all.custpk[k].value=customer[i][0];
  document.all.custdocpk[k].value=customer[i][6];
  table3.rows[(k-1)*2+1].cells[2].innerText=customer[i][1];
  table3.rows[(k-1)*2+1].cells[3].innerText=customer[i][2];
  table3.rows[(k-1)*2+2].style.display="none";
  //更新平衡表[['产品主键','产品名称/产品代码','削减计划','追加计划','0','差异']]
	      if(document.all.custpk[k].value!=''){
	          var anum=0;
		  for(var m=1;m<document.all.custpk.length;m++){
		    if((document.all.custpk[m].value!='') && (document.all.addnum[m].value!='') && (document.all.prodpk[m].value==document.all.prodpk[k].value)){
		       anum=anum+parseInt(document.all.addnum[m].value);
		    }
		  }
		  for(var n=1;n<product.length;n++){
		    if(product[n][0]==document.all.prodpk[k].value){
		       product[n][3]=anum;
		       product[n][5]=parseInt(product[n][2])-parseInt(anum);
		       table2.rows[n].cells[2].innerText=product[n][3];
		       table2.rows[n].cells[3].innerText=product[n][5];
		       break;
		    }
		  }
	      }
  document.all.addnum[k].readOnly=false;
  document.all.addnum[k].focus();
}

function hidetr(k) { //v6.0
    table3.rows[(k-1)*2+2].style.display="none";
}

/**
*在行上聚焦和失焦
**/
function MouseOver(i){
   for(j=0;j<i.cells.length;j++){
       i.cells[j].style.backgroundColor='#e9e9e9'; i.cells[j].style.cursor='hand';
   }
}
function MouseOut(i){
   for(j=0;j<i.cells.length;j++){
       i.cells[j].style.backgroundColor='#FFFFFF';
   }
}

function toNext(i)
{
   var elms=event.srcElement;
   key=event.keyCode;
   if(key==13)   //回车
   {
      if(elms.name=="custname")
        document.all.addnum[i].focus(); 
      else if(elms.name=="addnum")
      {
        if(i<(rownum-1))
          document.all.custname[i].focus(); 
      }
   }else{
      elms.value=elms.value.replace(/\D/g,'');
      if(elms.name=="addnum"){
	   if(isNaN(elms.value))
           { 
              alert("必须为数字");
              return;
           } 
	   else{
	      elms.value=parseInt(elms.value,10);
	      if(document.all.custpk[i].value!=''){
	          var anum=0;
		  for(var m=1;m<document.all.custpk.length;m++){
		    if((document.all.custpk[m].value!='') && (document.all.addnum[m].value!='') && (document.all.prodpk[m].value==document.all.prodpk[i].value)){
		       anum=anum+parseInt(document.all.addnum[m].value);
		    }
		  }
		  for(var n=1;n<product.length;n++){
		    if(product[n][0]==document.all.prodpk[i].value){
		       if(product[n][2]<anum){
		         alert("数量不够！");
			 //return;
		       }
		       product[n][3]=anum;
		       product[n][5]=parseInt(product[n][2])-parseInt(anum);
		       table2.rows[n].cells[2].innerText=product[n][3];
		       table2.rows[n].cells[3].innerText=product[n][5];
		       break;
		    }
		  }
	      }
           }
      }
   }
}
</script>


<body onload="init()">

<p align="left"><font size="4"><b>调整销售计划</b></font>
<div style="width:100%;txt-align:center;border:0 double gray;">
<table  border="0" cellpadding="0" cellspacing="2" width="100%">
    <tr>
      <td height="19" width="7%">计划期间</td> <td height="19" width="15%"><span id="jhqj">$form_periodno</span></td>
      <td height="19" width="7%">区域名称/代码</td> <td height="19" width="15%">$form_deptname/$form_deptcode</td>
    </tr>
     <tr>
      <td height="19" width="7%">备注</td> <td height="19" colspan=3><textarea name="remark" cols="80" rows="2"></textarea></td>
    </tr>
</table>      
</div>
<br>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
客户名称/代码：<input type="text" size="16" onkeyup="presearch()"> 
产品名称/代码：<input type="text" size="16" onkeyup="presearch()"> 
状态：<select  onchange="search()">
            <option value='all' selected>全部</option>
	    <option value='N'>未调整计划</option>
	    <option value='Y'>调整计划</option>
	    </select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">   
	    &nbsp;&nbsp;<input type="button" id="shdiv" value="隐藏计划" onclick="showhidediv('plusplan')">
</form>
</div>
<div id="plusplan" style="display:block;"> 
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr bgcolor="#EFEFEF">
      <td height="19" bgcolor="#EFEFEF" width="4%" Name="st"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="19" bgcolor="#EFEFEF" width="15%" Name="pcode" >客户名称</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">产品名称/代码</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec">本月计划</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="oldnum">剩余计划</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="costp" EditType="TextBox" DataType="Int">削减计划</td>
    </tr>
</table>
 </div>
<div style="width:100%;txt-align:center;border:0 double gray;">
<input type="button" value=" 保  存 " id="btnSave">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="login2" value=" 取  消 " name="B222" onClick="javascript:window.location='salePlanAdjust.aspx';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>
<!--<div class="mainDiv" id="mdiv"> -->
 <div> 
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table2">
   <!-- <tr class="fixedHeaderTr" id="ftr">-->
   <tr>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">产品名称/代码(双击下列产品可追加计划)</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec">削减计划</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="oldnum">追加计划</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="oldnum">可追加量</td>
    </tr>
</table>
 </div>
 <div> 
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table3">
    <tr>
      <td height="19" bgcolor="#EFEFEF" width="25%" Name="pname">产品名称/代码<input name="prodpk" type="hidden"></td>
      <td height="19" bgcolor="#EFEFEF" width="20%" Name="pspec">查找客户<input name="custname" type="hidden"><input name="custpk" type="hidden"></td>
      <td height="19" bgcolor="#EFEFEF" width="10%" Name="pspec">客户代码</td>
      <td height="19" bgcolor="#EFEFEF" width="25%" Name="pspec">客户名称</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="oldnum">追加计划<input name="addnum" type="hidden"><input name="custdocpk" type="hidden"></td>
    </tr>
</table>
 </div>
<script language="javascript">
var seleobj;

//单击“保存”按钮
btnSave.onclick=function()
{
   save();	
}

</script>
<script>
	 EditTables(table6);
	 toPage(1);
</script>
<form name="form_submit" method="post" action="newSalePlanSubmit.aspx" target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

