

<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>生产预警</title>
</head>
<SCRIPT LANGUAGE="JavaScript">

function fsubmit()
{
       /* var cal='';
	for(var i=0;i<document.all.thisform.calbody2.options.length;i++){   
		if(document.all.thisform.calbody2.options[i].selected){
		     if(document.all.thisform.calbody2.options[i].value!='')	cal=cal+document.all.thisform.calbody2.options[i].value+',';
		}
	} 
	document.all.thisform.calbody.value=cal;*/
	document.all.thisform.calbody.value=document.all.thisform.calbody2.value;
	//alert(document.all.thisform.calbody.value)
   //thisform.page.value=1;
   thisform.submit();
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'31';

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
 function init()
{
 #if($form_first=="1")
	for(var i=0;i<document.all.thisform.calbody2.options.length;i++){   
		if(document.all.thisform.calbody.value.indexOf(document.all.thisform.calbody2.options[i].value)>-1){
		     document.all.thisform.calbody2.options[i].selected=true;
		}
	} 
    //NC可用量
      #foreach($m in $getNCP)
      try{
	      //eval("document.all.NC${m.INVCODE}.innerText='$m.NNUM'");
	      eval("document.all.PC${m.INVCODE}.innerText='$m.NNUM'");
	      eval("document.all.XC${m.INVCODE}.innerText='$m.XCNNUM'");
      }catch(e){}
      #end
    //待检量
      #foreach($m in $getNumInStock)
      try{
	      eval("document.all.NC${m.INVCODE}.innerText='$m.NFREEZENUM'");
      }catch(e){}
      #end
    //NC订单
      #foreach($m in $getTenOrders)
      try{
	      //eval("document.all.B${m.INVCODE}D${m.DD}.innerText='$m.BNUMBER'");
	      eval("document.all.B${m.INVCODE}D${m.DD}.innerHTML='<span id=ddl>$m.BNUMBER</span></br><span id=pcl>$m.PLANNUM</span>'");
      }catch(e){}
      #end

      #foreach($m in $getOctOrders)
      try{
	        eval("document.all.WC${m.INVCODE}.innerText='$m.OLDNUM'");
	        eval("document.all.PC${m.INVCODE}.innerText=parseInt(document.all.PC${m.INVCODE}.innerText)-'$m.OLDNUM'")
	      //alert("document.all.WC${m.INVCODE}.innerText=parseInt(document.all.PC${m.INVCODE}.innerText)-'$m.OLDNUM'")
      }catch(e){}
      #end

  
  //NC小客户剩余
  /*try{  
      #foreach($m in $getTenOrders2)
	      eval("document.all.PC${m.INVCODE}.innerText=parseInt(document.all.NC${m.INVCODE}.innerText)-$m.XSPLANNUM");
      #end
  }catch(e){}*/
     var i=1;
     while(i <document.all.tb.rows.length)
     {
         var tol=0;
	 var stol=0;
	 var sstol=0;
         for (j=7; j < document.all.tb.rows(i).cells.length; j++) 
         {
             //tol=tol+parseInt(document.all.tb.rows(i).cells(j).innerText);
	     //apnum=parseInt(document.all.tb.rows(i).cells(3).innerText)-tol;
	       tol=tol+parseInt(document.all.ddl((i-1)*6+j-7).innerText)-parseInt(document.all.pcl((i-1)*6+j-7).innerText);
	       apnum=parseInt(document.all.tb.rows(i).cells(4).innerText)-tol;
	       document.all.tb.rows(i).cells(j).innerHTML=document.all.tb.rows(i).cells(j).innerHTML+"<br><font color=red>"+apnum+"</font>";
         }
	 i=i+1;
     }
#end
}
//alert(document.referrer);
</script>
<body onload="init();">	
  <form name="thisform" method="post" action="">
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
      <input type="hidden" name="first" value="1">
      <input type="hidden" name="calbody" value="$!form_calbody">
                <input type="hidden" name="iscust" value="">
	        <tr class="search"> 
			<td  rowspan="4" class="tdlabel" width="10%">库存组织</td>
			<td  rowspan="4" class="tdinput" width="20%">
				<select size="6" name=calbody2><option value=''>请选择库存组织</option>
                                 #foreach($m in $getCalbody)
                                     <option value="$!m.PK_CALBODY">$!m.BODYNAME</option>
                                 #end
                                </select>			
			</td>
		</tr>
		<tr class="search"> 
			<td class="tdlabel" width="10%">排序方式</td>
			<td class="tdinput" width="20%">
                            <select id="SelectType" name="SelectType">
                                <option value="invcode" selected>存货编码</option>
                                <option value="invname">存货名称</option>
                                <option value="invspec">存货规格</option>
                            </select>
			</td>
                </tr>	 
		<tr class="search"> 
			<td class="tdlabel" width="10%">产品分类</td>
			<td class="tdinput" width="20%">
				<input type="text" name="ptypename" value="$!form_ptypename" readonly>
				<input type="hidden" name="ptype" value="$!form_ptype">
				<input type='button' name=bt class='btn' value='选择' onclick="click_on_tree_selector($F('ptypename'),$F('dm_zzjg_tree_layer'))">
				<div class="dtree" id="dm_zzjg_tree_layer" style="position:absolute;width:300px;height:208px;visibility:Hidden;z-index:1"> 
				<table width="100%" border="1" cellspacing="0" cellpadding="0" height="100%"><tr><td>
					<IFRAME style="width:100%;height:100%" name="swjgdm_tree_frame" marginWidth=0 marginHeight=0 src="class_tree.aspx" frameBorder=0 
						width="100%" height="100%" scrolling=auto BORDERCOLOR="#000000" ></IFRAME>
				</td></tr></table>
			        </div>
			        <script>
				   selector_layers[selector_layers.length]=document.all.dm_zzjg_tree_layer;
			        </script>				
			</td>	
		</tr>
		<tr class="search"> 
			<td class="tdlabel" width="10%">产品名称</td>
			<td class="tdinput" width="20%">
				<input type="text" name="pname" value="$!form_pname">		
			</td>
                </tr>

                <tr>
			<td align="center" colspan="4">	
				<input type="button" name="search" class="bt1" value="查询" onclick="fsubmit()">&nbsp;	
			</td>
		</tr>	
		
</table>

<!--<div class="mainDiv" id="mdiv"> -->
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"  class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
    <td nowrap>序号</td>
    <td nowrap>存货名称</td>
    <td nowrap>待检量</td>
    <td nowrap>现存量</td>
    <td nowrap>排产可用量</td>
    
    <td nowrap>安全库存</td>
    <td nowrap>过期未备货量</td>
    #foreach($m in $getTenDays)
      <td nowrap>$m.STEXT</td>
    #end
</tr>
 #if($form_first=="1")
    #set($i=1) 
    #foreach($m in $getTenDaysProduct)
	<tr class="trcolor">
	    <td>$i</td>
	    <td>$m.INVCODE<br>$m.INVNAME<br>$m.INVSPEC</td>
	    <td id="NC${m.INVCODE}">0</td>
	    <td id="XC${m.INVCODE}">0</td>
	    <td id="PC${m.INVCODE}">0</td>
	    
	    <td id="AQ${m.INVCODE}">$m.SAFENUM</td>
	    <td id="WC${m.INVCODE}">0</td>
	    #foreach($n in $getTenDays)
	      <td id="B${m.INVCODE}D${n.SVALUE}">
	      <span id=ddl>0</span></br>
	      <span id=pcl>0</span>
	      </td>
	    #end
	  </tr>
	<!-- <tr class="trcolor">
	    #foreach($n in $getTenDays)
	      <td id="S${m.INVCODE}D${n.SVALUE}">0</td>
	    #end
	  </tr>
	-->
      #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
#else
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">请选择条件查询</td>
     </tr>
#end
</table>
<!--</div>-->
<table width="100%">
   <tr >
        <td class="tdlabel td"><div id='div1'></div></td>
   </tr>
</table>
</form>	
</body>
</html>
