<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='F';
 #foreach($m in $testNewPlan)
   feenum='$m.PLANNUM';
 #end
 if(parseInt(feenum)>0) {
   alert("该客户本月计划已经存在或者本区域的计划已经报批！");
   parent.submitok=false;
 }else if(feenum=='0'){
   parent.testok();
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
	</script>
</head>
<body>
</body>
</html>

