<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>系统消息查询</title>
</head>
<SCRIPT LANGUAGE="JavaScript">

function fsubmit()
{
   thisform.page.value=1;
   thisform.submit();
}
function addmesss(){
   document.thisform.action="messageadd.aspx";
   document.thisform.submit();
}
function checksysmessage(){
   var bData1 = new Array();
	bData1 = [['ID']
	#set($ii=1)
	#foreach($!mm in $getSysMessage)
	,['$!mm.ID']
	  #set($ii=$ii+1)
	  #end
	]
	if(bData1.length == 1)
	  window.close();
}
</script>
<body onload="checksysmessage()">	
  <form name="thisform" method="post" action="sysmessage.aspx">

    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"  class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
	<td nowrap="nowrap">发布人</td>
	<td nowrap="nowrap">发布时间</td>
	<td nowrap="nowrap">标题</td>
        <td nowrap="nowrap">内容</td>
	<td nowrap="nowrap">操作</td>
</tr>

    #set($i=1) 
    #foreach($m in $getSysMessage)
  		<tr height="20" class="trcolor">
			<td align="center" width="3%">$m.ADDUSER</td>
			<td align="center" width="20%">$m.ADDTIME</td>
			<td align="left" width="35%">$m.TITLE</td>
			<td align="left" width="40%">$m.CONTENT.replaceAll('lt;','<').replaceAll('gt;','>')</td>
			<td><a href="updateSysMessageIsRead.aspx?id=$m.ID&readstatus=2">阅读</a></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</form>	
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe>
</body>
</html>
