<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/array2.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===产品结算价格信息===</title>
<script language="javascript" src="../../../js/alai_tc.js"></script>
<style>
p{margin:3;body:font-size:10pt;}
body{font-size:10pt}
</style></head>
<script>
var bData1=new Array(); 
   //data=new data1('产品代码','产品名称','产品规格','实际成本价','生产结转价','计划价','结算价','分支结算价','状态','实际成本价','生产结转价','计划价','结算价','分支结算价','nc主键');
 #set($i=0)
 #foreach($m in $getProdPrice)
   data=new data1('$m.ITEMCODE','$m.ITEMDESC','$m.ITEMSPEC','$m.COSTPRICE','$m.PRODPRICE','$m.PLANPRICE','$m.ACCOUNTPRICE','$m.BRANACCOUNTPRICE','','$m.COSTPRICE','$m.PRODPRICE','$m.PLANPRICE','$m.ACCOUNTPRICE','$m.BRANACCOUNTPRICE','$m.NC_PK');
   bData1[$i]=new data2(data);
   #set($i=$i+1)
 #end

var linenum=20;
var pageno=1;
var rdata=new Array();
rdata=bData1;
function toPage(page)
{
try{
  pageno=page;
  for(var i=tc6.tbl.rows.length;i>0;i--) tc6.tbl.deleteRow(i-1);
  for(var i=0;i<linenum;i++){
    if(((page-1)*linenum+i)<rdata.length){
  	  var row=tc6.tbl.insertRow()
	  row.insertCell().innerText=rdata[(page-1)*linenum+i].data[0]
	  //for(var j=1;j<9;j++)row.insertCell().innerHTML=rdata[(page-1)*linenum+i].data[j];
	  for(var j=1;j<9;j++){
	     with (row.insertCell())
             {
	       innerHTML=rdata[(page-1)*linenum+i].data[j];
	       if(j==0)
                 width='15%'
	       else if(j==1)
                 width='22%'
	       else
	         width='9%'
	     }
	  }
	  tc6.setColStyle()
	  tc6.setRowStyle()
	  tc6.doResize()
	}
 }
 if(pageno*linenum>=rdata.length)
    btnNext.disabled=true;
 else
    btnNext.disabled=false;
 if(pageno==1)
    btnPrev.disabled=true;
 else
	btnPrev.disabled=false;
 document.all.pg.innerText="共"+rdata.length+"条记录，每页显示"+linenum+"条，目前是第"+pageno+"页";
 }catch(e){
   alert(e.description)
 }
}

function search()
{
  var m=0;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  //alert(form2.elements[2].value)
  for(var i=0;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i].data[0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i].data[1].indexOf(form2.elements[1].value)>-1);
	bstatus=form2.elements[2].value=="all"?true:(bData1[i].data[8]==form2.elements[2].value);
	//alert(bstatus)
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 }
 rdata.length=m;
 //alert(rdata.length)
 toPage(1);
}

function save()
{
  var datahtml="";
  for(var i=0;i<bData1.length;i++){
    if(bData1[i].data[8]!=''){
       datahtml+="<input type=hidden name=nc_pk value='"+bData1[i].data[14]+"'>";
       datahtml+="<input type=hidden name=costprice value='"+bData1[i].data[3]+"'>";
       datahtml+="<input type=hidden name=prodprice value='"+bData1[i].data[4]+"'>";
       datahtml+="<input type=hidden name=planprice value='"+bData1[i].data[5]+"'>";
       datahtml+="<input type=hidden name=accountprice value='"+bData1[i].data[6]+"'>";
       datahtml+="<input type=hidden name=branaccountprice value='"+bData1[i].data[7]+"'>";
    }
 }
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 subdata.innerHTML=datahtml;
 form_submit.submit();
}

</script>


<body>

<p align="left"><font size="4"><b>产品结算价格信息</b></font>
<div style="width:100%;txt-align:center;border:3 double gray;">
<form id="form2">
产品代码：<input type="text" size="16" > 产品名称：<input type="text" size="16"> 状态：<select><option value='all' selected>全部</option><option value=''>未修改</option><option value='修改'>修改</option></select>              
</form>
</div>
<table border="1" width="100%" cellspacing="2" id="table6">
  <tbody>
  #set($i=0)
  #foreach($m in $getProdPrice)
    #if($i<20)
    <tr>
      <td height="19" width="15%">$m.ITEMCODE</td>
      <td height="19" width="22%">
        <p>$m.ITEMDESC</p>
      </td>
      <td height="19" width="9%">$m.ITEMSPEC</td>
      <td height="19" width="9%">$m.COSTPRICE</td>
      <td height="19" width="9%">
        <p>$m.PRODPRICE</p>
      </td>
      <td height="19" width="9%">
        <p>$m.PLANPRICE</p>
      </td>
      <td height="19" width="9%">
        <p>$m.ACCOUNTPRICE</p>
      </td>
      <td height="19" width="9%">
        <p>$m.BRANACCOUNTPRICE</p>
      </td>
      <td height="19" width="9%">
        <p></p>
      </td>
    </tr>
   #end
   #set($i=$i+1)
 #end
  </tbody>
</table>
<div style="width:100%;txt-align:center;border:3 double gray;">
<br><form id="form1">
产品代码：<input type="text" size="16" id="txtNo" readonly>
产品名称：<input type="text" size="16" id="txtName" readonly>                   
规格：<input type="text" size="16" id="txtArea" readonly>                   
实际成本价：<input type="text" size="16" id="txtCount"><br>
生产结转价：<input type="text" size="16" id="txtDate">
计划价：<input type="text" size="16" id="txtDate">
结算价：<input type="text" size="16" id="txtDate">
分支结算价：<input type="text" size="16" id="txtDate"><input type="hidden" id="txtStatus">                   
</form>
<input type="button" value="更新数据" id="btnUpdate"><input type="button" value="保存" id="btnSave"><input type="button" value="取消" id="btnCancel">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="上一页" id="btnPrev"><input type="button" value="下一页" id="btnNext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" id="btnSearch">
<span id="pg"></span>
<!--<input type="button" value="更新数据" id="btnUpdate"><input type="button" value="插入新行" id="btnNew"><input type="button" value="删除" id="btnDel"><input type="button" value="取消" id="btnCancel"><br>-->
</div>
<!--<p>本示例主要演示如何自定义数据类型、如何增加和删除上下文菜单项（表格上点鼠标右键出现的菜单），以及结合网页
<p>表单对数据进行编辑等功能，全部程序代码如下： <br>
<textarea rows="17" id="txtCode" cols="96"></textarea>
-->
<script language="javascript">
//表格六
tc6=new alai_tc(table6)
tc6.setCaption("产品代码|产品名称|规格|实际成本价|生产结转价|计划价|结算价|分支结算价|状态")
tc6.setDataType("char|cnbh|char|num|num|num|num|num|char")
tc6.setTcStyle("font-size:11pt;color:darkblue;background-color:sandybrown;")
tc6.setTblStyle("border-collapse:collapse;border:0;font-size:9pt;")
tc6.setColStyle("color:red;|color:darkblue;|color:green;|color:blue;|color:#800000;")
tc6.setRowStyle("background-color:lightcyan;|background-color:palegoldenrod;")
tc6.doResize()
tc6.selectOne()
tc6.mouseOver()
tc6.contextMenu()
//使用控件数据转换接口，定义一个新的数据类型：comma_num
tc6.extConvert=function(Data,Type)
{
	switch(Type.toLowerCase())
	{
		case "comma_num":   //comma_num就是新定义的类据类型了
			return parseInt(Data.replace(/,/g,""));
			break;
		default:
			return Data
	}
}
//删除控件菜单的"删除当前列"项(第5项)
tc6.ctrMenu.remove(4)


//选择表格样式下拉菜单功能定义
//sltStyle.onclick=function(){tc6.tblMenu.item[sltStyle.value].click();}
var editRow
//双击表格时，提出选定行数据进行编辑
tc6.tbl.ondblclick=function()
{
	for(var i=0;i<9;i++)form1.elements[i].value=tc6.selData[i]
	editRow=tc6.selRow
}
//单击“数据更新”按钮
btnUpdate.onclick=function()
{
	if(editRow==null){alert("请先双击表格选择一行进行编辑");return;}
	form1.elements[8].value='修改';
	for(var i=1;i<9;i++)editRow.cells[i].innerText=form1.elements[i].value
        for(var i=0;i<bData1.length;i++){
	   if(form1.elements[0].value==bData1[i].data[0]){
	      for(var j=1;j<9;j++) bData1[i].data[j]=form1.elements[j].value
	   }
	}
}
//单击“保存”按钮
btnSave.onclick=function()
{
   save();	
}
//单击“上一页”按钮
btnPrev.onclick=function()
{
	pageno=pageno-1;
	toPage(pageno);
	btnNext.disabled=false;
}
//单击“下一页”按钮
btnNext.onclick=function()
{
	btnPrev.disabled=false;
	pageno=pageno+1;
	toPage(pageno);
}
//单击“重置”按钮
btnCancel.onclick=function()
{
	form1.reset()
	editRow=null
}

//单击“搜索”按钮
btnSearch.onclick=function()
{
	search();
}
</script>
<script>
    btnPrev.disabled=true;
    if((pageno+1)*linenum>rdata.length) btnNext.disabled=true;
    document.all.pg.innerText="共"+rdata.length+"条记录，每页显示"+linenum+"条，目前是第"+pageno+"页";
</script>
<form name="form_submit" method="post" action="setProdPriceSubmit.aspx" target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

