<HTML>
<HEAD>		
<title>车辆装货时间统计表</title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">


<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<style>
.changecolor{
font: 13px/200% 宋体;
}
.one{
 background:#fff;
 text-align:left;
}
.two{
 background:#eeeeee;
 text-align:left;
}
</style>
<SCRIPT LANGUAGE="JavaScript">
<!--
function set(id){
  var obj=eval("document.all."+id);
  var num=obj.rows.length-1
  for(var i=1;i<num;i++){
	if(i%2==1){
		obj.rows[i].className="one";
		}		
	else{
		obj.rows[i].className="two";
	}
  }
}

//查看
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       document.form1.PID.value = paras[0];
       document.form1.submit();
}

//删除
function DelRow()
{      
alert("功能暂不开放");
return;
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.PID.value = paras[0];
	   //document.form1.submit();
   }
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

function clearVals() {
      thisform.ptype.value='';
      thisform.ptypename.value='';
}

function checkinput()
{  
  thisform.action="carforgoodtime.aspx";
  thisform.page.value=1;
  thisform.submit();
}

function checkinput2()
{  
  
  thisform.page.value=1;
  thisform.action="carforgoodtime.aspx";
  thisform.submit();
}

var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):String(dates.getMonth()+1))+"-"+'31';
//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#E0F4FC" style="SCROLLBAR-HIGHLIGHT-COLOR:#73C5E8;SCROLLBAR-SHADOW-COLOR:#73C5E8;SCROLLBAR-3DLIGHT-

COLOR:#73C5E8;SCROLLBAR-TRACK-COLOR: #C2E8F8;SCROLLBAR-DARKSHADOW-COLOR:#73C5E8;scrollbar-Base-Color:#73C5E8;">
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tr bgcolor="#E0F4FC" height="5"><td height="5"></td></tr>
<tr bgcolor="#E0F4FC"><td>
	<table border="0" cellspacing="0" cellpadding="0" width="98%" align="center" >
	  <tr height="23">
	    <td align=left height="20">
		   <table border="0" cellspacing="3" cellpadding="0">
		      <tr>
			     <td height=20>&nbsp;<div id="qx"></div></td>
			  </tr>
		   </table>
		</td>
		<td align="right">&nbsp;</td>
	   </tr>
      </table>
     </td>
</tr>
<tr>
  <form name="thisform" method="post" action="querycarTimeinfo.aspx">
 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <td colspan=2>

   </td></form>
</tr>
<tr><td>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center" class="trtitle">
	<td nowrap="nowrap">出库仓库</td>
	<td nowrap="nowrap">出库单号</td>
	<td nowrap="nowrap">应发数量</td>
	<td nowrap="nowrap">实发数量</td>
	<td nowrap="nowrap">排队时间</td>
	<td nowrap="nowrap">开装时间</td>
	<td nowrap="nowrap">结束时间</td>
	<td nowrap="nowrap">排队耗用时（分）</td>
	<td nowrap="nowrap">装车耗用时（分）</td>
	<td nowrap="nowrap">路途耗用时（分）</td>
	<td nowrap="nowrap">装车超时结果</td>
</tr>
    #set($i=1) 
    #foreach($m in $cargoodview)
  		<tr height="20" class="trcolor">
		        <td align="center" nowrap="nowrap">$!m.STORNAME&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.VBILLCODE&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.NSHOULDOUTNUM&nbsp;</td>
                        <td align="center" nowrap="nowrap">$!m.NOUTNUM&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.WAITDATE&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.STARTDATE&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.ENDDATE&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.TWAIT&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.TUSE &nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.TEX&nbsp;</td>
			<td align="center" nowrap="nowrap">$!m.TRUN&nbsp;</td>
			
		
			

		 </tr>
 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="13"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</td></tr>
<tr><td height=5></td></tr>
<tr><td>
		<table width="100%">
   <tr >
        <td class="tdlabel td"><input type="button" value="返回" onclick="javascript:history.back();"  class="bt1"><!--$pagecode--></td>
   </tr>
</table>
</td></tr>
</table>

<script>
  set("tb")
</script>
<form name="form1" method="post" action="viewDayInbill.aspx">
  <input type="hidden" name="PID">
</form>

<form name="form2" method="post" action="editInbill2.aspx">
   <input type="hidden" name="vbillcode" value="">
   <input type="hidden" name="vbatchcode" value="">
   <input type="hidden" name="indate" value="">
   <input type="hidden" name="pdate" value="">
</form>
<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>
