

<html>
<head>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script type="text/javascript" src="../../../inc/js/array2.js"></script>
<title>分厂产量报表</title>
</head>
<script type="text/javascript">

function showTotal()
{
   var rowtotal=datatable.rows.length;
   var coltotal=datatable.rows[0].cells.length
   var str=0;
   for(var j=3;j<coltotal;j++)
   {
      str=0;
      for(var i=1;i<rowtotal-1;i++)
	  {
	    if(datatable.rows(i).cells(j).innerText!='')
	     str = str + parseInt(datatable.rows(i).cells(j).innerText);
	  }

      datatable.rows(rowtotal-1).cells(j).innerText = str;
   }
}
</script>

<body onload="javascript:showTotal();">	
<div class="qx" style="text-align:left">日期：$form_begintime 至 $form_endtime&nbsp;&nbsp;&nbsp;&nbsp;
生产分厂/班组：$!form_facname  #if($form_stor=='10')A#elseif($form_stor=='20')B#elseif($form_stor=='30')C#elseif($form_stor=='40')D#end</div>
<table class="datatable" border="0" cellpadding="0" frame=box id="datatable"
		cellspacing="0">
	<tr class="search">
		<td >名称</td>		
		<td >规格</td>
		<td >单件重量</td>		
		<td >本期入库量（件）</td>	
		<td >本期入库量（吨）</td>
		<td >本期出库量（件）</td>	
		<td >本期出库量（吨）</td>
	</tr>

    #foreach($k in $sql0)
	<tr class="trcolor NUM">
		<td class="CN">$k.INVNAME</td>
		<td class="NUM">$k.INVTYPE</td>
		<td>$k.UNITWEIGHT</td>

		<td>$!k.INCOUNT</td>

		<td>$!k.INCOUNT2</td>	
		
		<td>$!k.OUTCONUT</td>

		<td>$!k.OUTCONUT2</td>	
	</tr>
   #end
	<tr class="trcolor NUM">
		<td class="CN">合计</td>
		<td class="NUM"></td>
		<td></td>

		<td>0</td>

		<td>0</td>
		
		<td>0</td>

		<td>0</td>
	</tr>
</table>
<div><input type="button" name="search" class="bt1" value="重新查询" onclick="window.location='freport.aspx'"></div>
</body>
</html>
