<HTML>
<HEAD>		
<title></title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">


<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<style>
.changecolor{
font: 13px/200% 宋体;
}
.one{
 background:#fff;
 text-align:left;
}
.two{
 background:#eeeeee;
 text-align:left;
}
</style>
<SCRIPT LANGUAGE="JavaScript">
<!--
function set(id){
  var obj=eval("document.all."+id);
  var num=obj.rows.length-1
  for(var i=1;i<num;i++){
	if(i%2==1){
		obj.rows[i].className="one";
		}		
	else{
		obj.rows[i].className="two";
	}
  }
}

String.prototype.isDate=function(){
  if(this=="") return true;
var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/; 
var r = this.match(reg); 
if(r==null)return false; 
if(r[3].substring(0,1)=='0') r[3]=r[3].substring(1,2);
if(r[4].substring(0,1)=='0') r[4]=r[4].substring(1,2);
var d= new Date(r[1], parseInt(r[3])-1,r[4]); 
var oldStr=r[1]+r[2]+r[3]+r[2]+r[4];
var newStr=d.getFullYear()+r[2]+(d.getMonth()+1)+r[2]+d.getDate()
return newStr==oldStr
}

//修改
function EditRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       document.form2.vbillcode.value = paras[0];
       document.form2.vbatchcode.value = paras[1];
       document.form2.indate.value = paras[2];
       var str=window.prompt("请输入生产日期",paras[3]);
   if(str.length!=10){
     alert("日期格式必须是"+paras[3]+"格式！");
     return false;
   }
   else if(!str.isDate()){
     alert("日期格式必须是"+paras[3]+"格式！");
     return false;
   }
   document.form2.pdate.value = str;
       document.form2.submit();
}

//删除
function DelRow()
{      
alert("功能暂不开放");
return;
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.PID.value = paras[0];
	   //document.form1.submit();
   }
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

function clearVals() {
      thisform.ptype.value='';
      thisform.ptypename.value='';
}

function checkinput()
{  
  thisform.page.value=1;
  thisform.submit();
}
var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'31';
//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#E0F4FC" style="SCROLLBAR-HIGHLIGHT-COLOR:#73C5E8;SCROLLBAR-SHADOW-COLOR:#73C5E8;SCROLLBAR-3DLIGHT-

COLOR:#73C5E8;SCROLLBAR-TRACK-COLOR: #C2E8F8;SCROLLBAR-DARKSHADOW-COLOR:#73C5E8;scrollbar-Base-Color:#73C5E8;">
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tr bgcolor="#E0F4FC" height="5"><td height="5"></td></tr>
<tr bgcolor="#E0F4FC"><td>
	<table border="0" cellspacing="0" cellpadding="0" width="98%" align="center" >
	  <tr height="23">
	    <td align=left height="20">
		   <table border="0" cellspacing="3" cellpadding="0">
		      <tr>
			     <td height=20>&nbsp;<div id="qx"></div></td>
			  </tr>
		   </table>
		</td>
		<td align="right">&nbsp;</td>
	   </tr>
      </table>
     </td>
</tr>
<tr>
  <form name="thisform" method="post" action="inbillList2.aspx">
 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <td colspan=2>
      <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
      		      		<tr class="search"> 
			  <td class="tdlabel" width="10%">开始日期</td>
				<td class="tdinput" width="20%">
                      #if(!$form_begintime)
                       <script>
			document.write("<input type=text name=begintime size=10 readonly value='"+first+"'>");
                       </script>
		       #else
		         <input type=text name=begintime size=10 readonly value='$form_begintime'>
		       #end
			<img src="../../../images/common/datetime.gif" style="cursor:hand;" align="absmiddle" alt="弹出日历下拉菜单" onClick="fPopCalendar(begintime,begintime);return false">
			
			</td>	
			
			<td class="tdlabel" width="10%">结束日期</td>
			<td class="tdinput" width="20%">
			  #if(!$form_endtime)
			<script>
				document.write("<input type=text name=endtime size=10 readonly value='"+last+"'>");
			  </script>
			    #else
		         <input type=text name=endtime size=10 readonly value='$form_endtime'>
		       #end
			<img src="../../../images/common/datetime.gif" style="cursor:hand;" align="absmiddle" alt="弹出日历下拉菜单" onClick="fPopCalendar(endtime,endtime);return false">

			</td>
			
			</td>	
                </tr>
		<tr class="search"> 
			<td class="tdlabel" width="10%">生产分厂</td>
			<td class="tdinput" width="20%">
				<select name=factory onchange="javascript:setF(this.value,'storname');"><option value=''>请选择生产分厂</option>
                           #foreach ($name in $sql0)
				<option value="$name.PK_DEPTDOC" >$name.DEPTNAME</option>
                           #end
                                </select><input type="hidden" name="facname" value="">			
			</td>	
			<td class="tdlabel" width="10%"></td>
			<td class="tdinput" width="20%">
		  		<input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
				&nbsp;&nbsp;<input type="button" value="返回" onclick="window.location='../syindex.htm';"  class="bt1">
			</td>
                </tr>
		<tr>
		  <td>
		  </td><td align="left">&nbsp;&nbsp;</td>
		</tr>
	  </table>
   </td></form>
</tr>
<tr><td>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center" class="trtitle">
	<td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">生产批号</td>
	<td nowrap="nowrap">产品名称</td>
	<td nowrap="nowrap">规格</td>
	<td nowrap="nowrap">单位</td>
	<td nowrap="nowrap">入库数量</td>
	<td nowrap="nowrap">生产日期</td>
	<td nowrap="nowrap">入库时间</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $sql1)
  		<tr height="20" class="trcolor">
			<td align="center">$i</td>
		        <td align="center" nowrap="nowrap">$!m.VBATCHCODE</td>
			<td align="center" nowrap="nowrap">$!m.INVNAME</td>
			<td align="center" nowrap="nowrap">$!m.INVTYPE</td>
                        <td align="center" nowrap="nowrap">$!m.UNIT</td>
			<td align="center" nowrap="nowrap">$!m.INCOUNT</td>
			<td align="center" nowrap="nowrap">$!m.PDATE</td>
			<td align="center" nowrap="nowrap">$!m.INDATE</td>
			<td align="center" nowrap="nowrap"><span id="qxspan" dtParams="$!m.VBILLCODE,$!m.VBATCHCODE,$!m.INDATE,$!m.PDATE"><a style='cursor:hand' onclick="javascript:EditRow()">修改</a>&nbsp;&nbsp;&nbsp;</span></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</td></tr>
<tr><td height=5></td></tr>
<tr><td>
		<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</td></tr>
</table>

<script>
  set("tb")
</script>
<form name="form1" method="post" action="delprod.aspx" target="saveframe">
  <input type="hidden" name="PID">
</form>

<form name="form2" method="post" action="editInbill2.aspx">
   <input type="hidden" name="vbillcode" value="">
   <input type="hidden" name="vbatchcode" value="">
   <input type="hidden" name="indate" value="">
   <input type="hidden" name="pdate" value="">
</form>
<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>
