

<html>
<head>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script type="text/javascript" src="../../../inc/js/array2.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<title>交接班盘点报表</title>
</head>
<SCRIPT LANGUAGE="JavaScript">

 var person=new Array(); 
 data=new data1('仓库主键','仓库名称','分厂主键');
 person.add(data);
 #foreach($m in $getstock)
   data=new data1("$!m.PK_STORDOC","$!m.STORNAME","$!m.PK_FATHERCODE");
   person.add(data);
 #end


function setF(departid,objid)
{
    if(departid==""){
          var obj = document.getElementById(objid);
          var length = obj.length;
          for (var j=length-1; j>0; j--)
          {
            obj.options.remove(j);
          }
    	  for(var i=1;i<person.length;i++){   
              var oOption = document.createElement("OPTION");
              obj.options.add(oOption);
              oOption.innerText = person[i].data[1];
              oOption.value = person[i].data[0];
          }	  
    }else{
      var obj = document.getElementById(objid);
      var length = obj.length;
      for (var j=length-1; j>0; j--)
      {
        obj.options.remove(j);
      }
         
      for(var i=0;i<person.length;i++){
        if(person[i].data[2]==departid){
          var oOption = document.createElement("OPTION");
          obj.options.add(oOption);
          oOption.innerText = person[i].data[1];
          oOption.value = person[i].data[0];
        }
      }
    }
}

function fsubmit()
{
   if(form1.searchdate.value==''){
      alert("请选择报表时间！");
      return false;
   }

   if(form1.bz.value==''){
      alert("班组不能为空！");
      return false;
   }
   
 
   if(form1.factory.value==''){
      alert("请选择分厂！");
      return false;
   }
   if(form1.stockId.value==''){
      alert("请选择仓库！");
      return false;
   }

  if(form1.factory.value!='') form1.facname.value=form1.factory.options[form1.factory.options.selectedIndex].innerText;
  if(form1.stockId.value!='') form1.stor.value=form1.stockId.options[form1.stockId.options.selectedIndex].innerText;
  
//alert(form1.factory.value)
//alert(form1.stockId.value)

   //if(form1.bcstype.value=='0'){
    //  form1.action="selectybjjb.aspx"
   //}else{
     // form1.action="forword.jsp"
      //selectyjjb.aspx
  // }
	form1.billid.value=form1.searchdate.value.replaceAll("-","")+form1.bz.value;
   form1.action="forword.aspx";
   form1.target="saveframe";
   form1.submit();
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      form1.ptype.value=code;
      form1.ptypename.value=mc;
}

function getstock(){

  var  stockvalue = form1.selectfacname.options[form1.selectfacname.options.selectedIndex].value;
  new Ajax.Request("selectstockByfacId.aspx",
          { // 将request_url返回内容绑定到id为result的容器中
		method     : 'post', //HTTP请求的方法,get or post
		parameters : 'PID='+stockvalue, //请求参数
		onComplete:onComplete

            });
   
}
function onComplete(transport){
     var result = transport.responseText; 

}

var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+( dates.getDate()<10?'0'+dates.getDate():dates.getDate() );

first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'31';

function testok(count,count1){
   
    if(count>0){
		form1.action="selectybjjb.aspx";
		form1.target="_self";
    }else{
        form1.state.value=(count1>0?"1":"0");
	form1.action="selectyjjb.aspx";
	form1.target="_self";
    }
    //alert(form1.billid.value)
    form1.submit();
}
</script>
<body>	
<form name="form1" action="" method="post" >

<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
		<tr class="search"> 
			<td class="tdlabel" width="10%">交接班盘点库存明细表</td>
			<td class="tdinput" width="20%">
			<script>
				document.write("<input type=text name=searchdate size=10 readonly value='"+current+"'>");
			 </script>
		
			<img src="../../../images/common/datetime.gif" style="cursor:hand;" align="absmiddle" alt="弹出日历下拉菜单" onClick="fPopCalendar(searchdate,searchdate);return false">
			
			</td>	
			<td class="tdlabel" width="10%"></td>
			<td class="tdinput" width="20%">
			<!-- 
			   <select name=bcstype>
				 <option value='0'>白班</option>
                                 <option value='1'>夜班</option>
                            </select>	
	                -->
			</td>
                </tr>
		 
		<tr class="search"> 
			<td class="tdlabel" width="10%">生产分厂</td>
			<td class="tdinput" width="20%">

				<select name=factory onchange="javascript:setF(this.value,'stockId');">
				<option value=''>请选择生产分厂</option>
                           #foreach ($name in $getfactroy)
				<option value="$name.PK_DEPTDOC" >$name.DEPTNAME</option>
                           #end
                           </select><input type="hidden" name="facname" value=""><input type="hidden" name="billid" value="">	
                           <input type="hidden" name="state" value="">
			  <select name=stockId><option value=''>请选择生产仓库</option>
                          </select>

			  <input type="hidden" name="stor" value="">	
			    
			</td>	
			<td class="tdlabel" width="10%">生产班组</td>
			<td class="tdinput" width="20%">
				<input type="text" name="bz" value="">
			</td>
                </tr>
                


                <tr>
			<td class="tdlabel" width="10%"></td>
			<td class="tdinput" width="20%" colspan='2'>
				

			</td>
			<td align="center" >	
				<input type="button" name="search" class="bt1" value="查询" onclick="fsubmit()">&nbsp;<input type="button" name="search" class="bt1" value="取消" onclick="javascript:window.location='../syindex.htm'">	
			</td>
		</tr>	
		
</table>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</form>	
</body>
</html>
