

<html>
<head>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script type="text/javascript" src="../../../inc/js/array2.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<title>交接班盘点库存明细</title>
</head>
<script type="text/javascript">


function showTotal()
{
   var rowtotal=datatable.rows.length;
   var coltotal=datatable.rows[3].cells.length;
   for(var k=3;k<coltotal;k++)
   {
        var str=0;
        for(var i=2;i<rowtotal-3;i++)   {   
	   
	    str = str + parseInt(datatable.rows(i).cells(k).innerText)
        }
         
	datatable.rows(i).cells(k).innerText = str;
   }
  
}


</script>

<body onload="showTotal()">

<form name="form1" action="js.jsp" method="post">

<input name="billid" type="hidden" value="$form_searchdate$form_stockId"/>
<input name="makedate" type="hidden" value="$form_searchdate"/>
<input name="storid" type="hidden" value="$form_stockId"/>
<input name="tem" type="hidden" value="$form_bz"/>

<div class="qx" style="text-align:left">日期：$form_searchdate &nbsp;&nbsp;&nbsp;&nbsp;
生产分厂/班组：$!form_facname:$!form_stor /  #if($form_bz=='10')A#elseif($form_bz=='20')B#elseif($form_bz=='30')C#elseif($form_bz=='40')D#end</div>
<table class="datatable" border="0" cellpadding="0" frame=box id="datatable"
		cellspacing="0">
        <tr height="50">
		<td   colspan="9" align="center"><font face="宋体" size="5"><B>交接班盘点库存明细</B></font></td>
	</tr>
	<tr class="search">
		<td >编号</td>
		<td >产品名称</td>		
		<td >单位</td>
		<!--<td >接上班数量</td>	
		<td >值班入库</td>
		<td >值班出库</td>-->
		<td >应剩库存</td>
		<td >实际库存</td>
		<td >溢缺</td>
	</tr>
    #set($i=1)

    #foreach($k in $sql0)

	<tr class="trcolor NUM">
		<td class="NUM">$i</td>
		<td>$k.INVNAME <input name="incode" type="hidden" value="$k.INVCODE">
		<input name="cls" type="hidden" value="$k.CLS">
		</td>
		<td>$k.UNIT  </td>
                <!--<td>$k.FSUM </td>			
		<td>$k.INSUM </td>
                <td>$k.OUTNUM </td>-->
		<td>$k.YSNUM</td>
		<td>$k.REALCOUNT</td>
		<td>$k.DIFFS</td>

	</tr>
     #set($i=$i+1)
   #end
    <tr class="trcolor NUM">
     <td >合计</td>
		<td >&nbsp;</td>		
		<td >&nbsp;</td>
		
		<td ></td>
		<td >&nbsp;</td>
		<td >&nbsp;</td>
   </tr>
    <tr c>
      <td >备注</td>
      <td ColSpan="8">&nbsp;</td>
   </tr>
   <!--
   <tr class="trcolor NUM">
      <td >值班</td>
      <td>&nbsp;</td>
      <td >接班</td>
      <td>&nbsp;</td>
       <td >批号</td>
      <td>&nbsp;</td>
       <td >审核</td>
      <td ColSpan="2">&nbsp;</td>
   </tr>
</table>
-->
</form>
<div><input type="button" name="search" class="bt1" value="重新查询" onclick="window.location='newjjbreport.aspx'"></div>
</body>
</html>
