<HTML>
<HEAD>		
<title></title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script type="text/javascript" src="../../../inc/js/array2.js"></script>

<style>
.changecolor{
font: 13px/200% 宋体;
}
.one{
 background:#fff;
 text-align:left;
}
.two{
 background:#eeeeee;
 text-align:left;
}
</style>
<SCRIPT LANGUAGE="JavaScript">
<!--
 var person=new Array(); 
 data=new data1('仓库主键','仓库名称','分厂主键');
 person.add(data);
 #foreach($m in $sql2)
   data=new data1("$!m.PK_STORDOC","$!m.STORNAME","$!m.PK_FATHERCODE");
   person.add(data);
 #end



 function setF(departid,objid)
{
    if(departid==""){
          var obj = document.getElementById(objid);
          var length = obj.length;
          for (var j=length-1; j>0; j--)
          {
            obj.options.remove(j);
          }
    	  for(var i=1;i<person.length;i++){   
              var oOption = document.createElement("OPTION");
              obj.options.add(oOption);
              oOption.innerText = person[i].data[1];
              oOption.value = person[i].data[0];
          }	  
    }else{
      var obj = document.getElementById(objid);
      var length = obj.length;
      for (var j=length-1; j>0; j--)
      {
        obj.options.remove(j);
      }
         
      for(var i=0;i<person.length;i++){
        if(person[i].data[2]==departid){
          var oOption = document.createElement("OPTION");
          obj.options.add(oOption);
          oOption.innerText = person[i].data[1];
          oOption.value = person[i].data[0];
        }
      }
    }
}

function set(id){
  var obj=eval("document.all."+id);
  var num=obj.rows.length-1
  for(var i=1;i<num;i++){
	if(i%2==1){
		obj.rows[i].className="one";
		}		
	else{
		obj.rows[i].className="two";
	}
  }
}

//查看
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       document.form2.PID.value = paras[0];
       document.form2.action="viewininfo.aspx";
       document.form2.submit();
}
//打印
function ViewRow2()
{  
 if(confirm('你确定要删除吗？'))
     {
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       alert(paras[0]);
       document.form2.PID.value = paras[0];
       document.form2.action="deletein.aspx";
       document.form2.submit();
       }
}
//删除
function DelRow()
{      
alert("功能暂不开放");
return;
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.PID.value = paras[0];
	   //document.form1.submit();
   }
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

function clearVals() {
      thisform.ptype.value='';
      thisform.ptypename.value='';
}

function checkinput()
{  
  thisform.page.value=1;
  thisform.submit();
}

//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#E0F4FC" style="SCROLLBAR-HIGHLIGHT-COLOR:#73C5E8;SCROLLBAR-SHADOW-COLOR:#73C5E8;SCROLLBAR-3DLIGHT-

COLOR:#73C5E8;SCROLLBAR-TRACK-COLOR: #C2E8F8;SCROLLBAR-DARKSHADOW-COLOR:#73C5E8;scrollbar-Base-Color:#73C5E8;">
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tr bgcolor="#E0F4FC" height="5"><td height="5"></td></tr>
<tr bgcolor="#E0F4FC"><td>
	<table border="0" cellspacing="0" cellpadding="0" width="98%" align="center" >
	  <tr height="23">
	    <td align=left height="20">
		   <table border="0" cellspacing="3" cellpadding="0">
		      <tr>
			     <td height=20>&nbsp;<div id="qx"></div></td>
			  </tr>
		   </table>
		</td>
		<td align="right">&nbsp;</td>
	   </tr>
      </table>
     </td>
</tr>
<tr>
  <form name="thisform" method="post" action="queryin.aspx">

    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <td colspan=2>
      <table border="0" cellspacing="1" cellpadding="0" bgcolor="#ffffff" width="98%" align="center"  class="datatable">
      		<tr class="search"> 
			<td class="tdlabel" width="10%">入库时间</td>
			<td class="tdinput" width="20%">
				<input type=text name=hindate size=10 readonly value="">
			<img src="../../../images/common/datetime.gif" style="cursor:hand;" align="absmiddle" alt="弹出日历下拉菜单" onClick="fPopCalendar(hindate,hindate);return false">
			
			</td>	
			<td class="tdlabel" width="10%">收发类别</td>
			<td class="tdinput" width="20%">
                 	<select name=cdispatcherid>
			<option value=''>请选择收发类别</option>
                           #foreach ($name in $sql1)
				<option value="$name.INDISCODE" >$name.INDISNAME</option>
                           #end
                          </select>		
			</td>	
                </tr>
               	<tr class="search"> 
			<td class="tdlabel" width="10%">生产分厂</td>
			<td class="tdinput" width="20%">

			<select name=factory onchange="javascript:setF(this.value,'cwarehouseid');"><option value=''>请选择生产分厂</option>
                           #foreach ($name in $sql0)
				<option value="$name.PK_DEPTDOC" >$name.DEPTNAME</option>
                           #end
                           </select><input type="hidden" name="facname" value="">
			</td>   
			<td class="tdlabel" width="10%">生产分厂</td>
			</td>   
			<td class="tdinput" width="20%">
			  <select name=cwarehouseid><option value=''>请选择生产仓库</option>
                          </select>

			</td>	
              </tr>
 		<tr class="search"> 
			
			<td class="tdlabel" width="10%">操作员</td>
			<td class="tdinput" width="20%">
                                <input type="text" name="operater" value="">
			</td>
			<td class="tdlabel" width="10%">班组</td>
			<td class="tdinput" width="20%">
			    <input type="text" name="team" value="">			
			</td>	
                </tr>

                <tr height="5" bgcolor="#A6DDF4"> 
		  <td colspan=4 height="5"></td>
		</tr>
		<tr bgcolor="#f3f3f3">
		  <td colspan=4 >
		  		<input type="button" name="submit1" value="搜 索" onclick="checkinput()" class="bt1">
				&nbsp;&nbsp;<input type="button" value="返回" onclick="window.location='../syindex.htm';"  class="bt1">
                	</td>
		</tr>
		<tr>
		 <td colspan=5 align="left">&nbsp;&nbsp;</td>
		</tr>
	  </table>
   </td></form>
</tr>
<tr><td>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center" class="trtitle">
        <td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">单据编号</td>
	<td nowrap="nowrap">仓库</td>
	<td nowrap="nowrap">收发类别</td>
	<td nowrap="nowrap">班组</td>
	<td nowrap="nowrap">经手人</td>
	<td nowrap="nowrap">入库日期</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $sql3)
  		<tr height="20" class="trcolor">
			<td align="center">$i</td>
		        <td align="center" nowrap="nowrap">$!m.VBILLCODE</td>
			<td align="center" nowrap="nowrap">$!m.SNAME</td>
			<td align="center" nowrap="nowrap">$!m.TT</td>
                        <td align="center" nowrap="nowrap">$!m.TEAM</td>
			<td align="center" nowrap="nowrap">$!m.OPERATER</td>
			<td align="center" nowrap="nowrap">$!m.HINDATE</td>
			<td align="center" nowrap="nowrap"><span id="qxspan" dtParams="$!m.VBILLCODE"><a style='cursor:hand' onclick="javascript:ViewRow()">查看</a>&nbsp;&nbsp;&nbsp;<a style='cursor:hand' onclick="javascript:ViewRow2()">删除</a></span></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</td></tr>
<tr><td height=5></td></tr>
<tr><td>
		<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</td></tr>
</table>

<script>
  set("tb")
</script>
<form name="form1" method="post" action="delprod.aspx" target="saveframe">
  <input type="hidden" name="PID">
</form>

<form name="form2" method="post" action="viewOutbill.aspx">
   <input type="hidden" name="PID" value="">
</form>
<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>

      