

<html>
<head>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script type="text/javascript" src="../../../inc/js/array2.js"></script>
<title>分厂产量报表</title>
</head>
<script type="text/javascript">
var tj=new Array(); 
   data=new data1('产品编号','入库量','出库量','入库量2','出库量2');
   tj.add(data);
#foreach($kk in $sql1)
   data=new data1("$!kk.INVCODE","$!kk.INCOUNT","$!kk.OUTCOUNT","$!kk.INCOUNT2","$!kk.OUTCOUNT2");
   tj.add(data);
#end

function showTotal()
{
/**
   var commandstr="";
   if(tj.length>1){
     for(var i=1;i<tj.length;i++){
	   commandstr="document.all.b"+tj[i].data[0]+".innerText='"+tj[i].data[1]+"'";
	   try{
	     eval(commandstr);
	   }catch(e){}
	   commandstr="document.all.c"+tj[i].data[0]+".innerText='"+tj[i].data[3]+"'";
	   try{
	     eval(commandstr);
	   }catch(e){}
	   commandstr="document.all.d"+tj[i].data[0]+".innerText='"+tj[i].data[2]+"'";
	    try{
	     eval(commandstr);
	   }catch(e){}
	   commandstr="e"+tj[i].data[0];//.innerText='"+tj[i].data[4]+"'";
	   try{
	     document.getElementById(commandstr).innerText=tj[i].data[4];
	     //alert(commandstr);
	    // eval(commandstr);
	   }catch(e){}
     }
   }
   **/
   var rowtotal=datatable.rows.length;
   var coltotal=datatable.rows[0].cells.length
   var str=0;
/**
   for(var i=1;i<rowtotal-1;i++)
   {
            str=0;
	    str = str + parseInt(datatable.rows(i).cells(9).innerText) + parseInt(datatable.rows(i).cells(6).innerText) - parseInt(datatable.rows(i).cells(4).innerText);
	  
	    datatable.rows(i).cells(3).innerText = str;
	    //var odd =  datatable.rows(i).cells(10).innerText / datatable.rows(i).cells(9).innerText
            //datatable.rows(i).cells(9).innerText =  parseInt(datatable.rows(i).cells(9).innerText)+ parseInt( datatable.rows(i).cells(3).innerText)
	   // datatable.rows(i).cells(10).innerText =  (datatable.rows(i).cells(9).innerText*odd).toFixed(3);

   }
**/
   for(var j=3;j<coltotal;j++)
   {
      str=0;
      for(var i=1;i<rowtotal-1;i++)
	  {
	    if(datatable.rows(i).cells(j).innerText!='')
	     str = str + Number(datatable.rows(i).cells(j).innerText);
	 
	  }

      datatable.rows(rowtotal-1).cells(j).innerText = ForDight(str,4);;
   }
}


function ForDight(Dight,How) 
{ 
Dight = Math.round (Dight*Math.pow(10,How))/Math.pow(10,How); 
return Dight; 
} 

</script>

<body onload="javascript:showTotal();">	
<div class="qx" style="text-align:left">日期:$!form_begintime :$form_endtime&nbsp;&nbsp;&nbsp;&nbsp; <!-- $form_begintime 至 -->
生产分厂/仓库： $!form_facname  $!form_stor</div>
<table class="datatable" border="0" cellpadding="0" frame=box id="datatable"
		cellspacing="0">
	<tr class="search">
		<td >名称</td>		
		<td >规格</td>
		<td >单件重量</td>		
		<td >期初库存</td>
		<td >本期入库（件）</td>	
		<td >本期入库（吨）</td>
		<td >本期出库（件）</td>
		<td >本期出库（吨）</td>
                <td >本期溢缺（件）</td>
		<td >本期库存（件）</td>
		<td >本期库存（吨）</td>
	</tr>
<!--  p.invname,p.invtype,p.invcode, qznum, qznum2, incount, incount2-->
    #foreach($k in $sql0)
      #if($k.QZNUM!="0"||$k.INCOUNT!="0"||$k.OUTCOUNT!="0")
	<tr class="trcolor NUM">
		<td class="CN">$k.INVNAME</td>
		<td class="NUM">$k.INVTYPE</td>
		<td>$k.UNITWEIGHT</td>

		<td >$k.QZNUM</td>

		<td >$k.INCOUNT</td>			
		<td >$k.INCOUNT2</td>

		<td >$k.OUTCOUNT</td>
		<td >$k.OUTCOUNT2</td>
                <td >$!k.DIFF</td>
		<td >$!k.BQNUM</td>
		<td >$!k.BQNUM2</td>
		#end
	</tr>
   #end
	<tr class="trcolor NUM">
		<td class="CN">合计</td>
		<td class="NUM"></td>
		<td></td>

		<td>0</td>

		<td>0</td>			
		<td>0</td>

		<td>0</td>
		<td>0</td>

		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>
</table>
<div><input type="button" name="search" class="bt1" value="重新查询" onclick="window.location='syreport.aspx'"></div>
</body>
</html>
