

<html>
<head>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script type="text/javascript" src="../../../inc/js/array2.js"></script>
<title>生产报表</title>
</head>
<script type="text/javascript">

function showTotal()
{
   var rowtotal=datatable.rows.length;
   var coltotal=datatable.rows[0].cells.length
   var str=0;
   for(var i=1;i<rowtotal-1;i++)
   {
            str=0;
	    str = str + parseInt(datatable.rows(i).cells(8).innerText) + parseInt(datatable.rows(i).cells(6).innerText) - parseInt(datatable.rows(i).cells(4).innerText);
	    datatable.rows(i).cells(3).innerText = str;
   }
   for(var j=3;j<coltotal;j++)
   {
      str=0;
      for(var i=1;i<rowtotal-1;i++)
	  {
	     str = str + parseInt(datatable.rows(i).cells(j).innerText);
	  }

      datatable.rows(rowtotal-1).cells(j).innerText = str;
   }
}
</script>

<body>	
<div class="qx" style="text-align:left">月份：$form_mn &nbsp;&nbsp;&nbsp;&nbsp;
生产分厂/班组：$!form_facname    #if($form_stor=='10')A#elseif($form_stor=='20')B#elseif($form_stor=='30')C#elseif($form_stor=='40')D#end</div>
<table class="datatable" border="0" cellpadding="0" frame=box id="datatable"
		cellspacing="0">
	<tr class="search">
		<td >班组</td>
		<td >产品名称</td>		
		<td >1日</td>
		<td >2日</td>	
		<td >3日</td>
		<td >4日</td>
		<td >5日</td>
		<td >6日</td>
		<td >7日</td>
		<td >8日</td>
		<td >9日</td>
		<td >10日</td>
		<td >11日</td>
		<td >12日</td>
		<td >13日</td>
		<td >14日</td>
		<td >15日</td>
		<td >16日</td>
		<td >17日</td>
		<td >18日</td>
		<td >19日</td>
		<td >20日</td>
		<td >21日</td>
		<td >22日</td>
		<td >23日</td>
		<td >24日</td>
		<td >25日</td>
		<td >26日</td>
		<td >27日</td>
		<td >28日</td>
		<td >29日</td>
		<td >30日</td>
		<td >31日</td>
		<td >合计</td>
	</tr>

    #foreach($k in $sql0)
	<tr class="trcolor NUM">
		<td class="NUM">$k.TEAM</td>
		<td>$k.INVNAME</td>

		<td>$k.D1</td>
                <td>$k.D2</td>			
		<td>$k.D3</td>
                <td>$k.D4</td>
		<td>$k.D5</td>
		<td>$k.D6</td>
		<td>$k.D7</td>
		<td>$k.D8</td>
		<td>$k.D9</td>
		<td>$k.D10</td>
		<td>$k.D11</td>
		<td>$k.D12</td>
		<td>$k.D13</td>
		<td>$k.D14</td>
		<td>$k.D15</td>
		<td>$k.D16</td>
		<td>$k.D17</td>
		<td>$k.D18</td>
		<td>$k.D19</td>
		<td>$k.D20</td>
		<td>$k.D21</td>
		<td>$k.D22</td>
		<td>$k.D23</td>
		<td>$k.D24</td>
		<td>$k.D25</td>
		<td>$k.D26</td>
		<td>$k.D27</td>
		<td>$k.D28</td>
		<td>$k.D29</td>
		<td>$k.D30</td>
		<td>$k.D31</td>
		<td>$k.SNUM</td>
	</tr>
   #end
</table>
<div><input type="button" name="search" class="bt1" value="重新查询" onclick="window.location='monthreport.aspx'"></div>
</body>
</html>
