<HTML>
<HEAD>		
<title></title>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">


<script  src="../../../inc/js/treePicker.js" language="javascript"></script>
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>

<style>
.changecolor{
font: 13px/200% 宋体;
}
.one{
 background:#fff;
 text-align:left;
}
.two{
 background:#eeeeee;
 text-align:left;
}
</style>
<SCRIPT LANGUAGE="JavaScript">
<!--
function set(id){
  var obj=eval("document.all."+id);
  var num=obj.rows.length-1
  for(var i=1;i<num;i++){
	if(i%2==1){
		obj.rows[i].className="one";
		}		
	else{
		obj.rows[i].className="two";
	}
  }
}

//查看
function ViewRow()
{  
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       document.form2.PID.value = paras[0];
       document.form2.action="modifyininfo.aspx";
       document.form2.submit();
}
//打印
function ViewRow2()
{  

 if(confirm('你确定要删除吗？'))
 {
   var obj = window.event.srcElement;
   obj = getParent(obj,"SPAN");
   var paras=obj.dtParams.split(",");
       document.form2.PID.value = paras[0];
       document.form2.querystr.value = paras[1];
       document.form2.action="deleteininfo.aspx";
       
       document.form2.submit();
 }
}
//删除
function DelRow()
{      
alert("功能暂不开放");
return;
      var obj = window.event.srcElement;
	    obj = getParent(obj,"SPAN");
	   var paras=obj.dtParams.split(",");
  
     if(confirm('你确定要删除吗？'))
     {
	    
	   document.form1.PID.value = paras[0];
	   //document.form1.submit();
   }
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

function clearVals() {
      thisform.ptype.value='';
      thisform.ptypename.value='';
}

function checkinput()
{  
  thisform.page.value=1;
  thisform.submit();
}

//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#E0F4FC" style="SCROLLBAR-HIGHLIGHT-COLOR:#73C5E8;SCROLLBAR-SHADOW-COLOR:#73C5E8;SCROLLBAR-3DLIGHT-

COLOR:#73C5E8;SCROLLBAR-TRACK-COLOR: #C2E8F8;SCROLLBAR-DARKSHADOW-COLOR:#73C5E8;scrollbar-Base-Color:#73C5E8;">
<table>		  
	<tr height="30" bgcolor="#f3f3f3">

		<input type="button" value=" 返回 " class="bt1" onclick="window.location='queryin.aspx';"></td>
	</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
<tr bgcolor="#E0F4FC" height="5"><td height="5"></td></tr>
<tr bgcolor="#E0F4FC"><td>
	<table border="0" cellspacing="0" cellpadding="0" width="98%" align="center" >
	  <tr height="23">
	    <td align=left height="20">
		   <table border="0" cellspacing="3" cellpadding="0">
		      <tr>
			     <td height=20>&nbsp;<div id="qx"></div></td>
			  </tr>
		   </table>
		</td>
		<td align="right">&nbsp;</td>
	   </tr>
      </table>
     </td>
</tr>
<tr>
  <form name="thisform" method="post" action="outbillList.aspx">
 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
   <td colspan=2>
     
   </td></form>
</tr>
<tr><td>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" 

class="datatable">
<tr height="20"  align="center" class="trtitle">
        <td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">单据编号</td>
	<td nowrap="nowrap">品名</td>
	<td nowrap="nowrap">入库数</td>
	<td nowrap="nowrap">入库日期</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $test)
  		<tr height="20" class="trcolor">
			<td align="center">$i</td>
		        <td align="center" nowrap="nowrap">$!m.VBILLCODE</td>
			<td align="center" nowrap="nowrap">$!m.INVNAME</td>
                        <td align="center" nowrap="nowrap">$!m.INCOUNT</td>
			<td align="center" nowrap="nowrap">$!m.INDATE</td>
			<td align="center" nowrap="nowrap"><span id="qxspan" dtParams="$!m.PKROWID,?PID=$!m.VBILLCODE"><a style='cursor:hand' onclick="javascript:ViewRow()">查看</a>&nbsp;&nbsp;&nbsp;<a style='cursor:hand' onclick="javascript:ViewRow2()">删除</a></span></td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</td></tr>
<tr><td height=5></td></tr>
<tr><td>
		<table width="100%">
   <tr >
        <td class="tdlabel td"></td>
   </tr>
</table>
</td></tr>
</table>

<script>
  set("tb")
</script>
<form name="form1" method="post" action="delprod.aspx" target="saveframe">
  <input type="hidden" name="PID">
    <input type="hidden" name="querystr" value="">
</form>

<form name="form2" method="post" action="viewOutbill.aspx">
   <input type="hidden" name="PID" value="">
      <input type="hidden" name="querystr" value="">
</form>
<br>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe> 
</BODY>
</HTML>

      