

<html>
<head>
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<title>成品入库记录单</title>
<script type="text/javascript">
var stmp = "";
function UPP(strg)
{
  var number = Math.round(strg*100)/100;
  number = number.toString(10).split(".");
  var a = number[0];
  if (a.length > 12)
    return "数值超出范围！支持的最大数值为 999999999999.99";
  var e = "零壹贰叁肆伍陆柒捌玖";
  var num1 = "";
  var len = a.length-1;
  for (var i=0 ; i<=len; i++)
   num1 += e.charAt(parseInt(a.charAt(i))) + [["件","万","亿"][Math.floor((len-i)/4)],"拾","佰","仟"][(len-i)%4];
  if(number.length==2 && number[1]!="")
  {
    var a = number[1];
    for (var i=0 ; i<a.length; i++)
    num1 += e.charAt(parseInt(a.charAt(i))) + ["角","分"][i]; 
  }
  num1 = num1.replace(/零佰|零拾|零仟|零角/g,"零");
  num1 = num1.replace(/零{2,}/g,"零");
  num1 = num1.replace(/零(?=件|万|亿)/g,"");
  num1 = num1.replace(/亿万/,"亿");
  num1 = num1.replace(/^件零?/,"");

  if(num1!="" && !/分$/.test(num1))
    num1 += "整";
  return num1;
}

</script>
</head>
<STYLE><!--
	.datatable2{
		width:95%;
		border:1px #80B3B0 solid;
		border-bottom-style:none;
		border-right-style:none;
		font:12px;
		padding: 0; 
		margin: 0; 
	} 

	.datatable2 td { 
		border-right: 1px solid #80B3B0; 
		border-bottom: 1px solid #80B3B0;  
		font-size:12px;
		line-height:200%;
		padding: 0px 4px 0px 4px; 
		margin: 0;
	}
--></STYLE>
<body>	
<div style="text-align:center"><B>成品记录单</B></div>
<br>

<table width=95% align=center border="0" cellpadding="0" frame=box cellspacing="0">
<tr><td width=30%>
<div class="qx" style="text-align:left">调出单位：$!form_outto</div></td><td  width=35%><div class="qx" style="text-align:left">
入库单号：$!form_PID</div></td></tr>
<tr><td colspan='2'><div class="qx" style="text-align:left">
入库时间： &nbsp;</div></td></tr>
</table>
<table class="datatable2" align=center border="0" cellpadding="0" frame=box id="datatable"
		cellspacing="0">
	<tr class="search">
		<td class="CN" width=5% nowrap>编号</td>		
		<td class="CN" width=35%>产品名称</td>		
		<td class="CN" width=15%>规格</td>
		<td class="CN" width=5% nowrap>单位</td>	
		<td class="CN" width=10%>调拨数量</td>
		<td class="CN" width=15%>数量大写</td>
		<td class="CN" width=15%>备注</td>
	</tr>
    #foreach($k in $sql0)
	<tr class="trcolor NUM">
		<td class="CN">$velocityCount</td>
		<td class="CN"><a href="viewoutbilltype2.aspx?PID=$!form_PID&pname=$k.INVNAME">$k.INVNAME</a></td>
		<td class="CN">$k.INVTYPE</td>
                <td class="CN">$k.UNIT</td>			
		<td class="CN">$k.OUTCOUNT</td>
                <td class="CN"><script>document.write(UPP("$k.OUTCOUNT"))</script></td>
		<td>&nbsp;</td>
	</tr>
   #end
</table>
<table width=95% align=center border="0" cellpadding="0" frame=box cellspacing="0">
<tr><td width=30%>
<div class="qx" style="text-align:left">会计：</div></td><td  width=35%><div class="qx" style="text-align:left">
保管：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td><td width=35%><div class="qx" style="text-align:left">
经手人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div></td></tr>
</table>
</body>
</html>
