[
  #set($i=0) 
  #foreach($m in $getModuleByPidByuser)
      #if($i==0)
      #else
,
      #end
{"id":"$!m.MODULEID","hrefTarget":"contentPanelUpdater","text":"$!m.MODULENAME","children":[
	     #set($k=0) 
	     #foreach($n in $getFunByuser)
	         #if($m.MODULEID==$n.PID)
	               #if($k==0)
	               #else
,
	               #end
{"id":"$n.MODULEID","hrefTarget":"contentPanelUpdater","text":"$n.MODULENAME","children":[],"leaf":true,"expanded":false,"href":"baseaction.action?functionId=$n.MODULEID&type=0&navigationUrl=$n.MODULEURL","iconCls":""}
		       #set($k=$k+1)
                 #end
	     #end
],"leaf":false,"expanded":false,"iconCls":""}
      #set($i=$i+1)
  #end
]