<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>====</title>
<style type="text/css">
<!--
.bcolor {color: #FF66FF;
		 font-size: 12px;
		}
-->
</style>
</head>

<body>
<form name="thisform" method="post">
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable" id='tb'>
  <tr class="trcolor">
    <td colspan="10"><h3>客户反馈情况明细<h3></td>
  </tr>
  <tr class="trcolor">
    <td>报修类型</td>
    <td>报修人</td>
    <td>报修时间</td>
    <td>报修内容</td>
    <td>受理时间</td>
    <td>完成时间</td>
    <td>处理办法</td>
    <td>客户满意度</td>
    <td>完成及时性</td>
    <td>客户留言</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selprobcountweekdetail)
  <tr class="trcolor">
    <td>$!m.SENDTYPENAME</td>
    <td>$!m.NAME [ $!m.DETPNAME $!m.MINPHONE ]</td>
    <td>$!m.TS</td>
    <td align="left">$!m.SENDREMARK</td>
    <td>#if($!m.RECETIME != "")$!m.RECETIME#else&nbsp;#end</td>
    <td>#if($!m.ENDTIME != "")$!m.ENDTIME#else&nbsp;#end</td>
    <td align="left">#if($!m.REMARK != "")$!m.REMARK#else&nbsp;#end</td>
    <td>#if($!m.MY=='1')<span class="bcolor"> 不满意 </span> #elseif($!m.MY=='0') 满意 #else &nbsp; #end</td>
    <td>#if($!m.JS=='1')<span class="bcolor"> 不及时 </span> #elseif($!m.JS=='0') 及时 #else &nbsp; #end</td>
    <td>$!m.RECREMARK&nbsp;</td>
  </tr>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
	<td colspan=10 align="right"><input type="button" class="bt1" name="EXCEL" value="导出EXCEL表" onclick="javascript:method1('tb')">&nbsp;&nbsp;<input type="button" name="bt1" class="bt1" value="返回" onclick="javascript:history.go(-1)"></td>
  </tr>
       <tr class="trcolor">
	     <td colspan=10 align="right">$pagecode</td>
   </tr>
</table>
</form>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>