<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>====</title>
<script language="javascript">
var num1=0;
var num2=0;
var num3=0;
var num4=0;
var num5=0;
var num6=0;
var num7=0;
var num8=0;
var num9=0;
var num10=0;
var num11=0;
var num12=0;
var num13=0;
var num14=0;
function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	if(document.getElementById('date1').value == ""){
           document.getElementById('date1').value=Today;
	}
	if(document.getElementById('date2').value == ""){
	  document.getElementById('date2').value=Today;
	}
    }
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
	 function tosearch(){
	     document.thsiform.orderbytime.value="1";
	     thsiform.submit();
	 }
    </script>
</head>

<body onload="GetDateString()">
<form name="thsiform" action="probcount.aspx" method="post">
<input type="hidden" name="orderbytime" value = "1">
<table class="datatable">
  <tr class="trcolor">
    <td>开始时间</td>
    <td><input type="text" name="date1" value="$!form_date1" onclick="ShowDate(this)"/></td>
    <td>结束时间</td>
    <td><input type="text" name="date2" value="$!form_date2" onclick="ShowDate(this)"/></td>
  </tr>
  <tr class="trcolor">
    <td colspan="4">#if($form_orderbytime=='1')<input type="radio" name="bytime" value="1" #if($form_bytime == '1')checked#end>按时间统计#else<input type="radio" name="bytime" value="1" checked>按时间统计#end<input type="radio" name="bytime" value="2" #if($form_bytime == '2')checked#end>按周统计<input type="radio" name="bytime" value="3" #if($form_bytime == '3')checked#end>按月统计<input type="radio" name="bytime" value="4" #if($form_bytime == '4')checked#end>按季度统计</td>
  </tr>
  <tr class="trcolor">
    <td>受理时间</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;#if($form_rectime != "")<input type="text" name="rectime" value="$form_rectime">#else<input type="text" name="rectime" value="4">#end小时</td>
    <td>解决时间</td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;#if($form_overtime != "")<input type="text" name="overtime" value="$form_overtime">#else<input type="text" name="overtime" value="4">#end小时</td>
  </tr>
  <tr class="trcolor">
    <td>报修部门</td>
    <td>
	<select name="depart">
	<option value="">全部</option>
        #foreach($!m in $repairsdepart)
           <option value="$m.DETPNAME" #if($m.DETPNAME == $!form_depart) selected #end>$m.DETPNAME</option>
	#end
	</select>
    </td>
    <td>报修人</td>
    <td><input type="text" name="people" value="$!form_people"/></td>
  </tr>
  <tr class="trcolor">
    <td align="center" colspan="4"><input type="button" onclick="tosearch()" name="bt1"  class="bt1" value="查询"></td>
  </tr>
</table>
</from>
<br>
<table class="datatable">
  #if($form_bytime == '2')
      <tr class="trcolor">
	    <td>故障类型</td>
	    <td>负责人</td>
	    <td>本周发生次数</td>
	    <td>本周及时满意次数</td>
	    <td>本周不及时但满意次数</td>
	    <td>本周不满意但及时次数</td>
	    <td>本周不及时且不满意次数</td>
	    <td>本周受理不及时次数</td>
	    <td>本周解决不及时次数</td>
	    <td>上周发生次数</td>
	    <td>上周及时满意次数</td>
	    <td>上周不及时但满意次数</td>
	    <td>上周不满意但及时次数</td>
	    <td>上周不及时且不满意次数</td>
	    <td>上周受理不及时次数</td>
	    <td>上周解决不及时次数</td>
      </tr>
      #set($i=0)
	  #foreach($!m in $selprobcountbyweek)
	  <tr class="trcolor">
	    <td>$!m.SENDTYPENAME&nbsp;</td>
	    <td>#foreach($n in $selbaseuser)#if($!n.PK_SENDTYPE==$!m.PK_SENDTYPE)$!n.NAME&nbsp;#end#end</td>
	    <td>#if($!m.SENDCODCOUNT == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&thisweek=0&depart=$form_depart&people=$form_people">$!m.SENDCODCOUNT</a>#end</td>
	    <td>#if($!m.MANYIJISHI == '0')0#else<a href="probcountweekdetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&thisweek=0&depart=$form_depart&people=$form_people">$!m.MANYIJISHI</a>#end</td>
	    <td>#if($!m.MANYI == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&thisweek=0&depart=$form_depart&people=$form_people">$!m.MANYI</a>#end</td>
	    <td>#if($!m.JISHI == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.JISHI</a>#end</td>
	    <td>#if($!m.MJ == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.MJ</a>#end</td>
	    <td>#if($!m.NOJISHI == '0')0#else<a href="probcountweekdetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.NOJISHI</a>#end</td>
	    <td>#if($!m.NOENDJISHI == '0')0#else<a href="probcountweekdetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&thisweek=0&depart=$form_depart&people=$form_people">$!m.NOENDJISHI</a>#end</td>
	    <td>#if($!m.LASTSENDCODCOUNT == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTSENDCODCOUNT</a>#end</td>
	    <td>#if($!m.LASTMANYIJISHI == '0')0#else<a href="probcountweekdetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMANYIJISHI</a>#end</td>
	    <td>#if($!m.LASTMANYI == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMANYI</a>#end</td>
	    <td>#if($!m.LASTJISHI == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTJISHI</a>#end</td>
	    <td>#if($!m.LASTMJ == '0')0#else<a href="probcountweekdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMJ</a>#end</td>
	    <td>#if($!m.LASTNOJISHI == '0')0#else<a href="probcountweekdetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTNOJISHI</a>#end</td>
	    <td>#if($!m.LASTNOENDJISHI == '0')0#else<a href="probcountweekdetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTNOENDJISHI</a>#end</td>
	  </tr>
	  #set($i=$i+1)
	  <script>
                 num1+=$!m.SENDCODCOUNT;
                 num2+=$!m.MANYIJISHI;
		 num3+=$!m.MANYI;
		 num4+=$!m.JISHI;
		 num5+=$!m.MJ;
		 num6+=$!m.NOJISHI;
		 num7+=$!m.NOENDJISHI;
		 num8+=$!m.LASTSENDCODCOUNT;
                 num9+=$!m.LASTMANYIJISHI;
		 num10+=$!m.LASTMANYI;
		 num11+=$!m.LASTJISHI;
		 num12+=$!m.LASTMJ;
		 num13+=$!m.LASTNOJISHI;
		 num14+=$!m.LASTNOENDJISHI;
	  </script>
	  #end
	  <tr>
              <td colspan="2" align="center">小计</td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num1);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num2);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num3);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num4);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num5);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num6);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num7);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num8);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num9);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num10);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num11);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num12);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num13);
		  </script>
	      </td>
	     <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num14);
		  </script>
	      </td>
	  </tr>
  #elseif($form_bytime == '3')
      <tr class="trcolor">
	    <td>故障类型</td>
	    <td>负责人</td>
	    <td>本月发生次数</td>
	    <td>本月及时满意次数</td>
	    <td>本月不及时但满意次数</td>
	    <td>本月不满意但及时次数</td>
	    <td>本月不及时且不满意次数</td>
	    <td>本月受理不及时次数</td>
	    <td>本月解决不及时次数</td>
	    <td>上月发生次数</td>
	    <td>上月不及时但满意次数</td>
	    <td>上月及时满意次数</td>
	    <td>上月不满意但及时次数</td>
	    <td>上月不及时且不满意次数</td>
	    <td>上月受理不及时次数</td>
	    <td>上月解决不及时次数</td>
      </tr>
      #set($i=0)
	  #foreach($!m in $selprobcountbymonth)
	  <tr class="trcolor">
	    <td>$!m.SENDTYPENAME</td>
	    <td>#foreach($n in $selbaseuser)#if($!n.PK_SENDTYPE==$!m.PK_SENDTYPE)$!n.NAME&nbsp;#end#end</td>
	    <td>#if($!m.SENDCODCOUNT == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&thisweek=0&depart=$form_depart&people=$form_people">$!m.SENDCODCOUNT</a>#end</td>
	    <td>#if($!m.MANYIJISHI == '0')0#else<a href="probcountmonthdetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&thisweek=0&depart=$form_depart&people=$form_people">$!m.MANYIJISHI</a>#end</td>
	    <td>#if($!m.MANYI == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&thisweek=0&depart=$form_depart&people=$form_people">$!m.MANYI</a>#end</td>
	    <td>#if($!m.JISHI == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.JISHI</a>#end</td>
	    <td>#if($!m.MJ == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.MJ</a>#end</td>
	    <td>#if($!m.NOJISHI == '0')0#else<a href="probcountmonthdetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.NOJISHI</a>#end</td>
	    <td>#if($!m.NOENDJISHI == '0')0#else<a href="probcountmonthdetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&thisweek=0&depart=$form_depart&people=$form_people">$!m.NOENDJISHI</a>#end</td>
	    <td>#if($!m.LASTSENDCODCOUNT == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTSENDCODCOUNT</a>#end</td>
	    <td>#if($!m.LASTMANYI == '0')0#else<a href="probcountmonthdetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMANYIJISHI</a>#end</td>
	    <td>#if($!m.LASTMANYI == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMANYI</a>#end</td>
	    <td>#if($!m.LASTJISHI == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTJISHI</a>#end</td>
	    <td>#if($!m.LASTMJ == '0')0#else<a href="probcountmonthdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMJ</a>#end</td>
	    <td>#if($!m.LASTNOJISHI == '0')0#else<a href="probcountmonthdetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTNOJISHI</a>#end</td>
	    <td>#if($!m.LASTNOENDJISHI == '0')0#else<a href="probcountmonthdetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTNOENDJISHI</a>#end</td>
	  </tr>
	  #set($i=$i+1)
	  <script>
                 num1+=$!m.SENDCODCOUNT;
                 num2+=$!m.MANYIJISHI;
		 num3+=$!m.MANYI;
		 num4+=$!m.JISHI;
		 num5+=$!m.MJ;
		 num6+=$!m.NOJISHI;
		 num7+=$!m.NOENDJISHI;
		 num8+=$!m.LASTSENDCODCOUNT;
                 num9+=$!m.LASTMANYIJISHI;
		 num10+=$!m.LASTMANYI;
		 num11+=$!m.LASTJISHI;
		 num12+=$!m.LASTMJ;
		 num13+=$!m.LASTNOJISHI;
		 num14+=$!m.LASTNOENDJISHI;
	  </script>
	  #end
	  <tr>
              <td colspan="2" align="center">小计</td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num1);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num2);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num3);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num4);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num5);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num6);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num7);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num8);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num9);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num10);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num11);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num12);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num13);
		  </script>
	      </td>
	     <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num14);
		  </script>
	      </td>
	  </tr>
  #elseif($form_bytime == '4')
      <tr class="trcolor">
	    <td>故障类型</td>
	    <td>负责人</td>
	    <td>本季发生次数</td>
	    <td>本季及时满意次数</td>
	    <td>本季不及时但满意次数</td>
	    <td>本季不满意但及时次数</td>
	    <td>本季不及时且不满意次数</td>
	    <td>本季受理不及时次数</td>
	    <td>本季解决不及时次数</td>
	    <td>上季发生次数</td>
	    <td>上季及时满意次数</td>
	    <td>上季不及时但满意次数</td>
	    <td>上季不满意但及时次数</td>
	    <td>上季不及时且不满意次数</td>
	    <td>上季受理不及时次数</td>
	    <td>上季解决不及时次数</td>
      </tr>
      #set($i=0)
	  #foreach($!m in $selprobcountbyji)
	  <tr class="trcolor">
	    <td>$!m.SENDTYPENAME</td>
	    <td>#foreach($n in $selbaseuser)#if($!n.PK_SENDTYPE==$!m.PK_SENDTYPE)$!n.NAME&nbsp;#end#end</td>
	    <td>#if($!m.SENDCODCOUNT == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&thisweek=0&depart=$form_depart&people=$form_people">$!m.SENDCODCOUNT</a>#end</td>
	    <td>#if($!m.MANYIJISHI == '0')0#else<a href="probcountjidetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&thisweek=0&depart=$form_depart&people=$form_people">$!m.MANYIJISHI</a>#end</td>
	     <td>#if($!m.MANYI == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&thisweek=0&depart=$form_depart&people=$form_people">$!m.MANYI</a>#end</td>
	    <td>#if($!m.JISHI == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.JISHI</a>#end</td>
	    <td>#if($!m.MJ == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.MJ</a>#end</td>
	    <td>#if($!m.NOJISHI == '0')0#else<a href="probcountjidetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&thisweek=0&depart=$form_depart&people=$form_people">$!m.NOJISHI</a>#end</td>
	    <td>#if($!m.NOENDJISHI == '0')0#else<a href="probcountjidetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&thisweek=0&depart=$form_depart&people=$form_people">$!m.NOENDJISHI</a>#end</td>
	    <td>#if($!m.LASTSENDCODCOUNT == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTSENDCODCOUNT</a>#end</td>
	    <td>#if($!m.LASTMANYI == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMANYI</a>#end</td>
	    <td>#if($!m.LASTMANYIJISHI == '0')0#else<a href="probcountjidetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMANYIJISHI</a>#end</td>
	    <td>#if($!m.LASTJISHI == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTJISHI</a>#end</td>
	    <td>#if($!m.LASTMJ == '0')0#else<a href="probcountjidetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTMJ</a>#end</td>
	    <td>#if($!m.LASTNOJISHI == '0')0#else<a href="probcountjidetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTNOJISHI</a>#end</td>
	    <td>#if($!m.LASTNOENDJISHI == '0')0#else<a href="probcountjidetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&lastweek=0&depart=$form_depart&people=$form_people">$!m.LASTNOENDJISHI</a>#end</td>
	  </tr>
	  #set($i=$i+1)
	  <script>
                 num1+=$!m.SENDCODCOUNT;
                 num2+=$!m.MANYIJISHI;
		 num3+=$!m.MANYI;
		 num4+=$!m.JISHI;
		 num5+=$!m.MJ;
		 num6+=$!m.NOJISHI;
		 num7+=$!m.NOENDJISHI;
		 num8+=$!m.LASTSENDCODCOUNT;
                 num9+=$!m.LASTMANYIJISHI;
		 num10+=$!m.LASTMANYI;
		 num11+=$!m.LASTJISHI;
		 num12+=$!m.LASTMJ;
		 num13+=$!m.LASTNOJISHI;
		 num14+=$!m.LASTNOENDJISHI;
	  </script>
	  #end
	  <tr>
              <td colspan="2" align="center">小计</td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num1);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num2);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num3);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num4);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num5);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num6);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num7);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num8);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num9);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num10);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num11);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num12);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num13);
		  </script>
	      </td>
	     <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num14);
		  </script>
	      </td>
	  </tr>
  #else
      <tr class="trcolor">
	    <td>故障类型</td>
	    <td>负责人</td>
	    <td>发生次数</td>
	    <td>及时满意次数</td>
	    <td>不及时但满意次数</td>
	    <td>不满意但及时次数</td>
	    <td>不及时且不满意次数</td>
	    <td>受理不及时次数</td>
	    <td>解决不及时次数</td>
      </tr>
	  #set($i=0)
	  #foreach($!m in $selprobcount)
	  <tr class="trcolor">
	    <td>$!m.SENDTYPENAME</td>
	    <td>#foreach($n in $selbaseuser)#if($!n.PK_SENDTYPE==$!m.PK_SENDTYPE)$!n.NAME&nbsp;#end#end</td>
	    <td>#if($!m.SENDCODCOUNT == '0')0#else<a href="probcountdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&depart=$form_depart&people=$form_people">$!m.SENDCODCOUNT</a>#end</td>
	    <td>#if($!m.MANYIJISHI == '0')0#else<a href="probcountdetail3.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&depart=$form_depart&people=$form_people">$!m.MANYIJISHI</a>#end</td>
	    <td>#if($!m.MANYI == '0')0#else<a href="probcountdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=0&depart=$form_depart&people=$form_people">$!m.MANYI</a>#end</td>
	    <td>#if($!m.JISHI == '0')0#else<a href="probcountdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=0&my=1&depart=$form_depart&people=$form_people">$!m.JISHI</a>#end</td>
	    <td>#if($!m.MJ == '0')0#else<a href="probcountdetail.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&js=1&my=1&depart=$form_depart&people=$form_people">$!m.MJ</a>#end</td>
	    <td>#if($!m.NOJISHI == '0')0#else<a href="probcountdetail1.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&rectime=$!form_rectime&getstatus=1&depart=$form_depart&people=$form_people">$!m.NOJISHI</a>#end</td>
	    <td>#if($!m.NOENDJISHI == '0')0#else<a href="probcountdetail2.aspx?pk_sendtype=$!m.PK_SENDTYPE&date1=$!form_date1&date2=$!form_date2&overtime=$!form_overtime&getstatus=2&depart=$form_depart&people=$form_people">$!m.NOENDJISHI</a>#end</td>
	  </tr>
	  #set($i=$i+1)
	  <script>
                 num1+=$!m.SENDCODCOUNT;
                 num2+=$!m.MANYIJISHI;
		 num3+=$!m.MANYI;
		 num4+=$!m.JISHI;
		 num5+=$!m.MJ;
		 num6+=$!m.NOJISHI;
		 num7+=$!m.NOENDJISHI;
	  </script>
	  #end
	  <tr>
              <td colspan="2" align="center">小计</td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num1);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num2);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num3);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num4);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num5);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num6);
		  </script>
	      </td>
	      <td align="center" nowrap="nowrap">
		  <script>
		    document.write(num7);
		  </script>
	      </td>
	  </tr>
  #end
</table>
</form>
</body>
</html>
