<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../js/style.css">
<link rel="stylesheet" type="text/css" href="../js/spellCode.css">
<title>故障查询</title>
<script language="javascript">
function checkinput(){  
  thisform.action="provsereach.aspx";
  thisform.page.value=1;
  thisform.submit();
}
</script>
</head>

<body>
<form name="thisform" action="" method="post">
<!--pageSize主要是完成分页功能，设置显示的记录的条数-->
<input type="hidden" name="pageSize" value="$!form_pageSize">
<input type="hidden" name="page" value="">
<input type="hidden" name="OAusername1" value="$form_OAusername1">
<table class="datatable">
  <tr class="trcolor">
    <td colspan='4' align="left">系统问题查询</td>
  </tr>
  <tr class="trcolor">
    <td>故障类型</td>
    <td align="left"><select name="pk_sendtype">
    <option value=""></option>
    #set($i=0)
    #foreach($!m in $selesendprotype)
    <option value="$!m.PK_SENDTYPE" #if($!form_pk_sendtype==$!m.PK_SENDTYPE) selected #else #end >$!m.SENDTYPENAME</option>
    #set($i=$i+1)
    #end
      </select></td>
    <td>关键字</td>
    <td align="left"><input type="text" name="remark" value="$!form_remark" /></td>
  </tr>
  <tr class="trcolor">
    <td>报修人</td>
    <td align="left">
        <select name="OAusername">
	<option value="">全部</option>
	#foreach($!m in $repairsman)
	#if($form_OAusername1 == $!m.USERNAME)
	<option value="$!m.USERNAME" #if($form_OAusername1 == $form_OAusername)selected#end>$!m.USERNAME</option>
	#end
	#end
	</select>
    </td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td>&nbsp;</td>
    <td><input type="button" name="b1" class="bt1" value="查询" onclick="checkinput()" /></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<br>
<table class="datatable">
   <tr class="trcolor">
	<td width="15%">类型名称</td>
	<td width="20%">故障详细描述</td>
	<td width="65%">处理结果</td>
   <tr>
   #set($i=0)
   #foreach($!m in $selprob)
   <tr class="trcolor">
	<td>$!m.SENDTYPENAME</td>
	<td align="left">$!m.REMARK</td>
	<td align="left">#if($!m.RECMARK != "")$!m.RECMARK#else&nbsp;#end</td>
   <tr>
   #set($i=$i+1)
   #end
   <tr>
	     <td colspan=3 align="right">$pagecode</td>
   </tr>	 
</table>
</form>
</body>
</html>