<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<!-- 引入jquery的js包 -->
<script Language="javascript" src="../../../include/js/jquery-1.7.2.js"></script>
<script language="javascript" src="../../../include/js/97/WdatePicker.js"></script>

<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===费用预算===</title>
<script language="javascript" src="../../../js/PlanGridEdit.js"></script>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
</head>
<script>
//width:expression(document.body.clientWidth-20);  
var bData1=new Array(); 
bData1=[
      [,'二级科目名称','三级科目名称','直营卖场数量','经销商数量','合计数量','主键','状态','0']
 #set($i=1)
 #foreach($m in $getfylist)
      ,['$m.NAME1','$m.NAME2','0','0','0','$m.PK_ACCSUBJ','N','$i']
   #set($i=$i+1)  
 #end
]
var pageSize=50;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][6]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked onclick=\"javascript:setStatus("+i+")\">";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' onclick=\"javascript:setStatus("+i+")\">";
	  }
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  for(var j=3;j<5;j++){
	     with (row.insertCell())
             {
	       innerHTML=rdata[(page-1)*pageSize+i][j];
	       if(rdata[(page-1)*pageSize+i][j]!='0'){
	         //width='10%'
		 //attachEvent("onclick",setEditBox); 
		 className="dirty-cell";
	       }
	     }
	 }
	 SetRowCanEdit(row);
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][1].indexOf(form2.elements[1].value)>-1);
    if(form2.elements[2].value=="O")
        bstatus=(bData1[i][3]>0);
    else
	bstatus=form2.elements[2].value=="all"?true:(bData1[i][6]==form2.elements[2].value);
	//alert(bstatus)
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 }
 toPage(1);
}

function save(step,status)  
{
  savepage(pageno);
  var datahtml="";
  var zymcsum=0;
  var jxssum=0;
  var hjsum=0;
  for(var i=0;i<bData1.length;i++){
    if(bData1[i][6]=='Y' &&(bData1[i][2]>0 ||bData1[i][3]>0 ||bData1[i][4]>0)){
       datahtml+="<input type=hidden name=item_pk value='"+bData1[i][5]+"'>";
       datahtml+="<input type=hidden name=zymc value='"+bData1[i][2]+"'>";
       datahtml+="<input type=hidden name=jxs value='"+bData1[i][3]+"'>";
       datahtml+="<input type=hidden name=hj value='"+bData1[i][4]+"'>";
       zymcsum+=parseInt(bData1[i][2]);
       jxssum+=parseInt(bData1[i][3]);
       hjsum+=parseInt(bData1[i][4]);
    }
 }
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 //alert("zymcsum"+zymcsum);
 //alert("jxssum"+jxssum);
 //alert("hjsum"+hjsum);

 var billid="FY"+getTimeStr();
 var remark = $("#remark").val();
 //alert(billid);
 //alert(remark);
 datahtml+="<input type=text name=billno value='"+billid+"'>";
 datahtml+="<input type=text name=budgettype value='$!form_budgettype'>";
 datahtml+="<input type=text name=zymcsum value='"+zymcsum+"'>";
 datahtml+="<input type=text name=jxssum value='"+jxssum+"'>";
 datahtml+="<input type=text name=hjsum value='"+hjsum+"'>";
 datahtml+="<input type=text name=billdesc value='"+remark+"'>";
 datahtml+="<input type=text name=billdate value='$!form_billdate'>";
 datahtml+="<input type=text name=step value='"+step+"'>";
 datahtml+="<input type=text name=status id=status value='"+status+"'>";
 datahtml+="<input type=text name=pk_dept value='$!form_deptcode'>";
 //alert(datahtml);
 subdata.innerHTML=datahtml;
 var status = $("#status").val();
 if( status =='B'){
 alert("------");
	form_submit.step.value='1';
	form_submit.status.value='F';
 } 	

 form_submit.action="newfybudgetSubmit.aspx";
 form_submit.submit();
}

function testok()
{  
   form_submit.action="newSalePlanSubmit.aspx";
   form_submit.submit();
}

function savepage(page)
{
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][6]='Y';
      else  rdata[(page-1)*pageSize+i][6]='N';
      for(var j=2;j<5;j++){
        if(table6.rows[i].cells[j+1].innerText==""){
	  rdata[(page-1)*pageSize+i][j]=document.all.editbox.value;
	}
	else{
          rdata[(page-1)*pageSize+i][j]=table6.rows[i].cells[j+1].innerText;
        }
      }
      bData1[rdata[(page-1)*pageSize+i][8]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}

function document.onkeydown(){
   key=event.keyCode;
   if(key==83 && event.ctrlKey){
    save();
    return;
   }
   if(key==38)   //向上箭头
   {
     if(event.srcElement.className=="EditCell_TextBox"){
        var ly=event.srcElement.parentNode.offsetTop;
	var hy=mdiv.scrollTop;
	if(ly>hy && (ly-hy<2*ftr.offsetHeight)) mdiv.scrollTop=mdiv.scrollTop-ftr.offsetHeight*2; 
  	//window.status=event.y+","+mdiv.offsetTop;
	//form2.elements[0].value=ftr.offsetHeight;
     }
     return;
   }
   if(key==34)   //page down
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }else{
        if(pageno<Math.ceil((rdata.length-1)/pageSize)){
	  toPage(pageno+1);
	}
     }
     return;
   }
   if(key==33)   //page up
   {
     if(event.srcElement.className=="EditCell_TextBox"){
	      var dataType = event.srcElement.parentNode.parentNode.parentNode.rows[0].cells[event.srcElement.parentNode.cellIndex].getAttribute("DataType");
	      switch(dataType){
	      case "Float":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Number":
		 if(event.srcElement.value.search("^-?\\d+(\\.\\d+)?$")!=0){
		    return false;
		 }
		 break;
	      case "Int":
		 if(event.srcElement.value.search("^-?\\d+$")!=0){
		    return false;
		 }
		 break;
	      case "Email":
		 if(event.srcElement.value.search("^(?:\\w+\\.?)*\\w+@(?:\\w+\\.?)*\\w+$")!=0){
		    return false;
		 }
		 break;
	      default:
		break;
	    }
        if(pageno>1){
	  toPage(pageno-1);
	}
     }else{
        if(pageno>1){
	  toPage(pageno-1);
	}
     }
   }
   return;
}
/**
*返回时间字符串
**/
function getTimeStr()     
{  
   var str="";
   var date = new Date();
   var field="";
   str= date.getFullYear()+"";
   field=(date.getMonth()+1);
   if(date.getMonth()<9){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   field= date.getDate();
   if(date.getDate()<10){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   str= str+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
   return str;  
}

function init()     
{  
   var pno="$form_begintime".split("-");
   document.all.jhqj.innerHTML='M'+pno[0]+pno[1];
}

function setStatus(lineno)
{
    allPlan(event.srcElement,lineno)
}

function allPlan(element,oldvalue)
{
  var num=0;
  var nextnum=0;
  savepage(pageno);
  for(var i=1;i<bData1.length;i++){
    if(bData1[i][6]=='Y' &&(bData1[i][4]>0 || bData1[i][5]>0)){
       num+=parseInt(bData1[i][4]);
       nextnum+=parseInt(bData1[i][5]);
    }
  }
  document.all.byjh.innerHTML=num;
  document.all.xyjh.innerHTML=nextnum;
}

</script>


<body onload="init()">

<p align="left"><font size="4"><b>费用预算上报</b></font>
<div style="width:100%;txt-align:center;border:0 double gray;">
<table  border="0" cellpadding="0" cellspacing="2" width="100%">
    <tr>
		<td height="19" width="7%">销售部名称：</td> 
		<td height="19" width="15%">
			#foreach($m in $getdeptinfo)
				$!m.DEPTNAME
			#end
		</td>
		<td height="19" width="7%">预算期间：</td> 
		<td height="19" width="15%">2013-03</td>
    </tr>
    <tr>
		<td >上报人：</td> 
		<td height="19" >$!session_USERNAME</td>
		<td >备注</td> 
		<td height="19" ><textarea name="remark" id="remark" cols="40" rows="3"></textarea></td>
    </tr>
</table>      
</div>
<br>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
二级费用名称：<input type="text" size="16" onkeyup="presearch()"> 
三级费用名称：<input type="text" size="16" onkeyup="presearch()"> 
状态：<select  onchange="search()">
            <option value='all' selected>全部</option>
	    <option value='N'>未报费用</option>
	    <option value='Y'>已报预算</option>
	    <option value='O'>原报预算</option>
	    </select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">        
</form>
</div>

<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr" bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#EFEFEF"  Name="st"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="19" bgcolor="#EFEFEF"  Name="pname">二级费用名称</td>
      <td height="19" bgcolor="#EFEFEF"  Name="pspec">三级费用名称</td>
      <td height="19" bgcolor="#EFEFEF"  Name="oldnum" width="100" EditType="TextBox" DataType="Int">直营卖场</td>
      <td height="19" bgcolor="#EFEFEF"  Name="costp"  width="100" EditType="TextBox" DataType="Int">经销商</td>
      <td height="19" bgcolor="#EFEFEF"  Name="costp" width="100" EditType="TextBox" DataType="Int">合计</td>
    </tr>
</table>

<div style="width:100%;txt-align:center;border:0 double gray;">
	<input type="button" value=" 保  存 " id="btnSave">&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" value=" 提  交 " id="btnSave2">&nbsp;&nbsp;&nbsp;&nbsp;
	<input type="button" class="login2" value=" 取  消 " name="B222" onClick="javascript:window.location='budgetlist.aspx';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<span id="pg"></span>
</div>

<script language="javascript">
var seleobj;

//单击“保存”按钮
btnSave.onclick=function()
{
   save(0,'N');	
}
//单击“提交”按钮
btnSave2.onclick=function()
{
   save(0,'B');	
}

</script>
<script>
	 EditTables(table6);
	 toPage(1);
</script>
<form name="form_submit" method="post" action="newSalePlanSubmit.aspx" target="saveframe">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

