<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<link rel='StyleSheet' href='../../js/dtree.css' type='text/css' />
<title>=====</title>
<script language="javascript">
	function sub(){
		document.thisform.page.value =1;
		document.thisform.submit();
	}
	 function toadd(url){
	    document.form2.action=url;
	    document.form2.submit();
	 }
	 function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
		   ;
		 else
		   idText.value=reValue;
	    }
	    function init(){
	       document.form1.saleorder.focus();
	    }
	    function searchresults(){
	       if(document.form1.saleorder.value == ""){
	           alert("派车单号不能为空");
		   return false;
	       }else{
	           document.form1.action = "testastern.aspx";
		   document.form1.submit();
	       }
	    }
	    function testok(){
	        document.form1.action = "asternsaveadd.aspx";
		document.form1.submit();
	    }
</script>
</head>

<body onload="init()">
<form name="form1" method="post" onsubmit="return searchresults();"  target="dataframe">
<table class="datatable" style="width:180" cellpadding=0 cellspacing=0  border = "0">
  <tr class="trcolor"><td colspan="2">门岗到车扫描</td></tr>
  <tr class="trcolor">
    <td>派车单号</td>
    <td align="left"><input type="text" name="saleorder" value=""  style="width:80"   /></td>
  </tr>
  <tr class="trcolor">
    <td colspan="4"><input type="submit" name="b1" class="bt1" value="提  交"/></td>
  </tr>
</table>
</form>
<div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>