<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script type="text/javascript" src="../../../inc/js/calendarnew.js"></script>
<title>添加单据</title>
</head>
<script language="javascript">
   function show(para){
	if(para == '2'){
	    document.form1.songhuodate.checked = true;
	    document.form1.zhidandate.checked = false;
	}else{
	    document.form1.zhidandate.checked = true;
	    document.form1.songhuodate.checked = false;
	}
   }
   function tosearch(){
	if(document.form1.zhidandate.checked == true){
	    document.form1.zhidandate.value = "Y";
	    document.form1.songhuodate.value = "";
	}else{
	    document.form1.hidtime.value = "1";
	    document.form1.songhuodate.value = "Y";
	    document.form1.zhidandate.value = "";
	}
	document.form1.action = "Blank.aspx";
	document.form1.submit();
   }
   function tocheckdate(){
	if(document.form1.songhuodate.checked){
	    document.form1.zhidandate.checked = false;
	}else{
	    document.form1.zhidandate.checked = true;
	}
   }
   function toedit(url,editstatus){
	if(editstatus =='Y'){
	   dm_zzjg_tree_layer.style.display = "block";
	   result1.document.location = url;
	}else{
	   dm_zzjg_tree_layer.style.display = "none";
	}
   }
</script>
<body onload="tocheckdate()">
<form name="form1" method="post"><input type="hidden" name="hidtime"><input type="hidden" name="first" value="1">
<table class="datatable">
  <tr align="left"> 
	<td align="right" width="25%"><input type="radio" name="zhidandate" #if($form_zhidandate=='Y')checked#end onclick="show(1)">制单日期</td>
	<td rowspan="2">
            <input name="TextBoxData1" type="text" id="TextBoxData1" value="#if($form_TextBoxData1!='')$form_TextBoxData1#end" class="Input_text1" onclick="calendar()" />
	    &nbsp;&nbsp;-&nbsp;&nbsp;
	    <input name="TextBoxData2" type="text" id="TextBoxData2" value="#if($form_TextBoxData2!='')$form_TextBoxData2#end"  class="Input_text1" onclick="calendar()" />
	</td>
  </tr>
  <tr>
      <td align="right" width="25%"><input type="radio" name="songhuodate" onclick="show(2)" #if($form_songhuodate=='Y')checked#end>送货日期</td>
  </tr>
  <tr>
      <td colspan="2" align="center">
	    <input type="button" name="ButtonLookSpace" value="查询" class="bt1" id="ButtonLookSpace" style="width:200px;" onclick="tosearch()" />
      </td>
  </tr>
  </table>
  </form>
  <table class="datatable">
  <tr>
	<td align="center">单剧号</td>
	<td align="center">制单人</td>
	<td align="center">司机 车号</td>
	<td align="center">送货时间</td>
	<td align="center">制单日期</td>
	<td align="center">操作</td>
  </tr>
  #if($form_first=="1")
  #set($i=0)
  #foreach($m in $seldrivesingleuser)
      <tr>
          <td align="center">#if($m.VDEF17 != "")$m.VDEF17 #else &nbsp; #end</td>
	  <td align="center">#if($m.VDEF13 != "")$m.VDEF13 #else &nbsp; #end</td>
	  <td align="center">#if($m.VDEF2 != "")$m.VDEF2 #else &nbsp; #end</td>
	  <td align="center">#if($m.VDEF9 != "")$m.VDEF9 #else &nbsp; #end</td>
	  <td align="center">#if($m.VDEF12 != "")$m.VDEF12 #else &nbsp; #end</td>
	  <td align="center"><a href="CreateAll"><a href='#' onclick="toedit('CreateAllot.aspx?Id=$m.VDEF17','Y')">编辑</a>&nbsp&nbsp<a href='#' onclick="toedit('VehiclePrint.aspx?Id=$m.VDEF17','Y')">打印</a><!--&nbsp&nbsp<a href='VehicleEnd.aspx?Id=$m.VDEF17' target="dataframe">审核完成</a>--></td>
      </tr>
  #set($i=$i+1)
  #end 
  #if($i == 0)
       <tr>
	   <td colspan="6" align="center">没有记录！！！</td>
       </tr>
  #end
  #end
</table>
<div class="dtree" id="dm_zzjg_tree_layer" style="position: absolute; z-index: 9999; width: 100%; height: 193; display: none" algin="left"> 
    <table width="100%" border="1" cellspacing="0" cellpadding="0" height="100%">
        <tr>
	       <td>
			<IFRAME style="width:100%;height:100%" name="result1" id="result1" marginWidth=0 marginHeight=0 src="CreateAllot.aspx" frameBorder=0 
			width="100%" height="100%" scrolling=auto BORDERCOLOR="#000000" ></IFRAME>
	       </td>
       </tr>
     </table>
</div>
<br>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
