<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script type="text/javascript" src="../../../inc/js/calendarnew.js"></script>
<title>创建派车单</title>
</head>
<script language="javascript">
   function GetDateString(){
      var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	if(document.getElementById('driverTime').value == ""){
           document.getElementById('driverTime').value=Today;
	}
   }
   function todriverprint(j){
        var datahtml = "";
        for(var i = 1; i < j ; i ++){
             datahtml+="<input type='hidden' name='vreceiptcodes' value='"+document.getElementById('vreceiptcode'+i).value+"'>"; 
	}
	subdata.innerHTML=datahtml;
	//document.form1.action="VehiclePrint.aspx?driverno="+$form_driverno;
	document.form1.target="dataframe";
	document.form1.action="VehicleSave.aspx";
	form1.submit();
   }
</script>
<body onload="GetDateString()"><form name="form1" method="post">
<table class="datatable"><input type="hidden" name="driverid" value="$form_driverno"><span id="subdata"></span>
  <tr align="left">
	<td colspan="5">派车单编码：$form_Id</td>
  </tr>
  <tr>
        <td align="right" width="40%">司机：</td>
	<td colspan="4">
	     <select name="drivername">
	     #foreach ($!m in $seldriver)  
                <option value="$m.DRIVERNAME">$m.DRIVERNAME</option>#end</select>
	     车号：<select name="VEHICLENUMBER">
	     #foreach ($!m1 in $seldriverno)  
                <option value="$m1.VEHICLENUMBER">$m1.VEHICLENUMBER</option>
	     #end
	     </select>
	</td>
  </tr>
  <tr>
        <td align="right" width="40%">派车时间：</td>
	<td colspan="4"><input name="driverTime" id="driverTime" type="text" value="" onfocus="calendar()"/></td>
  </tr>
  <tr>
        <td align="right" width="40%">备注：</td>
	<td colspan="4"><input name="remark"  type="text" value=""/></td>
  </tr>
  <br/>
  <br/>
  #set($i=1)
 #if("$form_Id" != '')
  <tr  bgcolor="#80B3B0">
  <td>客户编码</td>
  <td>客户名称</td>
  <td>类型</td>
  <td>数量</td>
  <td>辅数量</td>
  </tr>
  #foreach($!m in $seldriveorderbyidprint)
	<tr><input type="hidden" name="vreceiptcode$i" id="vreceiptcode$i" value="$m.VRECEIPTCODE">
	     <td>$m.CUSTCODE</td>
	     <td>$m.CUSTNAME</td>
	     <td>#if($m.BILLTYPE=='s')订单#else赠品#end</td>
	     <td>$m.NNUMBER</td>
	     <td>$m.NPACKNUMBER</td>
	</tr>
    #set($i = $i+1)
    #end 
    <tr  bgcolor="#80B3B0">
	  <td>存货编码</td>
	  <td>存货名称</td>
	  <td colspan="2">数量</td>
	  <td>辅数量</td>
    </tr>
    #foreach($!m in $seldriveproducts)
	<tr>
            <td>$m.INVCODE</td>
	     <td>$m.INVNAME</td>
	     <td colspan="2">$m.NNUMBER</td>
	     <td>$m.NPACKNUMBER</td>
	</tr>
    #end
    #end
    <td colspan="5" align="center">
      <input type="button" class="bt1" value="上一步" onclick="javascript:history.back(-1)"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="保存/打印派车单" onclick="todriverprint('$i')"/></td>
  </tr>
</table>
</form>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
