<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>创建派车单</title>
</head>
<script language="javascript">
   function tonext(id,j){
       var datahtml = "";
	var m = 0;
	   for(var i = 1;i < j ; i ++){
	       if(document.getElementById("chkbox"+i).value != 'Y'){
		    datahtml+="<input type='hidden' name='vreceiptcodes' value='"+document.getElementById('vreceiptcode'+i).value+"'>"; 
		    m ++;
	       }
	   }
	   if(m == 0){
		document.form1.action = "CreateAllotNext.aspx";
	   }else{
		subdata.innerHTML=datahtml;
	      document.form1.target="dataframe";
	      document.form1.action = "SelectSaleUpdate1.aspx";
	   }
	   form1.submit();
   }
   function toadddanju(url){
	 window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
   }
   function toselected(i){
	if(document.getElementById("chkbox"+i).checked){
	    document.getElementById("chkbox"+i).value = 'Y';
	}else{
	    document.getElementById("chkbox"+i).value = 'N';
	}
   }
</script>
<body>
<form name="form1" method="post">
<span id="subdata"></span>
<table class="datatable">
#if($form_Id != "") 
  <tr align="left">
	<td colspan="8">派车单编码：$form_Id</td><input type="hidden" name="driverno" value="$form_Id"><input type="hidden" name="driverid" value="$form_Id"><input type="hidden" name="Id" value="$form_Id">
  </tr>
  <tr>
  <tr bgcolor="#80B3B0">
	<td></td>
	<td>单据号</td>
	<td>客户编码</td>
	<td>客户名称</td>
	<td>单据日期</td>
	<td>类型</td>
	<td>数量</td>
	<td>辅数量</td>
    </tr>
    #set($i = 1)
    #foreach($!m in $seldriveorderbyidprint)
	<tr><input type="hidden" name="vreceiptcode$i" id="vreceiptcode$i" value="$m.VRECEIPTCODE">
	     <td><input type="checkbox" name="chkbox$i" id="chkbox$i" value="Y" onclick="toselected($i)" checked></td>
	     <td>$m.VRECEIPTCODE</td>
	     <td>$m.CUSTCODE</td>
	     <td>$m.CUSTNAME</td>
	     <td>$m.VDEF12</td>
	     <td>#if($m.BILLTYPE=='s')订单#else赠品#end</td>
	     <td>$m.NNUMBER</td>
	     <td>$m.NPACKNUMBER</td>
	</tr>
    #set($i = $i+1)
    #end 
    <td colspan="8" align="center">
      <input type="button" class="bt1" value="添加单据" onclick="toadddanju('SelectSale.aspx?time=$form_Id')"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="下一步" onclick="tonext('$form_Id','$i')"/></td>
  </tr>
#else  
#foreach ($!m in $seldrivetimenow)
    <tr align="left">
	<td colspan="8">派车单编码：$m.TIME</td><input type="hidden" name="driverno" value="$m.TIME"><input type="hidden" name="driverid" value="$m.TIME"><input type="hidden" name="Id" value="">
  </tr>
  <tr>
    <td colspan="8" align="center">
      <input type="button" class="bt1" value="添加单据" onclick="toadddanju('SelectSale.aspx?time=$m.TIME')"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="下一步" onclick="tonext('$m.TIME',1)"/></td>
  </tr>
  #end
#end
</table>
</form>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
