<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>汽车编号修改</title>
</head>
<script language="javascript">
   function tosave(){
       if(form1.vehiclename.value == ""){
          alert("汽车描述为空");
	  form1.vehiclename.focus();
	  return false;
       }
       if(form1.vehiclenumber.value == ""){
          alert("汽车编号为空");
	  form1.vehiclenumber.focus();
	  return false;
       }
       form1.submit();
   }
</script>
<body>
<form name="form1" action="drivernumbersaveedit.aspx" method="post" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">汽车编号修改
    </td>
  </tr>
  
  #foreach ($!m in $seldrivernobyid) 
     <tr class="trcolor">
	<td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;汽车描述：<input type="text" name="vehiclename" value="$m.VEHICLENAME"></td>
    </tr>
    <tr class="trcolor">
	<td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;汽车编号：<input type="text" name="vehiclenumber" value="$m.VEHICLENUMBER"><input type="hidden" name="id" value="$!form_id"></td>
    </tr>
  #end
  <tr class="trcolor">
    <td colspan="4">
      <input type="button" class="bt1" value="保存" onclick="tosave()"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="返回" onclick="javascript:location.href='DriverControl.aspx'"/></td>
  </tr>
</table>
</form>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
