<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>司机修改</title>
</head>

<body>
<form name="form1" action="driversaveedit.aspx" method="post" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">司机修改
    </td>
  </tr>
  <tr class="trcolor">
  #foreach ($!m in $seldriverbyid)  
	<td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;司机：<input type="text" name="drivername1" value="$m.DRIVERNAME" readonly></td>
  #end
  </tr>
  <tr class="trcolor">
	<td colspan="4">
	    新司机名称：<input type="text" name="drivername"><input type="hidden" name="id" value="$!form_id">
	</td>
  </tr>
  <tr class="trcolor">
    <td colspan="4">
      <input type="submit" class="bt1" value="保存"/>&nbsp;&nbsp;
      <input type="button" name="b3" class="bt1" value="返回" onclick="javascript:location.href='DriverControl.aspx'"/></td>
  </tr>
</table>
</form>
      <div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
