<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>======</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
</head>
<script language="javascript">
var nnumber = 0;
var nnumber1 = 0;
</script>
<body>
<table border="0" cellspacing="0" cellpadding="0" class="datatable">
#foreach($m in $snsendmanagerquerybysendidsb)
<tr class="trcolor">
   <td>派车单号:${m.SENDID}</td>
   <td>物流方:${m.SENDCORPNAME}</td>
   <td>车牌号:$m.DRIVERNUMBER</td>
   <td>联系电话:$m.PHONE</td>
</tr>
<tr class="trcolor">
   <td>单据日期:$m.CREATEDATE</td>
   <td>预约装车时间:$m.ORDERDATE&nbsp;$m.ORDERTIME</td>
   <td>第一装车地点:#if($!m.ADDRESS=="chenzhai")陈砦冷库#elseif($!m.ADDRESS=="sinian")思念冷库#end</td>
   <td>第二装车地点:#if($!m.ADDRESS1=="chenzhai")陈砦冷库#elseif($!m.ADDRESS1=="sinian")思念冷库#end</td>
</tr>
<tr class="trcolor">
   <td>总量:$m.QUANTITY</td>
   <td colspan="3" align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注:#if($m.REMARK!="")$m.REMARK#else&nbsp;#end</td>
</tr>
#end
</table>
<br>
<table border="0" cellspacing="0" cellpadding="0" class="datatable">
  <tr class="trcolor">
    <td height="25" nowrap>订单号</td>
    <td height="25" nowrap>数量</td>
    <td height="25" nowrap>到货地</td>
    <td height="25" nowrap>车型</td>
    <td height="25" nowrap>运输公司</td>
  </tr>
  #foreach($m in $snsendmanagerdquerybysendidsb)
  <tr class="trcolor">
     <td width="20%">$m.ORDERCODE</td>
     <td width="20%">$m.NNUMBER</td>
     <td width="20%">$m.RECEIPTADDRESS</td>
     <td width="20%">$m.DRIVERTYPE</td>
     <td width="20%">$m.DRIVERCORP</td>
  </tr>
  <script>
     nnumber += $m.NNUMBER;
  </script>
  #end
  <tr class="trcolor">
     <td >合计</td>
     <td><script>document.write(nnumber);</script></td>
     <td colspan="3">&nbsp;</td>
  </tr>
</table>
<br>
<table border="0" cellspacing="0" cellpadding="0" class="datatable">
  <tr class="trcolor">
    <td height="25" nowrap>产品编码</td>
    <td height="25" nowrap>产品名称</td>
    <td height="25" nowrap>产品规格</td>
    <td height="25" nowrap>应发数量</td>
    <td height="25" nowrap>仓库</td>
  </tr>
  #foreach($m in $custsendgoodsdetail)
  <tr class="trcolor">
    <td>$m.INVCODE</td>
    <td>$m.INVNAME</td>
    <td>$m.INVSPEC</td>
    <td>$m.NSHOULDOUTNUM</td>
    <td>$m.STORNAME</td>
  </tr>
  <script>
     nnumber1 += $m.NSHOULDOUTNUM;
  </script>
  #end
  <tr class="trcolor">
     <td >合计</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td><script>document.write(nnumber1);</script></td>
     <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td colspan="5"><input type="button" class="bt1" value="返&nbsp;回" onclick="history.back(-1)"></td>
  </tr>
</table>
</body> 
</html>      
