<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='F';
#foreach($m in $testexistdrivercode)
   feenum='$m.FEENUM';
 #end
 if(parseInt(feenum)>0) {
   alert("此单据已经生成派车单，不能修改或删除！");
   parent.submitok=false;
 }else if(feenum=='0'){
   parent.testok11('saleorderdel.aspx?saleorder=$form_saleorder11');
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
	</script>
</head>
<body>
</body>
</html>

