<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===销售计划===</title>
<script language="javascript" src="../../../js/snsendmananger.js"></script>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<script>
var bData1=new Array(); 
bData1=[
      ['订单号0','到货地1','车型2','数量3','运输公司4','包装物5','状态6','nc主键7','0','包装BOMid9','生效日期10','失效日期11','分厂主键12']
 #set($i=1)
 #foreach($m in $ncsaleorderqueryedit)
      ,['$m.SALEORDER','$m.RECEIPTADDRESS','$m.DRIVERTYPE','$m.NNUMBER','$m.SENDCORPNAME','','$m.FLAG.trim()','$m.CSALEID','$i','$m.TAUDITTIME','$m.INVQUANTITY']
   #set($i=$i+1)
 #end
]
var pageSize=50;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function showindow(m,pk_invbasdoc){
	window.open('baozhuang.aspx?pk_invbasdoc='+pk_invbasdoc+'&row='+m,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
}
function openewin(url){
     window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
  }
function toPage(page) 
{
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  if(rdata[(page-1)*pageSize+i][6]=='Y') row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' checked onclick=\"javascript:setStatus("+i+")\">";
	  else{
	     row.insertCell().innerHTML="<input type=checkbox name=checkbox value='checkbox' onclick=\"javascript:setStatus("+i+")\">";
	  }
	  row.insertCell().innerHTML="<a href=\"#\" onclick=\"openewin('snsaleorderquery.aspx?vreceiptcode="+rdata[(page-1)*pageSize+i][0]+"')\">"+rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][10]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerHTML=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][4]
	  SetRowCanEdit(row);
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}


function search()
{
  savepage(pageno);
  pageno=0;
  var m=1;
  var bname=true;
  var badd=true;
  var factory = true;
  var bstatus=true;
  rdata=new Array();
  rdata[0]=bData1[0];
  for(var i=1;i<bData1.length;i++){
    bname=form2.elements[0].value==""?true:(bData1[i][0].indexOf(form2.elements[0].value)>-1);
    badd=form2.elements[1].value==""?true:(bData1[i][4].indexOf(form2.elements[1].value)>-1);
    if(form2.elements[2].value=="O")
        bstatus=bData1[i][6]=='Y';
    else
	bstatus=form2.elements[2].value=="all"?true:(bData1[i][6]==form2.elements[2].value);
    if(bname && badd && bstatus){
       rdata[m]=bData1[i];
	   m++
	}
 }
 toPage(1);
}

function save(step,status)
{
    if(document.form1.orderdate1.value != document.form1.today.value || document.form1.billdate1.value != document.form1.today.value){
       alert("请进入发货调度查询里修改预约日期");
       return false;
    }
	  savepage(pageno);
	  var datahtml="";
	  var datahtml1="";
	  var snbomid = "";
	  var count = 0;
	  if(document.form1.snfirst1.checked == false && document.form1.snfirst2.checked == false){
	     alert("装车顺序不能为空");
	     return false;
	  }
	  if(document.form1.chenzhai.checked == false && document.form1.sinian.checked == false){
	     alert("装车地点不能为空");
	     return false;
	  }
	  if(document.form1.snfirst1.checked == true){
	      if(document.form1.chenzhai.checked == false){
	         alert("请选择陈寨");
		 return false;
	      }else{
	         snaddress1 = "chenzhai";
	      }
	  }else{
	      if(document.form1.chenzhai.checked == true){
                 snaddress2 = "chenzhai";
	      }
	  }
	  if(document.form1.snfirst2.checked == true){
	      if(document.form1.sinian.checked == false){
	         alert("请选择思念");
		 return false;
	      }else{
	         snaddress1 = "sinian";
	      }
	  }else{
	      if(document.form1.sinian.checked == true){
                 snaddress2 = "sinian";
	      }
	  }
	  if(document.form1.billdate1.value == ""){
	        alert("预约装车日期不能为空");
		document.form1.billdate1.focus();
	        return false;
	  }
	  if(document.form1.ordertime.value == ""){
	        alert("预约装车时间不能为空");
		document.form1.ordertime.focus();
	        return false;
	  }else{
	     if(document.form1.ordertime.value.length != 5){
	        alert("预约装车时间格式不正确");
		document.form1.ordertime.select();
	        return false;
	     }
	  }
	  if(document.form1.drivernumber.value == ""){
	        alert("车牌号不能为空");
		document.form1.drivernumber.focus();
	        return false;
	  }
	  if(document.form1.phone.value == ""){
             alert("联系电话不能为空");
             document.form1.phone.focus();
	     return false;
	  }else{
	     if(document.form1.phone.value.length != 11){
	        alert("联系电话格式不正确");
		document.form1.phone.select();
	        return false;
	     }
	  }
	 datahtml+="<input type=hidden name=ordercode value='$form_ordercode'><input type=hidden name=billdate1 value='"+document.form1.billdate1.value+"'><input type=hidden name=ordertime value='"+document.form1.ordertime.value+"'><input type=hidden name=drivernumber value='"+document.form1.drivernumber.value+"'><input type=hidden name=phone value='"+document.form1.phone.value+"'><input type=hidden name=address1 value='"+snaddress1+"'><input type=hidden name=address2 value='"+snaddress2+"'>";
         subdata.innerHTML=datahtml;
	 form_submit.action="yytimefhbsavedit.aspx";
         form_submit.submit();
}

function toselectfirs(row){
   if(row == 1){
      document.form1.snfirst2.checked = false;
   }else  if(row == 2){
      document.form1.snfirst1.checked = false;
   }
}

function savepage(page)
{
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][6]='Y';
      else  rdata[(page-1)*pageSize+i][6]='N';
      bData1[rdata[(page-1)*pageSize+i][8]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function presearch()
{
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj)
{
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
  savepage(pageno);
   var nnum = 0 ;
   var corpname = "";
   var invnum = 0;
   for(var i=0;i<bData1.length;i++){
       if(bData1[i][6]=='Y'){
	   nnum += parseFloat(bData1[i][3]);
	   corpname = bData1[i][4];
	   invnum += parseFloat(bData1[i][10]);
       }
   }
   document.getElementById('allquantity').innerHTML = nnum;
   document.getElementById('sendcorpname').innerHTML = corpname;
   document.getElementById('invquantity').innerHTML = invnum;
}



function setStatus(lineno)
{
   if(document.all.checkbox[lineno].checked){
      document.all.checkbox[lineno].value = 'Y';
   }else{
      document.all.checkbox[lineno].value = 'N';
   }
   savepage(pageno);
   var nnum = 0 ;
   var corpname = "";
   var invnum = 0;
   for(var i=0;i<bData1.length;i++){
       if(bData1[i][6]=='Y'){
	   nnum += parseFloat(bData1[i][3]);
	   corpname = bData1[i][4];
	   invnum += parseFloat(bData1[i][10]);
       }
   }
   document.getElementById('allquantity').innerHTML = nnum;
   document.getElementById('sendcorpname').innerHTML = corpname;
   document.getElementById('invquantity').innerHTML = invnum;
}

function init(){
  form2.elements[2].value='Y';
  search();
}

function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	var v1 = "";
	if(document.getElementById('billdate1').value=="" ){ 
        document.getElementById('billdate1').value=Today;
	}
    }
</script>


<body onload="init()">

<p align="left"><font size="4"><b>车辆分配</b></font>
<br>
<form id="form1" name="form1">
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%">
 #foreach($m in $snsendmanagerquerybysendid)
<tr>
   <td align="left" rowspan="2">物流公司：<span id="sendcorpname">$m.SENDCORPNAME</span></td>
   <td align="left" rowspan="2">车牌号<input type="text" name=drivernumber id=drivernumber size="10" value="$m.DRIVERNUMBER"></td>
   <td align="left"  rowspan="2">联系电话<input type="text" name=phone id=phone size="20" value="$m.PHONE"></td>
   <td align="left"><input type="radio" name="snfirst1" onclick="toselectfirs(1)" #if($m.ADDRESS == 'chenzhai')checked#end>陈寨<input type="checkbox" name="chenzhai" value='checked' #if($m.ADDRESS == 'chenzhai' or $m.ADDRESS1 == 'chenzhai') checked #end>&nbsp;</td>
</tr>
<tr>
   <td align="left"><input type="radio" name="snfirst2" onclick="toselectfirs(2)" #if($m.ADDRESS == 'sinian')checked#end>思念<input type="checkbox" name="sinian" value='sinian' #if($m.ADDRESS == 'sinian' or $m.ADDRESS1 == 'sinian') checked #end></td>
</tr>
<tr>
   <td align="left">预约装车日期<input type="text" name="billdate1" id="billdate1" onclick="ShowDate(billdate1)" style="width:100" value="$m.ORDERDATE"/></td>
   <td align="left">预约装车时间<input type="text" name=ordertime id=ordertime size="10" value="$m.ORDERTIME"></td>
   <td>总量：<span id="allquantity">$m.QUANTITY</span></td>
   <td>单品总数：<span id="invquantity">$m.INVQUANTITY</span></td>
</tr>
<tr>
      <td align="left">车型：
	   <select name="senddrivertype">
	      <option value="$m.DRIVERTYPE">$m.DRIVERTYPE</option>
	  </select>
	   </td>
      <td align="left" colspan="4">备注<textarea  name="remark" style="width: 90%; height: 50px;">$m.REMARK</textarea></td><input type="hidden" name="sendid" value=""><input type="hidden" name="today" value="$m.TODAY"><input type="hidden" name="orderdate1" value="$m.ORDERDATE">
</tr>
#end
</table>
</form>
<div style="width:100%;txt-align:center;border:0 double gray;">
<form id="form2">
订单号：<input type="text" size="16" onkeyup="presearch()"> 
运输公司：<input type="text" size="16" onkeyup="presearch()"> 
状态：<select  onchange="search()">
            <option value='all' selected>全部</option>
	    <option value='N'>未选</option>
	    <option value='Y'>已选</option>
	    <option value='O'>全选</option>
	    </select>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="搜索" onclick="search()">        
</form>
</div>
<!--<div class="mainDiv" id="mdiv"> -->
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr class="fixedHeaderTr1" bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#abcdef" width="7%" Name="st"><input type=checkbox name=checkbox value='checkbox' onclick="seldata(this)">状态</td>
      <td height="19" bgcolor="#abcdef" width="11%" Name="pcode" >订单号</td>
      <td height="19" bgcolor="#abcdef" width="10%" Name="pname11">单品数</td>
      <td height="19" bgcolor="#abcdef" width="10%" Name="pname">数量</td>
      <td height="19" bgcolor="#abcdef" width="10%" Name="pspec" EditType="TextBox" DataType="IntQuantity1">到货地</td>
      <td height="19" bgcolor="#abcdef" width="12%" Name="oldnum">车型</td>
     <td height="19" bgcolor="#abcdef" width="20%" Name="startdate">运输公司</td>
    </tr>
</table>
<!-- </div>-->
<div style="width:100%;txt-align:center;border:0 double gray;">
<input type="button" value=" 提  交 " id="btnSave2">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="login2" value=" 取  消 " name="B222" onClick="javascript:history.back(-1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>

<script language="javascript">
var seleobj;


//单击“提交”按钮
btnSave2.onclick=function()
{
   save(0,'Y');	
}

</script>
<script>
         EditTables(table6);
	 toPage(1);
</script>
<form name="form_submit" method="post" action="" target="saveframe">
<input type="hidden" name="sendid">
<span id="subdata"></span>
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>

</html>

