<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script src="../../inc/js/pubjs.js"></script>
<script src="../../inc/js/preAfter.js"></script>
<link rel='StyleSheet' href='../../js/dtree.css' type='text/css' />
<meta http-equiv="refresh" content="300">
<title>=====</title>
<script language="javascript">
        var num1=0;
	function sub(){
		document.thisform.page.value =1;
		document.thisform.submit();
	}
	 function toadd(url){
	    document.form2.action=url;
	    document.form2.submit();
	 }
	 function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
		   ;
		 else
		   idText.value=reValue;
	    }

	    function todel(url){
	       if(confirm("确认要删除吗？")){
		      document.form2.target="saveframe";
		      document.form2.action=url;
		      document.form2.submit();
	      }
	    }
	    function toprint(url){
	       window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
	    }
	    function GetDateString(){
		var MyDate=new Date();
		var Year=MyDate.getFullYear();
		var MonthNum=MyDate.getMonth();
		var Month;
		if(MonthNum<9){
		    Month="0"+(MonthNum+1);
		}else{
		    Month=MonthNum+1;
		}
		var Day=MyDate.getDate();
		if(Day<=9){
		    Day="0"+Day;
		}
		var sbtoday = "";
		#foreach($m in $querysbyestoday)
		     sbtoday = '$m.TOMOROWDAY'
		#end
		var Today=Year+"-"+Month+"-"+Day;
		var v1 = "$!form_billdate1";
	        var v2 = "$!form_billdate";
		if(v1=="" && v2==""){ 
		document.getElementById('billdate1').value=Today;
		document.getElementById('billdate').value=sbtoday;
		}else{
		document.getElementById('billdate1').value=v1;
		document.getElementById('billdate').value=v2;
		}
	    }
</script>
</head>

<body  onload="GetDateString()">
<form name="thisform" method="post" action="zhuangchestatuscount.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td>单据开始日期</td>
    <td align="left"><input type="text" name="billdate" onclick="ShowDate(billdate)"  value="$!form_billdate" /></td>
    <td>单据结束日期</td>
    <td align="left"><input type="text" name="billdate1" onclick="ShowDate(billdate1)"  value="$!form_billdate1" /></td>
  </tr>
  <tr class="trcolor">
    <td colspan="4"><input type="button" name="b1" class="bt1" value="查  询" onclick="sub()"/></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" cellpadding=0 cellspacing = 0 border = 0 id="tb">
  <tr class="trcolor">
    <td>序号</td>
    <td>装车地点</td>
    <td>装车总量</td>
    <td>到车数量</td>
    <td>正在装车</td>
    <td>装车完毕</td>
  </tr>
  #set($i=1)
  #foreach($!m in $zhxitongsendgoodsstatuscount)
  <tr class="trcolor">
    <td>$i</td>
    <td>#if($!m.ADDRESS=="chenzhai")陈砦#elseif($!m.ADDRESS=="sinian")思念#end</td>
    <td><a href="zhuangchecount.aspx?address=$m.ADDRESS&billdate=$!form_billdate&billdate1=$!form_billdate1">$!m.SCOUNT</a></td>
    <td><a href="zhuangchewait.aspx?address=$m.ADDRESS&billdate=$!form_billdate&billdate1=$!form_billdate1">$!m.NOWWAITNUM</a></td>
    <td><a href="zhuangchebegin.aspx?address=$m.ADDRESS&billdate=$!form_billdate&billdate1=$!form_billdate1">$!m.NOWZHUANGNUM</a></td>
    <td><a href="zhuangcheover.aspx?address=$m.ADDRESS&billdate=$!form_billdate&billdate1=$!form_billdate1">$!m.ZHUANGOVERNUM</a></td>
  </tr>
  #set($i=$i+1)
  #end
  
  #foreach($!m in $senddriverstockcount)
  <tr class="trcolor">
     <td>$i</td>
     <td>派车总量</td>
     <td>#if($m.AA!="")<a href="zhuangcheallcount.aspx?billdate=$!form_billdate&billdate1=$!form_billdate1">$m.AA</a>#else&nbsp;#end</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     #set($i=$i+1)
  <tr>
  <tr class="trcolor">
     <td>$i</td>
     <td>已发车</td>
     <td>#if($m.BB!="")<a href="zhuangcheallcount.aspx?fstatus=A&billdate=$!form_billdate&billdate1=$!form_billdate1">$m.BB</a>#else&nbsp;#end</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     #set($i=$i+1)
  <tr>
  <tr class="trcolor">
     <td>$i</td>
     <td>未发车</td>
     <td>#if($m.CC!="")<a href="zhuangcheallcount.aspx?fstatus1=B&billdate=$!form_billdate&billdate1=$!form_billdate1">$m.CC</a>#else&nbsp;#end</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
  <tr>
  #end
</table>
<form method="post" name="form2">
</form>
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 

marginheight=0 marginwidth=0></iframe>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>