

<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>产品计划中止</title>
</head>
<SCRIPT LANGUAGE="JavaScript">


function fsubmit()
{
   thisform.submit();
}


var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'31';

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
</script>
<body>	
  <form name="thisform" method="post" action="">
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
      <input type="hidden" name="first" value="1">	

		<tr class="search"> 
                      <td class="tdlabel" width="10%">计划月份</td>
		  	<td class="tdinput" width="20%">
                         <input name="billdate" type="text" class="login" id="billdate" value="$!form_billdate" readonly><input type="button" value="↓" onClick="ShowDate(billdate);" class="button" name="button23" >
			</td>
			<td class="tdlabel" width="10%">产品代码</td>
			<td class="tdinput" width="20%">
				<input type="text" name="pcode" value="$!form_pcode">		
			</td>
			
                </tr>
	 
		<tr class="search"> 
			<td class="tdlabel" width="10%">产品分类</td>
			<td class="tdinput" width="20%">
				<input type="text" name="ptypename" value="$!form_ptypename" readonly>
				<input type="hidden" name="ptype" value="$!form_ptype">
				<input type='button' name=bt class='btn' value='选择' onclick="click_on_tree_selector($F('ptypename'),$F('dm_zzjg_tree_layer'))">
				<div class="dtree" id="dm_zzjg_tree_layer" style="position:absolute;width:300px;height:208px;visibility:Hidden;z-index:1"> 
				<table width="100%" border="1" cellspacing="0" cellpadding="0" height="100%"><tr><td>
					<IFRAME style="width:100%;height:100%" name="swjgdm_tree_frame" marginWidth=0 marginHeight=0 src="class_tree.aspx" frameBorder=0 
						width="100%" height="100%" scrolling=auto BORDERCOLOR="#000000" ></IFRAME>
				</td></tr></table>
			        </div>
			        <script>
				   selector_layers[selector_layers.length]=document.all.dm_zzjg_tree_layer;
			        </script>				
			</td>	
			<td class="tdlabel" width="10%">产品名称</td>
			<td class="tdinput" width="20%">
				<input type="text" name="pname" value="$!form_pname">		
			</td>
                </tr>

                <tr>
			
			<td align="center" colspan="4">	
				<input type="button" name="search" class="bt1" value="查询" onclick="fsubmit()">&nbsp;	
			</td>
		</tr>	
		
</table>


 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"  class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
	<td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">产品分类</td>
	<td nowrap="nowrap">产品代码</td>
	<td nowrap="nowrap">产品名称</td>
	<td nowrap="nowrap">月份</td>
        <td nowrap="nowrap">本月计划数量</td>
        <td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $getPlanProductCancel)
  		<tr height="20" class="trcolor">
			<td align="center">$i</td>
			<td align="center" nowrap="nowrap">$m.INVCLASSNAME</td>
			<td align="center" nowrap="nowrap">$m.INVCODE</td>
		        <td align="center" nowrap="nowrap">$m.INVNAME</td>
			<td align="center" nowrap="nowrap">$m.PERIODNO</td>
			<td align="center" nowrap="nowrap">$m.PLANNUM</td>
			<td align="center" nowrap="nowrap">
			 #if($m.STATUS=='N')
			   第$m.NUM次申请,<a href="stopPlanSubmit2.aspx?nc_prod_pk=$m.PK_INVBASDOC&periodno=$m.PERIODNO&status=Y" target='saveframe'>同意</a>&nbsp;&nbsp;
			   <a href="stopPlanSubmit2.aspx?nc_prod_pk=$m.PK_INVBASDOC&periodno=$m.PERIODNO&status=R" target='saveframe'>不同意</a>
			 #else
			   #if($m.STATUS=='Y')
			     已中止
			   #else
			     #if($m.STATUS=='R')
			       被否决
			     #else
			       &nbsp;
			     #end
			   #end
			 #end
			</td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</form>	
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>
</html>
