<html>
<head>
<title>======</title>
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<script src="../../../js/sunnyfunc.js"></script>
<script src="../../../js/string.js"></script>
<script>
var undefined;

function init(){
  //uniteCols(document.all.tb);//执行
}


function setvalue(step,status){
  document.form1.step.value=step;
  document.form1.status.value=status;
  #if($form_step=="")
     document.form1.action="branchfeefinishoksubmit.aspx";
  #else
     document.form1.action="branchfeerequestaudisubmit.aspx";
  #end
  document.form1.submit();
}

</script>

</head>
<body onload="init()">
<br>
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f">&nbsp;&nbsp; <div align="center" class="style1">费用申请表</div></td>
  </tr>
</table>
<table width="90%"  border="0" align="center" cellpadding="0" cellspacing="0">
#foreach($m in $getBranchFeeApply)
<tr><td height="30">申报公司</td><td>$!m.DEPTNAME</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td height="30">费用期间</td><td height="30">$!form_applymonth </td></tr>
#end
</table>

<table id="tb" width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff"  class="datatable">
  <tr class="trtitle" bgcolor="abcdef">
    <th width="8%" height="25" nowrap>文号</th>
    <th width="8%" height="25" nowrap>政策时段</th>
    <th width="8%" height="25" nowrap>政策内容</th>
    <th width="8%" height="25" nowrap>产品类别</th>
    <th width="8%" height="25" nowrap>预算费用</th>
    <th width="8%" height="25" nowrap>申报费用</th>
    <th width="8%" height="25" nowrap>批准费用</th>
    <th width="38%" height="25" nowrap>批准说明</th>
  </tr>
 #set($i=0)
 #foreach($m in $getBranchFeeApply2)
  <tr class="trcolor">
      <td align="center" nowrap>$!m.FILENO</td>
      <td align="center" nowrap>$!m.DIFFTIME</td>
      <td align="center" nowrap>$!m.POLICY</td>
      <td align="center" nowrap>$!m.INVCLASSNAME</td>
        <td align="center" nowrap>$!m.PRE_PRODUCTFEE</td>
        <td align="center" nowrap>$!m.PRE_PRODUCTFEE2</td>
	 <td align="center" nowrap>$!m.PRE_PRODUCTFEE3</td>
	<td align="center" nowrap>$!m.REMARK3 &nbsp;</td>
 </tr>
  #set($i=$i+1)
 #end
 #foreach($m in $getBranchFeeApply)
  <tr class="trcolor">
      <td align="center" nowrap>合计</td>
      <td align="center" nowrap>&nbsp;</td>
      <td align="center" nowrap>&nbsp;</td>
        <td align="center" nowrap>&nbsp;</td>
        <td align="center" nowrap>$!m.PRE_ALLFEE</td>
        <td align="center" nowrap>$!m.PRE_ALLFEE2</td>
	<td align="center" nowrap>$!m.PRE_ALLFEE3</td>
	<td align="center" nowrap>&nbsp;</td>
 </tr>
 #end
  </table>
 <br>
  <div align="center">审核记录</div>
  <table width="90%" border="0" cellspacing="0" cellpadding="0" bgcolor="ffffff"  class="datatable">
  <tr class="trtitle" bgcolor="abcdef">
    <th width="8%" height="25" nowrap>审核时间</th>
    <th width="8%" height="25" nowrap>审核人</th>
    <th width="8%" height="25" nowrap>审核结果</th>
    <th width="58%" height="25" nowrap>审核意见</th>
  </tr>
 #foreach($m in $getAudiRemark)
  <tr class="trcolor">
      <td align="center" nowrap>$!m.AUDIDATE</td>
      <td align="center" nowrap>$!m.NAME</td>
      <td align="center" nowrap><script>'$!m.AUDISTATUS'.toRealText('F','同意','不同意').write()</script></td>
      <td align="center" nowrap>$!m.REMARK &nbsp;</td>
 </tr>
 #end
  </table> 



 <div align="center">
<input type="button" class="login2" value=" 返  回 " name="B222" onClick="javascript:history.go(-1);">
  </div>
<iframe name="dataframe" src="" width="0" height="0"></iframe>

</body> 
</html>      
