<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>======</title>
<script src="../../js/sunnyfunc.js"></script>
<script>

		var now = new Date(); //获取系统日期 
		var yyy ="'"+now.getYear()+"'"; //截取年		
		var yy = yyy.substring(3,5);
		var mon = now.getMonth()+1; //截取月
		var dd = now.getDate(); //截取日
		//取时间 
		var hh = now.getHours(); //截取小时 
		var ss = now.getTime() % 60000; //获取时间，因为系统中时间是以毫秒计算的，所以秒要通过余60000得到。 
		var mil = now.getMilliseconds();//毫秒
		ss= (ss - (ss % 1000)) / 1000; //然后，将得到的毫秒数再处理成秒 
		var clock = yy; //将得到的各个部分连接成一个日期时间 
		if (parseInt(mon) < 10) mon += '0'; //字符串 
		clock += mon;  
		if (parseInt(dd) < 10) dd += '0';  
		clock += dd;
		if (parseInt(hh) < 10) hh += '0';  
		clock += hh; 
		if (parseInt(ss) < 10) ss += '0';  
		clock += ss;
		if (parseInt(mil) < 10){mil += '00';
		}else if(10 <= parseInt(mil) < 100){mil += '0';}
		clock += (mil.substr(0,3));
		var rowlength = new Array();
		rowlength = [['序号','产品','数量']
		#set($i=0)
		#foreach($!m in $selmodstockb)
		,['$i','$!m.ITEMDESC','$m.NNUMBER']
		#set($i=$i+1)
		#end
		]
var bid=0;
var submitok=false;
var ChosedList=new Array();
var header=4;		//定单头的个数
var thisCol=13;	//表单体的列数
var others=0;		//表单中非表单体的控件数
var shworowl = rowlength.length-1;
var thisRow=shworowl;     //初始行数
var submitok=false; //是否已提交
var testRow=-1;     //验证数据行号
var row=thisRow;
var submitfirst=true;
var undefined;
var seleRow=0;
   var datatb;
var data=new Array();//单个记录元素数据数组
   var lingtuo="";
   var treeCol=new Array();
	treeCol = [['库位','已入数量','托数','填写数量']
		#set($i=1)
		#foreach($!m in $selstockunitcode21)
		,['$!m.UNITCODE','$!m.NNUMBER','$!m.UVALUE','0']
		#set($i=$i+1)
		#end
	]
	var treeCol2=new Array();
	treeCol2 = [['库位','已入数量','托数','填写数量','托数']
		#set($i=1)
		#foreach($!m in $selstockunitcode21)
		,['$!m.UNITCODE','$!m.NNUMBER','$!m.UVALUE','0','$!m.DTVALUE']
		#set($i=$i+1)
		#end
	]

//一维数组赋值     
function data1()
{
	var data=new Array()
	args=data1.arguments;
	for(i=0;i<args.length;i++)
	{
	  data[i]=args[i];
	}
	return data;
}
     
//二维数组赋值     
function data2(data)
{
	this.data=data;
}

var bData1=new Array(); 
   data=new data1('产品名称','产品代码','产品规格','产品主键','单托件数');
   bData1[0]=new data2(data);
 #set($i=1)
 #foreach($m in $selstockdesc)
   data=new data1('$m.ITEMDESC','$!m.ITEMCODE','$m.ITEMSPEC','$m.NC_PK','$!m.DTVALUE');
   bData1[$i]=new data2(data);
   #set($i=$i+1)
 #end
/**
*在行上聚焦和失焦
**/
function MouseOver(i){
   for(j=0;j<i.cells.length;j++){
       i.cells[j].style.backgroundColor='#3399FF'; i.cells[j].style.cursor='hand';
   }
}
function MouseOut(i){
   for(j=0;j<i.cells.length;j++){
       i.cells[j].style.backgroundColor='#FFFFFF';
   }
}

function addListener() {
 var inputList = document.body.getElementsByTagName("INPUT");
 if(inputList[0]) firstInput = inputList[0];
    for(var i=0;i<inputList.length;i++) {
      inputList[i].attachEvent ('onfocus', onInputFocus);
   }
}
function onInputFocus(){
     for(i=0;i<dtb.length;i++)
       tb.rows[i*2+2].style.display="none";
}
function addRow() 
{  
     var tempR=document.all.tb.insertRow();
	 tempR.bgcolor="#FFFFFF";
	 var temp1=tempR.insertCell();	
	 var temp2=tempR.insertCell();	
	 var temp3=tempR.insertCell();	
	 var temp4=tempR.insertCell();	
	 var temp5=tempR.insertCell();	
	 var temp6=tempR.insertCell();
	 var temp7=tempR.insertCell();
	 var temp8=tempR.insertCell();
	 var temp9=tempR.insertCell();
	
	temp3.style.display='none';


	 temp1.innerHTML="<input name='F_prodName' id='F_prodName"+row+"' type='text' style='width:150' class='login3' onKeyUp=\"showdata(this,"+row+")\">";   
 	 temp2.innerHTML="<p align=\"center\"><input name='F_invspec' id='F_invspec"+row+"' style='width:100' class='login3' type='text' readonly>";
	 temp3.innerHTML="<p align=\"center\"><input name='F_nc_pk' id='F_nc_pk"+row+"' style='width:100' class='login3' type='hidden' readonly>";
	 temp4.innerHTML="<p align=\"center\"><input type='text' name='unitcode' id='unitcode"+row+"'  onKeyUp=\"checkunit("+row+")\" value='' style='width:100' readonly><input type='button' value='...' onclick=\"showindow("+row+")\">";
	 temp5.innerHTML="<p align=\"center\"><input name='F_batchcode' id='F_batchcode"+row+"' style='width:120' class='login3' type='text'>";
	 temp6.innerHTML="<p align=\"center\"><input name='F_number' id='F_number"+row+"' class='login3' style='width:80' type='text' onblur=\"check("+row+")\"><input name='F_hnumber' id='F_hnumber"+row+"' class='login3' style='width:80' type='hidden'><input name='billno_bid' id='billno_bid"+row+"' type='hidden' value='brk"+clock+row+"'>";
	 temp7.innerHTML="<p align=\"center\"><input name='dantuo' id='dantuo"+row+"' type='test' class='login3' style='width:50' readonly>";
	 temp8.innerHTML="<p align=\"center\"><input name='keru' id='keru"+row+"' type='text' value='' style='width:100' readonly>";
	 temp9.innerHTML="<p align=\"center\"><input name='F_remark' id='F_remark"+row+"' class='login3' style='width:150' type='text'><input name='lt' id='lt"+row+"' type='hidden' class='login3'>";
	 document.form1.elements[row*thisCol+header+2].focus();
	 row=row+1;
     tempR=document.all.tb.insertRow();
     temp1=tempR.insertCell(); 
     temp1.innerHTML="<table id=\"dtb\"></table>";
     temp1.colSpan=8; 
}
function getdata(i,k) { //v6.0
  document.form1.elements[thisCol*k+header+2].value=bData1[i].data[0];
  document.form1.elements[thisCol*k+header+3].value=bData1[i].data[2];
  document.form1.elements[thisCol*k+header+4].value=bData1[i].data[3];
  document.form1.elements[thisCol*k+header+11].value=bData1[i].data[4];
  tb.rows[k*2+2].style.display="none";
  document.form1.elements[k*thisCol+header+2].focus();
}

function hidetr(k) { //v6.0
    tb.rows[k*2+2].style.display="none";
}

function showdata(obj,k)
{
   key=event.keyCode;
   if(key==40)   //向下箭头
   {
      try{
        MouseOut(datatb.rows[seleRow]);
        if(seleRow==(datatb.rows.length-1))
          seleRow=1;
        else
          seleRow++;
        MouseOver(datatb.rows[seleRow]);
      }catch(e){}
   }else if(key==38)   //向上箭头
   {
      try{
        MouseOut(datatb.rows[seleRow]);
        if(seleRow==1)
          seleRow=(datatb.rows.length-1);
        else
          seleRow--;
        MouseOver(datatb.rows[seleRow]);
      }catch(e){}
   }else if(key==13 && tb.rows[k*2+2].style.display!="none")      //回车
   {
     try{
       datatb.rows[seleRow].onclick();
     }catch(e){}
   }
   else{
      var str="";
      var zcode=obj.value;
      var slen=0
      slen=zcode.length;
      var mm=0;
      for(i=0;i<bData1.length;i++)
      {
        if((bData1[i].data[0].indexOf(zcode)>-1) && zcode!="")
        {
             str+="<tr class=\"fCopy\" onMouseOver=\"MouseOut(datatb.rows[seleRow]);seleRow=this.rowIndex;MouseOver(this);\" onMouseOut=\"MouseOut(datatb.rows[seleRow]);seleRow=1;MouseOut(this);\" onclick=\"getdata("+i+","+k+")\"><td>"+bData1[i].data[0]+"</td><td>"+bData1[i].data[1]+"</td><td>"+bData1[i].data[2]+"</td></tr>";
             mm++;
        }
      }
      if(zcode=="")
      {
		//document.form1.elements[k*thisCol+header].value="";
		//document.form1.elements[k*thisCol+header+1].value="";
		//document.form1.elements[k*thisCol+header+3].value="";
		//document.form1.elements[k*thisCol+header+4].value="";
      }
      if(str!=""){
        str="<tr class=\"fCopy\" onclick=\"hidetr("+k+")\"><td>"+bData1[0].data[0]+"</td><td>"+bData1[0].data[1]+"</td><td>"+bData1[0].data[2]+"</td></tr>"+str;
        str="<table id=\"dtb\">"+str+"</table>";
        tb.rows[k*2+2].style.display="";
        tb.rows[k*2+2].cells[0].innerHTML="<span>"+str+"</span>";
        
        datatb=dtb[k];
        try{
          MouseOver(datatb.rows[1]);
        }catch(e){}
        seleRow=1;
      }
      else
        tb.rows[k*2+2].style.display="none";
    }
}
function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
        document.getElementById('instoredate').value=Today;
    }

function init()
{
    GetDateString();
    addListener();
    checknum();
}

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
 function save(status){
 var tab = document.getElementById("tb");
  var hdatahtml="";
	   hdatahtml+="<input type=hidden name=instoredate value='"+document.getElementById('instoredate').value+"'>";
	   hdatahtml+="<input type=hidden name=billtype value='"+document.getElementById('billtype').value+"'>";
	   hdatahtml+="<input type=hidden name=makeuser value='"+document.getElementById('makeuser').value+"'>";
	   hdatahtml+="<input type=hidden name=sourceaddr value='"+document.getElementById('sourceaddr').value+"'>";
	   hdatahtml+="<input type=hidden name=billno value='"+document.getElementById('billno').value+"'>";
	   hdatahtml+="<input type=hidden name=status value='"+status+"'>";

  var datahtml="";
 	for(var i=0;i<tab.rows.length;i++){
		try{
		var a = document.getElementById("F_number"+i).value;
		}catch(e){
		var a="";
		}
		if(a!=""){
		datahtml+="<input type=hidden name=F_prodName value='"+document.getElementById('F_prodName'+i).value+"'>";
		datahtml+="<input type=hidden name=F_invspec value='"+document.getElementById('F_invspec'+i).value+"'>";
		datahtml+="<input type=hidden name=F_nc_pk value='"+document.getElementById('F_nc_pk'+i).value+"'>";
		datahtml+="<input type=hidden name=unitcode value='"+document.getElementById('unitcode'+i).value+"'>";
		datahtml+="<input type=hidden name=F_batchcode value='"+document.getElementById('F_batchcode'+i).value+"'>";
		datahtml+="<input type=hidden name=F_remark value='"+document.getElementById('F_remark'+i).value+"'>";
		datahtml+="<input type=hidden name=billno_bid value='"+document.getElementById('billno_bid'+i).value+"'>";
		datahtml+="<input type=hidden name=F_number value='"+document.getElementById('F_number'+i).value+"'>";
		}
	}
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 subdata.innerHTML=hdatahtml+datahtml;
      document.all.thisform.action="Storeagemodsub.aspx";
      document.all.thisform.submit();
}
function showindow(m){
	var ReturnAllQualityValue=showModalDialog('unitcodemain.aspx?a='+1,"a",'dialogWidth:1000px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px; help:yes;resizable:yes;status:yes');
		if(ReturnAllQualityValue!=null){
			var ReturnAllQualityValueInfo=ReturnAllQualityValue.split("~");
			if(ReturnAllQualityValueInfo.length>1){ 
			   for(i=1;i<ReturnAllQualityValueInfo.length-1;i++){
			   		if(lingtuo!="" && lingtuo.indexOf(("~"+ReturnAllQualityValueInfo[0]+","+ReturnAllQualityValueInfo[2]+"~"))!=-1 && ReturnAllQualityValueInfo[2]==0){
					alert("此库位零托已经占用!");
					return false;
					}else{
				    document.getElementById("unitcode"+m).value=ReturnAllQualityValueInfo[0];
				    document.getElementById("lt"+m).value=ReturnAllQualityValueInfo[2];
				    lingtuo=lingtuo+("~"+ReturnAllQualityValueInfo[0]+","+ReturnAllQualityValueInfo[2]+"~")
				    var nnumber = parseFloat(ReturnAllQualityValueInfo[1]);
				    var bnumber = parseFloat(document.getElementById("dantuo"+m).value);
				    document.getElementById("keru"+m).value=(nnumber*bnumber);
				    }
			   }
			}
		}
	}
function check(x){
	var a = parseInt(document.getElementById("keru"+x).value);
	var b = isNaN(parseFloat(document.getElementById("F_number"+x).value))?0:parseFloat(document.getElementById("F_number"+x).value);
	var c = parseInt(document.getElementById("lt"+x).value);
	var e = parseInt(document.getElementById("dantuo"+x).value);
	var reg = /^(?:0|[1-9][0-9]?|100)$/;
	var d = true;
	var f = document.getElementById("unitcode"+x).value;
	var h = isNaN(parseInt(document.getElementById("F_hnumber"+x).value))?0:parseInt(document.getElementById("F_hnumber"+x).value);
	
	if(h==0){
		var g = a ;
	}else if(h!=0 && a==0 && h>=b ){
		var g = parseInt(h);
	}else if(h!=0 && a==0 && h<b ){
		var g = parseInt(b);
	}else if(h!=0 && a!=0){
		var g = parseInt(a+h);
	}
	if(b!="0" && b!=h ){
		if(c==0){
			if(g<b){
				alert("零托数量输入大于可用数量!");
				document.getElementById("F_number"+x).value="";
				return false;
			}
			
		}else{
			if(g<b || reg.test(b/e) ==false ){
				alert("数量输入大于可用数量或输入数量不是可用数量的整数!");
				document.getElementById("F_number"+x).value="";
				return false;
			}
		}
		 for(var i=1;i<treeCol.length;i++){
			if(f==treeCol[i][0]){
				if(b!=h && h==0 ){
					treeCol[i][3]=parseInt(parseInt(treeCol[i][3])+b);
				}else if(b!=h && h>b){
					treeCol[i][3]=parseInt(parseInt(treeCol[i][3])+(h-b));
				}else if(b!=h && h<b){
					treeCol[i][3]=parseInt(parseInt(treeCol[i][3])+(b-h));
				}else if(b==h && h!=0){
					treeCol[i][3]=parseInt(parseInt(treeCol[i][3]));
				}
					if(parseInt(treeCol[i][3])>g){
						alert("输入数量不能超过可用数量");
						document.getElementById("F_number"+x).value="";
						treeCol[i][3]=parseInt(parseInt(treeCol[i][3])-b);
						//return false;
					}
			}
		}
	}
	document.getElementById("F_hnumber"+x).value=b	
}
	var arraydate = new Array();
	arraydate = [["序号","库位"]
		#set($i=0)
		#foreach($!m in $selunitcode1)
		     ,["$i","$!m.UNITCODE"]
		#set($i=$i+1)
		#end
		     ];
	function checkunit(n){
		var unit =document.getElementById("unitcode"+n).value;
		for(var i=0;i<arraydate.length;i++){
			if(unit==arraydate[i][1]){
				alert("库位正在盘点或者停用");
			}
		}
	}
	function checknum(){
		var tab = document.getElementById("tb");
		for(var i=0;i<tab.rows.length;i++){
			try{
				var b2 = isNaN(parseInt(document.getElementById("F_number"+i).value))?0:parseInt(document.getElementById("F_number"+i).value);
				var f2 = document.getElementById("unitcode"+i).value;
				for(var j=1;j<treeCol2.length;j++){
					if(f2==treeCol2[j][0]){
						treeCol2[j][3]=parseInt(parseInt(treeCol2[j][3])+b2);
							if(treeCol2[j][1]!='0'){
							document.getElementById("keru"+i).value=parseInt(treeCol2[j][2])*parseInt(treeCol2[j][4])-parseInt(treeCol2[j][1])
							}
					}
				}
			if(document.getElementById("unitcode"+i).value==document.getElementById("unitcode"+(i+1)).value){
				document.getElementById("keru"+(i+1)).value=parseInt(parseInt(document.getElementById("keru"+i).value)-parseInt(document.getElementById("F_number"+(i+1)).value));
			}
			}catch(e){}
		}
	}
</script>
<link href="../../../css.css" rel="stylesheet" type="text/css">
</head>
<body onload="init()">
<br>
<table width="700" height="30"  border="0" align="center" cellpadding="0" cellspacing="0" class="B1">
  <tr>
    <td class="f" align="center">产成品入库</td>
  </tr>
</table>
<form name="form1" method='post' action="Storeagesub.aspx">  
<table width="90%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#999999">
  #foreach($!m in $selmodstock)
  <tr bgcolor="#E3E3E3" class="fCopy">
    <td height="24" nowrap><div align="right">入库时间:</div></td>
    <td width="294" height="25" nowrap> 
     <input name="F_dealDate" type="text" class="login" id="instoredate" value="$!m.BILLDATE" readonly>
     <input type="button" value="↓" onClick="ShowDate(F_dealDate);" class="button" name="button23" >*
     <input type="hidden" name="billno" id="billno" value="$!m.BILLNO"></td>
    <td width="140" height="25" nowrap><div align="right">单据类型:</div></td>
    <td width="243" height="25" nowrap> 
<span class="style3 style1">
        <select name="billtype" id="billtype">
         <option value="1" #if($!m.BILLTYPE=='1') selected #else #end>生产入库</option>
         <option value="3" #if($!m.BILLTYPE=='3') selected #else #end>零托退库</option>
	</select>*
      </span></td>
  </tr>
<tr bgcolor="#E3E3E3" class="fCopy">
    <td height="24" nowrap><div align="right">操作人</div></td>
    <td width="294" height="25" nowrap> 
     <input name="makeuser" type="text" class="login" id="makeuser" name="makeuser" value="$!m.MAKEUSER" readonly>*</td>
    <td width="140" height="25" nowrap><div align="right">生产分厂:</div></td>
        <td width="294" height="25" nowrap> 
	 <select id="sourceaddr" name="sourceaddr">
        <option value="1002AV10000000005B1O" #if($!m.PRODUCTIONADDR=="1002AV10000000005B1O") selected #else #end>一生缘厂</option>
	<option value="1002AV1000000000KUFT" #if($!m.PRODUCTIONADDR=="1002AV1000000000KUFT") selected #else #end>瑞香源厂</option>
	<option value="1002AG1000000000034O" #if($!m.PRODUCTIONADDR=="1002AG1000000000034O") selected #else #end>思念一分厂</option>
	<option value="1002AG1000000000034P" #if($!m.PRODUCTIONADDR=="1002AG1000000000034P") selected #else #end>思念二分厂</option>
	<option value="1002AG1000000000034Q" #if($!m.PRODUCTIONADDR=="1002AG1000000000034Q") selected #else #end>思念三分厂</option>
	<option value="1002AG1000000000034R" #if($!m.PRODUCTIONADDR=="1002AG1000000000034R") selected #else #end>思念四分厂</option>
	<option value="1002AG1000000000034S" #if($!m.PRODUCTIONADDR=="1002AG1000000000034S") selected #else #end>思念五分厂</option>
	<option value="1002AG1000000000034U" #if($!m.PRODUCTIONADDR=="1002AG1000000000034U") selected #else #end>遂平分厂</option>
	<option value="1002AG10000000000353" #if($!m.PRODUCTIONADDR=="1002AG10000000000353") selected #else #end>思念六分厂</option>
	<option value="1002AV10000000000U4V" #if($!m.PRODUCTIONADDR=="1002AV10000000000U4V") selected #else #end>龙源厂</option>
	<option value="1002AV10000000000U4W" #if($!m.PRODUCTIONADDR=="1002AV10000000000U4W") selected #else #end>欣朝厂</option>
	<option value="1002AV10000000000U4X" #if($!m.PRODUCTIONADDR=="1002AV10000000000U4X") selected #else #end>思源厂</option>
	<option value="1002AV10000000000U4Y" #if($!m.PRODUCTIONADDR=="1002AV10000000000U4Y") selected #else #end>淇乐多二厂</option>
	<option value="1002AV10000000000U4Z" #if($!m.PRODUCTIONADDR=="1002AV10000000000U4Z") selected #else #end>焦作亨得利</option>
	<option value="1002AV10000000000U50" #if($!m.PRODUCTIONADDR=="1002AV10000000000U50") selected #else #end>园林厂</option>
	<option value="1002AV10000000000U51" #if($!m.PRODUCTIONADDR=="1002AV10000000000U51") selected #else #end>开发区厂</option></select>*</td>
  </tr>
  #end
</table>
<br>

<table id="tb" border="1" align="center" cellpadding="0" cellspacing="1" bordercolor="#D4D0C8" bgcolor="#FFFFFF">
  <tr bgcolor="#E3E3E3" class="fCopy">
    <th width="16%" height="25" nowrap class="fCopy">产品名称</th>
    <th width="8%" height="25" nowrap class="fCopy">产品规格</th>
    <th width="8%" height="25" nowrap class="fCopy" style="display:none">产品主键</th>
    <th width="8%" height="25" nowrap class="fCopy">库位</th>
    <th width="10%" height="25" nowrap class="fCopy">批次</th>
    <th width="10%" height="25" nowrap class="fCopy">数量</th>
    <th width="5%" height="25" nowrap class="fCopy">单托件数</th>
    <th width="10%" height="25" nowrap class="fCopy">剩余可入数量</th>
    <th width="16%" height="25" nowrap class="fCopy">备注</th>
  </tr>  
  #set($i=0)
  #foreach($!m in $selmodstockb)
  <tr bgcolor="#FFFFFF" class="fCopy" id="A0">
     <td align="center" nowrap><input name="F_prodName" id="F_prodName$i" type="text" value="$!m.ITEMDESC"  style="width:150" class='login3' onKeyUp="showdata(this,$i)"></td>
     <td><input name="F_invspec" id="F_invspec$i" type="text" value="$!m.ITEMSPEC"  style="width:100" class='login3' readonly></td>
     <td style="display:none"><input name="F_nc_pk" id="F_nc_pk$i" value="$m.NC_PK" type="hidden" style="width:100" class='login3' readonly></td>
     <td align="center" nowrap><input type="text" name="unitcode" id="unitcode$i" value="$!m.UNITCODE" onKeyUp="checkunit(0)" style="width:100" readonly><input type="button" value="..." onclick="showindow(0)">
      </td>
      <td align="center" nowrap><input name="F_batchcode" id="F_batchcode$i" value="$!m.BATCHCODE" type="text" class="login3" style="width:120" ></td>
        <td align="center" nowrap><input name="F_number" id="F_number$i" value="$!m.NNUMBER" type="text" class="login3" style="width:80" onblur="check($i)"><input name="F_hnumber" id="F_hnumber$i" value="$!m.NNUMBER" type="hidden" class="login3" style="width:80">
	 <input name="billno_bid" id="billno_bid$i" value="$!m.BILLNO_BID" type="hidden"></td>
	<td align="center" nowrap><input name="dantuo" id="dantuo$i" value="$!m.DTVALUE" type="text" class="login3" style="width:50" readonly></td>
	<td align="center" nowrap><input name="keru" id="keru$i" type="text" class="login3" style="width:100" readonly>
		<script>
		var a = parseInt($!m.UVALUE);
		var b = parseInt($!m.NNUMBER); 
		var d = parseInt($!m.DTVALUE); 
		if(b==0){
		document.getElementById("keru$i").value=a*d
		}else{
		document.getElementById("keru$i").value=a*d-b;
		} 
		</script>
	</td>
	<td align="center" nowrap><input name="F_remark" id="F_remark$i" value="$!m.REMARKS" type="text" class="login3" style="width:150">
		<input name="lt" id="lt$i" type="hidden" class="login3" value="$!m.FSTYLE" style="width:150">
	</td>
  </tr>
  <tr><td colspan=8 style="padding:0px" ><table id="dtb"></table></td></tr>
   #set($i=$i+1)
   #end
  </table>
   <div align="center">
  <input type="button" class="login2" value=" 保  存 " name="B22" onclick="save('N')">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="login2" value=" 提  交  " name="B22" onclick="save('Y')">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="login2" value=" 添加行 " name="B222" onClick="addRow();">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="login2" value="返  回" name="B222" onClick="javascript:history.go(-1)">
  </div>
</form>
<form name="thisform" action="" method="post" target="dataframe">
<span id="subdata"></span>
</form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body> 
</html>      
