<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=========</title>
<script language="javascript">
function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
 function a(){
	form2.submit();
 }
 function b(){
	   document.thisform.page.value =1;
		document.thisform.submit();
 }
function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	var v1 = "$!form_billdate1";
	var v2 = "$!form_billdate2";
	if(v1=="" && v2==""){ 
        document.getElementById('billdate1').value=Today;
	document.getElementById('billdate2').value=Today;
	}else{
        document.getElementById('billdate1').value=v1;
	document.getElementById('billdate2').value=v2;
	}
    }
 </script>

</head>

<body onload="GetDateString()">
<form name="thisform" method="post" action="Storagedet.aspx">
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td>制单日期:</td>
    <td align="left"><input type="text" name="billdate1" id="billdate1" value="$!form_billdate1" onclick="ShowDate(billdate1)"/>-<input type="text" name="billdate2" id="billdate2" value="$!form_billdate2" onclick="ShowDate(billdate2)"/></td>
    <td>单据号:</td>
    <td align="left"><input type="text" name="billno" value="$!form_billno"/></td>
  </tr>
    <tr class="trcolor">
    <td>制单人:</td>
    <td align="left"><input type="text" name="makeuser" id="makeuser" value="$!form_makeuser"/></td>
    <td>来源厂:</td>
    <td align="left"> <select id="sourceaddr" name="sourceaddr">
        <option value="">全部</option>
	<option value="1002AV10000000005B1O" #if($!form_sourceaddr=="1002AV10000000005B1O") selected #else #end>一生缘厂</option>
	<option value="1002AV1000000000KUFT" #if($!form_sourceaddr=="1002AV1000000000KUFT") selected #else #end>瑞香源厂</option>
	<option value="1002AG1000000000034O" #if($!form_sourceaddr=="1002AG1000000000034O") selected #else #end>思念一分厂</option>
	<option value="1002AG1000000000034P" #if($!form_sourceaddr=="1002AG1000000000034P") selected #else #end>思念二分厂</option>
	<option value="1002AG1000000000034Q" #if($!form_sourceaddr=="1002AG1000000000034Q") selected #else #end>思念三分厂</option>
	<option value="1002AG1000000000034R" #if($!form_sourceaddr=="1002AG1000000000034R") selected #else #end>思念四分厂</option>
	<option value="1002AG1000000000034S" #if($!form_sourceaddr=="1002AG1000000000034S") selected #else #end>思念五分厂</option>
	<option value="1002AG1000000000034U" #if($!form_sourceaddr=="1002AG1000000000034U") selected #else #end>遂平分厂</option>
	<option value="1002AG10000000000353" #if($!form_sourceaddr=="1002AG10000000000353") selected #else #end>思念六分厂</option>
	<option value="1002AV10000000000U4V" #if($!form_sourceaddr=="1002AV10000000000U4V") selected #else #end>龙源厂</option>
	<option value="1002AV10000000000U4W" #if($!form_sourceaddr=="1002AV10000000000U4W") selected #else #end>欣朝厂</option>
	<option value="1002AV10000000000U4X" #if($!form_sourceaddr=="1002AV10000000000U4X") selected #else #end>思源厂</option>
	<option value="1002AV10000000000U4Y" #if($!form_sourceaddr=="1002AV10000000000U4Y") selected #else #end>淇乐多二厂</option>
	<option value="1002AV10000000000U4Z" #if($!form_sourceaddr=="1002AV10000000000U4Z") selected #else #end>焦作亨得利</option>
	<option value="1002AV10000000000U50" #if($!form_sourceaddr=="1002AV10000000000U50") selected #else #end>园林厂</option>
	<option value="1002AV10000000000U51" #if($!form_sourceaddr=="1002AV10000000000U51") selected #else #end>开发区厂</option></select></td>
  </td>
  </tr>
  <tr class="trcolor">
    <td>产品名称:</td>
    <td align="left"><input type="text" name="invname" id="invname" value="$!form_invname"/></td>
    <td>&nbsp;</td>
    <td align="left">&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td>&nbsp;</td>
    <td><input type="button" name="b1" class="bt1" value="查&nbsp;询" onclick="b()"/></td>
    <td>&nbsp;</td>
    <td><input type="button" name="b2" class="bt1" value="新&nbsp;建" onclick="a()"/></td>
  </tr>
</table>
</form>
<br>
<table class="datatable">
  <tr class="trcolor">
    <td>单据号</td>
    <td>单据类型</td>
    <td>制单日期</td>
    <td>来源厂</td>
    <td>制单人</td>
    <td>操作</td>
  </tr>
    #set($i=0)
    #foreach($!m in $selstockins)
	  <tr class="trcolor">
	    <td>$!m.BILLNO</td>
	    <td>#if($!m.BILLTYPE=='1')产成品入库
		#else 零托退库
		#end
	    </td>
	    <td>$!m.BILLDATE</td>
	    <td>$!m.DEPTNAME</td>
	    <td>$!m.MAKEUSER</td>
	    <td>#if($!m.STATUS=="N")<a href="Storeagemod.aspx?billno=$!m.BILLNO">修改</a>&nbsp;&nbsp;<a href="Storeagedel.aspx?billno=$!m.BILLNO" target="dataframe">删除</a> &nbsp;&nbsp;  #else <a href="Storeagesee.aspx?billno=$!m.BILLNO">查看</a> #end </td>
	  </tr>
    #set($i=$i+1)
    #end
     <tr >
        <td class="tdlabel" colspan="6">$pagecode</td>
   </tr>
</table>
<form action="Storage.aspx" method="post" name="form2">
<input type="hidden" name="sourceaddr2" value="">
</form>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
