<html>
<head>
<title>系统操作结果</title>
<script type="text/javascript">
var bData1=new Array(); 
bData1=[
      ['产品代码0','产品名称1','产品规格2','库存量3','应发数量4','转入数量5','状态6','0','产品主键8','库位9','批次号10','FSTYLE11','nobillno12','DTVALUE13','UVALUE14','bxunitcode15','退库数量16']
 #set($i=1)
 #foreach($m in $stockmoveinqtck)
      ,['$m.ITEMCODE','$m.ITEMDESC','$m.ITEMSPEC',$m.NNUMBER,'0','0','N','$i','$m.NC_PROD_PK','$m.UNITCODE','$m.BATCHCODE','#if($m.FSTYLE=='0')<font color="red">零托</font>#else整托#end','',$m.DTVALUE,$m.UVALUE,'',0]
   #set($i=$i+1)
 #end
]
/* var feenum='F';
 #foreach($m in $stockmoveinqtck)
   feenum='$m.CTS';
 #end
 if(parseInt(feenum)> 1) { 
   alert("该销售出库单只能回流2次！");
   parent.submitok=false;
 }else if(feenum=='0' || feenum=='1'){
   parent.testok();
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 } */
	</script>
</head>
<body>
</body>
</html>
