<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta name="GENERATOR" content="Microsoft FrontPage 4.0">
<meta name="ProgId" content="FrontPage.Editor.Document">
<script language="javaScript" src="../../../js/common.js"></script>
<script language="javaScript" src="../../../js/funbase.js"></script>
<script language="JavaScript" src="../../../js/sunnysoft.js"></script>
<script language="JavaScript" src="../../../js/sunnyfunc.js"></script>
<script language="JavaScript" src="../../../js/browers.js"></script>
<script language="JavaScript" src="../../../js/formCheck.js"></script>
<title>===出库明细===</title>
<style type="text/css">
<!--
body,div,p,ul,li,font,span,td,th{
font-size:10pt;
line-height:155%;
}
table{
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 0px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: none;
border-left-style: solid;
border-top-color: #CCCCCC;
border-right-color: #CCCCCC;
border-bottom-color: #CCCCCC;
border-left-color: #CCCCCC;
}
td{
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #CCCCCC;
}
.EditCell_TextBox {
width: 90%;
border:1px solid #0099CC;
}
.EditCell_DropDownList {
width: 90%;
}
.dirty-cell {
    background: transparent url(../../../images/dirty.gif) no-repeat 0 0;
}
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>

</head>
<script>
//width:expression(document.body.clientWidth-20);  
var rdata=new Array(); 
rdata=[
      ['产品代码','产品名称','产品规格','本月计划']
 #set($i=1)
 #foreach($m in $seloutstockquantitydetail)
      ,['$m.INVCODE','$m.INVNAME','$m.INVSPEC','$m.NNUMBER','$m.AREACODE','$m.PATHCODE','$m.LAYERCODE']
   #set($i=$i+1)
 #end
]
var pageSize=50;
var pageno=0;

function toPage2() 
{
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page) 
{
try{
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][4]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][5]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][6]
    }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}

function init()     
{  
   toPage(1);
}
function toprint(url){
   window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
}
</script>


<body>

<p align="left"><font size="4"><b>$form_vbillcode出库明细</b></font>
<br>
<table  border="0" cellpadding="0" cellspacing="2" width="100%"  id="table1">
    <tr>
      <td height="19" width="10%">产品编码</td>
      <td height="19" width="30%">产品名称</td>
      <td height="19" width="10%">产品规格</td>
      <td height="19" width="10%">应发数量</td>
      <td height="19" width="10%">已发数量</td> 
      <td height="19" width="10%">剩余数量</td>
    </tr>
    #foreach($m in $queryoutstockstate)
	<tr>
	    <td>$m.INVCODE</td>
	    <td>$m.INVNAME</td>
	    <td>$m.INVSPEC</td>
	    <td>$m.NSHOULDOUTNUM</td>
	    <td>$m.YFNNUMBER</td>
	    <td>$m.NOUTNUM</td>
	</tr>
    #end
    </table>  
<br>
<!--<div class="mainDiv" id="mdiv"> -->
<table  class="datatable" border="0" cellpadding="0" frame="box" cellspacing="2" width="100%" id="table6">
    <tr bgcolor="#EFEFEF" id="ftr">
      <td height="19" bgcolor="#EFEFEF" width="15%" Name="pcode" >产品代码</td>
      <td height="19" bgcolor="#EFEFEF" width="23%" Name="pname">产品名称</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec">产品规格</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec1">批次</td>
      #if($form_billtype == "1")
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="costp" EditType="TextBox" DataType="Int">入库数量</td>
      #elseif($form_billtype == "2")
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="costp" EditType="TextBox" DataType="Int">出库数量</td>
      #elseif($form_billtype == "3")
       <td height="19" bgcolor="#EFEFEF" width="9%" Name="costp" EditType="TextBox" DataType="Int">退货数量</td>
      #end
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec">所属区域</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec">巷道</td>
      <td height="19" bgcolor="#EFEFEF" width="9%" Name="pspec">第几层</td>
    </tr>
    #set($i=1) 
    #foreach($m in $seloutstockquantitydetail)
      <tr>
	  <td>$m.INVCODE</td>
	  <td>$m.INVNAME</td>
	  <td>$m.INVSPEC</td>
	  <td>$m.BATCHCODE</td>
	  <td>$m.NNUMBER</td>
	  <td>$m.AREACODE</td>
	  <td>$m.PATHCODE</td>
	  <td>$m.LAYERCODE</td>
      </tr>
   #set($i=$i+1)
 #end
 #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
 #end
#foreach($x in $seloutstockquantitydetailsum)
     <tr height="20">
     <td colspan="4">合计</td>
     <td>$x.NNUMBER</td>
     <td colspan="3"></td>
     </tr>
     #end
 <tr >
        <td align="right" colspan="8">$pagecode</td>
   </tr>
</table>
 <!--</div>-->
 <div style="width:100%;txt-align:center;border:0 double gray;">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#if($form_upstatus == 'Y')#if($form_vbillcode.indexOf('hlth') != -1)<input type="button" class="login2" value=" 打  印 " name="B222" onClick="toprint('outstockdetailprint1.aspx?cgeneralhid=$form_cgeneralhid&custname=$form_custname')">#else<input type="button" class="login2" value=" 打  印 " name="B222" onClick="toprint('outstockdetailprint.aspx?cgeneralhid=$form_cgeneralhid&billno=$form_billno&custname=$form_custname')">#end#end&nbsp;&nbsp;<input type="button" class="login2" value=" 返  回 " name="B222" onClick="javascript:history.back(-1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
</body>

</html>

