<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
<script language="javascript">
function ButtonSelectOk(){
    var TableList=document.getElementById("TableList");
    var ReturnStr="";
    var ax = 0;
    for(var i=1;i<TableList.rows.length-2;i++){
        var Checkbox=document.getElementById("Checkbox"+(i-1));
        var unitcode=document.getElementById("unitcode"+(i-1));
        if(Checkbox.checked){
	   ax ++;
           ReturnStr=unitcode.value;
        }
    }
    if(ax == 0){
	alert("请选择一个库位");
	return false;
    }
    window.returnValue=ReturnStr;
    window.close();
}
function okup(i){
    window.returnValue=document.getElementById("unitcode"+i).value;
    window.close();
}
</script>
</head>

<body>
<form name="form1" method="post" action="">
<table class="datatable" id="TableList">
  <tr class="trcolor">
    <td colspan="7" align="left">详细信息</td>
  </tr>
   <tr class="trcolor">
    <td>选择</td>
    <td>库位代码</td>
    <td>所处区域</td>
    <td>所处甬道</td>
    <td>所处层</td>
    <td>库位类型</td>
  </tr>
  #set($i=0)
  #foreach($!m in $wselstockunitcode1)
  <tr class="trcolor">
    <td><input type="checkbox" id='Checkbox$i' value="$!m.UNITCODE" onclick="okup($i)"/></td>
    <td><input type="text" name="unitcode" id="unitcode$i" value="$!m.UNITCODE" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="areacode" value="$!m.AREACODE" style="overflow-x:visible;width:60;" readonly><input type="hidden" name="invcode" value="$!m.INVCODE" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="pathcode" value="$!m.PATHCODE" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="layercode" value="$!m.LAYERCODE" style="overflow-x:visible;width:60;" readonly></td>
    <td><input type="text" name="fstyle" value=" #if($!m.FSTYLE==0) 零托 #else 整托 #end" style="overflow-x:visible;width:60;" readonly></td>
  </tr>
#set($i=$i+1)
#end
  <tr class="trcolor">
    <td colspan="7"><input type="button" name="button"  class="bt1" value="确定提交" onclick="ButtonSelectOk()"/></td>
  </tr>
</table>
</form>
</body>
</html>
