<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <title>======</title>
    <link href="../../../js/ZhrCss.css" rel="stylesheet" type="text/css" />

    <script src="../../../js/sunnyfunc.js"></script>

    <script>
var submitok=false;
var ChosedList=new Array();
var header=12;		//定单头的个数
var thisCol=6;	//表单体的列数
var others=0;		//表单中非表单体的控件数
var thisRow=10;     //初始行数
var submitok=false; //是否已提交
var testRow=-1;     //验证数据行号
var row=thisRow;
var submitfirst=true;
var undefined;
var seleRow=0;
   var datatb;
var data=new Array();//单个记录元素数据数组
//一维数组赋值     
function data1()
{
	var data=new Array()
	args=data1.arguments;
	for(i=0;i<args.length;i++)
	{
	  data[i]=args[i];
	}
	return data;
}
     
//二维数组赋值     
function data2(data)
{
	this.data=data;
}

var bData1=new Array(); 
   data=new data1('产品主键','产品类别','类别代码');
   bData1[0]=new data2(data);
 #set($i=1)
 #foreach($m in $getProductClass)
   data=new data1('$m.PK_INVCL','$m.INVCLASSNAME','$m.INVCLASSCODE');
   bData1[$i]=new data2(data);
   #set($i=$i+1)
 #end

/**
*在行上聚焦和失焦
**/
function MouseOver(i){
   for(j=0;j<i.cells.length;j++){
       i.cells[j].style.backgroundColor='#e9e9e9'; i.cells[j].style.cursor='hand';
   }
}
function MouseOut(i){
   for(j=0;j<i.cells.length;j++){
       i.cells[j].style.backgroundColor='#FFFFFF';
   }
}

function addListener() {
 var inputList = document.body.getElementsByTagName("INPUT");
 if(inputList[0]) firstInput = inputList[0];
    for(var i=0;i<inputList.length;i++) {
      inputList[i].attachEvent ('onfocus', onInputFocus);
   }
}

function onInputFocus(){
     for(i=0;i<dtb.length;i++)
       tb.rows[i*2+2].style.display="none";
}


function addRow() 
{  
     var tempR=document.all.tb.insertRow();
	 tempR.bgcolor="#FFFFFF";
	 var temp1=tempR.insertCell();	
	 var temp2=tempR.insertCell();	
	 var temp3=tempR.insertCell();
	 var temp4=tempR.insertCell();
	 var temp5=tempR.insertCell();	

	temp1.innerHTML="<input name='F_prodName' type='text' style='width:150' class='login3' onKeyUp=\"showdata(this,"+row+")\"><input name=\"F_prodpk\" type=\"hidden\" value=\"\">";   
	 temp2.innerHTML="<p align=\"center\"><input name='F_pfee' class='login3' type='text' onKeyUp=\"toNext("+row+")\" >(元)";
	 temp3.innerHTML="<p align=\"center\"><select name=\"F_deptbear\">#foreach($m in $ZhrGetTypeFeiYongChengDan) #if($m.ID!=20091014132015001) <option value=\"$m.ID\">$m.TYPENAME</option> #end #end <option value=\"20091014132015001\" selected>区域承担&nbsp;</option></select>";
	 temp4.innerHTML="<p align=\"center\"><select name=\"F_deptsubject\" onchange=\"allfee2()\"><option value=\"20091014132016001\" selected>产品费用 特价费</option>#foreach($m in $ZhrGetTypeFeiYongKeMu) #if($m.ID!=20091014132016001) <option value=\"$m.ID\">$m.TYPENAME</option> #end #end </select>";
	 temp5.innerHTML="<p align=\"center\"><input name='F_pmemo' class='login3' style='width:100%;' type='text' onKeyUp=\"toNext("+row+")\">";
    
     document.form1.elements[row*thisCol+header].focus();
	 row=row+1;
     tempR=document.all.tb.insertRow();
     temp1=tempR.insertCell(); 
     temp1.innerHTML="<table id=\"dtb\"></table>";
     temp1.colSpan=8; 
}

function getdata(i,k) { //v6.0
  document.form1.elements[thisCol*k+header].value=bData1[i].data[1];
  document.form1.elements[thisCol*k+header+1].value=bData1[i].data[0];
  tb.rows[k*2+2].style.display="none";
  document.form1.elements[k*thisCol+header+2].focus();
  //
  allfee();
}

function hidetr(k) { //v6.0
    tb.rows[k*2+2].style.display="none";
}


function showdata(obj,k)
{
   key=event.keyCode;
   if(key==40)   //向下箭头
   {
      try{
        MouseOut(datatb.rows[seleRow]);
        if(seleRow==(datatb.rows.length-1))
          seleRow=1;
        else
          seleRow++;
        MouseOver(datatb.rows[seleRow]);
      }catch(e){}
   }else if(key==38)   //向上箭头
   {
      try{
        MouseOut(datatb.rows[seleRow]);
        if(seleRow==1)
          seleRow=(datatb.rows.length-1);
        else
          seleRow--;
        MouseOver(datatb.rows[seleRow]);
      }catch(e){}
   }
   else if(key==13 && tb.rows[k*2+2].style.display!="none")      //回车
   {
     try{
       datatb.rows[seleRow].onclick();
     }catch(e){}
   }
   else{
      var str="";
      var zcode=obj.value;
      var slen=0
      slen=zcode.length;
      var mm=0;
      for(i=0;i<bData1.length;i++)
      {
        if((bData1[i].data[1].indexOf(zcode)>-1) && zcode!="")
        {
             str+="<tr class=\"fCopy\" onMouseOver=\"MouseOut(datatb.rows[seleRow]);seleRow=this.rowIndex;MouseOver(this);\" onMouseOut=\"MouseOut(datatb.rows[seleRow]);seleRow=1;MouseOut(this);\" onclick=\"getdata("+i+","+k+")\"><td>"+bData1[i].data[0]+"</td><td>"+bData1[i].data[1]+"</td><td>"+bData1[i].data[2]+"</td></tr>";
             mm++;
        }
      }
      if(zcode=="")
      {
		//document.form1.elements[k*thisCol+header].value="";
		document.form1.elements[k*thisCol+header+3].value="";
		document.form1.elements[k*thisCol+header+5].value="";
		allfee();
      }
      if(str!="")
      {
        str="<tr class=\"fCopy\" onclick=\"hidetr("+k+")\"><td>"+bData1[0].data[0]+"</td><td>"+bData1[0].data[1]+"</td><td>"+bData1[0].data[2]+"</td></tr>"+str;
        str="<table class='List' id=\"dtb\">"+str+"</table>";
        tb.rows[k*2+2].style.display="";
        tb.rows[k*2+2].cells[0].innerHTML="<span>"+str+"</span>";
        
        datatb=dtb[k];
        try{
          MouseOver(datatb.rows[1]);
        }catch(e){}
        seleRow=1;
      }
      else
        tb.rows[k*2+2].style.display="none";
    }
}

function init()
{
    addListener();
}

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }
 function VerifyNum(obj){
    if(isNaN(obj.value))
           { 
              alert("输入必须为数字");
              obj.value="0";
           } 
           if(obj.value==""){
           obj.value="0";
           }
 }
function toNext(i)
{
   var elms=event.srcElement;
   key=event.keyCode;
   if(key==13)   //回车
   {
      if(elms.name=="F_prodName")
        document.form1.F_pfee[i].focus(); 
      else if(elms.name=="F_pfee")
        document.form1.F_pmemo[i].focus(); 
      else if(elms.name=="F_pmemo")
      {
        if(i<(row-1))
          document.form1.elements[(i+1)*thisCol+header].focus();
        else
          addRow();
      }
   }else{
      if(elms.name=="F_pfee"){
	   if(isNaN(elms.value))
           { 
              alert("费用必须为数字");
              return;
           } 
	   else
               allfee();
	      allfee2();
      }
   }
}

function allfee() 
{
   var afee=0;
   var pfee=0;
   if(row==0){
	if(form1.F_pfee.value!=""){
         if(!isNaN(form1.F_pfee.value)){
	  pfee=pfee+parseFloat(form1.F_pfee.value);
	}
     }
   }else{
   for(i=0;i<row;i++){
	     if(form1.F_pfee[i].value!=""){
		if(!isNaN(form1.F_pfee[i].value)){
		  pfee=pfee+parseFloat(form1.F_pfee[i].value);
		}
	     }
	   } 
   }
   afee=afee+pfee;
   document.all.HeJi.innerText=afee;
   form1.F_allfee2.value=afee;
}

function allfee2() 
{
    var afee=0;
   var pfee=0;
   if(row==0){
   	     if(form1.F_pfee.value!=""){
		if(!isNaN(form1.F_pfee.value)&&(form1.F_deptsubject.value=="20091014132016001"||form1.F_deptsubject.value=="20091014132016002")){
		  pfee=pfee+parseFloat(form1.F_pfee.value);
		}
	     }
   }else{
	   for(i=0;i<row;i++){
		     if(form1.F_pfee[i].value!=""){
			if(!isNaN(form1.F_pfee[i].value)&&(form1.F_deptsubject[i].value=="20091014132016001"||form1.F_deptsubject[i].value=="20091014132016002")){
			  pfee=pfee+parseFloat(form1.F_pfee[i].value);
			}
		     }
		}
   }
   document.all.ChanPinFee.innerText=pfee;
   form1.F_prodfee.value=pfee;
}

function spellStr() 
{
    if(this.form1.F_custpk.value==""){
       alert("请选择客户！！！");
       return false;
    }
    if(this.form1.F_dealDate.value==""){
       alert("申请时间不能为空！！！");
       return false;
    }
    if(this.form1.F_SaleAim.value==""){
       this.form1.F_SaleAim.value=0;
    }
    if(this.form1.F_ReceivalAim.value==""){
       this.form1.F_ReceivalAim.value=0;
    }
    if(this.form1.F_OrtherAim.value==""){
       this.form1.F_OrtherAim.value=0;
    }
//    if(this.form1.F_endfee.value==""){
//       //alert("终端费用不能为空！！！");
//       //return false;
//       this.form1.F_endfee.value=0;
//    }
//    if(this.form1.F_returnfee.value==""){
//       this.form1.F_returnfee.value=0;
//    }
//          var reg = /^(\d{1,4})(-|\/)(\d{1,2})\2(\d{1,2})$/; 
//          var r = this.form1.F_dealDate.value.match(reg); 
//            if(r==null)return false; 
//	  this.form1.F_month.value=r[1]+"-"+r[3];

          //if(r[3].substring(0,1)=='0') r[3]=r[3].substring(1,2);
          /*if(r[1]<top.frames[4].lyear || (r[1]==top.frames[4].lyear && r[3]<top.frames[4].lmonth))
          {
             alert(r[1]+"年"+r[3]+"月已封帐！");
             return;
          }*/
          
   var str="";
   var spell_sql="";
//   var f_id="F"+getTimeStr();
//   this.form1.F_id.value=f_id;

   var b_sql="";
       for(i=0;i<row;i++){
		if(row>1){
			    if(form1.F_pfee[i].value=="") form1.F_pfee[i].value=0;
			    if(form1.F_prodpk[i].value=="") form1.F_prodpk[i].value=i;
			    if(form1.F_prodpk[i].value!="" && form1.F_pfee[i].value!=""){
			       if(str.indexOf("!"+this.form1.F_prodpk[i].value+"A"+this.form1.F_deptbear[i].value+"A"+this.form1.F_deptsubject[i].value)!=-1){
					alert("费用重复！！！");
					document.form1.elements[i*thisCol+header+3].value="";
					document.form1.elements[i*thisCol+header+5].value="";
					return false;
			       }

			       if(isNaN(form1.F_pfee[i].value))
			       { 
				  alert("费用必须为数字");
				  form1.F_pfee[i].focus();
				  return;
			       }  
			       
			       b_sql="have";
			       str=str+"!"+this.form1.F_prodpk[i].value+"A"+this.form1.F_deptbear[i].value+"A"+this.form1.F_deptsubject.value;
			    }
		    }else{
			    if(form1.F_pfee.value=="") form1.F_pfee.value=0;
			    if(form1.F_prodpk.value=="") form1.F_prodpk.value=0;
			    if(form1.F_prodpk.value!="" && form1.F_pfee.value!=""){
			       if(str.indexOf("!"+this.form1.F_prodpk.value+"A"+this.form1.F_deptbear.value+"A"+this.form1.F_deptsubject.value)!=-1){
					alert("费用重复！！！");
					document.form1.elements[i*thisCol+header+3].value="";
					document.form1.elements[i*thisCol+header+5].value="";
					return false;
			       }

			       if(isNaN(form1.F_pfee.value))
			       { 
				  alert("费用必须为数字");
				  form1.F_pfee.focus();
				  return;
			       }  
			       
			       b_sql="have";
			       str=str+"!"+this.form1.F_prodpk.value+"A"+this.form1.F_deptbear.value+"A"+this.form1.F_deptsubject.value;
			    }
		}
        }
        /*if(b_sql==""){
          alert("您没有录入费用，请录入！！！");
              return false;
        }*/
      allfee();
      //this.form1.action='areafeeapply_test.aspx';
      this.form1.action='BudgetAuthorizeRequestApplyAddSubmitSavedate2.aspx';
      //
      this.form1.target='dataframe';
      if(!submitok)
      {
	  submitok=true;
          this.form1.submit();
      }else{
          alert("请不要确认两次！");
          return;
      }
}

/**
*返回时间字符串
**/
function getTimeStr()     
{  
   var str="";
   var date = new Date();
   var field="";
   str= date.getFullYear()+"";
   field=(date.getMonth()+1);
   if(date.getMonth()<9){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   field= date.getDate();
   if(date.getDate()<10){
	   str = str+"0"+field;
   }else{
	   str = str+field;
   }
   str= str+""+date.getHours()+""+date.getMinutes()+""+date.getSeconds();
   return str;  
}

    </script>

    <link href="../../../css.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form name="form1" method='post' action="">
    <div class="Main">
        <div class="CaptionTxt">
            客户费用申请表</div>
        <table class="List" width="100%">
            <tr>
                <th colspan="6">
                    客户费用申请表
		</th>
            </tr>
            #foreach($m in $ZhrGetFeeApplyInfoHead)
	    <input type="hidden" name="step" value="$!m.STEP">
            <tr>
                <td width="60">
                    申请时间
                </td>
                <td width="140">
                    <input name="F_dealDate" type="text" class="login" id="F_dealDate" value="$!m.APPLYMONTH"
                        readonly>
                </td>
                <td width="60">
                    客户名称
                </td>
                <td colspan="3">
                    <select name="F_custpk">
                        <option value='$m.NC_CUST_PK'>$m.CUSTNAME</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="60">
                    销售目标
                </td>
                <td>
                    <input name="F_SaleAim" type="text" id="F_SaleAim" value="$!m.PRE_SALEAIM" onblur="VerifyNum(this);"
                        onkeyup="allfee()">(件)
                </td>
                <td width="60">
                    应收目标
                </td>
                <td>
                    <input name="F_ReceivalAim" type="text" id="F_ReceivalAim" value="$!m.PRE_RECEVALAIM"
                        onblur="VerifyNum(this);" onkeyup="allfee()">(件)
                </td>
                <td width="60">
                    其它目标
                </td>
                <td>
                    <input name="F_OrtherAim" type="text" id="F_OrtherAim" value="$!m.PRE_ORTHERAIM"
                        onblur="VerifyNum(this);" onkeyup="allfee()">(件)
                </td>
            </tr>
            <tr>
                <td width="60">
                    填报说明：
                </td>
                <td colspan="5">
                    <textarea name="F_memo" id="F_memo" class='FontInfo' readonly="true">1、申报产品费用时请选择相关"产品类别"中的产品内容；
2、申报终端费用时"产品类别"则无需选择，直接在费用说明直接填列。</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    预算合计
                </td>
                <td>
                    <font id="HeJi" name="HeJi">$!m.PRE_ALLFEE</font>(元)
                </td>
                <td>
                    产品预算合计
                </td>
                <td colspan="3">
                    <font id="ChanPinFee" name="ChanPinFee">$!m.PRE_PRODFEE</font>(元)
                </td>
            </tr>
            <input name="F_month" type="hidden" value='$!m.APPLYMONTH'><input name="F_id" type="hidden"
                value='$!m.FEEID'>
            <input name="F_prodfee" type="hidden" value='$!m.PRE_PRODFEE'><input name="F_allfee2"
                type="hidden" value='$!m.PRE_ALLFEE'>
            #end
            <!--
        <tr id="corptr" bgcolor="#ffffff">
            <td colspan="8" style="padding: 0px">
                <table id="corpdtb">
                </table>
            </td>
        </tr>
        <tr>
            <td width="140" height="25" nowrap>
                <div align="right">
                    预算终端费用：</div>
            </td>
            <td width="243" height="25" nowrap>
                <div align="left">
                    <input name="F_endfee" type="text" class="login" id="F_endfee" style="width: 200"
                        value="" onkeyup="allfee()">(元)*
                </div>
            </td>
            <td width="140" height="25" nowrap>
                <div align="right">
                    预算返利：</div>
            </td>
            <td width="243" height="25" nowrap>
                <div align="left">
                    <input name="F_returnfee" type="text" class="login" id="F_returnfee" style="width: 200"
                        value="" onkeyup="allfee()">(元)
                </div>
            </td>
        </tr>
        <tr>
            <td width="140" height="25" nowrap>
                <div align="right">
                    预算产品费用：</div>
            </td>
            <td width="243" height="25" nowrap>
                <div align="left" id="F_allprodfee">
                    0</div>(元)
            </td>
            <td width="140" height="25" nowrap>
                <div align="right">
                    预算费用合计：</div>
            </td>
            <td width="243" height="25" nowrap>
                <div align="left" id="F_allfee">
                    0</div>(元)
            </td>
        </tr>
        <tr>
            <td height="51%" nowrap>
                <div align="right">
                    预算备注：</div>
            </td>
            <td height="60" colspan="3" nowrap>
                <textarea name="F_memo" cols="80" rows="2"></textarea>
            </td>
        </tr>
        -->
        </table>
	 <input type="hidden" name="areacode" value="$!form_areacode">
        <table id="tb" class="List">
            <tr>
                <th width="16%" height="25" nowrap>
                    产品类别
                </th>
                <th width="10%" height="25" nowrap>
                    预算费用金额
                </th>
                <th width="10%" height="25" nowrap>
                    费用承担部门
                </th>
                <th width="10%" height="25" nowrap>
                    费用科目
                </th>
		<th height="25" nowrap>
                    备注
                </th>
            </tr>
            #set($i=0) #foreach($m in $ZhrGetFeeApplyInfoBody2)
            <tr bgcolor="#FFFFFF">
                <td align="center" nowrap>
                    <input name="F_prodName" type="text" value="$!m.INVCLASSNAME" style="width: 150px"
                        class='login3' onkeyup="showdata(this,$i)"><input name="F_prodpk" type="hidden" value="$!m.PRODUCT_CLS_CODE">
                </td>
                <td align="center" nowrap>
                    <input name="F_pfee" type="text" class="login3" onkeyup="toNext($i)" value="$!m.PRE_PRODFEE">(元)
                </td>
                <td align="center" nowrap>
                    <select name="F_deptbear">
                        #foreach($n in $ZhrGetTypeFeiYongChengDan)
                        <option value="$n.ID" #if($n.ID==$m.DEPETBEAR) selected #end>$n.TYPENAME</option>
                        #end
                    </select>
                </td>
                <td align="center" nowrap>
                    <select name="F_deptsubject" onchange="allfee2()">             
                        #foreach($n in $ZhrGetTypeFeiYongKeMu)
                        <option value="$n.ID" #if($n.ID==$m.DEPETSUBJECT) selected #end>$n.TYPENAME</option>
                        #end
		    </select>
                </td>
		<td align="center" nowrap>
                    <input name="F_pmemo" type="text" class="login3" style="width: 100%;" onkeyup="toNext($i)"
                        value="$m.REMARK">
                </td>
            </tr>
            <tr>
                <td colspan="8" style="padding: 0px">
                    <table id="dtb">
                    </table>
                </td>
            </tr>
	    <script>thisRow=$i+1; row=$i+1;</script>
	     #set($i=$i+1)
            #end
	  <input type="hidden" name="status" value="$!form_status">
        </table>
        <div align="center">
            <input type="button" class="login2" value=" 保  存 " name="B22" onclick="spellStr();">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="login2" value=" 添加行 " name="B222" onclick="addRow();">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="login2" value=" 关  闭 " name="B222" onclick="javascript:location.href='BudgetAuthorizeRequestAuditDetail.aspx?applymonth=$!form_applymonth&areacode=$!form_areacode&status=$!form_status&step=$!form_step'">
        </div>
    </div>
    </form>
    <iframe name="dataframe" src="" width="0" height="0"></iframe>
</body>
</html>
