<html>
<head>
    <title>======</title>
    <link rel="stylesheet" type="text/css" href="../../../js/ZhrCss.css">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">

    <script src="../../../js/sunnyfunc.js"></script>

    <script src="../../../js/string.js"></script>

    <script>
var undefined;

function showtr(k,obj) { //v6.0
  if(obj.innerText=="查看"){
    obj.innerText="隐藏"
    tb.rows[k*2+2].style.display="";
  }else{
    obj.innerText="查看"
    tb.rows[k*2+2].style.display="none";
  }
}

function init(){
     if(dtb.length==undefined){
       tb.rows[2].style.display="none";
     }else{
       for(i=0;i<dtb.length;i++)
         tb.rows[i*2+2].style.display="none";
     }
}

    </script>

</head>
<body onload="init()">
    <div class="Main">
        <div class="CaptionTxt">
            客户费用申请表</div>
        <%--    <table width="90%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="30" class="fCopy" id="help">
            </td>
        </tr>
    </table>--%>
        <table id="tb" class="List">
            <tr class="trtitle" bgcolor="abcdef">
                <th width="8%" height="25">
                    预算时间
                </th>
                <th width="18%" height="25">
                    客户名称
                </th>
                <th width="8%" height="25">
                    目前状态
                </th>
                <th width="8%" height="25">
                    销售目标
                </th>
                <th width="8%" height="25">
                    应收目标
                </th>
                <th width="8%" height="25">
                    其它目标
                </th>
                <th width="8%" height="25">
                    产品费用预算
                </th>
                <th width="8%" height="25">
                    费用预算合计
                </th>
                <th height="25">
                    备注
                </th>
                <th width="50" height="25">
                    操作
                </th>
            </tr>
            #set($i=0) #foreach($m in $ZhrFeeApplyCustDetail)
            <tr class="trcolor4">
                <td align="center">
                    $!m.APPLYMONTH
                </td>
                <td align="center">
                    $!m.CUSTNAME
                </td>
                <td align="center">

                    <script>'$!m.STATUS'.toRealText('F','待报','被退回').write()</script>

                </td>
                <td align="center">
                    $!m.PRE_SALEAIM
                </td>
                <td align="center">
                    $!m.PRE_RECEVALAIM
                </td>
                <td align="center">
                    $!m.PRE_ORTHERAIM
                </td>
                <td align="center">
                    $!m.PRE_PRODFEE
                </td>
                <td align="center">
                    $!m.PRE_ALLFEE
                </td>
                <td align="center">
                    <a style="cursor: hand" onclick="showtr($i,this)">查看</a>
                </td>
                <td align="center">
                    <a href="BudgetAuthorizeRequestApplyEdit.aspx?applymonth=$!m.APPLYMONTH&custpk=$!m.NC_CUST_PK">
                        修改</a>
                    <%--<a href="listareafeeapplycustdetail.aspx?applymonth=$!m.APPLYMONTH&custpk=$!m.NC_CUST_PK&step=0">明细</a>--%>
                </td>
            </tr>
            <tr class="trcolor4">
                <td colspan="10" style="padding: 0px" id="dtb">
                    $!m.REMARK &nbsp;
                </td>
            </tr>
            #set($i=$i+1) #end
        </table>
        <form name="form1" method='post' action="BudgetAuthorizeRequestApplySubmit.aspx"
        target="dataframe">
        <input name="applymonth" type="hidden" value="$!form_applymonth">
        <input name="username" type="hidden" value="$!form_username">
        </form>
        <div align="center">
            <input type="button" class="login2" value=" 申  报 " name="B22" onclick="javascript:this.document.form1.submit()">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="login2" value=" 返  回 " name="B222" onclick="javascript:window.location='BudgetAuthorizeRequestApply.aspx'">
        </div>
        <iframe name="dataframe" src="" width="0" height="0"></iframe>
    </div>
</body>
</html>
