<?xml version="1.0" encoding='gb2312'?>
<ufinterface  billtype="23" filename="23.xml" isexchange="Y" proc="add" receiver="A371" replace="Y" roottag="" sender="synear" subbilltype="">
    <bill id="">
        <billhead>
            <carriveorderid></carriveorderid>
            <cbiztype>$!form_cbiztype</cbiztype>
            <cbilltype>23</cbilltype> 
            <pk_corp>$!form_pk_corp</pk_corp>
            <pk_purcorp>$!form_pk_corp</pk_purcorp>
            <varrordercode></varrordercode>
            <dreceivedate>2010-07-01</dreceivedate>
            <bisback>N</bisback>
            <ibillstatus>10</ibillstatus>
            <cvendorbaseid>$!form_cvendorbaseid</cvendorbaseid>
            <cvendormangid>$!form_cvendormangid</cvendormangid>
            <cemployeeid>$!form_cemployeeid</cemployeeid>
            <cdeptid>$!form_cdeptid</cdeptid>
            <coperator>$!form_coperator</coperator>
            <cuserid>$!form_coperator</cuserid>
            <coperatoridnow>$!form_coperator</coperatoridnow>
            <creceivepsn></creceivepsn>
            <cstoreorganization>$!form_cstoreorganization</cstoreorganization>
            <ctransmodeid>$!form_ctransmodeid</ctransmodeid>
            <vbackreasonh></vbackreasonh>
            <tlastmaketime></tlastmaketime>
            <tmaketime></tmaketime>
            <taudittime></taudittime>
            <cauditpsn></cauditpsn>
            <dauditdate></dauditdate>
            <caccountyear>$!form_caccountyear</caccountyear>
            <cfreecustid></cfreecustid>
            <vdef1></vdef1>
            <vdef10></vdef10>
            <vdef11></vdef11>
            <vdef12></vdef12>
            <vdef13></vdef13>
            <vdef14></vdef14>
            <vdef15></vdef15>
            <vdef16></vdef16>
            <vdef17></vdef17>
            <vdef18></vdef18>
            <vdef19></vdef19>
            <vdef2></vdef2>
            <vdef20></vdef20>
            <vdef3></vdef3>
            <vdef4></vdef4>
            <vdef5></vdef5>
            <vdef6></vdef6>
            <vdef7></vdef7>
            <vdef8></vdef8>
            <vdef9></vdef9>
            <PKDefDoc1></PKDefDoc1>
            <PKDefDoc10></PKDefDoc10>
            <PKDefDoc11></PKDefDoc11>
            <PKDefDoc12></PKDefDoc12>
            <PKDefDoc13></PKDefDoc13>
            <PKDefDoc14></PKDefDoc14>
            <PKDefDoc15></PKDefDoc15>
            <PKDefDoc16></PKDefDoc16>
            <PKDefDoc17></PKDefDoc17>
            <PKDefDoc18></PKDefDoc18>
            <PKDefDoc19></PKDefDoc19>
            <PKDefDoc2></PKDefDoc2>
            <PKDefDoc20></PKDefDoc20>
            <PKDefDoc3></PKDefDoc3>
            <PKDefDoc4></PKDefDoc4>
            <PKDefDoc5></PKDefDoc5>
            <PKDefDoc6></PKDefDoc6>
            <PKDefDoc7></PKDefDoc7>
            <PKDefDoc8></PKDefDoc8>
            <PKDefDoc9></PKDefDoc9>
            <vmemo></vmemo>
        </billhead>
        <billbody>
		            #foreach($m in $rsform)
            <entry>
                <pk_corp>$!form_pk_corp</pk_corp>
                <crowno>$!m.crowno</crowno>
                <blargess>N</blargess>
                <blargessuprow>N</blargessuprow>
                <carriveorder_bid></carriveorder_bid>
                <carriveorderid></carriveorderid>
                <csourcebilltype></csourcebilltype>
                <cupsourcebilltype>21</cupsourcebilltype>
                <corderid>$!m.corderid</corderid>
                <csourcebillid></csourcebillid>
                <cupsourcebillid>$!m.corderid</cupsourcebillid>
                <corder_bid>$!m.corder_bid</corder_bid>
                <csourcebillrowid></csourcebillrowid>
                <cupsourcebillrowid>$!m.corder_bid</cupsourcebillrowid>
                <corder_bb1id></corder_bb1id>
                <cbaseid>$!m.cbaseid</cbaseid>
                <cmangid>$!m.cmangid</cmangid>
                <narrvnum>$!m.narrvnum</narrvnum>
                <npresentnum></npresentnum>
                <cassistunit></cassistunit>
                <nassistnum></nassistnum>
                <npresentassistnum></npresentassistnum>
                <cwarehouseid>$!m.cwarehouseid</cwarehouseid>
                <dproducedate>$!m.dproducedate</dproducedate>
                <dvaliddate>$!m.dvaliddate</dvaliddate>
                <ivalidday>$!m.ivalidday</ivalidday>
                <vproducenum></vproducenum>
                <cprojectid></cprojectid>
                <cprojectphaseid></cprojectphaseid>
                <pk_creqwareid></pk_creqwareid>
                <pk_reqstoorg></pk_reqstoorg>
                <pk_reqcorp>$!form_pk_corp</pk_reqcorp>
                <pk_invoicecorp>$!form_pk_corp</pk_invoicecorp>
                <vbackreasonb></vbackreasonb>
                <nwastnum></nwastnum>
                <nwastassistnum></nwastassistnum>
                <naccumwarehousenum>0</naccumwarehousenum>
                <nprice>$!m.nprice</nprice>
                <nmoney>$!m.nmoney</nmoney>
                <vdef1></vdef1>
                <vdef10></vdef10>
                <vdef11></vdef11>
                <vdef12></vdef12>
                <vdef13></vdef13>
                <vdef14></vdef14>
                <vdef15></vdef15>
                <vdef16></vdef16>
                <vdef17></vdef17>
                <vdef18></vdef18>
                <vdef19></vdef19>
                <vdef2></vdef2>
                <vdef20></vdef20>
                <vdef3></vdef3>
                <vdef4>$!m.vdef4</vdef4>
                <vdef5></vdef5>
                <vdef6></vdef6>
                <vdef7></vdef7>
                <vdef8></vdef8>
                <vdef9></vdef9>
                <vfree1></vfree1>
                <vfree2></vfree2>
                <vfree3></vfree3>
                <vfree4></vfree4>
                <vfree5></vfree5>
                <PKDefDoc1></PKDefDoc1>
                <PKDefDoc10></PKDefDoc10>
                <PKDefDoc11></PKDefDoc11>
                <PKDefDoc12></PKDefDoc12>
                <PKDefDoc13></PKDefDoc13>
                <PKDefDoc14></PKDefDoc14>
                <PKDefDoc15></PKDefDoc15>
                <PKDefDoc16></PKDefDoc16>
                <PKDefDoc17></PKDefDoc17>
                <PKDefDoc18></PKDefDoc18>
                <PKDefDoc19></PKDefDoc19>
                <PKDefDoc2></PKDefDoc2>
                <PKDefDoc20></PKDefDoc20>
                <PKDefDoc3></PKDefDoc3>
                <PKDefDoc4></PKDefDoc4>
                <PKDefDoc5></PKDefDoc5>
                <PKDefDoc6></PKDefDoc6>
                <PKDefDoc7></PKDefDoc7>
                <PKDefDoc8></PKDefDoc8>
                <PKDefDoc9></PKDefDoc9>
                <vmemo></vmemo>
            </entry>
	#end
        </billbody>
    </bill>
</ufinterface>
