<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>供应商用户信息管理</title>
<script language="javascript">
	 function sub(){
	   document.thisform.page.value =1;
	   document.thisform.submit();
	} 
</script>
</head>

<body>
<form name="thisform" action="CustInfo.aspx" method="post">
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td>用户名(拼音):</td>
    <td align="left"><input type="text" name="username" value="$!form_username" /></td>
    <td>用户姓名:</td>
    <td align="left"><input type="text" name="name" value="$!form_name" /></td>
  </tr>
  <tr class="trcolor">
    <td>角色:</td>
    <td align="left"><select name="roleid">
	<option value="">请选择角色</option>
	#set($i=0)
	#foreach($!m in $selcustrole)
	<option value="$!m.ROLEID" #if($!m.ROLEID=="$!form_roleid") selected #end>$!m.ROLENAME</option>
	#set($i=$i+1)
	#end
      </select></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td><input type="button" name="b1" class="bt1" value="查&nbsp;&nbsp;询" onclick="sub()" /></td>
    <td>&nbsp;</td>
    <td><input type="button" name="b2" class="bt1" value="提&nbsp;&nbsp;交" /></td>
    <td>&nbsp;</td>
  </tr>
</table>
<form>
<br>
<table class="datatable">
  <tr class="trcolor">
    <td>序号</td>
    <td>用户名(拼音)</td>
    <td>用户姓名</td>
    <td>角色</td>
    <td>操作</td>
  </tr>
  #set($i=1)
  #foreach($!m in $selcustinfo)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.USERNAME</td>
    <td>$!m.NAME</td>
    <td>$!m.ROLENAME</td>
    <td><a href="#">删除</a>&nbsp;&nbsp;<a href="#">修改</a>&nbsp;&nbsp;<a href="#">查看权限</a>&nbsp;&nbsp;<a href="#">分配角色</a></td>
  </tr>
  #set($i=$i+1)
  #end
     <tr >
        <td class="tdlabel" colspan="5">$pagecode</td>
   </tr>
</table>
</body>
</html>
