<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>企业往来对账单</title>
<script language="javascript">
   var num1=0;
   var num2=0;
   var num3=0;
   var num4=0;
   var weikaimoney = 0;
   var remark = "";
   var resultype = "";
   var thismonth = "";
   var monthlast = "";
   function toadd(url){
       document.form1.action=url;
       document.all.form1.target="saveframe";
       document.form1.submit();
   }
   function testok2(){
	document.thisform.action="addaccount.aspx?pk_corp=1020";
	document.thisform.submit();
   }
   function toedit(url){
       document.form1.action=url;
       document.all.form1.target="saveframe";
       document.form1.submit();
   }
   function testok(){
	document.thisform.action="editaccount.aspx?pk_corp=1020";
	document.thisform.submit();
   }
    function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue.substring(0,7);
	 }
   function printpr1(){
	oldhtml=window.document.body.innerHTML;
        bdhtml=window.document.body.innerHTML;
        sprnstr="<!--startprint1-->";
        eprnstr="<!--endprint1-->";
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+18);
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));
        window.document.body.innerHTML=prnhtml;
        window.print();
        window.document.body.innerHTML=oldhtml; 
   }
   function Subtr(arg1,arg2){
     var r1,r2,m,n;
     try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0}
     try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0}
     m=Math.pow(10,Math.max(r1,r2));
     n=(r1>=r2)?r1:r2;
     return ((arg1*m-arg2*m)/m).toFixed(n);
 } 
 function accAdd(arg1,arg2){ 
	var r1,r2,m; 
	try{r1=arg1.toString().split(".")[1].length}catch(e){r1=0} 
	try{r2=arg2.toString().split(".")[1].length}catch(e){r2=0} 
	m=Math.pow(10,Math.max(r1,r2)) 
	return (arg1*m+arg2*m)/m 
 } 
</script>
</head>
<body>
<form name="form1" method="post">
<OBJECT ID="WebBrowser" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></OBJECT>
#if($session_USERNAME.substring(0,2) == '81' or $session_USERNAME.substring(0,2) == '82')
<input onClick="toadd('testaccount.aspx?pk_corp=1020')" type=button value=添加 class="bt1">&nbsp;&nbsp;<input onClick="toedit('testaccount1.aspx?pk_corp=1020')" type=button value=修改 class="bt1">&nbsp;&nbsp;
#else
<input onClick="toadd('testaccount2.aspx?pk_corp=1020')" type=button value=添加 class="bt1">&nbsp;&nbsp;<input onClick="toedit('testaccount3.aspx?pk_corp=1020')" type=button value=修改 class="bt1">&nbsp;&nbsp;
#end <input type="button" class="bt1" value="打印单据" onclick="printpr1();">&nbsp;&nbsp;<input name=Button onClick="document.all.WebBrowser.ExecWB(8,1)" type=button value=页面设置 class="bt1">
</form>
<form name="thisform" method="post" action="enteraccounthz.aspx">
<table class="datatable">
	<tr class="trcolor">
		<td>查询月份</td>
		<td align="left"><input type="text" name="accountime" id="accountime" value="$!form_accountime" onclick="ShowDate(this)"></td>
	</tr>
	<tr class="trcolor">
		<td>&nbsp;</td>
		<td align="left"><input type="submit" name="button" class="bt1" value="查&nbsp;&nbsp;询"></td>
	</tr>
</table>
</form>
#if($session_USERNAME.substring(0,2) == '81' or $session_USERNAME.substring(0,2) == '82' or $session_USERNAME.substring(0,2) == '75' or $session_USERNAME.substring(0,2) == '76' or $session_USERNAME.substring(0,2) == '77' or $session_USERNAME.substring(0,2) == '78')
供应商对账上传时间为每月11日前，财务第一轮审核为12-13号下班前，14号为对账结果供应商复核时间、最后一次修改时间，15号为财务确认修改结果，超过当日工作时间财务不予确认。重点申明，严格按规定时间操作。
#else
供应商对账上传时间为每月15日前，财务第一轮审核为16-17号下班前，18号为对账结果供应商复核时间、最后一次修改时间，19号为财务确认修改结果，超过当日工作时间财务不予确认。重点申明，严格按规定时间操作。
#end
<!--startprint1-->
<p><h3 align="center">企业往来对账单</h1></p>
<table class="datatable" border=0 cellpadding=0 cellspacing=0>
#set($j = 0 )
#foreach($!m1 in $selenteraccounthz)
  <tr align="center">
    <td width="20%">公司名称：</td>
    <td colspan="4" width="40%">#if($m1.CUSTNAME != "")$m1.CUSTNAME#else&nbsp;#end</td>
  </tr>
  <tr align="center">
    <td width="20%">对账时间：</td>
    <td colspan="4" width="40%">#if($m1.YEAR != "")$m1.YEAR$m1.MONTHNAME#else&nbsp;#end</td>
  </tr>
  <tr  align="center">
    <td width="20%">&nbsp;&nbsp;$m1.MONTHNAME初期初余额：</td>
    <td colspan="4" width="40%">#if($m1.BALANCE != "")$m1.BALANCE#else&nbsp;#end</td>
  </tr>
  <script>
weikaimoney = $m1.MONEY;
remark = '$m1.REMARK';
resultype = '$m1.RESULTYPE';
thismonth = '$m1.MONTHNAME';
monthlast = '$m1.MONTHNAME'+'$m1.DAYNAME';
  </script>
  <tr  align="center">
    <td colspan="3"><script>document.write(thismonth);</script>发货明细</td>
    <td colspan="2"><script>
	    document.write(thismonth);
	  </script>收款额</td>
  </tr>
  <tr  align="center">
    <td>存货名称</td>
    <td width="10%">数量</td>
    <td width="10%">含税金额</td>
    <td width="10%">日期</td>
    <td width="10%">金额</td>
  </tr>
  #set($i=1)
  #foreach($!m in $selenteraccountdetailhz)
  <tr align="center">
    <td>$m.INVNAME</td>
    <td width="10%">$m.QUANTITY</td>
    <td width="10%">$m.TAXMONEY</td>
    <td width="10%">$m.GETMONEYDATE&nbsp;</td>
    <td width="10%">$m.GETMONEY</td>
  </tr>
  #set($i=$i+1)
  <script>
	num1=accAdd(num1,$m.QUANTITY);
	num2=accAdd(num2,$m.TAXMONEY);
	num3=accAdd(num3,$m.GETMONEY);
   </script>
  #end
  <tr align="center">
    <td>合计</td>
    <td width="10%">
        <script>
	    document.write(num1);
	  </script></td>
    <td width="10%">
    <script>
	    document.write(num2);
	  </script></td>
    <td width="10%">&nbsp;</td>
    <td width="10%">
    <script>
	    document.write(num3);
	  </script></td>
  </tr>
  <tr align="center">
    <td><script>document.write(thismonth);</script>期末余额</td>
    <td width="10%"><script>
	     document.write(Subtr($m1.BALANCE,Subtr(num3,num2)));
	  </script></td>
    <td width="10%">&nbsp;</td>
    <td width="10%">对账结果</td>
    <td width="10%"><script>
	    if(resultype != ""){
		if(resultype == "0"){
		   document.write("<font color='red'>不符</font>");
		}else if(resultype == "1"){
		   document.write("相符");
		}
	    }
	  </script>&nbsp;</td>
  </tr>
  <tr align="center">
    <td>截止<script>document.write(monthlast);</script>未开发票金额</td>
    <td width="10%"><script>
	    document.write(weikaimoney);
	  </script></td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
  </tr>
  <tr align="center">
    <td>供应商备注</td>
    <td colspan="4" align="left">$!m1.VENDORREMARK&nbsp;</td>
  </tr>
   <tr align="center">
    <td>财务备注</td>
    <td colspan="4" align="left"><script>
	  document.write(remark);
	  </script>&nbsp;</td>
  </tr>
  #set($j = $j + 1 )
  #end 
  #if($j == 0 )
  #foreach($!m2 in $selenteraccountdate)
    <tr align="center">
    <td width="20%">公司名称：</td>
    <td colspan="4" width="40%">&nbsp;</td>
  </tr>
  <tr align="center">
    <td width="20%">对账时间：</td>
    <td colspan="4" width="40%">#if($m2.YEAR != "")$m2.YEAR$m2.MONTHNAME#else&nbsp;#end</td>
  </tr>
  <tr  align="center">
    <td width="20%">&nbsp;&nbsp;$m2.MONTHNAME.trim()初期初余额：</td>
    <td colspan="4" width="40%">&nbsp;</td>
  </tr>
  <tr  align="center">
    <td colspan="3">$m2.MONTHNAME.trim()发货明细</td>
    <td colspan="2">$m2.MONTHNAME.trim()收款额</td>
  </tr>
  <tr  align="center">
    <td>存货名称</td>
    <td width="10%">数量</td>
    <td width="10%">含税金额</td>
    <td width="10%">日期</td>
    <td width="10%">金额</td>
  </tr>
  <tr align="center">
    <td>&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
  </tr>
  <tr align="center">
    <td>合计</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
  </tr>
  <tr align="center">
    <td>$m2.MONTHNAME.trim()期末余额</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">对账结果</td>
    <td width="10%">&nbsp;</td>
  </tr>
  <tr align="center">
    <td>截止$m2.MONTHNAME.trim()$m2.DAYNAME未开发票金额</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
    <td width="10%">&nbsp;</td>
  </tr>
  <tr align="center">
    <td>供应商备注</td>
    <td colspan="4" align="left">&nbsp;</td>
  </tr>
  <tr align="center">
    <td>财务备注</td>
    <td colspan="4" align="left">&nbsp;</td>
  </tr>
  #end
  #end
</table>

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size:12px">公司签章：</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font style="font-size:12px">日期：</font>
<!--endprint1-->
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>
</html>