<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<title>产品考核类型修改</title>
</head>

<body>
<form name="thisform" action="updateproductexaminesub.aspx" method="post" target="dataframe">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="2" align="left">产品考核类型修改</td>
  </tr>
  <tr class="trcolor">
    <td>原质量问题</td>
    <td><input type="text" name="oldtxt" value="$!form_txt" readonly/>
	<input type="hidden" name="id" value="$!form_id"/>
    </td>
  </tr>
  <tr class="trcolor">
    <td>新质量问题</td>
    <td><input type="text" name="newtxt" value=""/></td>
  </tr>
  <tr class="trcolor">
    <td><input type="submit" class="bt1" name="b1" value="确认提交" /></td>
    <td><input type="button" class="bt1" name="b2" value="返&nbsp;&nbsp;回" onclick="javascript:history.go(-1)"/></td>
  </tr>
</table>
</form>
</div>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</div>
</body>
</html>
