<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=======</title>
</head>

<body>
<table class="datatable" id="table1" border="1">
  <tr class="trcolor">
    <td>供应商名字</td>
    <td>供应商编码</td>
    <td>产品编码</td>
    <td>产品名字</td>
    <td>订单号</td>
    <td>订单数量</td>
    <td>到货日期</td>
    <td>到货单号</td>
    <td>到货数量</td>
    <td>入库数量</td>
  </tr>
  #set($i=0)
  #foreach($!m in $OEMAuditDetail)
  <tr class="trcolor">
    <td>$!m.CUSTNAME</td>
    <td>$!m.CUSTCODE</td>
    <td>$!m.INVCODE</td>
    <td>$!m.INVNAME</td>
    <td>$!m.VORDERCODE</td>
    <td>$!m.NORDERNUM</td>
    <td>$!m.VDEF10</td>
    <td>$!m.VARRORDERCODE</td>
    <td>$!m.NARRVNUM</td>
    <td>$!m.NSHOULDINNUM</td>
  </tr>
  #set($i=$i+1)
  #end
  <tr>
	<td colspan='10'>
	<input type="button" name="excel" class="bt1" value="导出EXCEL表"onclick="javascript:method1('table1');"/>&nbsp;&nbsp;&nbsp;
	<input type="button" name="back" class="bt1" value="返&nbsp;&nbsp;回" onclick="javascript:history.go(-1)"></td>
  </tr>
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>