<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>=======</title>
<script language="javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
function sub(){
	   document.thisform.page.value =1;
	   document.thisform.submit();
	}
function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	var a = '$!form_makedate';
	if(a==""){
        document.getElementById('makedate').value=Today;
	}else{
        document.getElementById('makedate').value='$!form_makedate';
	}
    }
</script>
</head>

<body>
<form name="thisform" method="post" action="oerorder.aspx">
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4"><strong>订单维护</strong></td>
  </tr>
  <tr class="trcolor">
    <td>导入人</td>
    <td><input type="text" name="makeuser" value="$!form_makeuser"/></td>
    <td>导入时间</td>
    <td><input type="text" name="makedate" id="makedate" value="$!form_makedate" onclick="ShowDate(this)"/></td>
  </tr>
  <tr class="trcolor">
    <td>订单号</td>
    <td><input type="text" name="ordercode" value="$!form_ordercode"/></td>
    <td>&nbsp;</td>
    <td><input type="button" name="button" class="bt1" value="查&nbsp;&nbsp;询" onclick="sub()"/></td>
  </tr>
</table>
</form>
<table class="datatable">
  <tr class="trcolor">
    <td>序号</td>
    <td>订单号</td>
    <td>导入时间</td>
    <td>导入人</td>
    <td>操作</td>
  </tr>
  #set($i=1)
  #foreach($!m in $selordermod)
  <tr class="trcolor">
    <td>$i</td>
    <td>$!m.ORDERCODE</td>
    <td>$!m.TS</td>
    <td>$!m.USERNAME</td>
    <td><a href="oermaordersee.aspx?ordercode=$!m.ORDERCODE&makedate=$!m.TS">查看</a>&nbsp;&nbsp;<a href="deloermordersub.aspx?ordercode=$!m.ORDERCODE&makedate=$!m.TS" target="dataframe">删除</a></td>
  </tr>
  #set($i=$i+1)
  #end
     <tr>
        <td class="tdlabel" colspan="5">$pagecode</td>
   </tr>
</table>
<div>
<iframe name="dataframe" src="" width="0" height="0"></iframe>
</div>
</body>
</html>
