<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>================</title>
<script language="javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }

function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	var a = '$!form_ts';
	if(a==""){
        document.getElementById('ts').value=Today;
	}else{
        document.getElementById('ts').value='$!form_ts';
	}
    }

 
function showindow(){
	if(document.getElementById("oermstore").value==""){
		var b="";
	}else{
	var b = document.getElementById("oermstore").value;
	}
	var ReturnAllQualityValue=showModalDialog('seloermstore.aspx?&oermstore='+b,"a",'dialogWidth:650px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
		  if(ReturnAllQualityValue!=null){
			document.getElementById("oermstore").value=ReturnAllQualityValue;
		}
	}
function togetmont(url){
    window.open(url,'','top='+(screen.height - 600) / 2 +',left='+(screen.width - 650) / 2 +',Toolbar=no,menubar=no,scrollbars=yes,status=yes,location=no,resizable=yes,directories=no,width=650,height=500');
 }
</script>
</head>

<body>
<form name="thisform" method="post" action="orderinfosee.aspx">
<table class="datatable">
	<tr class="trcolor">
		<td>导入产品名称</td>
		<td align="left"><input type="text" name="oermitem" value="$!form_oermitem"></td>	
		<td>门店名称</td>
		<td align="left"><input type="text" name="oermstore" id="oermstore" value="$!form_oermstore">&nbsp;<input type="button" class="bt1" name="btn" value="..." onclick="togetmont('selcuststore.aspx')"></td>
	</tr>
	<tr class="trcolor">
		<td>导入日期</td>
		<td align="left"><input type="text" name="ts" id="ts" value="$!form_ts" onclick="ShowDate(this)"></td>
		<td>订单号</td>
		<td align="left"><input type="text" name="ordercode" value="$!form_ordercode"></td>
	</tr>
	<tr class="trcolor">
		<td>客户</td>
		<td align="left">
                   <select name="custnameid">
			<option value=""></option>
			#foreach($!m in $queryzhcust)
			  <option value="$m.CUSTNAMEID" #if($form_custnameid == $m.CUSTNAMEID)selected#end>$m.CUSTNAME</option>
		       #end
		    </select>
                </td>
		<td>门店号</td>
		<td align="left"><input type="text" name="storeno" value="$!form_storeno"></td>
	</tr>
	<tr class="trcolor">
		<td>&nbsp;</td>
		<td align="left"><input type="submit" name="button" class="bt1" value="查&nbsp;&nbsp;询"></td>
		<td>&nbsp;</td>
		<td align="left"><input type="button" value="导出excel表" name="btnSave"class="bt1" onclick="javascript:method1('table6');""></td>
	</tr>
</table>
</form>
<br>
<table class="datatable" id="table6">
  <tr class="trcolor">
    <td nowrap>客户</td>
    <td nowrap>订单号</td>
    <td nowrap>商品名称</td>
    <td nowrap>门店名称</td>
    <td nowrap>门店号</td>
    <td nowrap>数量</td>
    <td nowrap>条码</td>
    <td nowrap>规格</td>
    <td nowrap>包装率</td>
    <td nowrap>成本</td>
    <td nowrap>NC价格</td>
  </tr>
  #foreach($!m in $selorderinfosee)
  <tr class="trcolor">
    <td nowrap>$!m.CUSTNAME</td>
    <td nowrap>$!m.ORDERCODE</td>
    <td nowrap>$!m.INVNAME</td>
    <td nowrap>$!m.STORENAME</td>
    <td nowrap>$!m.STORE</td>
    <td nowrap>$!m.QTY</td>
    <td nowrap>#if($!m.TIAOMA!="")$!m.TIAOMA#else&nbsp;#end</td>
    <td nowrap>$!m.INSPEC</td>
    <td nowrap>#if($!m.BAOZHUANG!="")$!m.BAOZHUANG#else&nbsp;#end</td>
    <td nowrap>$!m.PRICE</td>
    <td nowrap>$!m.NCPRICE</td>
  </tr>
  #end
  <tr>
     <td colspan="11" align="right">$pagecode</td>
  </tr>
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>