<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
 var feenum='F';
 #foreach($m in $selordercode)
   feenum=$m.CO;
 #end

 if(parseInt(feenum)>0) {
   alert("已经被导入过的订单");
   parent.submitok=false;
 }else if(feenum=='0'){
   parent.testok2();
 }else{
   alert("出现未知错误！");
   parent.submitok=false;
 }
	</script>
</head>
<body>
</body>
</html>

