<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
<script language="javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
	  function downfile()
	    {
	       form1.action="purchasemdexcel.exl";
	       form1.submit();
	    }
	    function addfile(){
	     window.open('custinvoincefile.jsp?formname=form1&myframeurl=myframe&picurl=paper&type=custfile&tendtypeid=custinvoinceexcel&pctype=custinvoince&custpk=$session_USERNAME&billno=','','status=no,scrollbars=no,top=160,left=150,width=450,height=365');
	}
	function tosearch(){
	   document.form1.action = "PurchaseMoneyDetail.aspx";
	   document.form1.submit();
	}
</script>
</head>

<body>
<form name="form1" action="" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="5" align="left">对账查询</td>
  </tr>
  <tr class="trcolor">
    <td>存货名称:<input type="text" name="invname" value="$form_invname"></td>
    <td>对账日期:</td>
    <td align="left"><input type="text" name="TextZhiDanRiQi1y1" onclick="ShowDate(TextZhiDanRiQi1y1)" value="$!form_TextZhiDanRiQi1y1"/>-<input name="TextZhiDanRiQi1y2" type="text" value="$!form_TextZhiDanRiQi1y2" onclick="ShowDate(TextZhiDanRiQi1y2)" value="$!form_TextZhiDanRiQi1y2"/></td>
    <td>查询类别:</td>
    <td><select name="fbillflag" disabled="true">
    <option value="">无</option>
    <option value="3"#if($!form_fbillflag=='3') selected #else #end>已审核入库单</option>
    <option value="2"#if($!form_fbillflag=='2') selected #else #end>未审核入库单</option>
    </select></td>
  </tr>
  <tr class="trcolor">
    <td>公司:<select name="pk_corp">
        <option value=""></option>
	#foreach($!m in $selsbwjcname)
	<option value="$m.PK_CORP" #if($!form_pk_corp==$m.PK_CORP)selected#end>$m.UNITNAME</option>
	#end
    </select>
    </td>
    <td>采购公司</td>
    <td align="left"><select name="cgpk_corp">
        <option value=""></option>
	#foreach($!m in $selsbwjcnameall)
	<option value="$m.PK_CORP" #if($!form_cgpk_corp==$m.PK_CORP)selected#end>$m.UNITNAME</option>
	#end
    </select></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td colspan="5"><input type="button" name="Submit" class="bt1" value="查&nbsp;&nbsp;询" onclick="tosearch()"/>&nbsp;<input type="button" value="导出EXCEL" onclick="downfile()"  class="bt1">&nbsp;<input type="button" name="bt1" class="bt1" value="导入EXCEL" onClick="addfile()"></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id="table1" border="1">
  <tr class="trcolor">
    <td>发票号</td>
    <td>发票日期</td>
    <td>订单号</td>
    <td>订单日期</td>
    <td>存货名称</td>
    <td>计量单位</td>
    <td>规格</td>
    <td>到货地点</td>
    <td>价格</td>
    <td>发票数量</td>
    <td>金额</td>
    <td>备注</td>
    <td>对应发票号</td>
    <td>发票含税金额</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selPurchaseMoneyDetail)
  <tr class="trcolor">
    <td>$!m.VINVOICECODE</td>
    <td>$!m.DINVOICEDATE</td>
   <td>$!m.VORDERCODE</td>
    <td>$!m.DORDERDATE</td>
    <td>$!m.INVNAME</td>
    <td>$!m.MEASNAME</td>
    <td>#if($!m.INVSPEC!="")$!m.INVSPEC#else&nbsp;#end</td>
    <td>#if($!m.VDEF4!="")$!m.VDEF4#else&nbsp;#end</td>
    <td>$!m.NORGNETTAXPRICE</td>
    <td>$!m.NINVOICENUM</td>
    <td>$!m.NORIGINALSUMMNY</td>
    <td nowrap>#if($!m.VMEMO!="")$!m.VMEMO#else&nbsp;#end</td>
    <td nowrap>#if($!m.VDEF19!="")$!m.VDEF19#else&nbsp;#end</td>
    <td nowrap>#if($!m.VDEF20!="")$!m.VDEF20#else&nbsp;#end</td>
  </tr>
  #set($i=$i+1)
  #end 
  #foreach($!m in $selPurchaseMoneyDetailsum)
     <tr class="trcolor">
        <td colspan="9">小计:</td>
	<td>$!m.NINVOICENUM</td>
        <td>$!m.NORIGINALSUMMNY</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>$!m.VDEF20</td>
     </tr>
  #end
    <tr class="trcolor">
	<td colspan="10" align="left">退货数量</td>
  </tr>
  <tr class="trcolor">
	<td>发票号</td>
	<td>发票日期</td>
	 <td>订单号</td>
	<td>订单日期</td>
	<td >存货名称</td>
	<td>计量单位</td>
	<td >规格</td>
	 <td>到货地点</td>
	<td>价格</td>
	<td>退货发票数量</td>
	<td>退货金额</td>
  </tr>
#foreach($!m in $selbackinvoice2xxcust)
  <tr class="trcolor">
	<td>$!m.VINVOICECODE</td>
	<td>$!m.DINVOICEDATE</td>
	 <td>&nbsp;</td>
	<td>&nbsp;</td>
	<td>$!m.INVNAME</td>
	<td>$!m.MEASNAME</td>
	<td>#if($!m.INVSPEC!="")$!m.INVSPEC#else&nbsp;#end</td>
	 <td>&nbsp;</td>
	<td>$!m.NORGNETTAXPRICE</td>
	<td>$!m.NINVOICENUM</td>
	<td>$!m.NORIGINALSUMMNY</td>
  </tr>
#end
#foreach($!m in $selbackinvoice2xxcustsum)
   <tr class="trcolor">
        <td colspan="9" align="right">小计:</td>
	<td id="B{$!m.VINVOICECODE}">$!m.NINVOICENUM</td>
	<td id="A{$!m.VINVOICECODE}">$!m.NORIGINALSUMMNY</td>
   </tr>
#end
  <tr>
  <tr>
  <td colspan="10">
  <input name="b2" type="button" class="bt1" value="导出EXCEL表" onclick="javascript:method1('table1');"/>
  <input type="button" class="bt1" name="back" value="返&nbsp;&nbsp回" onclick="javascript:history.go(-1)"></td>
  </tr>
</table>
</body>
</html>
<script>
function method1(tableid) {//整个表格拷贝到EXCEL中 
    var curTbl = document.getElementById(tableid); 
    var oXL = new ActiveXObject("Excel.Application"); 
    //创建AX对象excel 
    var oWB = oXL.Workbooks.Add(); 
    //获取workbook对象 
        var oSheet = oWB.ActiveSheet; 
    //激活当前sheet 
    var sel = document.body.createTextRange(); 
    sel.moveToElementText(curTbl); 
    //把表格中的内容移到TextRange中 
    sel.select(); 
    //全选TextRange中内容 
    sel.execCommand("Copy"); 
    //复制TextRange中内容  
    oSheet.Paste(); 
    //粘贴到活动的EXCEL中       
    oXL.Visible = true; 
    //设置excel可见属性 
} 
</script>