<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>========</title>
<script language="javascript">
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
</head>

<body>
<form name="form1" action="PurchaseMoneyChangeDetail.aspx" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="2" align="left">入库单调整查询</td>
  </tr>
  <tr class="trcolor">
    <td>选择日期:</td>
    <td align="left"><input type="text" name="TextZhiDanRiQi1y1" onclick="ShowDate(TextZhiDanRiQi1y1)" value="$!form_TextZhiDanRiQi1y1"/>-<input type="text" name="TextZhiDanRiQi1y2" onclick="ShowDate(TextZhiDanRiQi1y2)"  value="$!form_TextZhiDanRiQi1y2"/></td>
  </tr>
  <tr class="trcolor">
    <td colspan="2"><input type="submit" class="bt1" name="Submit" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
<table class="datatable">
  <tr class="trcolor">
    <td>单据号</td>
    <td>制单日期</td>
    <td>存货名称</td>
    <td>规格</td>
    <td>单位</td>
    <td>金额</td>
    <td>含税金额</td>
    <td>制单人</td>
    <td>备注</td>
  </tr>
  #set($i=0)
  #foreach($!m in $PurchaseMoneyChange)
  <tr class="trcolor">
    <td>$!m.VBILLCODE</td>
    <td>$!m.DBILLDATE</td>
    <td>$!m.INVNAME</td>
    <td>$!m.INVSPEC</td>
    <td>$!m.MEASNAME</td>
    <td>$!m.NMONEY</td>
    <td>
    #if($!m.VDEF8!='')
    $!m.VDEF8
    #else
     0
    #end
    </td>
    <td>$!m.USER_NAME</td>
    <td>
    #if($!m.VNOTE!='')
    $!m.VNOTE
    #else
     0
    #end
    </td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</body>
</html>
