<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>========</title>
<script language="javascript">
 function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
        document.getElementById('TextZhiDanRiQi1y1').value=Today;
	document.getElementById('TextZhiDanRiQi1y2').value=Today;
    }
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
</head>

<body onload="GetDateString()">
<form name="form1" action="PurchaseMoneyDetail.aspx" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="5" align="left">对账查询</td>
  </tr>
  <tr class="trcolor">
    <td>存货名称:<input type="text" name="invname"></td>
    <td>对账日期:</td>
    <td align="left"><input type="text" name="TextZhiDanRiQi1y1" onclick="ShowDate(TextZhiDanRiQi1y1)"/>-<input name="TextZhiDanRiQi1y2" type="text" onclick="ShowDate(TextZhiDanRiQi1y2)"/></td>
    <td>查询类别:</td>
    <td><select name="fbillflag" disabled="true">
    <option value="">无</option>
    <option value="3">已审核入库单</option>
    <option value="2">未审核入库单</option>
    </select></td>
  </tr>
  <tr class="trcolor">
    <td>公司:<select name="pk_corp">
        <option value=""></option>
	#foreach($!m in $selsbwjcname)
	<option value="$m.PK_CORP" #if($!form_pk_corp==$m.PK_CORP)selected#end>$m.UNITNAME</option>
	#end
        </select>
    </td>
    <td colspan="4">&nbsp;
    </td>
  </tr>
  <tr class="trcolor">
    <td colspan="5"><input type="submit" name="Submit" class="bt1" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
</body>
</html>
