<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>======</title>
</head>

<body>
<table class="datatable">
  <tr class="trcolor">
    <td colspan="4" align="left">到货单</td>
  </tr>
  <tr class="trcolor">
    <td>到货单号:</td>
    <td><input type="text" name="textfield" value="$form_varrordercode" readonly/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  #set($i=0)
  #foreach($m in $selPurchaseQualityhead)
  <tr class="trcolor">
    <td>供应商编码:</td>
    <td><input type="text" name="textfield2" value="$!m.CUSTCODE" readonly/></td>
    <td>供应商:</td>
    <td><input type="text" name="textfield3" value="$!m.CUSTNAME" readonly/></td>
  </tr>
  <tr class="trcolor">
    <td>采购部门:</td>
    <td><input type="text" name="textfield4" value="$!m.DEPTNAME" readonly/></td>
    <td>到货日期:</td>
    <td><input type="text" name="textfield5" value="$!m.VDEF10" readonly/></td>
  </tr>
  <tr class="trcolor">
    <td>库存组织:</td>
    <td><input type="text" name="textfield6" value="$!m.BODYNAME" readonly/></td>
    <td>备注:</td>
    <td><input type="text" name="textfield7" /></td>
  </tr>
  #set($i=$i+1)
  #end
  <tr class="trcolor">
    <td colspan="4"><input type="button" class="bt1" name="button" value="返&nbsp;&nbsp;回" onclick="javascript:history.go(-1)"/></td>
  </tr>
</table>
<br>
<table class="datatable">
  <tr class="trcolor">
    <td>存货编码</td>
    <td>存货名称</td>
    <td>批次号</td>
    <td>到货数量</td>
    <td>结果</td>
  </tr>
  #set($i=0)
  #foreach($m in $selPurchaseQualityd)
  <tr class="trcolor">
    <td>$!m.INVCODE</td>
    <td>$!m.INVNAME</td>
    <td>$!m.VPRODUCENUM</td>
    <td>$!m.NARRVNUM</td>
    <td><table class="datatable">
	  <tr class="trcolor">
	    <td>质检人</td>
	    <td>质检结果(理化结果)</td>
	    <td>质检时间</td>
	  </tr>
	  #set($i=0)
	  #foreach($!n in $selzhilog)
		#if($n.CBASEID==$!m.CBASEID && $!n.CARRIVEORDER_BID==$!m.CARRIVEORDER_BID)
		  <tr class="trcolor">
		    <td>$!n.USERNAME</td>
		    <td>#if($!n.ZHIJIANJIEGUO=='')
		    $!n.LIHUAJIEGUO
		    #else 
		    $!n.ZHIJIANJIEGUO
		    #end
		    </td>
		    <td>$!n.TS</td>
		 </tr>
		 #end
	  #set($i=$i+1)
	  #end
	</table>
	</td>
	  </tr>
	  #set($i=$i+1)
	  #end
	  </table>
</body>
</html>
