<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script language="javascript">
 function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
        document.getElementById('TextZhiDanRiQi1y1').value=Today;
	document.getElementById('TextZhiDanRiQi1y2').value=Today;
    }
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
<title>=======</title>
</head>

<body onload="GetDateString()">
<form name="form1" action="PurchaseListDetail.aspx" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="6" align="left">采购单查询</td>
  </tr>
  <tr class="trcolor">
    <td align="right">采购单日期:</td>
    <td align="left"><input type="text" name="TextZhiDanRiQi1y1" onclick="ShowDate(TextZhiDanRiQi1y1)" style="width: 80px"/>-<input type="text" name="TextZhiDanRiQi1y2"  onclick="ShowDate(TextZhiDanRiQi1y2)" style="width: 80px"/></td>
    <td align="right">供应商:</td>
    <td align="left"><input type="text" name="textfield3" value="$session_NAME" readonly/></td>
    <td align="right">状态:</td>
    <td align="left"><select name="select">
    <option value="">无</option>
    </select></td>
  </tr>
  <tr class="trcolor">
    <td align="right">请购单号:</td>
    <td align="left"><input type="text" name="vpraycode" value=""/></td>
    <td align="right">采购订单号:</td>
    <td align="left"><input type="text" name="vordercode" value=""/></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="trcolor">
    <td colspan="6"><input type="submit" class="bt1" name="button" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
</body>
</html>
