

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>政策补贴</title>
</head>
<SCRIPT LANGUAGE="JavaScript">
		
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }

var bData1=new Array(); 
	bData1=[['序号','分支编码','分支名','补贴额','标记']
		#set($i=1)
		#foreach($!m in $selstybranchgoodsdetail)
		,['$i','$m.P','$m.U','$m.W3','N']
		#set($i=$i+1)
		#end
		]
var pageSize=10000;
var pageno=0;
var rdata=new Array();
rdata=bData1;

function toPage2(){
  var element=document.all.pgs;
  if(element.value.search("^-?\\d+(\\.\\d+)?$")!=0){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value<1){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  if(element.value>Math.ceil((rdata.length-1)/pageSize)){
     alert("页数必须为大于1且小于"+Math.ceil((rdata.length-1)/pageSize)+"的整数!");
     element.focus();
     return false;
  }
  toPage(element.value) 
}

function toPage(page){
try{
  savepage(pageno);
  pageno=page;
  for(var i=table6.rows.length;i>1;i--) table6.deleteRow(i-1);
  for(var i=1;i<=pageSize;i++){
    if(((page-1)*pageSize+i)<rdata.length){
  	  var row=table6.insertRow()
	  
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][0]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][1]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][2]
	  row.insertCell().innerText=rdata[(page-1)*pageSize+i][3]
	 
	 
	   
	 }
 }
 var apg=Math.ceil((rdata.length-1)/pageSize);
 var npg=parseInt(page)+1;
 var ppg=parseInt(page)-1;
 var pagetext="共<font color=red>"+apg+"</font>页<font color=red>"+(rdata.length-1)+"</font>条记录，每页显示<font color=red>"+pageSize+"</font>条，目前是第<font color=red>"+page+"</font>页&nbsp;&nbsp;&nbsp;&nbsp;<br>";
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;转到</font></a><input type=text id=pgs size=3 value="+npg+">&nbsp;&nbsp;&nbsp;&nbsp;";
 else  pagetext+="<a style='cursor:hand' onclick='toPage2()'><font color=blue>转到</font></a><input type=text id=pgs size=3 value=1>&nbsp;&nbsp;&nbsp;&nbsp;";
 if(page>1) pagetext+="<a style='cursor:hand' onclick='toPage(1)'><font color=blue>首页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+ppg+")'><font color=blue>上一页</font></a>&nbsp;&nbsp;"
 if(page<apg) pagetext+="<a style='cursor:hand' onclick='toPage("+npg+")'><font color=blue>下一页</font></a>&nbsp;&nbsp;<a style='cursor:hand' onclick='toPage("+apg+")'><font color=blue>尾页</font></a>&nbsp;&nbsp;"
 
 document.all.pg.innerHTML=pagetext;
 }catch(e){
   alert(e.description)
 }
}
function save()
{
  savepage(pageno);
  var datahtml="";
  for(var i=1;i<bData1.length;i++){
    if(bData1[i][3]=='Y'){
       datahtml+="<input type=hidden name=pk_corp value='"+bData1[i][1]+"'>";
     
       datahtml+="<input type=hidden name=bdname value='"+bData1[i][2]+"'>";
       
	
        datahtml+="<input type=hidden name=stycode value='"+document.thisform.stycode.value+"'>";

      
    }
 }
 if(datahtml==''){
   alert("没有可更新的数据！");
   return false;
 }
 subdata.innerHTML=datahtml;

 form_submit.submit();
}

function savepage(page){
  if(page>0){
    for(var i=1;i<table6.rows.length;i++){
      if(document.all.checkbox[i].checked) rdata[(page-1)*pageSize+i][10]='Y';
      else  rdata[(page-1)*pageSize+i][10]='N';
      for(var j=0;j<10;j++) rdata[(page-1)*pageSize+i][j]=table6.rows[i].cells[j+1].innerText;
      bData1[rdata[(page-1)*pageSize+i][0]]=rdata[(page-1)*pageSize+i];
    }
  }
}
function presearch(){
   key=event.keyCode;
   if(key==13)   //回车
   {
     search();
   }
}

function seldata(obj){
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}
 
function showindow(){
	if(document.getElementById("oermstore").value==""){
		var b="";
	}else{
	var b = document.getElementById("oermstore").value;
	}
	var ReturnAllQualityValue=showModalDialog('seloermstore.aspx?&oermstore='+b,"a",'dialogWidth:650px;dialogHeight:500px;dialogLeft:280px;dialogTop:150px;center:yes; help:yes;resizable:yes;status:yes');
		  if(ReturnAllQualityValue!=null){
			document.getElementById("oermstore").value=ReturnAllQualityValue;
		}
	}
	function q(){
	      
        var cal='';
	for(var i=0;i<document.thisform.corp.options.length;i++){   
		if(document.thisform.corp.options[i].selected){
		     if(document.thisform.corp.options[i].value!='')	cal=cal+'\''+document.thisform.corp.options[i].value+'\',';

		}
	} 
	document.thisform.aa.value=cal.substring(1,cal.length-2);
	
	        document.thisform.button.disabled = true;
		document.thisform.action="stybranchnum.aspx";
		document.thisform.submit();
		
	}
	function q1(){
	 var obj = document.getElementByName("p1");
               alert(obj)
               




		}
	
	function n(){
	  var a=document.getElementById("areapk");
		 
	        var b = a.options[a.selectedIndex].text
		
	       document.thisform.deptname.value=b;
	
	}
function seldata(obj){
  for(var i=1;i<table6.rows.length;i++){
      document.all.checkbox[i].checked=obj.checked
  }
}
function m(){
     var obj = document.getElementById("table6")
    alert(obj.rows.length)

}
    
</script>
<body>	
  <form name="thisform" method="post">
 
  <table class="datatable" border="0" cellpadding="0" cellspacing="0">
	
			<tr class="search"><td class="tdlabel">请选择分支</td>
			<td class="tdinput">
			<select name=corp id=corp >
			      <option value=''>请选择分支</option>
                              #foreach($!m1 in $selstybranch)
                                     <option value="$!m1.PK_CORP">$!m1.UNITSHORTNAME</option>
                              #end
                                </select>
				
				<input type=hidden name=aa id=aa>
				</td>
			
	            
		
		<tr class="search"><td class="tdlabel" >起始时间</td>
		<td class="tdinput">
		<input type="text" name="ts" id="ts" onclick="ShowDate(this)" ></td>
		<td class="tdlabel" >结束时间</td>
		<td class="tdinput">
		<input type="text" name="ts1" id="ts1" onclick="ShowDate(this)" ></td></tr>
		
		 <tr class="search"><td class="tdlabel">补贴总额</td><td class="tdinput"><input type="text" name="unitname" value="#foreach($!m in $selnum2)$m.NUM#end" readonly= "true "></td>                                                                                                                                                        
		<td class="tdinput" ><input type="submit" name="button" class="bt1" value="查&nbsp;&nbsp;询"  onClick="q()"></td></tr>
		
  </table>
   </form>

<br>
<table class="datatable" id="table6">
  <tr class="trcolor">
    
    <td>序号</td>
    <td>分支编码</td>
    <td>分支名</td>
   
    <td>实际补贴额</td>
    
    
  </tr>
</table>
<div style="width:100%;txt-align:center;border:3 double gray;">
<input type="button" value="保存" name="btnSave" onclick="save()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span id="pg"></span>
</div>
<script>
	 toPage(1);
	 
</script>
<form name="form_submit" method="post" action="stybranchallow.aspx">
<span id="subdata"></span>
</form>
</body>
</html>