<html>
<head>
	<title>系统操作结果</title>
	<script type="text/javascript">
	    //mTarget转向目标窗口，空为不作处理
      var message="$!app_message";
      if(message=='数据保存成功！' || message=='操作成功！'){
         alert("数据保存成功");
	 location.href = 'sty.aspx';
      }else{
	 alert(message);
	 location.href = 'sty.aspx';
      }
	</script>
</head>
<body>
</body>
</html>
