<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<title>================</title>
</head>
<body>
<form name="thisform" method="post" action="sty.aspx">
   #foreach($!m in $selstynotedetail)
	         
	      
	        <textarea id="note" name="note" rows="10" cols="50" value="$m.NOTE">$m.NOTE</textarea><br>
             
	        #end
		
 <input type="submit" name="button1" class="bt2" value="返回">
</form>


</body>
</html>