<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../js/style.css">
	<style>
	table,body{font-size:12px;background-color:#EBE9EE; margin:0px; padding:0px;}
</style>
<script>
function Choose(){
    var code=document.getElementById("varrordercode").value;
    var code2=document.getElementById("custname").value;
    var code3=document.getElementById("invname").value;
top.result1.document.location='varrordercoderight.aspx?varrordercode='+code+'&custname='+code2+'&invname='+code3+'&sys=1';
}
</script>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
到货单号:<input type="text" name="varrordercode" id="varrordercode" value=""><br>
客户名称:<input type="text" name="custname" id="custname" value=""><br>
产品名称:<input type="text" name="invname" id="invname" value="">
<input type="button" value="查询" onclick="Choose()">
</body>
</html>