<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<script language="javascript">
 function GetDateString(){
        var MyDate=new Date();
        var Year=MyDate.getFullYear();
        var MonthNum=MyDate.getMonth();
        var Month;
        if(MonthNum<9){
            Month="0"+(MonthNum+1);
        }else{
            Month=MonthNum+1;
        }
        var Day=MyDate.getDate();
        if(Day<=9){
            Day="0"+Day;
        }
        var Today=Year+"-"+Month+"-"+Day;
	if(document.getElementById('dorderdate1').value == ""){
        document.getElementById('dorderdate1').value=Today;
	}
	if(document.getElementById('dorderdate2').value == ""){
	document.getElementById('dorderdate2').value=Today;
	}
    }
function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
</script>
<title>=======</title>
</head>

<body onload="GetDateString()">
<form name="form1" action="vendorderquery.aspx" method="post">
<table class="datatable">
  <tr class="trcolor">
    <td colspan="6" align="left">采购单查询</td>
  </tr>
  <tr class="trcolor">
    <td align="right">订单日期:</td>
    <td align="left"><input type="text" name="dorderdate1" onclick="ShowDate(dorderdate1)" value="#if($form_dorderdate1!="")$form_dorderdate1#end" style="width: 80px"/>-<input type="text" name="dorderdate2"  onclick="ShowDate(dorderdate2)" style="width: 80px" value="#if($form_dorderdate2!="")$form_dorderdate2#end"/></td>
  </tr>
  <tr class="trcolor">
    <td colspan="6"><input type="submit" class="bt1" name="button" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
<table class="datatable">
  <tr>
	<td align="center">订单编号</td>
	<td align="center">订单日期</td>
	<td align="center">公司</td>
	<td align="center">采购组织</td>
	<td align="center">供应商</td>
	<td align="center">备注</td>
  </tr>
  #set($i=1)
  #foreach($m in $querypoorderprinthead)
      <tr>
          <td align="center">#if($m.VORDERCODE != "")<a href="vendorderquerydetail.aspx?vordercode=$m.VORDERCODE&dorderdate=$m.DORDERDATE&unitname=$m.UNITNAME&name=$m.NAME&custname=$m.CUSTNAME&vmeno=$m.VMEMO&user_name=$m.USER_NAME&tmaketime=$m.TMAKETIME&checkuser=$m.CHECKUSER&taudittime=$m.TAUDITTIME" >$m.VORDERCODE</a>#else &nbsp; #end</td>
	  <td align="center">#if($m.DORDERDATE != "")$m.DORDERDATE #else &nbsp; #end</td>
	  <td align="center">#if($m.UNITNAME != "")$m.UNITNAME #else &nbsp; #end</td>
	  <td align="center">#if($m.NAME != "")$m.NAME #else &nbsp; #end</td>
	  <td align="center">#if($m.CUSTNAME != "")$m.CUSTNAME #else &nbsp; #end</td>
	  <td align="left">#if($m.VMEMO != "")$m.VMEMO #else &nbsp; #end</td>
      </tr>
  #set($i=$i+1)
  #end 
  #if($i == 1)
       <tr>
	   <td colspan="6" align="center">没有记录！！！</td>
       </tr>
  #end
  <tr><td align="right" colspan="6">$pagecode</td>
   </tr>
</table>
</body>
</html>
