<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>供应商信息</title>
</head>
<SCRIPT LANGUAGE="JavaScript">
function fsubmit()
{
   thisform.page.value=1;
   thisform.submit();
}

function esubmit()
{
   thisform.action="custPlanExecExcel.exl";
   thisform.submit();
}
</script>
<body>	
  <form name="thisform" method="post" action="vendorinfo.aspx">
  <table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
	        <tr class="search"> 
			
			<td class="tdlabel" width="20%">客户代码</td>
			<td class="tdinput" width="40%">
				<input type="text" name="custcode" value="$!form_custcode">
			</td>
			<td class="tdlabel" width="20%">客户名称</td>
			<td class="tdinput" width="40%">
				<input type="text" name="cname" value="$!form_cname">
			</td>
                </tr>
                <tr>
			<td align="center" colspan="4">	
				<input type="button" name="search" class="bt1" value="查询" onclick="fsubmit()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>	
  </table>
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<div class="mainDiv" id="mdiv"> 
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"  class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
	<td nowrap="nowrap">序号</td>
	<td nowrap="nowrap">公司</td>
	<td nowrap="nowrap">供应商名称</td>
	<td nowrap="nowrap">NC名称</td>
        <td nowrap="nowrap">供应商代码</td>
        <td nowrap="nowrap">NC代码</td>
	<td nowrap="nowrap">操作</td>
</tr>
    #set($i=1) 
    #foreach($m in $getncvendorinfo)
    <tr height="20" class="trcolor">
	<td align="center">$i</td>
	<td align="center">$m.UNITNAME&nbsp;</td>
	<td align="center" nowrap="nowrap">$m.NAME &nbsp;</td>
	<td align="center" nowrap="nowrap">#if($m.NAME != $m.CUSTNAME)<font color="red">$m.CUSTNAME</font>#else$m.CUSTNAME#end &nbsp;</td>
	<td align="center" nowrap="nowrap">$m.USERNAME &nbsp;</td>
	<td align="center" nowrap="nowrap">$m.CUSTCODE &nbsp;</td>
	<td align="center" nowrap="nowrap">
	  #if($m.USERNAME == "")
	     <a href="setvendortoncsubmit.aspx?custcode=$m.CUSTCODE&pass=E10ADC3949BA59ABBE56E057F20F883E" target="saveframe">同步NC</a>	
	  #else
	     #if($m.PK_CORP == $m.PK_CORP1)
                <a href="setvendortoncsubmit.aspx?custcode=$m.CUSTCODE&pass=$m.PASS" target="saveframe">同步NC</a>&nbsp;<a href="PassSub.aspx?username=$m.CUSTCODE" target="saveframe">恢复密码</a>
	     #else
                <a href="setvendorcorptoncsubmit.aspx?custcode=$m.CUSTCODE&pass=$m.PASS" target="saveframe">同步NC</a>
	     #end
	  #end
	 </td>
	 </tr>
	 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
</table>
</div>
<table width="100%">
   <tr >
        <td class="tdlabel td">$pagecode</td>
   </tr>
</table>
</form>	
<iframe name="saveframe" src="about:blank" width="100%" height="0" noresize frameborder=0 framespacing=0 marginheight=0 marginwidth=0></iframe> 
</body>
</html>
