<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel="stylesheet" type="text/css" href="../../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../../js/spellCode.css">
<style type="text/css">
<!--
.STYLE1 {color: #FF0000}
-->
</style>
<title>OEM厂制单追踪</title>
<script language="javascript">
	function ShowDate(idText){
	 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";
	 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
	 if(reValue==null) 
	   ;
	 else
	   idText.value=reValue;
	 }
		var undefined;		
		function uniteTable(thistab,colLength){

		  var rn=thistab.rows.length;//取得行数   
		  var rowspann=0;   
		  for(j=colLength-1;j>=0;j--){//从第0列开始，合并多少列   
		    for(i=rn-1;i>0;i--){//从倒数第一行开始往上检查   
		      if(thistab.rows[i].cells[j].innerText==thistab.rows[i-1].cells[j].innerText&&thistab.rows[i].cells[j].colSpan==thistab.rows[i-1].cells[j].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
			rowspann+=thistab.rows[i].cells[j].rowSpan;;
			thistab.rows[i].deleteCell(j);   
		      }else{   
			thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
			rowspann=0;   
		      }   
		    }   
		    //检测无表头的表   
		    if(i==0&&rowspann>0){   
		      thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
		      rowspann=0;   
		    }   
		  }   
		}  	
	</script>
</head>

<body onload='uniteTable(thistable,2)'>
<form name="thisform" method="post" action="OEMAssessmentdetail.aspx">
<table class="datatable">
  <tr class="trcolor">
    <td>订单时间</td>
    <td align="left"><input type="text" name="orderdate1" onclick="ShowDate(orderdate1)" value="$!form_orderdate1"/>-<input type="text" name="orderdate2" onclick="ShowDate(orderdate2)" value="$!form_orderdate2"/></td>
    <td>订单号</td>
    <td align="left"><input type="text" name="ordercode" value="$!form_ordercode"/></td>
  </tr>
  <tr class="trcolor">
    <td>到货单时间</td>
    <td align="left"><input type="text" name="varrorderdate1" onclick="ShowDate(varrorderdate1)"  value="$!form_varrorderdate1"/>-<input type="text" name="varrorderdate2" onclick="ShowDate(varrorderdate2)"  value="$!form_varrorderdate2"/></td>
    <td>到货单号</td>
    <td align="left"><input type="text" name="varrordercode"  value="$!form_varrordercode"/></td>
  </tr>
  <tr class="trcolor">
    <td>到货地点</td>
    <td align="left"><select name="vdef4">
	<option value=''>无</option>
	#set($i=0)
	#foreach($!m in $seldefwaixieOEM)
	<option value='$!m.DOCNAME' #if($!m.DOCNAME==$!form_vdef4) selected #end>$!m.DOCNAME</option>
	#set($i=$i+1)
	#end
      </select></td>
      <td>供应商名称:</td>
      <td align="left"><input type="text" name="custname" value="$!form_custname"></td>
    </tr>
    <tr>
    <td colspan="4"><input type="submit" class="bt1" name="btn" value="查&nbsp;&nbsp;询" /></td>
  </tr>
</table>
</form>
<br>
<table class="datatable" id="thistable"">
  <tr class="trcolor">
    <td>序号</td>
    <td>订单号</td>
    <td>供应商名称</td>
    <td>产品名称</td>
    <td>计划到货日期</td>
    <td>订单到货地点</td>
    <td>订单日期</td>
    <td>到货单号</td>
    <td>到货地点</td>  
    <td>是否质检</td>
    <td>质检时间</td>
    <td>是否理化</td>
    <td>是否入库/入库单号</td>
  </tr>
  #set($i=0)
  #foreach($!m in $selwaixieOEMAccessment)
  <tr class="trcolor">
    <td>$i</td>
    <td><a href="Showorder.aspx?vordercode=$!m.VORDERCODE&pk_corp=$!m.PK_CORP&pbvdef4=$!m.PBVDEF4">$!m.VORDERCODE</a></td>
    <td>$!m.CUSTNAME</td>
    <td>$!m.INVNAME</td>
    <td>#if($!m.DPLANARRVDATE!="")$!m.DPLANARRVDATE#else&nbsp;#end</td>
    <td>$!m.PBVDEF4</td>
    <td>$!m.DORDERDATE</td>
    <td>#if($!m.VARRORDERCODE=="0") <span class="STYLE1">未到货</span> #else <a href="Showvarrorder.aspx?varrordercode=$!m.VARRORDERCODE&pbvdef4=$!m.PBVDEF4&pk_corp=$!m.PK_CORP">$!m.VARRORDERCODE</a> #end</td>
    <td>#if($!m.VDEF4=="0") <span class="STYLE1">未到货</span> #else $!m.VDEF4 #end</td> 
    <td>#if($!m.QUALITYDATE=="0") <span class="STYLE1">未质检</span> #else 已质检 #end</td>
    <td>#if($!m.QUALITYDATE=="0")&nbsp;#else$m.QUALITYDATE#end</td>
    <td>
        #if($!m.LIHUASTATUS == "10")
	    #if($!m.QUALITYLIHUAINSTORAGETYPE == "0" || $!m.QUALITYLIHUAINSTORAGETYPE == "")
               <span class="STYLE1">未理化</span>
	    #else
               已理化
	    #end
        #else 
            不需理化
	#end
    </td>
    <td>#if($!m.VBILLCODE=="0")
         #if($!m.QUALITYINSTORAGETYPE != "") 
	    #if($!m.QUALITYINSTORAGETYPE == "259" || $!m.QUALITYLIHUAINSTORAGETYPE == "259")
	    <span class="STYLE1">拒收
	    #else
               <span class="STYLE1">未入库</span>
	    #end
	 #else
	 <span class="STYLE1">未入库</span>#end #else 已入库/ $!m.VBILLCODE
         #end
    </td>
  </tr>
  #set($i=$i+1)
  #end
</table>
</body>
</html>