

<html>
<head>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" type="text/css" href="../../js/style.css">
<link rel="stylesheet" type="text/css" href="../../js/spellCode.css">
<meta http-equiv="Content-Type" content="text/html; charset=GBK">
<script Language="JavaScript" src="../../../include/js/PopCalendar.js"></script>
<script Language="javascript" src="../../../include/js/public.js"></script>
<script Language="javascript" src="../../../include/js/string.js"></script>
<script  src="../../../inc/js/treePicker.js" language="javascript"></script>

<script src="../../../inc/js/pubjs.js"></script>
<script src="../../../inc/js/preAfter.js"></script>
<style type="text/css">
<!--
.fixedHeaderTr    
{    
position:relative;    
top:expression(this.offsetParent.scrollTop-3);    
};    
   
.mainDiv    
{    
overflow:auto;    
scrollbar-face-color:9999ff; 
height:expression((document.body.clientHeight-this.offsetTop-20>this.children[0].offsetHeight)?(this.children[0].offsetHeight+20)   :   (document.body.clientHeight-this.offsetTop-20));    
width:expression((document.body.clientWidth-this.offsetLeft));   
}
-->
</style>
<title>客户计划完成情况</title>
</head>
<SCRIPT LANGUAGE="JavaScript">
		var dept=new Array(); 
		dept=[
		   ['区域主键','区域名称','大区主键']
			#foreach($!m in $getSysSaleDept2)
			  ,["$m.NC_PK","$m.DEPTNAME","$m.NC_FATHER_PK"]
			#end
		   ];

		var salesman=new Array(); 
		salesman=[
		   ['业务员主键','业务员名称','区域主键']
			#foreach($!m in $getSysSalesman)
			  ,["$m.PK_PSNDOC","$m.PSNNAME","$m.PK_RESPDEPT1"]
			#end
		   ];
function setF(departid,objid)
{
    if(departid==""){
          var obj = document.getElementById(objid);
          var length = obj.length;
          for (var j=length-1; j>0; j--)
          {
            obj.options.remove(j);
          }
    	  for(var i=1;i<dept.length;i++){   
              var oOption = document.createElement("OPTION");
              obj.options.add(oOption);
              oOption.innerText = dept[i][1];
              oOption.value = dept[i][0];
          }	  
    }else{
      var obj = document.getElementById(objid);
      var length = obj.length;
      for (var j=length-1; j>0; j--)
      {
        obj.options.remove(j);
      }
         
      for(var i=1;i<dept.length;i++){
        if(dept[i][2]==departid){
          var oOption = document.createElement("OPTION");
          obj.options.add(oOption);
          oOption.innerText = dept[i][1];
          oOption.value = dept[i][0];
        }
      }
    }
    setS('a','salesman');
}

function setS(departid,objid)
{
    if(departid==""){
          var obj = document.getElementById(objid);
          var length = obj.length;
          for (var j=length-1; j>0; j--)
          {
            obj.options.remove(j);
          }
    	  for(var i=1;i<salesman.length;i++){   
              var oOption = document.createElement("OPTION");
              obj.options.add(oOption);
              oOption.innerText = salesman[i][1];
              oOption.value = salesman[i][0];
          }	  
    }else{
      var obj = document.getElementById(objid);
      var length = obj.length;
      for (var j=length-1; j>0; j--)
      {
        obj.options.remove(j);
      }
         
      for(var i=1;i<salesman.length;i++){
        if(salesman[i][2]==departid){
          var oOption = document.createElement("OPTION");
          obj.options.add(oOption);
          oOption.innerText = salesman[i][1];
          oOption.value = salesman[i][0];
        }
      }
    }
}

function fsubmit()
{
   thisform.action="salePlanExec2.aspx";
   thisform.page.value=1;
   thisform.submit();
}

function setVals(dm,mc,code) {
      setVal(dm,mc);
      thisform.ptype.value=code;
      thisform.ptypename.value=mc;
}

var dates = new Date(); 
current = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+ dates.getDate()<10?'0'+dates.getDate():dates.getDate() ;
first = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'01';
last = dates.getYear()+"-"+(dates.getMonth()+1<10?'0'+(dates.getMonth()+1):dates.getMonth())+"-"+'31';

function ShowDate(idText){
 var state="dialogHeight: 300px; dialogWidth: 240px; dialogTop: 200px; dialogLeft: 300px; "+             "edge: Raised;  center: Yes; help: No; resizable: Yes; status: No;";

 var reValue=window.showModalDialog('../../../js/date.html?OpenForm',"myDate",state);
 if(reValue==null) 
   ;
 else
   idText.value=reValue;
 
 }

function seldata(obj)
{
  if(obj.checked){
      document.all.fltj.value=''
  }else{
      document.all.fltj.value='no'
  }
}
function esubmit()
{
   thisform.action="custPlanExecExcel.exl";
   thisform.submit();
}

function uniteTable(thistab,colLength){   
  var   rn=thistab.rows.length;//取得行数   
  var   rowspann=0;   
  for(j=colLength-1;j>=0;j--){//从第0列开始，合并多少列   
    for(i=rn-1;i>0;i--){//从倒数第一行开始往上检查   
      if(thistab.rows[i].cells[j].innerText==thistab.rows[i-1].cells[j].innerText&&thistab.rows[i].cells[j].colSpan==thistab.rows[i-1].cells[j].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
        rowspann+=thistab.rows[i].cells[j].rowSpan;   
        thistab.rows[i].deleteCell(j);   
      }else{   
        thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
        rowspann=0;   
      }   
    }   
    //检测无表头的表   
    if(i==0&&rowspann>0){   
      thistab.rows[i].cells[j].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。   
      rowspann=0;   
    }   
    
  }   
}  
//本业务合并
function uniteCols(thistab){   
  var   rn=thistab.rows.length;//取得行数   
  var   rowspann=0;  
  var   rowspann1=0;  
  //alert(rn);
  for(i=rn-2;i>0;i--){//从倒数第一行开始往上检查   
      if(thistab.rows[i].cells[1].innerText==thistab.rows[i-1].cells[1].innerText&&thistab.rows[i].cells[1].colSpan==thistab.rows[i-1].cells[1].colSpan){//与上面一行比较，如果两行相等就合计当前行的合并行数，并删除当前行。   
        rowspann+=thistab.rows[i].cells[1].rowSpan;   
        thistab.rows[i].deleteCell(1);  
        thistab.rows[i].deleteCell(0); 
	rowspann1++;
      }else{   
        thistab.rows[i].cells[0].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。
	thistab.rows[i].cells[1].rowSpan+=rowspann;
        rowspann=0;   
      }   
  }   
  //检测无表头的表   
  if(i==0&&rowspann>0){   
        thistab.rows[i].cells[0].rowSpan+=rowspann;//如果不等就完成当前相同数据的合并。
	thistab.rows[i].cells[1].rowSpan+=rowspann;
      rowspann=0;   
  }  
} 

function init()
{
       setF('$form_dq_pk','areapk');
       document.getElementById('areapk').value='$form_areapk';
       setS('$form_areapk','salesman');
       document.getElementById('salesman').value='$form_salesman';
       //uniteCols(document.all.tb);//执行
       uniteTable(document.all.tb,3);
}
</script>
<body onload="javascript:init();">	
  <form name="thisform" method="post" action="salePlanExec2.aspx">
<table class="datatable" border="0" cellpadding="0" frame="box" cellspacing="0">
      <input type="hidden" name="first" value="1">	
      #if($session_ROLES=="R1465")
		<tr class="search"> 
                      <td class="tdlabel" width="10%">计划月份</td>
		  	<td class="tdinput" width="20%">
                         <input name="billdate" type="text" class="login" id="billdate" value="$!form_billdate" readonly><input type="button" value="↓" onClick="ShowDate(billdate);" class="button" name="button23" >
			</td>
			<td class="tdlabel" width="10%">客户名称</td>
			<td class="tdinput" width="20%">
				$session_NAME	<input type="hidden" name="custcode" value="$session_USERNAME">	
			</td>
                </tr>
		<input type="hidden" name="iscust" value="1">
      #else
                <input type="hidden" name="iscust" value="">
		<tr class="search"> 
                      <td class="tdlabel" width="10%">计划月份</td>
		  	<td class="tdinput" width="20%">
                         <input name="billdate" type="text" class="login" id="billdate" value="$!form_billdate" readonly><input type="button" value="↓" onClick="ShowDate(billdate);" class="button" name="button23" >
			</td>
			<td class="tdlabel" width="10%">客户名称</td>
			<td class="tdinput" width="20%">
				<input type="text" name="cname" value="$!form_cname">		
			</td>

			
                </tr>
	 
	<tr class="search"> 
			<td class="tdlabel" width="10%">所属大区</td>
			<td class="tdinput" width="20%">
				<select name=dq_pk  onchange="javascript:setF(this.value,'areapk');"><option value=''>请选择大区</option>
                              #foreach($m in $getSysSaleBigDept2)
                                     <option value="$!m.NC_PK" #if($form_dq_pk==$m.NC_PK) selected #end>$!m.DEPTNAME</option>
                              #end
                                </select>			
			</td>
			<td class="tdlabel" width="10%">所属区域</td>
			<td class="tdinput" width="20%">
				<select name=areapk  onchange="javascript:setS(this.value,'salesman');"><option value=''>请选择区域</option>
                              #foreach($m in $getSysSaleDept2)
                                     <option value="$!m.NC_PK">$!m.DEPTNAME</option>
                              #end
                                </select>
			</td>
                </tr>
	        <tr class="search"> 
			<td class="tdlabel" width="10%">库存组织</td>
			<td class="tdinput" width="20%">
				<select name=calbody><option value=''>请选择库存组织</option>
                                 #foreach($m in $getCalbody)
                                     <option value="$!m.PK_CALBODY" #if($form_calbody==$m.PK_CALBODY) selected #end>$!m.BODYNAME</option>
                                 #end
                                </select>			
			</td>
			<td class="tdlabel" width="10%">业务代表</td>
			<td class="tdinput" width="20%">
				<select name=salesman><option value=''>请选择业务代表</option>
				      #foreach($m in $getSysSalesman)
					     <option value="$!m.PK_PSNDOC">$!m.PSNNAME</option>
				      #end
                                </select>
				<!--select name=custcls><option value=''>请选择客户类型</option>
                                     <option value="b" #if($form_custcls=='b') selected #end>正常客户</option>
				     <option value="a" #if($form_custcls=='a') selected #end>小客户</option>
                                </select-->	<input type=hidden name=custcls value=''>			&nbsp;&nbsp;&nbsp;&nbsp; 
			</td>
                </tr>
                <tr>

             #end    
			
			<td align="center" colspan="4">	
				<input type="button" name="search" class="bt1" value="查询" onclick="fsubmit()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 #if($form_first=="1")
				   <input type="button" name="search" class="bt1" value="导出Excel" onclick="esubmit()">
				 #end
			</td>
		</tr>	
		
</table>


 
    <!--pageSize主要是完成分页功能，设置显示的记录的条数-->
   <input type="hidden" name="pageSize" value="$!form_pageSize">
   <input type="hidden" name="page" value="">
<!--div class="mainDiv" id="mdiv"--> 
<div>
<table border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff" width="98%" align="center" id="tb" class="datatable">
<tr height="20"  align="center"  class="fixedHeaderTr" bgcolor="#abcdef" id="ftr">
	<td nowrap="nowrap">大区</td>
	<td nowrap="nowrap">区域</td>
	<td nowrap="nowrap">奖惩责任人</td>
	<td nowrap="nowrap">客户名称</td>

        <td nowrap="nowrap">实际计划量</td>
        <td nowrap="nowrap">抢报前下单量</td>
	<td nowrap="nowrap">抢报前剩余计划量</td>

        <td nowrap="nowrap">抢报量</td>
	<td nowrap="nowrap">抢报后剩余计划量</td>
</tr>
 #if($form_first=="1")
    #set($i=1) 
    #foreach($m in $getSalePlanExec)
  		<tr height="20" class="trcolor">
		        <td align="center" nowrap="nowrap">$m.DDEPTNAME &nbsp;</td>
			<td align="center" nowrap="nowrap">$m.DEPTNAME &nbsp;</td>
			<td align="center" nowrap="nowrap">$m.PSNNAME &nbsp;</td>
			<td align="center" nowrap="nowrap">$m.ORGDESC &nbsp;</td>
			<td align="center" nowrap="nowrap">$m.PLANNUM</td>
			<td align="center" nowrap="nowrap">$m.ORDERNUM</td>
			<td align="center" nowrap="nowrap">
			<script>
			  document.write(parseInt('$m.PLANNUM')-parseInt('$m.ORDERNUM'))
			</script>
                        </td>
			<td align="center" nowrap="nowrap">$m.YJNUM</td>
			<td align="center" nowrap="nowrap">
			<script>
			  document.write(parseInt('$m.PLANNUM')-parseInt('$m.ORDERNUM')-parseInt('$m.YJNUM'))
			</script>
                        </td>
		 </tr>
		 #set($i=$i+1)
   #end  
   #if($i==1)
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">没有相关信息</td>
     </tr>
   #end
#else
     <tr height="20" bgcolor="#eeeeee" class="trcolor">
     <td colspan="8"  bgcolor="#eeeeee" align="center" class="trcolor">请选择条件查询</td>
     </tr>
#end
</table>
</div>
</form>	
</body>
</html>
